
.nav-container {
  float: right;
  margin-top: 0;
  width: 60%;
  position:absolute;
  right:0;
  top:0;
  z-index: 9999;
}
.nav-link-container {
  -moz-border-radius: 50%/50%;
  -webkit-border-radius: 50% 50%;
  border-radius: 50%/50%;
  width: 30px;
  height: 30px;
  background: white;
  float: right;
  position: absolute;
  right: 5%;
  top: 10px;
}

.nav-menu-link {
  display: block;
  height: 100%;
  width: 100%;
}

.nav-menu {
  float: right;
  background: #fafafa;
  list-style: none;
  width: 100%;
  height: 100%;
  margin: 0;
  padding-left: 0;
  font-family: 'Roboto', Helvetica, Arial;
  font-size: 11px;
  -ms-transition: transform 0.4s ease;
  -webkit-transition: transform 0.4s ease;
  -moz-transition: transform 0.4s ease;
  transition: transform 0.4s ease;
  -ms-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  transform: translateX(100%);
  visibility: hidden;
}

.nav-inactive-menu-link-container { display: none; }

.inactive-body { background: rgba(0, 0, 0, 0.7); }

.nav-active-menu-container {
  -ms-transform: translate(0);
  -webkit-transform: translate(0);
  -moz-transform: translate(0);
  transform: translate(0);
  visibility: visible;
}

.nav-menu .nav-menu-item {
  padding-left: 20px;
  height: 40px;
  border-bottom: 2px solid #f2f2f2;
}

.nav-menu .nav-menu-item a {
  text-decoration: none;
  line-height: 40px;
  color: #b3b3b3;
  font-weight: bold;
}

.nav-menu .nav-menu-item a:hover { color: #4682B4; }

.nav-close-menu-li {
  background: #4682B4;
  display: block;
}

.nav-close-menu-li a { color: white !important; }
