	#main{
		padding-bottom: 0px;
		background: url(https://img.webike.net/sys_images/saimg/20190322_springsale_pattern.png);
	}
	.search{
		background-color: #9c3964;
		padding: 10px;
		width: 100%;
		
	}
	.search .search-text{
		border-radius: 25px 0 0 25px;
		background: #fff;
		border: none;
		width: auto;
		padding: 10px;
		overflow: hidden;
	}
	.search .search-text input{
		border: 0;
		width: 100%;
	}
	.search .search-btn{
		float: right;
	}
	.search .search-btn input{
		font-family: FontAwesome, 'メイリオ';
		background: #e06ba0;
		font-weight: bold;
		color: #fff;
		border: 0;
		padding: 11px;
		cursor: pointer;
		border-radius: 0 25px 25px 0;
	}
    .promotion-container .links-bar-container {
        width:100%;
        top: 0;
        z-index: 10;
    }
    .promotion-container .links-bar-container .links-bar {
        width:100%;
        overflow: scroll;
   		padding-bottom: 10px;
    }
    .promotion-container .links-bar-container .links-bar ul {
        width: 1100px;
	}
	 .promotion-container .links-bar-container .links-bar ul li {
	    float: left;
	    width: 14%;
	    background-color: #e06ba0;
	    border-radius: 0 0 25px 25px;
	    border-right: 2px solid #9c3965;
	    border-bottom: 2px solid #9c3965;
	    box-shadow: 0 2px 10px rgba(57, 0, 0, 0.5);
	    box-sizing: border-box;
	    text-align: center;
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: -webkit-flex;
	    display: flex;
	    -webkit-box-align: center;
	    -ms-flex-align: center;
	    -webkit-align-items: center;
	    align-items: center;
	    padding: 7px;
	}
	 .promotion-container .links-bar-container .links-bar ul li a {
	     font-size: 12px;
	     font-weight: bold;
	    color: #fff;
	    text-decoration: none;
	    margin: 0 auto;
	    line-height: 1.3;
	    padding: 5px 0 8px;
	}
	.promotion-container .promotion-schedule{
		margin: 10px 5px;
	}
	.promotion-container .promotion-schedule a{
		background: #fff;
	    padding: 5px 20px;
	    border-radius: 50px;
	    color: #910000;
	    font-size: 14px;
	    border: 2px solid #910000;
	}
	.promotion-container .page-block{
		margin-bottom: 30px;
	}
	.promotion-container .page-block.collection{
		margin-bottom: 0px;
	}
	.promotion-container .page-block .page-block-product .block-product ul.ul-list{
		margin: 15px;
	}
	.promotion-container .page-block .page-block-product p {
    	color: #910000;
	}
	.promotion-container .page-block .page-block-product .block-product ul li.product-list{
		background: #fff;
		width: 47%;
		border-radius: 6px;
		border: 4px solid #e6e6e6;
		float: left;
		margin-bottom: 20px;
	    position: relative;
	}
	.promotion-container .page-block .page-block-product .block-product ul li.product-list.li-list{
		height: 100%;
	}
	.promotion-container .page-block .page-block-product .block-product ul li.product-list:nth-child(2n-1){
		margin-right: 5%;	
	}
	.promotion-container .page-block .page-block-product .block-product ul li .product-img img{
		width: 100%;
	}
	.promotion-container .page-block .page-block-product .block-product ul li .product-text{
		background-color: #ffd940;
		color: #910000;
	}
	.promotion-container .page-block .page-block-product .block-product ul li .product-tag{
		padding: 5px;
	}
	.promotion-container .page-block .page-block-product .block-product ul li .product-tag div{
		width: 100%;
	}
	.promotion-container .page-block .page-block-product .block-product ul li .product-tag span{
	    margin-bottom: 5px;
	}
	.promotion-container .page-block .page-block-product .block-product .product-banner{
		padding: 0px 15px;
		margin-bottom: 15px;
	}
	.owl-next{
    	background: #fff;
    	margin-right: 0px;
	}
	.owl-prev{
    	background: #fff;
    	margin-left: 0px;
	}
	.page-block .page-block-title{
		text-align: center;
		font-size: 18px;
		font-weight: bold;
		background: #F20D43;
		padding: 10px 4px;
		line-height: 1.2;
		color: #ffffff;
		border-radius: 15px 15px 0 0;
		margin-top: 10px;
	}
	.collection .owl-carouse-advertisement-loop li{
		padding: 0px 15px;

	}
	.block-product	.product-list .loop-btn{
		position: absolute;
		right: 0px;
		background: #ccc;
		width: 20%;
		text-align: center;
		font-weight: bold;
		color: #fff;
		padding: 5px;
		font-size: 1.25rem;
	}
	.owl-carouse-product-loop .owl-prev{
		display: none;
	}
	.owl-carouse-product-loop .owl-next{
		display: none;
	}
	.owl-carouse-product-loop .owl-dots{
		overflow: auto;
		text-align: center;
		margin: 10px 5px 5px 40%; 
	}
	.owl-carouse-product-loop .owl-dots .owl-dot{
		float: left;
		margin-left: 10px;
	}
	.owl-carouse-product-loop .owl-dots .owl-dot span{
		background: #fff;
		border: 1px solid #fff;
		width: 10px;
		height: 10px;
		display: block;
		border-radius: 999em;
	}
	.owl-carouse-product-loop .owl-dots .owl-dot.active span{
		background: #797979;
		border: 1px solid #797979;
	}
	.promotion-container .page-block .page-block-product{
		padding-top: 10px;
	    background: #ffffff;
	}
	.promotion-container .brand_product_image{
	    position: fixed;
	    top: 150px;
	    z-index: 999;
	    width: 100%;
	    padding: 0 15px;
	}
	.promotion-container .brand_product_image .loop-photo{
		background-color: #c1c1c1;
		color: #0f0f0f;
		max-height: 350px;
	    top: 55px;
    	position: relative;
	}
	.promotion-container .brand_product_image .loop-photo img{
		max-height: 280px;
	    width: auto!important;
	    margin: 0 auto;
	}
	.promotion-container .page-block .page-block-product .block-product .loop-photo{
		z-index: 999;
	    background-color: #c1c1c1;
		color: #0f0f0f;
	    top: 0px;
		position: absolute;
		width: 100%;
	}
	.promotion-container .brand_product_image  .loop-photo h2{
		margin: 5px 10px;
		vertical-align: middle;
		display: inline-block;
	}
	.promotion-container .brand_product_image .loop-photo .cancel {
	    color: #fff;
        right: 25px;
		top: 3px;
		font-size: 1.25rem;
		position: absolute;
	}
	.show-my-bike{
		display: none;
	}
	.promotion-container .promotion-btn {
	    font-weight: bold;
	    padding: 5px 10px;
	    border-radius: 50px;
	    color: #910000;
	    background-color: #FFCC00;
	    display: block;
        margin: 0px auto 30px;
	    width: 70%;
	    font-size: 1.25rem;
	    text-decoration: none;
	    text-align: center;
	    animation-duration: 0.3s;
	}
	.brand_product_image.active{
	    position: fixed;
	    width: 100%;
	    background: rgba(0, 0, 0, 0.9);
	    height: 100%;
	    top: 0px;
	} 
		.page-block .schedule-list ul li{
		float: left;
		border: #ddc764 1px solid;
		font-size: 12px;
		color: #000;
		width: 20%;
		border-radius: 0 0 10px 10px;
		background: #ffffff;
	}
	.page-block .schedule-list ul li a{
	    display: block;
	    padding: 4px 0;
	    text-align: center;
	    font-size: 12px;
	    color: #000;
	    font-weight: bold;
	}
	.page-block .schedule-list ul li.active{
		background: #e06ba0;
	}
	.schedule-list .schedule-list-product span{
		display: block;
	}
	.page-block .block-product .product-title{
		color: #ffffff;
		background: #F20D43;
		font-size: 1.5rem;
		padding: 5px 0px;
		margin: 15px 0px;
		text-align: center;
		font-weight: bold;
	}
	.collection-list .collection-text span{
		color: #910000;
	}