.promotion-container .page-block{
	margin-bottom: 30px;
	width: 100%;
	top: 0;
	z-index: 10;
	position: relative;
	background: #fff;
}
.promotion-container .page-block.collection{
	margin-bottom: 0px;
}
.promotion-container .page-block.collection .block-product{
	margin-top: 15px;
}
.promotion-container .page-block .page-block-product .block-product ul.ul-list{
	margin: 15px;
}
.promotion-container .page-block .page-block-product .block-product ul li.product-list{
	background: #fff;
	width: 47%;
	border-radius: 6px;
	border: 4px solid #e6e6e6;
	float: left;
	margin-bottom: 20px;
    position: relative;
}
.promotion-container .page-block .page-block-product .block-product ul li.product-list.li-list{
	height: 240px;
}
.promotion-container .page-block .page-block-product .block-product ul li.product-list:nth-child(2n-1){
	margin-right: 5%;	
}
.promotion-container .page-block .page-block-product .block-product ul li .product-img img{
	width: 100%;
}
.promotion-container .page-block .page-block-product .block-product ul li .product-text{
	background-color: #ffd940;
	color: #910000;
}
.promotion-container .page-block .page-block-product .block-product ul li .product-tag{
	padding: 5px;
}
.promotion-container .page-block .page-block-product .block-product ul li .product-tag div{
	width: 100%;
}
.promotion-container .page-block .page-block-product .block-product ul li .product-tag span{
    margin-bottom: 5px;
}
.promotion-container .page-block .page-block-product .block-product .product-banner{
	padding: 0px 15px;
	margin-bottom: 15px;
}
.owl-carouse-product-loop .owl-prev{
	display: none;
}
.owl-carouse-product-loop .owl-next{
	display: none;
}
.owl-carouse-product-loop .owl-dots{
	overflow: auto;
	text-align: center;
	margin: 10px 5px 5px 40%; 
}
.owl-carouse-product-loop .owl-dots .owl-dot{
	float: left;
	margin-left: 10px;
}
.owl-carouse-product-loop .owl-dots .owl-dot span{
	background: #fff;
	border: 1px solid #fff;
	width: 10px;
	height: 10px;
	display: block;
	border-radius: 999em;
}
.owl-carouse-product-loop .owl-dots .owl-dot.active span{
	background: #797979;
	border: 1px solid #797979;
}
.block-product	.product-list .loop-btn{
	position: absolute;
	right: 0px;
	background: #ccc;
	width: 20%;
	text-align: center;
	font-weight: bold;
	color: #fff;
	padding: 5px;
	font-size: 1.25rem;
}
.promotion-container .brand_product_image{
    position: fixed;
    top: 150px;
    z-index: 999;
    width: 100%;
    padding: 0 15px;
}
.brand_product_image.active{
    background: rgba(0, 0, 0, 0.9);
    height: 100%;
    top: 0px;
} 
.promotion-container .brand_product_image .loop-photo{
	background-color: #c1c1c1;
	color: #0f0f0f;
	max-height: 350px;
    top: 55px;
	position: relative;
}
.promotion-container .brand_product_image .loop-photo img{
	max-height: 280px;
    width: auto!important;
    margin: 0 auto;
}
.promotion-container .page-block .page-block-product .block-product .loop-photo{
	z-index: 999;
    background-color: #c1c1c1;
	color: #0f0f0f;
    top: 0px;
	position: absolute;
	width: 100%;
}
.promotion-container .brand_product_image  .loop-photo h2{
	margin: 5px 10px;
	vertical-align: middle;
	display: inline-block;
}
.promotion-container .brand_product_image .loop-photo .cancel {
    color: #fff;
    right: 25px;
	top: 3px;
	font-size: 1.25rem;
	position: absolute;
}

.promotion-container{
    z-index: 1;
    position: relative;
    background: #fff;
}
.block-container .theme-block .theme-text span{
    overflow: auto;
    display: block;
    height: 105px;
}
.category .page-block-product .product_area ul.owl-carouse-advertisement-loop li a{
	width: 290px;
	height: 387px;
	line-height: 387px;
	display: inline-block;
}
.page-block-product .vertical-align{
	vertical-align: middle;
	display: inline-block;
}
.category .owl-carouse-advertisement-loop .owl-prev,.motor .owl-carouse-advertisement-loop .owl-prev{
	top: 40%;
}
.category .owl-carouse-advertisement-loop .owl-next,.motor .owl-carouse-advertisement-loop .owl-next{
	top: 40%;
}
.motor .page-block-product .product_area ul.owl-carouse-advertisement-loop li{
	max-width: 600px;
	max-height: 600px;
}
.motor .model_search{
	margin: 15px 10px;
}
.visibility-hidden {
	visibility: hidden;
}
.banner-container .banner a{
	font-size: 0;
	display: block;
}
.banner-container a img{
    height: 167px;
    width: 100%;
    object-fit: cover;
}
@media(min-width:410px){
	 .promotion-container .page-block .page-block-product .block-product ul li.product-list.li-list{
	 	height: 259px; 
	 }
}

@media(max-width:350px){
	.promotion-container .page-block .page-block-product .block-product ul li.product-list.li-list{
	 	height: 213px; 
	 }
}