@import "pages/basic/_variables"
@import "pages/basic/_mixins"
@import "pages/basic/_common"
@import "pages/basic/_reset"
@import "pages/basic/_searchList"
@import "pages/basic/_template"
@import "pages/common/plugins/owl"

.ui-menu
  z-index: 9999999999
  background: #fff
  left: 0
.product-grid
  padding: 5px
  text-align: center
  font-size: 0
  .final-price
    width: 100%
    font-size: 1rem
    font-weight: bold
    text-align: left
    color: #e61e25
  .product-name
    color: #005fb3
  .name
    margin-top: 5px
    font-size: 0.85rem
    text-align: left
  a
    margin: 0 auto
    color: #005fb3
    text-decoration: none
    transition: all 0.3s ease
    border: none
    figure
      width: 140px
      height: 140px
      vertical-align: middle
      text-align: center
      position: relative
      display: block
      font-size: 0
      margin: 0 auto

.zoom-image
  overflow: hidden
  display: table-cell
  padding: 2px
  img
    @include transition(all 0.5s ease)

.zoom-image:hover img
  opacity: 0.8

.ct-new-custom-part-on-sale-top
  padding: 10px 10px 20px

.ul-ct-famous-brand
  width: 100%
  float: left
  li
    padding: 5px
    list-style-type: none
    //width: 12.5%
    float: left

.analysis-block
  h2,span
    display: inline-block
  .icon-star-bigger
    vertical-align: middle
    margin: 0 10px
  .refer
    margin-left: 10px

.section
  .exp
    padding: 0 10px
    .brand-image
      float: left
      margin-right: 10px
    .brand-office
      p
        height: 91px
        overflow-x: auto
.brand-introduce
  margin-top: 20px !important
  padding-bottom: 10px !important

.label-normal
    background: #fff
    color: #e61e25 !important
    font-weight: bold
    border: 1px #e61e25 solid
    
.font-color-red
  color: #e61e25

.font-color-blue
  color: #005fb3

.bg-color-red
  background-color: #e61e25
  color: #fff

.bg-color-blue
  background-color: #005fb3
  color: #fff

.bg-color-blue
  background-color: #005fb3
  color: #fff

#pagetop 
  i 
    background: none no-repeat scroll 9px 9px #666666
    background-image: url("//img-webike-tw-370429.c.cdn77.org/shopping/image/return_top.png")
    color: #FFFFFF
    -webkit-border-radius: 5px
    -moz-border-radius: 5px
    border-radius: 5px
    opacity: 0.8
    padding: 15px
    text-align: center
    text-decoration: none
  
#coupon
    bottom: -1px
    position: fixed
    right: 44px
    z-index: 2
    padding-bottom: 7px

#coupon
  img
    width: 100px
.label-cold
  background: #304d85
  color: #5281c1 !important
  font-weight: $font-weight-wide
  border: 1px #304d85 solid
.label-warm
  background: #fff
  color: #fb722d
  font-weight: $font-weight-wide
  border: 1px #ee5e44 solid
.label-purple
  background: #961975
  color: #fff
  font-weight: $font-weight-wide
  border: 1px #961975 solid
.label-helmet
  background: #f762c1
  color: #fff
  font-weight: bold
  border: 1px #f762c1 solid
.label-motobatt
  background: #f1e500
  color: #6c6565
  font-weight: bold
  border: 1px #f1e500 solid
.label-winter
  background: #ff9000
  color: #fff
  font-weight: bold
  border: 1px #ff9000 solid
.label-cold-man
  background: #0db815
  color: #fff
  font-weight: bold
  border: 1px #0db815 solid
.ui-autocomplete.ui-menu.down-search-ul.active
  display: block!important
.ui-autocomplete.ui-menu
  max-height: 50%
  overflow: scroll
  width: 91%!important
  position: fixed!important
  z-index: 99999
.ui-autocomplete
  .ui-menu-item
    padding: 10px 0px
footer
  .menu 
    .icon
      width: 49%
      text-align: center
footer
  .menu 
    span.channelicon
      span
        margin-left: 15px
@media (max-width: 370px)
  footer
    .menu 
      .icon
        width: 80%
        margin-top: 10px
        text-align: left
  footer
    .menu 
      span.channelicon
        span:nth-child(1)
          margin-left: 0px
  footer
    .menu
      span.channelicon
        img
          width: 18%
@media (min-width: 410px)
  footer
    .menu 
      .icon
        width: 54%