$color-black1: #222b3f
$color-black2: #29303b
$color-gray1: #4a5360
$color-gray2: #dcdee5
$color-gray3: #f3f4f9
$color-red1: #d82435
$color-red2: #e34149
$color-yellow: #FFD11A

input, input:before, input:after
  -webkit-user-select: text !important
  -khtml-user-select: text
  -moz-user-select: text
  -ms-user-select: text
  user-select: initial

header
  height: 50px
  background-color: $color-black2

header 
  a
    i
      float: left

.logoHome :hover
  opacity: 0.8

.logoHome
  margin-left: 10px
  margin-top: 2.5px
  display: inline-block

header
  position: fixed
  width: 100%
  z-index: 999

header
  i
    color: #fff
    font-size: 25px
    margin: 12.5px
      
header
  ul
    float: right

header    
  li
    font-size: 25px
    float: right
    color: #fff

#main
  border-top: none
  margin-top: 50px

.fixclear
  clear: both

.fans
  margin: 0 auto

.fans-title p
  text-align: center
  font-size: 1.2rem
  color: $color-red1

.fans-title ul
  margin: 10px 0

.fans-title li
  width: 50%
  height: 50px
  border-right: 1px solid $color-red1 

.fansbox
  width: 33.33333%
  float: left

.fansicon
  width: 65px
  margin: 0 auto

.fansicon img
  // filter: grayscale(100%)

.fansicon a img:hover
  filter: none

.fansbox a img
  width: 65px

footer .footer-menu
  background: $color-gray1

.footer-logo
  width: 40%

#footer-logo img
  width: 145px
  float: left
  
.footer-content
  width: 60%
  float: right

.footer-content p
  text-align: center
  font-size: 0.85rem !important
  margin-bottom: 5px

.footer-content p i a
  color: #fff
  font-weight: bold
  font-size: 0.85rem !important

footer .footer-menu
  padding: 15px

footer .footer-menu ul
  padding: 0px

footer .footer-menu ul
  margin-top: 10px
  border-top: 1px solid #fff

.footer-content-small
  font-size: 0.8rem !important

footer .footer-menu ul .helper
  padding-top: 15px
  float: left
  width: 25%
  

footer .footer-menu ul .helper a p
  color: #fff
  text-align: center
  font-size: 0.85rem

footer small
  background: $color-black2

footer .copyright
  padding-top: 5px

footer .copyright h3
  font-size: 0.75rem

.down-menu-header
  margin-bottom: 20px

.down-menu-header li
  height: 40px
  width: 45%
  float: left
  background: $color-black2
  border-radius: 5px
  position: relative

.down-menu-service
  margin-right: 10%

.down-menu-header li a
  color: #fff
  
.down-menu-header li a p
  display: inline-block
  text-align: center
  font-size: 1rem
  width: 100%
  line-height: 1.8
  margin-top: 7px
  padding-left: 15%

.down-menu-header li a i
  font-size: 1.2rem
  position: absolute
  top: 10px
  left: 5%

.down-menu ,.down-member ,.down-cart ,.down-search
  width: 100%
  position: fixed
  right: 0
  left: 0
  top: -617px
  height: 617px
  background: $color-gray2
  transform: translateY(0%)
  transition: 1s
  opacity: 0.95
  z-index: 100
  padding: 20px 5% 50px 5%
  overflow: auto

.down-member.open ,.down-menu.open ,.down-cart.open ,.down-search.open
  top: 50px !important
  transition: 1s

// .down-menu.open
//   top: 50px !important
//   transition: 1s

// .down-cart.open
//   top: 50px
//   transition: 1s

.down-member .signIn-off li
  height: 35px
  width: 40%
  padding: 5px
  float: right
  margin: 0 5%
  border-radius: 5px
  line-height: 1.8

.signIn-off li a
  color: #fff
  
.signIn-off li a p
  display: inline-block
  text-align: center
  font-size: 1.2rem
  width: 70%

.signIn-off li a i
  font-size: 1.2rem
  display: inline-block
  text-align: left
  padding-left: 5px

.signIn-on-hi
  height: 60px
  width: 100%
  padding: 5px
  margin: 0 0 20px 0
  border-radius: 5px
  background: #fff
  border: 1px solid #AAA
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1)

.signIn-on p
  font-size: 1rem
  color: $color-black2

.signIn-on-member p
  display: inline-block
  width: 50%
  font-size: 1rem
  color: $color-red2
  text-align: center
  position: absolute
  top: 15px
  left: 20%

.signIn-on-hi i
  display: inline-block
  padding: 12px 5px
  font-size: 25px
  float: left

.signIn-on-hi a
  width: 100%
  // float: left

.signIn-on ul
  float: left

.signIn-on li span
  color: $color-red2

.signIn-on-member
  width: 50%
  float: left
  position: relative
  border-right: 1px solid $color-gray2

.signIn-on-member a span
  position: absolute
  top: 15px
  font-size: 1rem
  right: 5%
  color: $color-black2

.signIn-on
  width: 50%
  float: right
  padding: 5px 0px 5px 3%

.signIn-on p
  font-size: 1rem

.sign-out
  float: right
  width: 40%
  height: 35px
  background: $color-gray1
  border-radius: 5px
  padding: 5px
  margin: 0 5%

.sign-out i
  display: inline-block
  font-size: 1.2rem
  color: #fff
  padding-left: 5px

.sign-out p
  display: inline-block
  font-size: 1.2rem
  color: #fff
  width: 70%
  text-align: center

.menu-list ul .menu-list-li
  max-height: 50px
  background: #fff
  padding: 5px
  border-bottom: 1px solid $color-gray2
  border-radius: 3px
  overflow: hidden
  position: relative
  transition: 1s
  & > a
    display: block

.menu-list-li.open
  max-height: 675px !important
  transition: max-height 1s ease-out

.menu-list-li.end
  margin-bottom: 20px

.down-menu-body
  margin-bottom: 50px

.menu-list ul li div
  float: left
  margin-left: 5px

.menu-list ul li div img
  width: 40px
  height: 40px

.menu-list ul li p
  font-size: 1.5rem
  float: left
  line-height: 1.7
  width: 71%
  text-align: center
  color: $color-gray1

.menu-list ul li i
  font-size: 1.5rem
  color: $color-gray1
  transition: 0.5s
  position: absolute
  top: 14px
  right: 15px

.menu-list ul li i.open
  transform: rotate(45deg)
  transition: 0.5s

.menu-list ul li .fas.fa-plus
  font-size: 1.2rem

.menu-list-li ul
  padding: 0px


.menu-list-li ul
  margin-top: 10px

.menu-list-li ul li
  width: 49%
  display: inline-block
  text-align: center
  padding: 10px
  margin-top: 4px
  background: $color-gray2
  font-size: 1rem
  border-radius: 3px

//searchBar str

.search
  padding: 0 10px
  width: 75%
  position: relative
  font-size: 1rem
  display: inline-block

.searchTerm
  float: left
  width: 100%
  border: 1px solid $color-red2
  padding: 5px 10px
  height: 35px
  border-radius: 1px !important
  outline: none
  // color: #9DBFAF

.searchTerm:focus
  color: #00B4CC

.searchButton
  position: absolute
  right: 10px
  width: 35px
  height: 35px
  border: 0px solid $color-red2
  background: $color-red2
  text-align: center
  color: #fff
  border-radius: 0px !important
  cursor: pointer
  font-size: 20px

//searchBar end

//burger str

.burger-switch 
  display: inline-block
  width: 28px
  height: 28px
  margin-top: 15px
  margin-left: 10px

  span:after, span:before 
    content: ""
    position: absolute
    left: 0
    top: 9px

  span:after
    top: 18px

  span 
    position: relative
    display: block

  span, span:after, span:before
    width: 100%
    height: 2px
    background-color: #fff
    transition: all 0.3s
    backface-visibility: hidden
    border-radius: 2px

  &.on span 
    background-color: transparent

  &.on span:before 
    transform: rotate(45deg) translate(-1px, 0px)

  &.on span:after 
    transform: rotate(-45deg) translate(6px, -7px)

//burger end

.burger-switch-background
  width: 50px
  height: 50px
  float: left

.burger-switch-background.open
  background: $color-gray2

.search-switch-background.open
  background: $color-gray2

.member-switch-background.open
  background: $color-gray2

.cart-switch-background.open
  background: $color-gray2

.right-search
  float: right
  width: 25%

.right-search button
  width: 80%
  height: 71px
  margin: 0 10% 
  font-size: 1.2rem

.down-search .search select
  width: 100%
  padding: 5px 10px
  height: 35px
  margin-bottom: 5px

.top-menu
  margin-bottom: 10px
  margin-top: 50px

.top-menu-li
  width: 25%
  height: 35px
  text-align: center
  float: left
  padding: 2px 0px
  background: #fff
  color: $color-gray1
  border: 1px solid $color-gray1
  border-radius: 50px
  margin: 10px 4.1666% 10px 4.1666%
  font-size: 1rem
  
.top-menu-li p
  line-height: 0.1
  padding-top: 15px
  font-size: 0.85rem
  transition: 1s
  display: inline-block
  border-bottom: 0px solid $color-gray2
  font-weight: bold

.top-menu .left.open
  background: $color-yellow
  border: 1px solid $color-yellow

.top-menu .center.open
  background: $color-yellow
  border: 1px solid $color-yellow

.top-menu .right.open
  background: $color-yellow
  border: 1px solid $color-yellow

.top-menu-class
  background: $color-gray2
  padding: 20px 0

.top-menu-class li
  height: 50px
  width: 19%
  display: inline-block
  margin-bottom: 35px
  position: relative

.top-menu-class li a
  text-decoration: none

.top-menu-class li div
  background: #fff
  border-radius: 50px
  width: 50px
  height: 50px
  margin-left: -25px
  padding: 5px
  position: absolute
  left: 50%

.top-menu-class li p
  text-align: center
  width: 60px
  position: absolute
  bottom: -25px
  margin-left: -30px
  left: 50%

.top-menu-class
  display: none

.class-left.open
  display: block

.class-center.open
  display: block

.class-right.open
  display: block

.top-menu-more
  float: right
  color: #005fb3
  margin-right: 15px
  position: relative
  top: -5px
  right: 0px
  font-size: 10px

.top-menu-class.taiwanHome
  display: block
  padding: 10px 0 0 0

.down-search .sale
  width: 100%

.down-search .sale select
  width: 100%

.down-search #soflow
  -webkit-appearance: button
  -webkit-border-radius: 2px
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1)
  -webkit-padding-end: 20px
  -webkit-padding-start: 2px
  -webkit-user-select: none
  background-image: url(../../../image/15xvbd5.svg)
  background-position: 97% center
  background-repeat: no-repeat
  background-color: #fff
  border: 1px solid #AAA
  color: #555
  font-size: inherit
  overflow: hidden
  padding: 10px 10px
  text-overflow: ellipsis
  white-space: nowrap
  border-radius: 5px
  background-color: white
  width: 100%
  margin-bottom: 10px

.down-search .search-all
  position: relative
  width: 100%
  // margin-top: 10px
  height: 41px

.down-search .search-all input
  -webkit-appearance: button
  -webkit-border-radius: 2px
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1)
  -webkit-padding-end: 20px
  -webkit-padding-start: 2px
  -webkit-user-select: none
  border: 1px solid #AAA
  color: #555
  font-size: inherit
  overflow: hidden
  padding: 10px
  text-overflow: ellipsis
  white-space: nowrap
  border-radius: 5px
  width: 100%

.down-search .search-all button
  height: 41px
  width: 53px
  background: $color-red2
  border: none
  border-radius: 0px 5px 5px 0px
  position: absolute
  top: 0%
  right: 0%

.down-search .search-all button img
  width: 25px

.car-search
  margin: 20px 0px

.car-search button
  color: #fff
  height: 41px
  width: 100%
  background: $color-black1
  border: none
  border-radius: 5px
  font-size: 1.2rem
  position: relative

.modal
  display: block

.modal .inner
  margin: 0
  position: static
  height: 0px
  transition: 0.5s

.modal .inner.open
  height: 400px
  transition: 0.5s

.modal .inner .box_ui
  background: none
  width: 100%
  padding: 0
  margin: 0
  border: none

.model_search .select2-container .select2-selection--single
  border: none
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1)
  border: 1px solid #AAA
  border-radius: 5px
  // margin-bottom: 10px

.model_search .arrow .select2-container--default
  margin-top: 20px

.form_ui .arrow
  margin-bottom: 15px

.button_ui input[type=button].bc01
  font-weight: initial

.car-search .fa-plus
  position: absolute
  right: 5%
  top: 10px
  transition: 0.5s

.car-search .fa-plus.open
  transform: rotate(45deg)
  transition: 0.5s

.model_search .select2-container--default
  margin-bottom: 15px

.down-member li


.down-member-ul li
  position: relative
  width: 100%
  border-bottom: 1px solid $color-gray2
  background: #fff
  border-radius: 3px

.down-cart-list li
  position: relative
  width: 100%
  border-bottom: 1px solid $color-gray2
  background: #fff
  border-radius: 3px

.down-member-ul p
  font-size: 1rem
  color: $color-black2
  text-align: center
  padding: 10px

.down-cart-list p
  font-size: 1rem
  color: $color-black2
  text-align: center
  padding: 10px

.down-member-ul i ,.down-cart-list i
  float: right
  position: absolute
  top: 11px
  right: 5%
  font-size: 1.4rem
  color: $color-black2

.down-member-login
  .signIn-off-registered-btn ,.signIn-off-signIn-btn
    width: 45%
    height: 40px
    margin: 0 0 20px 0
    position: relative
    border-radius: 5px
    padding: 5px
    float: left
    background: #29303b
    border-radius: 5px
    a
      color: #fff
      p
        color: #fff
        text-align: center
        font-size: 1.2rem
        margin-top: 3px
      i
        font-size: 1.2rem
        position: absolute
        top: 10px
        left: 8%

.down-member-login
  .signIn-off-registered-btn
    margin-right: 10%
    background: #21aa93

.down-member-login
  .signIn-off-signIn-btn
    background: $color-red2

.down-member-login
  i
    position: absolute
    top: 10px
    left: 10px

.menu-list
  .menu-list-li
    a
      div
        .asidemenu-span
          height: 40px
          width: 40px
          background: url(https://img-webike-tw-370429.c.cdn77.org/shopping/image/list-icon/shopping-asidemenu-40x440.svg)
          background-repeat: no-repeat
          background-size: 100%
          display: inline-block
          background-position-y: 0px
  .menu-list-li:nth-of-type(2)
    .asidemenu-span
      background-position-y: -40px
  .menu-list-li:nth-of-type(3)
    .asidemenu-span
      background-position-y: -80px
  .menu-list-li:nth-of-type(4)
    .asidemenu-span
      background-position-y: -120px
  .menu-list-li:nth-of-type(5)
    .asidemenu-span
      background-position-y: -160px
  .menu-list-li:nth-of-type(6)
    `
      background-position-y: -200px
  .menu-list-li:nth-of-type(7)
    .asidemenu-span
      background-position-y: -240px
  .menu-list-li:nth-of-type(8)
    .asidemenu-span
      background-position-y: -280px
  .menu-list-li:nth-of-type(9)
    .asidemenu-span
      background-position-y: -320px
  .menu-list-li:nth-of-type(10)
    .asidemenu-span
      background-position-y: -360px
  .menu-list-li:nth-of-type(11)
    .asidemenu-span
      background-position-y: -400px

.top-menu
  .taiwanHome
    li
      a
        div
          span
            height: 40px
            width: 40px
            background: url(../../../image/list-icon/home-topmenu-200x40.svg)
            background-repeat: no-repeat
            background-size: 200px
            display: inline-block
            background-position-y: 0px
    li:nth-of-type(2)
      span
        background-position-x: -40px
    li:nth-of-type(3)
      span
        background-position-x: -80px
    li:nth-of-type(4)
      span
        background-position-x: -120px
    li:nth-of-type(5)
      span
        background-position-x: -160px

.top-menu
  .class-left
    li
      a
        div
          span
            height: 40px
            width: 40px
            background: url(../../../image/list-icon/shopping-topmenu1-80x200.svg)
            background-repeat: no-repeat
            background-size: 200px
            display: inline-block
            background-position-y: 0px
    li:nth-of-type(2)
      span
        background-position-x: -40px
    li:nth-of-type(3)
      span
        background-position-x: -80px
    li:nth-of-type(4)
      span
        background-position-x: -120px
    li:nth-of-type(5)
      span
        background-position-x: -160px
    li:nth-of-type(6)
      span
        background-position-x: 0px
        background-position-y: -40px
    li:nth-of-type(7)
      span
        background-position-x: -40px
        background-position-y: -40px
    li:nth-of-type(8)
      span
        background-position-x: -80px
        background-position-y: -40px
    li:nth-of-type(9)
      span
        background-position-x: -120px
        background-position-y: -40px
    li:nth-of-type(10)
      span
        background-position-x: -160px
        background-position-y: -40px

  .class-center
    li
      a
        div
          span
            height: 40px
            width: 40px
            background: url(../../../image/list-icon/shopping-topmenu3-80x200.svg)
            background-repeat: no-repeat
            background-size: 200px
            display: inline-block
            background-position-y: 0px
    li:nth-of-type(2)
      span
        background-position-x: -40px
    li:nth-of-type(3)
      span
        background-position-x: -80px
    li:nth-of-type(4)
      span
        background-position-x: -120px
    li:nth-of-type(5)
      span
        background-position-x: -160px
    li:nth-of-type(6)
      span
        background-position-x: 0px
        background-position-y: -40px
    li:nth-of-type(7)
      span
        background-position-x: -40px
        background-position-y: -40px
    li:nth-of-type(8)
      span
        background-position-x: -80px
        background-position-y: -40px
    li:nth-of-type(9)
      span
        background-position-x: -120px
        background-position-y: -40px
    li:nth-of-type(10)
      span
        background-position-x: -160px
        background-position-y: -40px

  .class-right
    li
      a
        div
          span
            height: 40px
            width: 40px
            background: url(../../../image/list-icon/shopping-topmenu2-80x200.svg)
            background-repeat: no-repeat
            background-size: 200px
            display: inline-block
            background-position-y: 0px
    li:nth-of-type(2)
      span
        background-position-x: -40px
    li:nth-of-type(3)
      span
        background-position-x: -80px
    li:nth-of-type(4)
      span
        background-position-x: -120px
    li:nth-of-type(5)
      span
        background-position-x: -160px
    li:nth-of-type(6)
      span
        background-position-x: 0px
        background-position-y: -40px
    li:nth-of-type(7)
      span
        background-position-x: -40px
        background-position-y: -40px
    li:nth-of-type(8)
      span
        background-position-x: -80px
        background-position-y: -40px
    li:nth-of-type(9)
      span
        background-position-x: -120px
        background-position-y: -40px
    li:nth-of-type(10)
      span
        background-position-x: -160px
        background-position-y: -40px

.shoppingHome-service-menu
  .shoppingHome-service-bt
    background: #ccc
    padding: 3px
    float: left
    width: 50%
    border-bottom: 2px solid #fff
    .shoppingHome-service-i
      float: left
      span
        background: url(../../../image/list-icon/shopping-service-menu-40x240.svg)
        background-repeat: no-repeat
        width: 40px
        height: 40px
        background-size: 240px
        display: inline-block

    .shoppingHome-service-c
      width: 70%
      float: left
      padding: 0 0 0 5%
      p
        font-size: 1rem
      small
        font-size: 0.8rem
        color: gray

  .shoppingHome-service-bt:nth-of-type(2)
    .shoppingHome-service-i
      span
        background-position-x: -40px
  .shoppingHome-service-bt:nth-of-type(3)
    .shoppingHome-service-i
      span
        background-position-x: -80px
  .shoppingHome-service-bt:nth-of-type(4)
    .shoppingHome-service-i
      span
        background-position-x: -120px
  .shoppingHome-service-bt:nth-of-type(5)
    .shoppingHome-service-i
      span
        background-position-x: -160px
  .shoppingHome-service-bt:nth-of-type(6)
    .shoppingHome-service-i
      span
        background-position-x: -200px
  .shoppingHome-service-bt:nth-of-type(odd)
    border-right: 2px solid #fff


