#main .other-reivew a {
  color: #005fb3; }

#main {
  border-bottom: 30px solid #eee;
  padding: 0px !important; }

#main .box-content-brand-top-page .section {
  margin: 0 0 30px 0; }

.box-content-brand-top-page .ct-right-search-list .product-review-block {
  margin: 10px 10px 15px 10px; }

.box-content-brand-top-page .ct-right-search-list .product-review-block .box-info-motor-article {
  border: 1px solid #f7941d;
  padding: 10px; }

.box-content-brand-top-page .info-motor-article .review-start span {
  float: left; }

.box-content-brand-top-page .info-motor-article li ul li {
  padding: 5px 0px; }

.box-content-brand-top-page .info-motor-article i.icon-0 {
  color: #005fb3; }

.box-content-brand-top-page .info-motor-article i.icon-x {
  color: #e61e25; }

.box-content-brand-top-page .info-motor-article li ul li i {
  margin-right: 15px;
  font-weight: bold;
  float: left; }

.box-content-brand-top-page .review-block-box {
  padding: 0px 10px; }

.box-content-brand-top-page .box-info-motor-article2 .review-photo figure {
  width: auto;
  height: auto; }

.box-content-brand-top-page .box-info-motor-article2 .review-font ul li:nth-child(1) {
  margin-bottom: 10px; }

.box-content-brand-top-page .box-info-motor-article2 .review-font .text-content {
  width: 100%;
  padding: 10px;
  background-color: #efefef;
  float: left; }

.box-content-brand-top-page .review-block-box .review-no-login div {
  margin-top: 10px; }

.box-content-brand-top-page .review-block-box .review-no-login {
  margin-bottom: 10px; }

.box-review-comment {
  margin-bottom: 30px; }

.box-review-comment ul li {
  padding: 10px 20px; }

.box-content-brand-top-page .other-reivew {
  border-top: 30px solid #eee;
  padding-top: 30px; }

.box-content-brand-top-page .other-reivew .ct-review-comment {
  padding: 0px 10px; }

.box-content-brand-top-page .other-reivew .ct-review-comment .other-review-block {
  padding: 15px 0px;
  border-top: 1px solid #dcdee3; }

.box-content-brand-top-page .other-reivew .ct-review-comment .other-review-block:first-child {
  border-top: none;
  padding-top: 0px;
  overflow: auto; }

.box-content-brand-top-page .other-reivew .ct-review-comment .other-review-block .left {
  float: left; }

.box-content-brand-top-page .other-reivew .ct-review-comment .other-review-block .right {
  padding-left: 15px;
  overflow: hidden;
  width: auto; }

.box-content-brand-top-page .other-reivew .ct-review-comment .other-review-block .right .title-review-comment a {
  font-size: 0.85rem;
  font-weight: bold;
  width: auto; }

.box-content-brand-top-page .other-reivew .ct-review-comment .other-review-block .right .ul-info-review-search li {
  padding: 5px 0px; }

.ct-comment-facebook {
  background-color: #efefef;
  margin-top: 15px; }

.box-content-brand-top-page .box-info-motor-article2 .review-product {
  margin-bottom: 20px; }

.box-content-brand-top-page .review-block-box .box-review-comment .form-group div:first-child {
  margin-bottom: 10px; }

.other-review-block .other-review-content {
  margin-top: 10px;
  float: left; }

.other-review-block .other-review-content span {
  width: 100%; }

.box-review-comment .review-login .form-btn {
  margin-top: 15px; }

/*# sourceMappingURL=article.css.map */
