.ct-right-top {
  width: auto;
  border: 1px solid #dcdee3; }

.ct-table {
  display: table;
  width: 100%; }

.ct-table-row {
  display: table-row; }

.cell-title {
  background-color: #f5f7fa; }

.ct-table-cell {
  border-bottom: 1px solid #dcdee3;
  border-right: 1px solid #dcdee3;
  display: table-cell;
  padding: 10px;
  text-align: left; }

.cell-20 {
  width: 20%; }

.ct-table-cell:last-child {
  border-right: none; }

.ct-table-cell .ul-cell-dropdown-list {
  list-style-type: none;
  padding: 0; }

.ct-table-cell .ul-cell-dropdown-list li.li-cell-dropdown-item {
  padding: 0px 5px;
  margin-top: 5px; }

.ct-table-cell .ul-cell-dropdown-list {
  margin-top: 0px; }

.ct-table-cell .ul-cell-dropdown-list {
  margin-top: 0px; }

.ct-table-cell .ul-cell-dropdown-list li.li-cell-dropdown-item .select-list-box {
  padding: 0; }

.ct-table-cell .ul-cell-dropdown-list li.li-cell-dropdown-item .div-tag-item {
  border: 1px solid #848484;
  padding: 0px 5px; }

.ct-table-cell .ul-cell-dropdown-list li.li-cell-dropdown-item .div-tag-item span {
  line-height: 25px; }

.ct-table-cell .ul-cell-dropdown-list li.li-cell-dropdown-item .div-tag-item a {
  width: 25px;
  height: 25px;
  text-align: center; }

.ct-table-cell .ul-cell-dropdown-list li.li-cell-dropdown-item .div-tag-item i.search-tag-remove {
  cursor: pointer;
  line-height: 25px; }

.cell-content input {
  border: 1px solid #ccc;
  -webkit-user-select: text !important;
  margin-right: 10px;
  padding: 4px 0px; }

.cell-content a {
  line-height: 27px !important;
  font-size: 0.85rem;
  height: 29px !important;
  padding: 0px 10px !important;
  width: 21.4%; }

.condition .ul-cell-dropdown-list .li-cell-dropdown-item {
  float: left; }

.ct-table-row:last-child .ct-table-cell {
  border-bottom: none; }

.ct-table-cell .ul-cell-dropdown-list li.li-cell-dropdown-item:first-child {
  padding-left: 0px; }

.ct-table-cell .ul-cell-dropdown-list li.li-cell-dropdown-item:last-child {
  padding-right: 0px; }

.condition .ct-table-cell .ul-cell-dropdown-list li.li-cell-dropdown-item {
  margin-top: 0px; }

.row {
  margin: 0px; }

.filter-bolck {
  padding: 0px 10px 30px !important; }

.review-container .review-box {
  padding: 0px 10px; }

.review-container .newcomments li {
  padding: 15px 0;
  border-top: 1px solid #dcdee3;
  list-style-type: none;
  overflow: auto; }

.review-container .newcomments li:first-child {
  border-top: none;
  padding-top: 0px; }

.review-container .newcomments-photo {
  margin: 0;
  padding: 0;
  float: left; }

.review-container .newcomments-text {
  padding-left: 15px;
  overflow: hidden;
  width: auto; }

.review-container .newcomments-text .title-review-comment a {
  margin-bottom: 5px;
  font-size: 0.85rem;
  font-weight: bold;
  width: auto;
  color: #005fb3; }

.review-container .newcomments-text .star-name {
  margin-top: 5px; }

.review-container .newcomments-text .star-name .time p:first-child {
  margin: 5px 0px; }

.review-container .newcomments .newcomments-content {
  width: 100%;
  margin-top: 10px;
  float: left; }

.ct-pagenav {
  text-align: center;
  padding-left: 10px; }

#main {
  border-bottom: 30px solid #eee; }

.pagination {
  margin-bottom: 0px; }

/*# sourceMappingURL=list.css.map */
