@import "mixins"
@import "variables"

footer
  display: none !important

nav
  display: none

.breadcrumbs
  display: none

.cart-title
  border-bottom: 30px solid #eee
  h1.common
    margin: 10px 0 10px 0 !important

#main
  border-bottom: 198px solid #eee
  padding: 0px !important

#main
  h3.common
    margin-bottom: 0px
#main
  .section
    padding-bottom: 30px !important

.history-table-container
  padding: 0px 10px

.history-table-item
  border-bottom: 1px solid #cccccc

.gifts-cart-ui
  border-bottom: 1px solid #cccccc
  position: relative

.gifts-cart-ui
  .cover-box
    display: block
    position: absolute
    left: 0%
    top: 0%
    width: 100%
    height: 100%
    background-size: 100px 100px
    background-image: linear-gradient(-45deg, #ffffff 25%, #e8e8e8 25%, #e8e8e8 50%, #ffffff 50%, #ffffff 75%, #e8e8e8 75%, #e8e8e8)
    opacity: 0.6
    z-index: 98

.gifts-cart-ui
  .center-btn
    position: absolute
    vertical-align: middle
    z-index: 98
    top: 50%
    left: 50%
    transform: translateX(-50%) translateY(-50%)
    opacity: 1

.gifts-cart-ui
  .center-btn
    button
      font-size: 0.85rem
      padding: 5px 10px !important

.gifts-cart-ui
  .center-btn
    a
      font-size: 0.85rem
      padding: 5px 10px !important

.gifts-cart-ui
  .center-btn
    .btn-default:active
      color: #e61e25
      background-color: #ffffff
      border-color: #cccccc
      box-shadow: none

.gifts-cart-ui
  .center-btn
    .btn-default:hover
      color: #e61e25
      background-color: #ffffff
      border-color: #cccccc
      box-shadow: none

.btn-default-block
  width: 100%
  margin-top: 4px

.btn-default-block
  .btn-default
    border: none
    color: #cccccc
    background: none
    float: right
    padding: 0
.btn-default-block
  .btn-default
    i
      font-size: 1.5rem
.row
  margin: 0px

.history-table-item-img-block
  width: 35%
  float: left
  border: 1px solid #cccccc

.history-table-item-img
  margin: 0

.history-table-item-img
  .zoom-image
    padding: 0
    display: block

.history-table-item-img
  .zoom-image
    img
      width: 100%
      height: 100%
      object-fit: contain

.gifts-item-img-block
  width: 35%
  float: left
  border: 1px solid #cccccc

.gifts-item-img
  margin: 0

.gifts-item-img
  .zoom-image
    padding: 0
    display: block

.gifts-item-img
  .zoom-image
    img
      width: 100%
      height: 100%
      object-fit: contain

.info-brand
  float: left
  width: 65%
  padding-left: 10px

.info-brand
  .name-brand-block
    font-weight: bold

.info-brand
  a:hover
    color: #333333
    text-decoration: none

.info-brand
  h3
    font-size: 1rem

.history-content-estimate-block
  margin-top: 10px
  overflow: auto

.history-content-number
  width: 35%
  height: 40px
  float: left

.gifts-content-estimate-block
  margin-top: 10px
  overflow: auto

.gifts-content-number
  width: 35%
  height: 40px
  float: left

.determine-number
  input
    background-color: white
    border: 1px solid #cccccc
    border-radius: 4px
    box-shadow: 0 1px 1px #cccccc inset
    color: #000
    display: inline-block
    font-size: 1rem
    padding: 8px 2px
    outline: none

.determine-number
  button
    height: 40px !important
    font-size: 0.85rem

.history-content-price-block
  float: left
  text-align: right
  width: 65%

.history-content-price-block
  span
    font-size: 1.5rem
    line-height: 40px

.history-content-estimate-block
  .toggle-box
    margin: 5px 0px
.history-content-estimate-block
  .toggle-box
    .toggle-button
      margin: 5px 0px

.history-content-estimate-block
  .toggle-box
    .toggle-button
      a
        color: #005fb3

.history-content-estimate-block
  .toggle-box
    .toggle-button
      a:hover
        color: #005fb3
        text-decoration: none
.history-content-estimate-block
  .toggle-box
    .toggle-content
      border: 1px solid #cccccc
      border-radius: 4px
      padding: 5px
      color: #848484
      margin-bottom: 20px

.gifts-content-price-block
  float: left
  text-align: right
  width: 65%

.gifts-content-price-block
  span
    font-size: 1.5rem
    line-height: 40px

.gifts-content-estimate-block
  .toggle-box
    margin: 5px 0px
.gifts-content-estimate-block
  .toggle-box
    .toggle-button
      margin: 5px 0px

.gifts-content-estimate-block
  .toggle-box
    .toggle-button
      a
        color: #005fb3

.gifts-content-estimate-block
  .toggle-box
    .toggle-button
      a:hover
        color: #005fb3
        text-decoration: none
.gifts-content-estimate-block
  .toggle-box
    .toggle-content
      border: 1px solid #cccccc
      border-radius: 4px
      padding: 5px
      color: #848484
      margin-bottom: 20px

.additional-purchase
  margin-bottom: 30px !important

.box-items-group
  padding: 0px 10px

.title-main-box
  padding-bottom: 10px
  border-bottom: 1px solid #cccccc

.ct-box-items-group
  margin-bottom: 20px

.item-product-grid
  text-align: center
  padding-top: 20px
  padding-bottom: 20px
  border-bottom: 1px solid #cccccc

.item-product-grid:nth-child(odd)
  border-right: 1px solid #cccccc


.item-product-grid
  a
    display: block
    width: 100%

.item-product-grid
  a
    figure
      width: 120px
      height: 120px
      margin: auto
      display: block
      padding: 0

.item-product-grid
  a
    figure
      .sale-off-icon
        position: absolute
        top: 5px
        left: 5px
        color: #fff
        z-index: 2
        height: 26px

.item-product-grid
  a
    figure
      .sale-off-icon:before
        width: 11px
        height: 26px
        background: url(https://img.webike.tw/shopping/image/bg-sale-off-left.png)
        float: left

.item-product-grid
  a
    figure
      .sale-off-icon
        span
          padding: 0 5px
          height: 26px
          background-color: #e61e25
          float: left
          line-height: 26px

.item-product-grid
  a
    figure
      .sale-off-icon:after
        width: 11px
        height: 26px
        background: url(https://img.webike.tw/shopping/image/bg-sale-off-right.png)
        float: left
.item-product-grid
  a
    figure
      .sale-off-icon
        img
          width:  100%
          height:  100%
          object-fit:  cover

.title-product-item
  font-size: 0.85rem
  margin: 5px 0px

.price
  font-size: 1rem
  margin: 5px 0px 10px 0px

.content-last-box
  .btn
    border-radius: 4px
    font-size: 0.85rem

.content-last-box
  .btn:active
    -webkit-box-shadow: none
    box-shadow: none

.content-last-box
  .btn-danger
    color: #e61e25 !important
    background: #fff !important
    border-color: #ccc !important

.content-last-box
  .btn-default
    color: #848484 !important
    background: #fff !important
    border-color: #ccc !important

.checkout-container
  position: fixed
  bottom: 0px
  z-index: 99
  padding: 0px 10px
  width: 100%
  height: auto
  border-top: 1px solid rgba(0, 0, 0, 0.09)
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.09)
  background-color:  #f5f5f5

.table-page-detail-sum-left
  width: 100%
.coupon-block
  .select2-container
    margin-bottom: 0px
    width: 80% !important
    float: left

.coupon-block
  .select2-container
    .select2-selection--single
      .select2-selection__rendered
        line-height: 28px !important

.coupon-block
  width: 100%
  padding: 10px 0px 0px

.coupon-title
  width: 20%
  float: left
  line-height: 30px

.coupon-title
  i
    color: #848484

.point-block
  width: 100%
  padding: 10px 0px 0px

.point-title
  width: 20%
  float: left
  line-height: 30px

.point-title
  i
    color: #848484

.point-block
  input
    border-radius: 4px
    width: 80%
    padding: 4px 60px 4px 12px
    text-align: center
    height: 30px
    float: left
    position: relative
    line-height: 22px
    font-size: 0.85rem

.point-total
  height: 30px
  text-align: right
  position: absolute
  right: 20px

.point-total
  span
    color: #cccccc
    line-height: 30px
    font-size: 0.85rem

.ct-cart-page-detail-sum-right
  margin-top: 10px

.ct-cart-page-detail-sum-right > ul
  float: left

.cart-checkout
  float: right
  width: 25%

.cart-checkout a
  font-size: 1rem
  border-radius: 4px

.cart-checkout
  .btn
    padding: 5px 15px !important

.get-received-points
  margin: 10px 0px
  text-align: center

.swal2-modal
  width: 281px !important
  padding: 10px !important
  min-height: 281px !important

.swal2-spacer
  display: none !important

.swal2-modal
  button
    margin-top: 15px !important
    margin-bottom: 15px !important
    outline: none !important

.swal2-container
  .swal2-title
    font-size: 1.5rem
    line-height: 2.5rem

.swal2-modal
  .swal2-content
    font-size: 0.85rem

.swal2-modal
  .swal2-image
    margin: 15px auto

.swal2-modal
  .swal2-icon
    margin: 15px auto !important

.container
  .text-second-menu
    padding-top: 30px
    text-align: center

.continue-shopping
  float: right

.continue-shopping
  a
    font-size: 1rem
    border-radius: 4px

.continue-shopping
  .btn
    padding: 5px 15px !important
    color: #e61e25

.calculating
  display: none

.pointcalculating
  display: none

.delivery-block
  width: 65%
  color: #09C
  font-size: 0px
  float: left
  padding-left: 10px

.estimate_time
  color: #999999
  font-weight: normal

.addition-loading
  display: none
  background: #fff !important
  border: 1px solid #ccc !important
  border-radius: 4px
  width: 100%
  height: 38px
  line-height: 28px !important

.toggle-content > div
  font-size: 0.75rem !important

.sold_out .delivery-block,.sold_out_color .delivery-block
  color: #e61e25

.join-addition-text
  display: none
  margin-top: 20px

.helper-bottom
  display: inline-block
  vertical-align: bottom
  height: 100%

.delivery-text
  display: inline-block
  vertical-align: bottom

