.ct-img-slider-nav2
	padding: 0 10%
	width: 100%
	background-color: #e4e8eb
	float: left

.img-slider-nav2
	.slick-list
		.slick-track
			.slick-current
				border: 1px solid #e61e25 !important
				outline: none
				transition: all 0s ease-in-out
				position: relative
				box-sizing: border-box
.img-slider-nav2 
	.slick-prev:before
		color: #999999 !important
		font-size: 20px
.img-slider-nav2 
	.slick-next:before
		color: #999999 !important
		font-size: 20px
.section-block
	margin-bottom: 30px
	padding: 0 10px

.summary-subcategory 
	.block
		margin-bottom: 0px

#motor_search_text
	-webkit-user-select: text !important

.illustration
	padding: 10px 10px 20px
	
.nav-tabs
	margin-bottom: 10px

.menu-icon-fixed.page-menu-icon
	position: fixed
	z-index: 8
	right: 0
	top: 30%
	margin-right: -12px
.menu-icon-fixed.page-menu-icon
	a
		position: relative
		display: block
		width: 40px
		height: 40px
		line-height: 40px
		border-radius: 20px
		background: #e61e25
		color: #fff
		opacity: 0.8
.menu-icon-fixed.page-menu-icon
	a
		i
			position: absolute
			top: 13px
			right: 16px
			font-size: 16px
.page-title
	.page-close_btn
		display: none
		color: #fff
		font-size: 1.2rem
		z-index: 9998
		position: fixed
		right: 83%
		top: 8px
.page-title
	.page-menu_items
		display: none
		position: fixed
		top: 0px
		z-index: 9999
		right: 0
		width: 80%
		overflow-y: auto
		background: rgb(255, 255, 255)
.page-title
	.page-overlay
		background: #333
		opacity: 0.65
		-webkit-tap-highlight-color: transparent
		width: 100%
		position: fixed
		top: 0
		bottom: 0
		display: none
		z-index: 9997

.page-title
	.page-menu_items
		dl
			dt
				color: #555
				background: #efefef
				font-weight: bold
				padding: 10px
				border-left: 3px solid #e61e25
				margin: -1px 0 0
				font-size: 1rem !important


.page-title
	.page-menu_items
		dl
			dd
				border-bottom: 1px solid #eee
				font-size: 1rem !important

.page-title
	.page-menu_items
		dl
			dd
				a.toggle:after
					font-size: 1.2rem !important
					content: '＋'
					color: #555
					font-family: FontAwesome
					font-weight: bold
					right: 17px
					position: absolute
.page-title
	.page-menu_items
		dl
			dd > a
				padding: 15px
				display: block
				position: relative

.page-title
	.page-menu_items
		dl
			dd
				a.toggle.open:after
					content: '－'
.page-title
	.page-menu_items
		dl
			dd
				ul
					li
						a
							position: relative
							padding: 12px 27px 12px 12px
							display: block
.page-title
	.page-menu_items
		dl
			dd
				ul
					li
						border-bottom: 1px solid #ddd
						line-height: 1.2
						font-size: 1rem !important

.page-title
	.page-menu_items
		dl
			dd
				ul
					li
						a:after
							right: 15px
							top: 50%
							margin-top: -10px
							font-size: 1.2r
							content: '\f105'
							font-family: FontAwesome
							position: absolute
							right: 20px
							top: 50%
							margin-top: -10px
							color: #ddd
.page-title
	.page-menu_items
		dl
			dd
				ul 
					border: 1px solid #ddd
					border-bottom: none
					margin: 0 15px 15px

.page-title
	.page-menu_items.show
		animation: menu_items_in 0.2s ease-in-out

.page-title
	.box-content-child
		margin: 0px!important
nav.fixed
	z-index: 9995