@import "basic/_variables"
@import "common/funtions/_right-filter"

#search
	display: block

.container-search-nore
	padding: 20px

h2
	font-size: 1rem
header 
	.helpdesk
		float: right
		margin: 15px 10px 0px 0px

.font-color-red
	color: red

