@import "basic/_variables"
@import "common/funtions/_ranking"

$color-black1: #222b3f
$color-black2: #29303b
$color-gray1: #4a5360
$color-gray2: #dcdee5
$color-gray3: #f3f4f9
$color-red1: #d82435
$color-red2: #e34149
$color-yellow: #FFD11A

.font-bold
	font-weight: bold
.module-title
	padding: 10px 0px 0px 0px
	overflow: hidden
	background-color: #fff
	
.brand-logo
	width: 40px
	height: 40px
	float: left

.brand-logo
	.img-thumbnail
		padding: 0px
		border: none

.img-thumbnail
	padding: 0px

.product-info
	padding: 0px !important
	overflow: auto
	float: none
	width: auto

.name-brand-block
	float: left

.name-brand-block
	li
		float: left

.star-review-block
	float: right

.star-review-block
	li
		float: left

.star-review-block
	li:first-child
		padding-top: 1px

h1
	font-size: 1.2rem
	margin-top: 10px
	padding: 0px 10px

a
	color: #337ab7

header
	a
		color: #333


#main
	border-bottom: 80px solid #eee

footer
	display: none

.info-brand
	margin: 0px
	padding: 0px
	width: 100%
	float: left

ul.info-brand
	li
		border-left: 0px
		padding: 0px 10px
		list-style-type: none
		float: left

.price-product-deatil
	color: #e61e25
	margin: 5px 0px 0px 0px
	padding: 0px

.product-price-block	
	color: #848484
	float: left

.product-point-block-ri
	float: right
	padding: 0px

.ct-price-old
	margin: 10px 0px
	padding: 0px

.ct-price-old
	span
		font-size: 1rem

.font-color-blue
	color: #005fb3

.font-color-red
	color: #e61e25

.delivery-box
	border: #09C 1px solid
	color: #09C
	font-size: 0.85rem
	font-weight: bold
	padding: 5px 10px
	line-height: 28px

.product-table-row
	.product-code
		margin: 10px 0px 



.ct-product-deatil
	margin: 0 0 10px
	padding: 10px
	background-color: #fff


.ct-product-deatil-left
	position: relative

#imageGallery
	.img-thumbnail
		border: none
		height: 300px
		margin-bottom: 5px
		vertical-align: middle
		text-align: center
		border-radius: 0

.img-zoom-in
	img
		cursor: zoom-in
		margin: 0 auto
		text-align: center
		object-fit: cover
		height: 100%

.lSGallery
	.active
		a
			border:  1px solid #e61e25!important

.lSGallery
	li
		a
			margin-bottom: 5px
			vertical-align: middle
			text-align: center
			border-radius: 0
			height: 60px
			line-height: 50px
			display: block
			background-color: #fff
			border: 1px solid #ddd
			padding: 4px
			max-width: 100%

.product-detail
	padding-left: 0px
	padding-right: 0px

.lSPager.lSGallery
	.active
		border-radius: 0px!important

.dropdown-toggle.has-error
	border-color: #e61e25
	font-weight: bold

.loading-box
	position: absolute
	top: 0
	right: 0
	z-index: 9999
	padding: 0 3% 0 0
	display: none

.group-button-detail
	width: 100%
	float: left
	background-color: #f5f4f4
	padding: 5px
.form-group-button
	float: left
	width: 100%
	
.form-group-button
	.determine-number
		padding: 5px

.form-group-button
	.btn-label
		padding: 5px

.btn-label.label-large
	height: 48px
	font-size: 1.2rem
	padding: 5px
	line-height: 38px
	float: left
	width: 17%


.determine-number
	li
		input
			width: 100%
			text-align: center
			border: none

.bg-color-red
	background-color: #e61e25 !important
	color: #fff
	
#add_to_cart
	width: 100%
	border-radius: 5px
	border: none !important

#add_to_cart:hover
	color: #fff

.form-group-button
	[class^=col-]
		padding: 5px

.btn-addtolist
	a
		background-color: #fff
		color: #333333
		width: 100%
		border: 1px solid #dcdee3
		font-weight: bold
		border-radius: 2px

.btn-purchase
	a
		background-color: #fff
		color: #333333
		width: 100%
		border: 1px solid #dcdee3
		font-weight: bold
		border-radius: 2px

.ct-product-info-detail
	border-top: 30px solid #eee
	padding: 0px

.ct-product-info-detail
	.top-info-detail
		padding: 30px 10px

.ct-product-info-detail
	.left-box-detail
		overflow: hidden
		height: 300px

.title-info-border
	h2
		font-weight: bold
		border-left: 8px solid #e61e25
		padding-left: 5px

.box-detail-info
	.container-box
		margin-bottom: 10px

.ct-product-info-detail
	.car-adaptation
		margin-top: 10px

.ct-product-info-detail
	.car-adaptation
		.adaptation
			padding: 10px
			border: 1px solid #ccc

.ct-product-info-detail
	.customer-review
		border-top: 30px solid #eee
		padding: 30px 10px 0px 10px 

.car-adaptation
	.market-name
		padding: 6px
		font-weight: bold

.car-adaptation
	.model-name
		padding: 6px
		border-bottom: 1px solid #eee
.adaptation
	.model-detail
		margin: 20px 0 0
		padding: 20px 6px

.car-adaptation
	.box-detail-info
		.title-main-box
			margin-bottom: 10px
			line-height: 1.3
			font-weight: bold

.car-adaptation
	.box-detail-info
		.container-box
			.motor-block-title
				font-weight: bold
				margin: 20px 0 5px
				border-bottom: 1px solid #ccc
.car-adaptation
	.box-detail-info
		.container-box
			.motor-block
				a
					display: inline
					margin: 0
					border: none
					padding: 0
					background: none

.car-adaptation
	.box-detail-info
		.container-box
			.motor-block
				a:after
					display: none
.link_ui
	ul
		padding: 0px

.container-box
	span
		font-size: 0.85rem

.link_ui_a.toggle
	text-decoration: none

.customer-review
	.customer-review-total
		display: block
		border: 1px solid #ccc
		margin-top: -1px

.customer-review
		.link_ui_a
			margin: 0px

.customer-review-total
	.ct-review-detail
		div
			padding: 0px!important

.ct-review-detail
	.review-detail-toggle
		color: #318acc
		text-decoration: underline


.ct-totaldetail 
	.rating-star-table
		width: 100%
		margin-right: 0 0 10px

.ct-totaldetail 
	.rating-star-table
		tr
			td:nth-child(1)
				width: 40px
				padding: 0 10px 0 0
				text-align: right

.ct-totaldetail 
	.rating-star-table
		tr
			td:nth-child(2)
				width: 65%
.ct-totaldetail 
	.rating-star-table
		tr
			.rating-bar-bg
				background: #ccc
				width: 100%
				margin: 5px

.ct-totaldetail 
	.rating-star-table
		.rating-bar-bg
			.rating-bar-with
				background: #ffc106
				height: 25px
				display: block
.ct-totaldetail 
	.rating-star-table
		.rating-star-number
			width: 40px
			padding: 0 0 0 10px

.customer-review
	.no-after
		a:after
			display: none

.btn-warning
	background-color: #ff6600!important
	border: none!important

.customer-review
	.col-xs-block
		.no-after
			margin: 15px 0px

.product-detail
	.no-rcj-a
		margin-left: 0px
		margin-right: 0px
		background: none
		border: none

.link_ui
	a
		img
			width: auto
			float: none
			margin: 0px

.ul-ct-customer-qa
	.li-ct-customer-qa
		margin-bottom: 20px 

.ct-customer-qa-show
	.title
		font-weight: bold

.ct-customer-qa-show-detail
	padding: 10px 0 20px 0
	width: 100%
	max-height: 200px
	overflow-y: auto
	font-size: 0.85rem

.font-color-green
	color: #5cb85c

.pull-right.btn-label
	border-color: #ccc
	border-style: solid
	height: 38px
	font-size: 1rem
	padding: 5px 10px
	line-height: 28px

.btn-see-all-pagination
	float: right

.btn-see-all-pagination
	span
		margin: 20px
		float: left

.btn-see-all-pagination
	a
		padding: 0px
		margin: 20px 0px
		float: left
		background: none
		border: none
		font-size: 0.85rem

.customer-review-total
	.all-review
		padding: 0px 15px

.customer-qa
	.customer-qa-show
		border: 1px solid #ccc
		padding-top: 20px



.ct-inspired-by-your
	a:after
		display: none

.ct-item-content-branking
	.item-product-content-branking
		.item-product-grid-pars-content-branking-left
			a
				padding: 2px
				background: none

.ct-item-content-branking
	.item-product-content-branking
		.item-product-grid-pars-content-branking-right
			a
				background: none
				border: none
				padding: 0px
				font-weight: initial
				font-size: 0.85rem
.lSGallery
	li
		a
			img
				display: initial !important

.box-detail-info
	.ul-fix-model
		.li-fix-model
			overflow: auto

.ct-product-deatil
	.point_discount
		margin-bottom: 20px

.ct-product-deatil
	.point_discount
		.title
			background-color: #e61e25
			padding: 7px 15px

.ct-product-deatil
	.point_discount
		.title
			span
				color: white

.ct-product-deatil
	.point_discount
		.info
			width: 100%
			border: 1px solid red
			padding: 10px

.ct-product-deatil
	.point_discount
		p
			float: none
			letter-spacing: 2px
			padding-top: 10px
			font-size: 1rem !important
			margin-left: auto
			margin-right: auto
			margin-bottom: 10px
			text-align: center

.ct-product-deatil
	.point_discount
		.btn-info
			float: none
			margin-left: auto
			margin-right: auto
			width: 100%

.history-table-container
	border: 1px solid #dcdee3

#installment-table
	ul.history-info-table
		li.history-table-title
			ul
				background-color: #acacac
				overflow: auto

ul.history-info-table 
	li.history-table-title 
		ul 
			li
				margin: 0
				font-size: 0.85rem
				min-height: 30px
				padding: 0
				color: #fff
				border-right: 1px solid #dcdee3
				display: flex
				min-height: 35px
				justify-content: center
				flex-direction: column
				text-align: center

#installment-table
	ul.history-info-table
		li.history-table-content
			ul:nth-child(2n)
				background-color: #efefef

ul.history-info-table
	li.history-table-content
		ul
			border-bottom: 1px dotted #9fa7b5
			background-color: #fff
			width: 100%

.customer-qa
	.ul-ct-customer-qa
		a
			margin: 0px
			padding: 0px
			border: none
			background: none
			font-size: 0.85rem

.customer-qa
	.ul-ct-customer-qa
		a:after
			display: none

.ct-product-deatil
	span#final-price
		font-size: 1.5rem

.ul-content-comment-detail
	li.content-comment-detail
		margin: 0
		padding: 15px 0
		width: 100%
		list-style-type: none
		border-bottom: 1px solid #dcdcdc

.customer-review
	.customer-review-total 
		ul.ul-content-comment-detail
			padding: 0 10px
			overflow: auto

.customer-review
	.ul-content-comment-detail
		.content-comment-detail
			a
				margin: 0px
				padding: 0px
				border: none
				background: none
				font-size: 0.85rem 

.customer-review 
	.ct-review-detail
		margin: 10px 

.customer-review 
	.ct-review-detail
		div:nth-child(2)
			margin: 0px

.customer-review
	.customer-review-total
		ul.col-xs-block
			margin-top: 10px

#estimate_tr
	margin-bottom: 0px

#estimate_tr
	.estimate_request
		label.estimate_request
			margin-top: 10px 

#installment-table
	.history-info-table
		.history-table-content
			ul
				li 
					div.col-xs-4
						span
							line-height: 57px
#installment-table
	.history-info-table
		.history-table-content
			ul
				il 
					div.col-xs-4
						text-align: center

h3.common
	margin-left: 0px !important

.customer-review
	.customer-review-total
		.col-xs-block
			padding: 0 15px
.link_ui_a
	color: #333333

.link_ui_a:hover
	color: #333333

.google-translation
	a
		display: inline-block

.google-translation
	a:hover
		color: #337ab7
		text-decoration: none
.orig_text
	margin-left: 15px

.a-blue
	color: #337ab7

.ct-product-info-detail
	.box-detail-info
		.google-translation
			margin-top: 10px
			width: 100%

.group-button-detail
	.form-group-button
		.determine-number
			ul.btn-large
				li
					font-size: 1rem
.group-button-detail
	.form-group-button
		.determine-number
			ul.btn-large
				li:nth-child(3)
					font-size: 1.5rem

#customer-qa
	.ul-ct-customer-qa
		.li-ct-customer-qa
			.customer-qa-show
				.ct-customer-qa-show
					padding: 0 15px
#customer-qa
	.like-comment
		margin-bottom: 20px

#customer-qa
	.like-comment
		.btn-label
			margin-bottom: 5px

.product-table-row
	margin-bottom: 10px !important

.product-table-row
	li
		padding: 0px

.estimate_request
	.row
		.col-xs-12
			padding: 0px

#product-options
	vertical-align: none

.dropdown-menu
	padding-right: 20px
	width: 100%
	max-height: 200px
	overflow: auto

.product-data-table
	#product-options
		.product-select-text
			font-size: 0.85rem

.product-data-table
	#product-options
		button
			overflow: hidden
			border-color: #aaa

.dropdown-menu > li > a:hover
	background-color: #fff

.lSPager 
	margin: 5px 10px 0px 10px !important

.lSpg > li:hover a
	background-color: #333333 !important

.lSpg > li.active a
	background-color: #333333 !important

.lSpg > li a
	background-color: #cccccc !important

nav
	display: none

.point-icon
	height: 20px
	float: left
	margin-right: 5px

#final-point
	float: left
	color: #333
	line-height: 20px

.product-point-block
	float: right
	font-size: 1.2rem

.product-point-block
	i
		color: #444
		font-weight: bold
		padding-left: 10px
		line-height: 20px

.text-right
	margin-top: 10px

.text-right
	a
		color: #09C
		font-weight: bold

.text-right:hover
	background: #09C
	a:hover
		color: #fff
		text-decoration: none
		outline: none

.text-right
	a:focus
		color: #000
		text-decoration: none
		outline: none

#tag_area
	margin-bottom: 0px

#tag_area
	span
		padding: 5px
		font-size: 0.85rem
		display: inline-block
		margin-top: 5px
		margin-left: 5px

.re-product-info-padding
	padding: 30px 10px 5px 10px !important


.animate-btn-up
	padding-top: 5px
	text-align: center

.animate-btn-up
	i
		font-size: 1.2rem
		color: #444
		font-weight: bold

.animate-btn-down
	padding-top: 5px
	text-align: center

.animate-btn-down
	i
		font-size: 1.2rem
		color: #444
		font-weight: bold

.product-detail-cart-block
	position: fixed
	bottom: 0px
	z-index: 2000
	padding: 0px
	height: 50px
	border-top: 1px solid rgba(0, 0, 0, 0.09)
	box-shadow: 0 0 6px 0 rgba(0,0,0, 0.09)

.product-detail-add-to-wishlist
	background-color: #eeeeee
	height: 50pxN
	text-align: center
	border-right: 1px solid #ccc

.product-detail-add-to-wishlist-icon-n
	color: #848484

.product-detail-add-to-wishlist-icon-n
		i
			line-height: 51px

.product-detail-add-to-wishlist-icon-y
	color: #ffb22d

.product-detail-add-to-wishlist-icon-y
		i
			line-height: 51px

.product-detail-service
	background-color: #eeeeee
	color: #848484 
	height: 50px
	text-align: center
	border-right: 1px solid #ccc

.product-detail-service
	i
		line-height: 51px	
.product-detail-service
	a
		color: #848484
.product-detail-add-to-cart
	background-color: $color-red2
	color: #fff
	height: 50px
	text-align: center
	line-height: 51px

#pagetop
	display: none  !important
	opacity: 0 !important

.product-add-cart-container-background
	position: fixed
	top: 0
	bottom: 0
	z-index: 2011
	background: rgba(0, 0, 0, 0.4)
	width: 100%
	opacity: 0


.product-add-cart-container
	position: fixed
	bottom: -100%
	z-index: 2012

.product-add-cart-block
	padding: 15px 0px
	background-color: #f5f5f5

.close-cart-btn-block
	padding: 10px 10px
	color: #fff

.close-cart-btn
		float: right

.groupbuy-product-block
	margin-top: 5px
	text-align: right

#groupbuy-product
	font-weight: bold

.btn-addcart
	margin-top: 15px

.determine-number
	ul
		margin: 0px
		width: 83%
		background-color: #fff
		border: 1px solid #cccccc
		border-radius: 2px
		float: left
.determine-number
	.btn-large
		height: 50px !important
		font-size: 0

.determine-number
	li
		margin: 0
		padding: 0
		width: 33.3333%
		list-style-type: none
		float: left

.determine-number
	.btn-large
		li
			a
				line-height: 38px
.determine-number
	.btn-large
		li
			a:hover
				text-decoration: none
				color: #e61e25

#qty
	font-size: 1.5rem
	background: none

.product-add-cart-select-block
	padding: 0px 15px 0px 10px

.product-select-item
	margin-bottom: 5px
	margin-left: 5px
	padding: 5px
	border: 1px solid #ccc
	background-color: #fff
	border-radius: 5px
	font-size: 0.75rem
	float: left
	overflow: hidden
	text-overflow: ellipsis
	white-space: nowrap

.determine-number
	margin-top: 10px

.lg-backdrop
	z-index: 2299 !important

.lg-outer
	z-index: 2300 !important

.swal2-modal
	width: 281px !important
	padding: 10px !important
	min-height: 281px !important

.swal2-spacer
	display: none !important

.swal2-modal
	button
		margin-top: 15px !important
		margin-bottom: 15px !important
		outline: none !important

.swal2-container
	z-index: 2012

.swal2-container
	.swal2-title
		font-size: 1.5rem
		line-height: 2.5rem

.swal2-modal 
	.swal2-content
		font-size: 0.85rem

.swal2-modal 
	.swal2-image
		margin: 15px auto

.select-info
	.row
		margin: 0px

.icon-star
	display: block

.icon-star-bigger
	display: block

.swal2-modal 
	.swal2-icon
		margin: 15px auto !important

.no-click
	filter: brightness(0.8)

.label-purple
	background: #961975
	color: #fff
	font-weight: bold
	border: 1px #961975 solid

.modal 
	.overlay
		z-index: 2011

.modal 
	.inner
		z-index: 2012

.select2-dropdown
	z-index: 2014

.lSSlideOuter
	.lSPager.lSpg > li
		margin: 5px 0 0 0

.lSPager
	display: none

.img-counter
	padding: 5px
	color: #fff
	background-color: rgba(0, 0, 0, 0.4)
	border: 1px solid rgba(255, 255, 255, 0.2)
	position: absolute
	right: 10px
	bottom: 15px
	border-radius: 4px

.modal_btn.model_search
	color: #333

.ct-fix-model-right
	.motor-block
		a
			font-size: 0.85rem
			line-height: 24px

.ct-inspired-by-your
	padding: 10px 10px 0px	

.ct-item-content-branking
	max-height: none

.font-color-white
	color: #fff

.determine-number
	.btn-large
		li
			a.font-color-white:hover
				text-decoration: none
				color: #fff
.no-shadow:active
	-webkit-box-shadow : none!important
	box-shadow: none!important

.outlet-number
	color: #ccc
	
.determine-number
	caret-color: transparent

.adaptation
	a:after
		content: none

.ct-comment-detail
	.review-bolck
		margin-top: 5px
.ct-comment-detail
	.group-star
		margin: 5px 0px

.content-comment-detail
	.newcomments-photo
		margin: 0
		padding: 0
		float: left

.content-comment-detail
	.ct-comment-detail
			padding-left: 15px
			overflow: auto
			width: auto
.content-comment-detail
	.newcomments-content
		width: 100%
		margin-top: 10px
		float: left
.content-comment-detail
	.newcomments-content
		span
			a
				display: initial
				font-weight: normal
.content-comment-detail
	.newcomments-text
		.title-review-comment
			span
				display: block
.pagination
	li 
		a
			margin-right: 0px 
.pagination
	.pagination-fa-caret
		padding: 8px 10px

.pagination 
	li 
		.active
			background-color: #e61e25
			color: #fff
.pagination 
	li
		a
			i
				margin: 0
				color: #e61e25
.row
	margin:	0px

.select-address
	.select-city
		div
			width: 49%
			vertical-align: middle
			display: inline-block

.info-brand
	.star-review-block
		float: left

#main h3.common-product-number
	border: none
	padding: 0px 0px 0px 10px
	margin: 0
	color: #9C9EA3
	display: inline-block
	font-size: 1rem

.top-info-detail
	margin-top: 0px

#model-number
	display: inline-block
	color: #9C9EA3
	font-size: 1rem

.module-title ,.ct-product-deatil
	background-color: #fff

.product-point-block-ri
	width: 100%
	margin: 5px 0

.product-point-block
	display: inline-block
	float: none
	margin-left: 10px

.price-product-deatil
	strong
		font-size: 1.2rem

.ct-product-deatil 
	#final-price
		font-size: 1.2rem !important

		
.ct-product-deatil-right 
	.info-brand 
		li
			padding: 5px 10px 5px 0

.product-detail
	.module-title
		.product-detail-MainTitle
			font-size: 1rem
			font-weight: bold
			margin-top: 0

.price-product-deatil
	padding: 0px 5px

.product-point-block-ri
	padding: 0px 5px

.product-price-block
	padding: 5px 0 5px 5px

#product-options
	button
		border-radius: 5px

.estimate_request
	.delivery-box
		border-radius: 5px
		background-color: #fff

#acb
	margin-top: 10px

.ct-product-deatil
	margin: 0

.product-detail-cart-block
	z-index: 99

.fans
	display: none

.text-right
	border: 1px solid #AAA
	display: inline-block
	float: right
	padding: 5px
	border-radius: 5px
	background: $color-gray2
	box-shadow: 1px 1px 3px $color-gray2
	a
		color: #000

.relieved-shopping
	margin-bottom: 10px !important
	margin-top: 10px !important
	border-radius: 5px
	.relieved-shopping-authentic-text
		border-radius: 3px
	.relieved-shopping-rex-text
		border-radius: 3px

