@import "standard"

.product-history-title
  h2
    text-align: center
    height: 30px
    background: #dcdee5
    font-size: 1.2rem
    padding: 3px
    font-weight: bold

.product-history-search
  width: 100%
  position: fixed
  right: 0
  left: 0
  top: 0px
  height: 667px
  background: #dcdee5
  transform: translateX(100%)
  transition: 1s
  opacity: 0.95
  z-index: 1000
  overflow: auto
  .product-history-search-t
    background: $color-gray1
    padding: 10px 5% 10px 5%
    i
      font-size: 1.6rem
      color: #fff
      float: left
    p
      color: #fff
      text-align: center
      font-size: 1.2rem
  .product-history-search-c
    padding: 20px 5% 50px 5%
    select
      margin-top: 20px
      width: 47%
    select:last-of-type
      float: right
    .search-bar
      position: relative
      input
        width: 100%
        height: 45px
      button
        background-color: #29303b
        position: absolute
        right: 0
        top: 0

.product-history-search.open
  transform: translateX(0%)

.product-history-bar
  .product-history-status
    padding: 10px
    p:first-of-type
      float: left
    p:last-of-type
      float: right
    ul
      li.close
        display: none
      li
        width: 31.333%
        margin: 10px 1% 0 1%
        float: left
        text-align: center
        border: 1px solid #c1c1c1
        border-radius: 3px
        color: #aaa
        overflow: hidden
        .product-history-tag
          background: #c1c1c1
          position: relative
          span
            color: #fff
          i
            color: #fff
            position: absolute
            top: 3px
            right: 5px
      p
        float: none !important
        color: $color-red2
        line-height: 2

  .product-history-select
    background: $color-gray2
    padding: 10px
    select
      width: 45%
    button
      float: right
      width: 45%

.product-history-content
  .product-history-list
    margin: 20px 10px
    .product-history-list-project
      margin-bottom: 10px
      border-radius: 5px
      box-shadow: 1px 1px 5px #AAA
      .product-history-list-project-t
        background: #fff
        border-radius: 5px
        li
          padding: 2.5px 5px
          span:last-of-type
            float: right
        li:first-of-type
          border-bottom: solid 1px $color-gray2
        li:last-of-type
          p:first-of-type
            font-weight: bold
            color: #000
          p
            color: #005fb3
            font-weight: initial
      .open
        background: #EEE
        border-radius: 5px 5px 0 0
      .product-history-list-project-c
        background: #fff
        display: none
        border-top: solid 1px $color-gray2
        li
          padding: 5px
          position: relative
          .project-img
            width: 30%
            height: 120px
            display: table
            float: left
            a
              display: table-cell
              vertical-align: middle
              img
                margin: 0 auto
                max-height: 100px
                margin: 0 auto
                display: -webkit-box
          .project-data
            padding: 0 0 0 5px
            float: right
            width: 70%
            p
              span
                display: inline
            i
              display: block
              width: 70px
              text-align: center
              background: #337ab7
              padding: 1px 5px
              margin-bottom: 10px
            button
              width: 70px
              padding: 1px 5px
              margin-top: 5px
            .project-bt
              position: absolute
              bottom: 5px
              a
                padding: 3px 8px
        li:nth-of-type(1)
          border-bottom: 1px solid #dcdee5
        li:nth-of-type(2)
          border-bottom: 1px solid #dcdee5
          .project-data-l
            width: 50%
            float: left
            p
              font-size: 0.8rem
          .project-data-r
            width: 50%
            float: left
            p
              font-size: 0.8rem
        li:last-of-type
          button
            float: right
            width: 88px
          a
            font-size: 1.2rem
            color: #08A5F6
            i
              width: 70%
              display: inline-block
              padding: 5px 0 0 5px
      .open2
        border-radius: 0 0 5px 5px

.product-history-number-background
  background: #FFFFFF
  position: absolute
  position: fixed
  top: 0
  right: 0
  left: 0
  bottom: 0px
  background: rgba(0,0,0,.5)
  z-index: 10
  display: none
  .product-history-number
    position: absolute
    bottom: 0
    background: #eee
    border: 1px solid #aaa
    border-radius: 3px
    width: 100%
    // height: 75px
    .product-history-number-title
      height: 30px
      border-bottom: 1px solid #aaa
      position: relative
      i
        color: $color-gray1
        font-size: 1.4rem
        position: absolute
        top: 3.5px
        left: 5px
      i:hover
        color: red
      span
        position: absolute
        font-size: 1rem
        left: 50%
        top: 4px
        margin-left: -16px
      button
        background: #DDD
        color: #08A5F6
        position: absolute
        padding: 1px 10px
        top: 3.5px
        right: 5px
      button:hover
        color: red
    .product-history-number-content
      overflow: hidden
      .select-type
        select
          width: 80%
          display: block
          margin: 20px auto 0 auto
      .number-check
        width: 80%
        display: block
        margin: 20px auto
        position: relative
        input
          text-align: center
          width: 100%
          height: 45px
          border: none
          padding: 10px
          resize: none
          font-size: 1rem
          border-radius: 3px
        button
          height: 45px
          width: 45px
          font-size: 2rem
          line-height: 1 
        .plus
          position: absolute
          top: 0
          right: 0
        .reduce
          position: absolute
          top: 0
          left: 0
      .product-history-number-content-check
        margin: 10px 0 
        button
          background: #4a5360
          width: 90px
          font-size: 1.2rem
          margin: 0 auto
          display: block

.product-history-remarks-background
  background: #FFFFFF
  display: none
  position: absolute
  position: fixed
  top: 0
  right: 0
  left: 0
  bottom: 0px
  background: rgba(0,0,0,.5)
  z-index: 10
  .product-history-remarks
    position: absolute
    bottom: 0
    background: #eee
    border: 1px solid #aaa
    border-radius: 3px
    width: 100%
    height: 150px
    .product-history-remarks-title
      height: 30px
      border-bottom: 1px solid #aaa
      position: relative
      i
        color: $color-gray1
        font-size: 1.4rem
        position: absolute
        top: 3.5px
        left: 5px
      i:hover
        color: red
      span
        position: absolute
        font-size: 1rem
        left: 50%
        top: 4px
        margin-left: -16px
      button
        background: #DDD
        color: #08A5F6
        position: absolute
        padding: 1px 10px
        top: 3.5px
        right: 5px
      button:hover
        color: red
    .product-history-remarks-content
    textarea
      width: 100%
      height: 167px
      border: none
      padding: 10px
      resize: none
      font-size: 1.4rem
      border-radius: 3px




