@import "basic/_filterList"
.row
	margin:	0px
.filter-bolck
	padding: 0px 10px 30px!important

.review-container
	.review-box
		padding: 0px 10px
.review-container
	.newcomments
		li
			padding: 15px 0
			border-top: 1px solid #dcdee3
			list-style-type: none
			overflow: auto
.review-container
	.newcomments
		li:first-child
			border-top: none
			padding-top: 0px
.review-container
	.newcomments-photo
		margin: 0
		padding: 0
		float: left
.review-container
	.newcomments-text
		padding-left: 15px
		overflow: hidden
		width: auto
.review-container
	.newcomments-text
		.title-review-comment
			a
				margin-bottom: 5px
				font-size: 0.85rem
				font-weight: bold
				width: auto
				color: #005fb3
.review-container
	.newcomments-text
		.star-name
			margin-top: 5px
.review-container
	.newcomments-text
		.star-name
			.time
				p:first-child
					margin: 5px 0px
.review-container
	.newcomments
		.newcomments-content
			width: 100%
			margin-top: 10px
			float: left
.ct-pagenav
	text-align: center
	padding-left: 10px
#main
	border-bottom: 30px solid #eee
.pagination
	margin-bottom: 0px