@import "basic/_variables"
@import "common/funtions/_ranking"


.review-container
	.box-search-motor
		margin-top: -5px
		background-color: #efefef
		padding: 20px

.review-container
	.box-search-motor
		div
			float: left
.review-container
	.box-search-motor
		.box-fix-auto
			input
				font-size: 1rem
				text-align: left
.review-container
	.review-box
		padding: 0px 10px
.review-container
	.review-block
		border-bottom: 30px solid #eee
.review-container
	.block-box
		padding-bottom: 30px
		margin-top: 30px
		border-bottom: 30px solid #eee

.content-branking
	float: left
	padding: 0px
#main
	padding: 0px
.new-review
	a
		color: #005fb3
.new-review
	.icon-star-bigger
		margin: 0px
.new-review
	.item-product-grid-pars-on-sale-right
		a
			margin: 5px 0px 
.new-review
	.new-review-content
		margin-top: 5px
.review-search
	.review-search-text
		margin-bottom: 10px
.review-search
	.review-search-view
		width: 100%
		-webkit-user-select: text !important
.review-container
	.newcomments-photo
		margin: 0
		padding: 0
		float: left
.review-container
	.newcomments
		li
			padding: 15px 0
			border-top: 1px solid #dcdee3
			list-style-type: none
			overflow: auto
.review-container
	.newcomments
		li:last-child
			padding-bottom: 0px
.review-container
	.newcomments
		li:first-child
			border-top: none
			padding-top: 0px
.review-container
	.newcomments-photo
		a
			font-size: 20px
			font-weight: bold
			width: auto
			color: #005fb3
.review-container
	.newcomments-text
		padding-left: 15px
		overflow: hidden
		width: auto
.review-container
	.newcomments-text
		.title-review-comment
			a
				margin-bottom: 5px
				font-size: 0.85rem
				font-weight: bold
				width: auto
				color: #005fb3
.review-container
	.newcomments
		.newcomments-content
			span
				width: 100%
.review-container
	.newcomments
		.newcomments-content
			span
				a
					color: #005fb3
.review-container
	.newcomments
		.newcomments-content
			width: 100%
			margin-top: 10px
			float: left
.review-container
	.newcomments-text
		.star-name
			margin-top: 5px
.review-container
	.newcomments-text
		.star-name
			.time
				p:first-child
					margin: 5px 0px
.ct-item-content-branking
	max-height: none

.link_ui 
	ul
		padding: 0px
.ct-inspired-by-your
	padding: 0px  10px
	overflow: auto

.ct-inspired-by-your
	.content-branking:nth-child(2)
		margin-bottom: 0px
.item-product-grid
	padding: 5px 5px 0px 5px!important
	width: 100%
.new-review
	.owl-carousel
		padding: 0px 10px 0px 10px