@import "basic/_variables"
@import "common/funtions/_ranking"

.dotted-text2
  .force-limit
    height: 39px

.dotted-text1
  .force-limit
    height: 19.5px

.dotted-text4
  .force-limit
    height: 78px

.icon-star
  float: none

.ct-new-custom-part-on-sale-top
  padding: 10px



