section h1{
	font-size: 48rem;
	font-weight: bold;
	margin:0 0 20px 0;
	text-align: center;
}
section nav ul{
	font-size: 0;
	letter-spacing: -1px;
	text-align: center;
}
section nav ul li{
	display: inline-block;
	white-space: nowrap;
    margin-right: 2%;
}
section nav ul li:last-child{
	margin-right: 0;
}
section nav ul li a{
	font-size: 22rem;
	border:1px #aaa solid;
	color:#aaa;
	border-radius: 10px;
	letter-spacing:0.15rem;
	width: 205px;
	padding:4%;
	background: #fff;
	display: block;
	margin: 0 auto;
}
section nav ul li a:hover{
	background: #eee;
	color: #333;
	border:1px #333 solid;
}
section nav ul li a.active{
	background: #eee;
	color: #333;
	border:1px #333 solid;
}
section .showcase-ui{
	margin:0 0 60px 0;
}
section .showcase-ui ul li{
	height: 115px;
}
.showcase-ui ul li:first-child{
	height: 360px;
}
.showcase-ui ul li:first-child .product .image-box img{
	max-height: 300px;
}
.showcase-ui > ul > li .product .image-box a img{
	vertical-align: top;
}
section .showcase-ui ul li:nth-child(n+8){
	margin-bottom:0;
}
section .puzzle_ui{
	width: 75%;
	margin:0 auto;
}
@media screen and (max-width: 1280px){
	section nav ul li a{
		font-size: 18rem;
		width: 185px;
		padding: 2%;
	}
	section .puzzle_ui{
		width: 85%;
	}
	.showcase-ui ul li:first-child{
		height: 250px;
	}
	.showcase-ui{
		margin:0 0 40px 0;
	}
}
@media screen and (max-width: 1160px){
	section nav ul li a{
		padding: 5px 10px;
		width: auto;
		display: block;
	}
	.showcase-ui ul li:first-child{
		height: 250px;
	}
	.showcase-ui{
		margin:0 0 20px 0;
	}
}
@media screen and (min-width: 661px) and (max-width: 880px){
	section nav ul{
		overflow: hidden;
		zoom:1;
	}
	section nav ul:before, section nav ul:after{
		display: table-cell;
		content:"";
	}
	section nav ul li{
		display: block;
		float: left;
		width: 48%;
		margin:0 2% 20px 0 ;
	}
	section nav ul li:nth-child(2n){
		margin-right:0;
	}
	section nav ul li a{
		padding: 2%;
		width: 96%;
	}
	section .puzzle_ui{
		width: 100%;
	}
}
@media screen and (max-width: 660px){
	section h1{
		font-size: 32rem;
	}
	section nav ul li{
		margin:0 0 20px 0;
		display: block;
	}
	section .showcase-ui{
		margin:0 0 20px 0;
	}
	.showcase-ui ul li .product .image-box img{
		height: 140px;
	}
}