@import url(http://fonts.googleapis.com/earlyaccess/notosanskufiarabic.css);


/* base */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  letter-spacing: 0.15rem;
}
ul li{
  list-style: none;
}
a img {
  border: none;
}
a img:hover{
  opacity: 0.85;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.block{
  margin-bottom: 80px;
}

html {
  height: 100%;
  font-size: 6.25%;
}

body {
  height: 100%;
  color: #333;
  font-size: 14rem;
  font-family: 'Noto Sans TC', sans-serif;
  word-break: break-all;
  word-wrap: break-word;
  -webkit-text-size-adjust: 100%;
}
div, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, ul, li, form, legend, input, textarea, button, table, tr, th, td, article, aside, footer, header, hgroup, nav, section, img, a {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #007eb9;
  text-decoration: none;
}

form, input[type=text], input[type=search], input[type=number], input[type=email], input[type=password], input[type=submit], input[type=button], textarea, select {
  border-radius: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: inherit;
}

input::-webkit-input-placeholder {
  color: #aaa;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.product_stock{
  display: inline-block;
  vertical-align: middle;
  background: url(/assets/images//shared/ws_common_icon.gif) no-repeat 0 -100px;
  width: 45px;
  height: 15px;
}

header {
  height: 55px;
  position: relative;
  z-index: 100;
  padding: 0 2%;
}
header h1 {
  display: inline-block;
  margin: 0px 5px 0 15px;
  vertical-align: middle;
}
header .name {
  display: inline-block;
  font-size: 12rem;
  line-height: 1.1;
  margin: 12px 0 0;
}
header .name span {
  color: #000;
  font-weight: bold;
  margin: 0 2px 0 0;
}
header .menu_btn {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 14px 12px;
}
header .menu_btn i {
  font-size: 22rem;
}
header .menu_btn.active {
  background: #333;
}
header .menu_btn.active i {
  color: #fff;
}

header .menu_items {
  display: inline-block;
}
header .menu_items > ul li{
  display: inline-block;
  position: relative;
  height: 55px;
}
header .menu_items > ul li:hover{
  background: #e61e25;
}
header .menu_items > ul li:hover > a{
  color:#fff;
}
header .menu_items > ul li a {
  font-size: 16px;
  padding: 10px;
  display: block;
  line-height: 35px;
  color:#333;
}
header .menu_items > ul li ul{
  position: absolute;
  top: 52px;
  left: 0;
  display: none;
  border: 5px #e61e25 solid;
  background: #fff;
}
header .menu_items > ul li ul li {
  margin: 0;
  display: block;
  width: 200px;
}
header .menu_items .overlay {
  background: #333;
  opacity: 0.85;
  -webkit-tap-highlight-color: transparent;
}
header.single {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fff), color-stop(100%, #eee));
  background: -moz-linear-gradient(#fff, #eee);
  background: -webkit-linear-gradient(#fff, #eee);
  background: -o-linear-gradient(#fff, #eee);
  background: linear-gradient(#ffffff, #eeeeee);
}

/*　Search bar
==================================================*/
#searchbar{
  background: #232f3e;
  height: 80px;
  display: table;
  padding: 10px;
  width: 100%;
}
#searchbar .left{
  display: table-cell;
  width: 70%;
  vertical-align: middle;
}
#searchbar .search{
  width: 60%;
  margin-left: 30%;
  font-size: 0;
  letter-spacing: -1px;
}
#searchbar .search input[type=search], #searchbar .search input[type=submit]{
  height: 40px;
  vertical-align: middle;
  border-radius:5px; 
}
#searchbar .search input[type=search]{
  width: 80%;
  padding: 0;
  margin: 0;
  border: none;
  font-size: 16px;
}
#searchbar .search input[type=submit]{
  width: 19%;
  margin: 0 0 0 1%;
  padding: 0;
  border: none;
  font-size: 16px;
  background-color: #F7A901;
}
#searchbar .right{
  display: table-cell;
  width: 30%;
  vertical-align: middle;
}
#searchbar .right h3{
  font-size: 24rem;
  color:#fff;
}
#searchbar .right .promotion{
  text-align: center;
}
#searchbar .right .promotion a{
}
#searchbar .right .promotion img{
  height: 60px;
}
footer .background{
  width: 100%;
  height: 255px;
  padding: 20px 0;
  background: #232f3e;
}
footer .tail{
  width: 100%;
  padding: 1%;
  background: #091728;
  text-align: center;
  font-size: 14rem;
  font-weight: bold;
  color:#fff;
}
footer .tail a{
  color:#fff;
}
footer .tail p img{
  width: 200px;
}
footer nav ul{
  font-size: 0;
  letter-spacing: -1px;
}
footer nav ul li{
  display: inline-block;
  vertical-align: middle;
  width: 32%;
  padding: 3% 2%;
  margin: 2% 2% 2% 0;
  font-size: 16rem;
  letter-spacing: 0.15rem;
  border-right: 1px #ddd solid;
}
footer nav ul li:last-child{
  margin:0;
}
footer nav ul li a{
  display: block;
  text-align: center;
  color:#fff;
}
footer .sitemap_ui{
  width: 90%;
  margin: 0 auto;
}
footer .sitemap_ui ul li.big > dl:first-child{
  height: 160px;
}
footer .sitemap_ui ul li.big > dl dd > ul li a img{
  max-width: 120px;
}
.sitemap_ui ul {
  display: table;
  width: 100%;
}
.sitemap_ui ul li {
  display: table-cell;
}
.sitemap_ui ul li > dl dt{
  font-size: 16rem;
  font-weight: bold;
  letter-spacing: 0.15rem;
  color:#fff;
  margin:0 0 10px 0;
}
.sitemap_ui ul li > dl dd.photos{
  text-align: left;
}
.sitemap_ui ul li > dl dd > ul{

}
.sitemap_ui ul li > dl dd > ul li{
  display: block;
  width: 100%;
  font-size: 14rem;
  letter-spacing: 0.15rem;
  color:#fff;
  margin:0 0 5px 0;
}
.sitemap_ui ul li > dl dd > ul li a{
  color:#fff;
}
.gotop{
  position: fixed;
  right:1%;
  bottom:1%;
}
.gotop a {
  background: none repeat scroll 0 0 #666;
  border-radius: 5px;
  color: #fff;
  font-size: 11rem;
  display: block;
  opacity: 0.8;
  padding: 10px 8px;
  text-align: center;
  text-decoration: none;
}
.gotop a:before{
  content: "\e834";
  font-family: fontello;
  margin: 0 3px 0 0;
}

/* contents */
fieldset{
  margin:0 auto 80px ;
}
section{
  margin:0 auto 20px;
}
section legend{
  margin:0 0 10px 0;
  font-size: 20rem;
  font-weight: bold;
  color:#333;
}
section legend a{
  color:#333;
}
section legend img{
  display: none;
}
section legend span{
  font-size: 14rem;
}
span.helper{
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.center-box{
  width: 100%;
  text-align: center;
}
.left-col, .main-col{
  float:left;
}
.left-col{
  padding: 1%;
  width: 20%;
}
.main-col{
  padding: 0 5%;
  width: 80%;
  border-left: 1px #CCC solid;
}
.main-col h1{
  margin:20px 0;
}
.main-col h1 span{
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.main-col h1 .icon{
  display: inline-block;
  vertical-align: middle;
}
.showcase-ui{

}
.showcase-ui ul{
  font-size: 0;
  letter-spacing: -1px;
}
.showcase-ui ul li{
  margin:0 2% 15px 0;
  width: 23%;
  height: 140px;
  float:left;
}
.showcase-ui ul li:nth-child(3n+4){
  margin: 0 0 15px 0;
}
.showcase-ui ul li:first-child .product .left{
  width: 100%;
  margin:0 0 10px 0;
}
.showcase-ui ul li:first-child .product .right{
  width: 100%;
}
.showcase-ui ul li:first-child .product .image-box{
  width: 70%;
  height: auto;
  margin: 0;
  max-height: none;
}
.showcase-ui ul li .left, .showcase-ui ul li .right{
  display: inline-block;
  vertical-align: top;
}
.showcase-ui ul li .product{
  font-size: 0;
  letter-spacing: -1px;
}
.showcase-ui ul li .product .image-box {
  width: 100%;
  max-height: 90px;
}
.showcase-ui ul li .product .left{
  width: 32%;
  margin-right: 5%;
}
.showcase-ui ul li .product .right{
  width: 63%;
}
.showcase-ui ul li .right span{
  font-size: 13rem;
  letter-spacing: 0.15rem;
  display: block;
  margin:0 0 5px 0;
}
.showcase-ui ul li .right span.price{
  color:#ff0000;
}
.showcase-ui ul li .right span.note{
  height: 50px;
  overflow: hidden;
}
.showall{
  text-align: right;
}
.showall a:after{
  font-family: fontello;
  font-size: 12rem;
  content:" \e822";
}

.folder-ui ul li a{
  padding: 5px;
  display: block;
  color:#333;
}
.folder-ui ul li a:hover{
  background: #eee;
}
.folder-ui ul li.leader a{
  font-size: 16rem;
  font-weight: bold;
  display: block;
}
.folder-ui > ul li.leader > a:after{
  font-family: fontello;
  font-size: 12rem;
  line-height: 20px;
  content:"\e823";
  float: right;
}
.folder-ui > ul li.leader.open > a:after{
  content:"\e821";
}
.folder-ui > ul li.leader.open > ul > li > a{
  font-weight: normal;
}
.folder-ui > ul li.leader.open > ul > li > a:before{
  content:"-";
}
.folder-ui > ul li.leader > ul{
  display: none;
  margin:0 0 0 10px;
}

.image-box {
  position: relative;
  height: 140px;
  width: 140px;
  white-space: nowrap;
  text-align: center;
}
.image-box span.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.image-box img {
  display: inline-block;
  vertical-align: middle;
  max-height: 100%;
  max-width: 100%;
}

.puzzle_ui{

}
.puzzle_ui .row {
  *zoom: 1;
  margin:0 0 25px -25px;
}
.puzzle_ui .row:after {
  content: "";
  display: table;
  clear: both;
}
.puzzle_ui [class^="piece-"]{
  padding-left: 25px;
}
.puzzle_ui .row [class^="piece-"]{
  float:left;
}
.puzzle_ui [class^="piece-"] .row{
  margin:0 0 25px 0;
}
.puzzle_ui [class^="piece-"] a{
  display: block;
}
.puzzle_ui [class^="piece-"] img{
  width: 100%;
  display: block;
}
.puzzle_ui [class^="piece-"] a img:hover{
  opacity: 0.85;
}
.puzzle_ui .piece-5{
  width:5%;
}
.puzzle_ui .piece-10{
  width:10%;
}
.puzzle_ui .piece-15{
  width:15%;
}
.puzzle_ui .piece-20{
  width:20%;
}
.puzzle_ui .piece-25{
  width:25%;
}
.puzzle_ui .piece-30{
  width:30%;
}
.puzzle_ui .piece-35{
  width:35%;
}
.puzzle_ui .piece-40{
  width:40%;
}
.puzzle_ui .piece-45{
  width:45%;
}
.puzzle_ui .piece-50{
  width:50%;
}
.puzzle_ui .piece-55{
  width:55%;
}
.puzzle_ui .piece-60{
  width:60%;
}
.puzzle_ui .piece-65{
  width:65%;
}
.puzzle_ui .piece-70{
  width:70%;
}
.puzzle_ui .piece-75{
  width:75%;
}
.puzzle_ui .piece-80{
  width:80%;
}
.puzzle_ui .piece-85{
  width:85%;
}
.puzzle_ui .piece-90{
  width:90%;
}
.puzzle_ui .piece-95{
  width:95%;
}
.puzzle_ui .piece-100{
  width:100%;
}
.puzzle_ui .piece-33{
  width:33.33333%;
}
.puzzle_ui .piece-66{
  width:66.66666%;
}

.rotation-ui {
  max-width: 1200px;
  margin:0 auto;
  position: relative;
}
.rotation-ui .bx-viewport {
    overflow: visible !important;
}
.rotation-ui .bxslider li{
  opacity: 0.2;
    transition: opacity 0.5s;
    pointer-events: none;
}
.rotation-ui .bxslider li.active{
  opacity: 1;
    pointer-events: auto;
}
.rotation-ui .bxslider li a img{
  width: 100%;
}
.rotation-ui .bxslider li a img:hover{
  opacity: 0.8;
}
.rotation-ui .bxslider li h5{
  font-size: 18rem;
  padding: 15px;
}
.rotation-ui .bx-controls .bx-pager{
  text-align: center;
    color: #666;
    padding: 10px 0 0;
}
.rotation-ui .bx-controls .bx-pager a {
    background: #ccc;
    text-indent: -9999px;
    display: block;
    width: 8px;
    height: 8px;
    margin: 0 5px;
    border-radius: 4px;
}
.rotation-ui .bx-controls .bx-pager a.active {
    background: #555;
}
.rotation-ui .bx-controls .bx-pager .bx-pager-item{
  display: inline-block;
}
.rotation-ui .bx-controls-direction a {
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999;
  position: absolute;
  opacity: 0.75;
}
.rotation-ui .bx-controls-direction a.bx-prev{
  color:#fff;
  left: -70px;
    background: url(/assets/images/shared/20160226_2016ss_apparel_controls.png) no-repeat 0 -32px;
}
.rotation-ui .bx-controls-direction a.bx-prev:hover{
  background: url(/assets/images/shared/20160226_2016ss_apparel_controls.png) no-repeat 0 0px;
}
.rotation-ui .bx-controls-direction a.bx-next{
  color:#fff;
  right: -70px;
    background: url(/assets/images/shared/20160226_2016ss_apparel_controls.png) no-repeat -43px -32px;
}
.rotation-ui .bx-controls-direction a.bx-next:hover{
  background: url(/assets/images/shared/20160226_2016ss_apparel_controls.png) no-repeat -43px 0;
}
.descritpion{
  font-size: 16rem;
}
.descritpion.bold{
  font-weight: bold;
}
.padding{
  padding: 15px;
}
.shelves_ui{
  font-size: 0;
  letter-spacing: -1px;
}
.shelves_ui .board{
    background: #333;
    color:#fff;
    font-size: 24rem;
    font-weight: bold;
    width: 23%;
    padding: 2%;
    text-align: center;
}
.shelves_ui .grid{
  padding: 2%;
  border: #CCC 1px solid;
  margin:0 0 -2px 0;
  display: inline-block;
  vertical-align: top;
  font-size: 14rem;
  letter-spacing: 1px;
  height: 460px;
}
.shelves_ui .grid.grid-100{
  width: 100%;
}
.shelves_ui .grid.grid-50{
  width: 50%;
  height: 550px;
}
.shelves_ui .grid .series{

}
.shelves_ui .grid .series .item{

}
.shelves_ui .grid .series .item cite{
  padding: 2%;
  font-size: 0;
  letter-spacing: -1px;
  width: 100%;
  display: block;
  word-break: break-all;
  word-wrap: break-word;
}
.shelves_ui .grid .series .item cite .icon, .shelves_ui .grid .series .item cite span{
  display: inline-block;
  vertical-align: top;
  font-size: 18rem;
}
.shelves_ui .grid .series .item cite .icon{
  padding: 0 2% 1% 0;
  max-width: 20%;
}
.shelves_ui .grid .series .item cite span{
  width: 80%;
  min-height: 74px;
}
.shelves_ui .grid .series .item dl{
  font-size: 0;
  letter-spacing: -1px;
}
.shelves_ui .grid .series .item dl dd, .shelves_ui .grid .series .item dl dt{
  display: inline-block;
  vertical-align: middle;
  padding: 2%;
  width: 50%;
  font-size: 14rem;
}
.shelves_ui .grid .series .item dl dd img, .shelves_ui .grid .series .item dl dt img{
  max-width: 100%;
  max-height: 240px;
}
.shelves_ui .grid .series .item dl a.half{
  font-size: 0;
  letter-spacing: -1px;
  text-align: center;
}
.shelves_ui .grid .series .item dl a.half img{
  max-width: 50%;
  max-height: 240px;
}
.shelves_ui .grid .series .item dl dt a{
  display: block;
}
.shelves_ui .grid.grid-50 .series .item dl dd, .shelves_ui .grid.grid-50 .series .item dl dt{
  width: 100%;
}
.shelves_ui .grid .series .item dl dt{
  font-size: 18rem;
}
.shelves_ui .grid .series .item dl dd{
  font-size: 14rem;
}
@media screen and (min-width: 1450px){
  footer .sitemap_ui{
    width: 70%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1449px){
  footer .sitemap_ui{
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1040px){
  header{
    padding: 0;
  }
  header .menu_btn {
    display: block;
  }
  header .menu_items {
    display: none;
    position: absolute;
    width: 100%;
  }
  header .menu_items > ul {
    padding: 0 8px;
    background: #333;
    position: absolute;
    z-index: 100;
    width: 100%;
  }
  header .menu_items > ul > li:last-child a {
    border: 0;
  }
  header .menu_items > ul li{
    display: block;
    height: auto;
  }
  header .menu_items > ul li:hover{
    background: none;
  }
  header .menu_items > ul li:hover > a{
    color:#fff;
  }
  header .menu_items > ul li a {
    font-size: 16rem;
    color: #fff;
    padding: 15px;
    border-bottom: 1px solid #555;
  }
  header .menu_items > ul li a:after {
    font-family: fontello;
    content: '\e822';
    position: absolute;
    right: 20px;
    color: #888;
  }
  header .menu_items > ul li a.toggle:after {
    font-family: fontello;
    content: '\e823';
  }
  header .menu_items > ul li a.toggle.open:after {
    font-family: fontello;
    content: '\e821';
  }
  header .menu_items > ul li ul{
    position: relative;
    top: 0;
    left: 0;
    border: none;
    background: #333;
  }
  header .menu_items > ul li ul li {
    display: block;
    margin: 0 0 0 14px;
    width: 100%;
  }
  fieldset{
    margin:0 auto 60px ;
  }
  section{
    margin:0 auto 30px;
  }
  #searchbar .search{
    margin:0 0 0 10%;
    width: 80%;
  }
  footer .background{
    height: auto;
  }
  footer .tail{
    padding: 2%;
    font-size: 16rem;
  }
  footer .sitemap_ui ul li{
    display: block;
    width: 100%;
  }
}

@media screen and (max-width: 880px){
  footer .background{
    padding: 0;
  }
  footer nav ul li a{
    font-size: 14rem;
  }
  footer .tail{
    font-size: 12rem;
    height: auto;
  }
  footer .tail p{
    line-height: 1.2;
    font-weight: normal;
  }
  footer .tail p img{
    width: 160px;
  }
  footer .sitemap_ui ul li > dl dt{
    margin:10px 0;
  }
  .gotop{
    right:2%;
    bottom:2%;
  }
  .left-col, .main-col{
    float:left;
    border:none;
  }
  .left-col{
    padding: 2%;
  }
  .main-col{
    padding: 0 5%;
  }
  #searchbar .left{
    width: 100%;
  }
  #searchbar .right{
    display: none;
  }
  #searchbar .search{
    width: 100%;
    margin:0;
  }
  #searchbar .search input[type=search], #searchbar .search input[type=submit]{
    border-radius: 0;
    font-size: 16rem;
  }
  #searchbar .search input[type=search]{
    width: 100%;
  }
  #searchbar .search input[type=submit]{
    min-width: 0;
    width: 40px;
    height: 40px;
    background: url(/assets/images/mobile/w_spng_sp_search_submit.png) #F7A901 no-repeat center;
    -moz-background-size: 16px 16px;
    -o-background-size: 16px 16px;
    -webkit-background-size: 16px 16px;
    background-size: 16px 16px;
    border: none;
    text-indent: -9999pt;
    position: absolute;
    right: 10px;
  }

  .left-col{
    width: 100%;
    margin:0 0 20px 0;
    border-bottom:3px #333 solid;
  }
  .main-col{
    width: 100%;
    border:none;
  }

  .showcase-ui {
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
  }
  .showcase-ui ul li{
    margin-right:5%;
  }
  .showcase-ui ul li:first-child{
    height:auto !important;
  }
  .showcase-ui > ul {
    padding: 0 10px 10px;
    white-space: nowrap;
  }
  .showcase-ui > ul > li {
    padding: 0;
    display: inline-block;
    vertical-align: top;
    width: 50%;
    height: auto !important;
    float:none;
  }
  .showcase-ui > ul > li:last-child {
    padding: 0;
  }
  .showcase-ui > ul > li a {
    display: block;
    overflow: hidden;
  }
  .showcase-ui > ul > li .left, .showcase-ui > ul > li .right{
    display:block;
  }
  .showcase-ui > ul > li .left{
    margin:0 0 10px 0;
  }
  .showcase-ui > ul > li .left .image-box{
    max-width: 100%;
    max-height: 100%;
  }
  .showcase-ui ul li .right span{
    word-break: break-all;
    word-wrap: break-word;
    white-space: initial;
  }
  .showcase-ui > ul > li .product .left, .showcase-ui > ul > li .product .right{
    display:block;
    width: 100%;
  }
  .showcase-ui > ul > li .product .image-box{
    max-height:none;
    width: 140px;
    height: 140px;
  }
  .showcase-ui > ul > li:first-child .product .image-box{
    width: 140px;
    height: 140px;
  }
  .folder-ui ul li a{
    padding: 10px;
  }
  .showall{
    text-align: center;
    margin:1%;
    border:1px #CCC solid;
    background: #eee;
    padding: 2%;
  }

  .puzzle_ui .row{
    margin: 0;
  }
  .puzzle_ui [class^="piece-"] > .row{
    margin: 0 0 10px 0;
  }
  .puzzle_ui [class^="piece-"]{
    width: 100%;
    margin: 0 0 10px 0;
    padding: 0;
  }

  .shelves_ui .grid{
    height: auto;
  }
  .shelves_ui .board{
    width: 40%;
  }
  .shelves_ui .grid.grid-50{
    width: 100%;
  }
  .shelves_ui .grid .series .item dl dd, .shelves_ui .grid .series .item dl dt{
    width: 100%;
  }
}