.double-search-title span {
    font-weight: bold;
    color: #09C; }

.double-search-first {
  background: #dcdee5;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px 10px; }
  .double-search-first h2 {
    display: inline; }
  .double-search-first a {
    padding: 0 10px;
    color: #09C; }

.double-search-second {
  background: #dcdee5;
  margin: 10px 0;
  padding: 5px 10px; }
  .double-search-second h2 {
    display: inline; }
  .double-search-second a {
    padding: 0 10px;
    color: #09C; }
    