.ct-right-below .ct-right-below-body .product-item.product-preview-box{
    position: absolute;
    display: block;
    background: #fff;
    z-index: 998;
    padding: 10px;
    float: none;
    border: 1px solid #dcdee3;
}
.ct-right-below .ct-right-below-body .product-item.product-preview-box ul.product-description{
    height: auto;
}
.ct-right-below .ct-right-below-body .product-item.product-preview-box [class*="col-"]{
    padding-left: 5px;
    padding-right: 5px;
}
.ct-right-below .ct-right-below-body .product-item.product-preview-box .row{
    margin-left: -5px;
    margin-right: -5px;
}
.ct-right-below .ct-right-below-body .product-item.product-preview-box .preview-right{
    float:left;
    padding-left: 5px;
    padding-right: 5px;
}
.ct-right-below .ct-right-below-body .product-item.product-preview-box .preview-left{
    float:left;
    padding-left: 5px;
    padding-right: 5px;
    overflow: hidden;
}
.ct-right-below .ct-right-below-body .product-item.product-preview-box .preview-left .img-box{
    float:left;
    padding: 2% 2% 0 0;
}
.ct-right-below .ct-right-below-body .product-item.product-preview-box .preview-left .img-box.thumbnail-col-2{
    width: 50%;
    height: 67px;
}
.ct-right-below .ct-right-below-body .product-item.product-preview-box .preview-left .img-box.thumbnail-col-3{
    width: 33.3333%;
    height: 42px;
}
.ct-right-below .ct-right-below-body .product-item.product-preview-box .preview-left .img-box.thumbnail-col-2:nth-child(2n){
    padding: 2% 0 0 0;
}
.ct-right-below .ct-right-below-body .product-item.product-preview-box .preview-left .img-box.thumbnail-col-3:nth-child(3n){
    padding: 2% 0 0 0;
}
.ct-right-below .ct-right-below-body .product-item.product-preview-box .preview-left .img-box .thumbnail{
    float:left;
    display: block;
    width:100%;
    height: 100%;
    white-space: nowrap;
    text-align: center;
}
.ct-right-below .ct-right-below-body .product-item.product-preview-box .preview-left .img-box .thumbnail img{
    vertical-align: middle;
    display: inline-block;
}

.price-search {
    padding:10px;
}

.price-search .price_begin,.price_end {
    width:60px;
}

.price-search .slide-down-btn{
    padding:10px;
}

.price-search .btn-danger {
    width:100%;
    height:30px !important;
}

.category-link ul {
    list-style-type: none;
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
}

.category-link ul li{
    padding : 0px;
}



.category-link ul li a{
    display: block;
    padding: 12px 0 12px;
    text-align: center;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    background: #fff;
    color: #000;
    font-weight: bold;
}

.category-link ul li a.active,.category-link ul li a:hover{
    background: #b0b0b0;
}