.ct-brand-left-part {
  width: 200px; }

.ct-brand-right-part {
  padding-left: 20px; }

.brand-table-container {
  width: 100%;
  margin-bottom: 20px;
  overflow: hidden;
  border: 1px solid #dcdee3; }

ul.brand-info-table {
  list-style-type: none; }
  ul.brand-info-table li.history-table-title ul {
    display: flex;
    width: 100%;
    background-color: #777777; }
    ul.brand-info-table li.history-table-title ul li {
      padding: 0;
      color: #fff;
      border-right: 1px solid #dcdee3;
      display: flex;
      min-height: 35px;
      justify-content: center;
      flex-direction: column;
      text-align: center; }
      ul.brand-info-table li.history-table-title ul li:last-child {
        border-right: none; }
  ul.brand-info-table li.brand-table-content ul {
    display: flex;
    background-color: #fff;
    width: 100%;
    border-bottom: 1px solid #dcdee3; }
    ul.brand-info-table li.brand-table-content ul:last-child {
      border-bottom: none; }
    ul.brand-info-table li.brand-table-content ul li {
      color: #000;
      border-right: 1px solid #9fa7b5;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      margin: 5px 0;
      font-size: 16px; }
      ul.brand-info-table li.brand-table-content ul li:last-child {
        border-right: none; }
      ul.brand-info-table li.brand-table-content ul li div.history-table-multi-content-block label {
        color: #005599;
        font-weight: bold; }
        ul.brand-info-table li.brand-table-content ul li div.history-table-multi-content-block label strong {
          color: #000; }
      ul.brand-info-table li.brand-table-content ul li div.history-table-multi-content-block span {
        display: inline-block;
        padding-left: 20px; }
      ul.brand-info-table li.brand-table-content ul li span {
        text-align: center;
        display: flex;
        justify-content: center; }
    ul.brand-info-table li.brand-table-content ul li.table-content-title {
      margin: 0 !important;
      border-right: none;
      background-color: #efefef !important;
      position: relative; }
      ul.brand-info-table li.brand-table-content ul li.table-content-title > span {
        justify-content: flex-start;
        padding: 20px 0; }

/**
 *  Color
 */
.blue-0066c0 {
  color: #0066c0; }

.bold {
  font-weight: bold; }

/**
 *  Element
 */
.ul-menu-ct-box-page-group-select li {
  border: none !important;
  width: 100%; }
.ul-menu-ct-box-page-group-select li.ct-box-page-group-title-text {
  text-align: center; }

.select2-container {
  margin-bottom: 10px; }

.ul-menu-ct-box-page-group-ranking li {
  width: 100%;
  padding: 10px 0 15px 0;
  border-bottom: 1px solid #dcdee3;
  border-top: none !important; }
  .ul-menu-ct-box-page-group-ranking li:last-child {
    border-bottom: none; }
  .ul-menu-ct-box-page-group-ranking li a {
    float: none !important; }
.ul-menu-ct-box-page-group-ranking .btn-brand-ranking {
  height: 20px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center; }
.ul-menu-ct-box-page-group-ranking .ranking-label {
  background-color: #136ec3;
  color: #fff !important;
  border-radius: 2px;
  text-align: center;
  margin: 0 0 5px 20px; }
.ul-menu-ct-box-page-group-ranking .ranking-image {
  width: 100%;
  height: 140px;
  text-align: center;
  display: table;
  overflow: hidden; }
  .ul-menu-ct-box-page-group-ranking .ranking-image figure {
    width: 140px;
    height: 140px;
    display: table-cell;
    vertical-align: middle;
    text-align: center; }
    .ul-menu-ct-box-page-group-ranking .ranking-image figure:hover {
      border: 1px solid #dcdee3; }
    .ul-menu-ct-box-page-group-ranking .ranking-image figure img {
      max-width: 140px;
      max-height: 140px; }
.ul-menu-ct-box-page-group-ranking .ranking-text-disc {
  width: 100%;
  text-align: center;
  margin-bottom: 5px; }
.ul-menu-ct-box-page-group-ranking .ranking-rating {
  margin: 0 20px; }
  .ul-menu-ct-box-page-group-ranking .ranking-rating span {
    margin: 0;
    float: left; }

/**
 *  Right Content
 */
.brand-table-content .table-content-list {
  padding-left: 0; }
  .brand-table-content .table-content-list ul {
    display: inline-block !important; }
    .brand-table-content .table-content-list ul li {
      float: left;
      margin-bottom: 15px;
      padding: 0 10px; }
      .brand-table-content .table-content-list ul li a {
        font-size: 0.85rem; }
.brand-table-content .table-content-tag {
  margin: 15px 0 10px 0 !important; }
  .brand-table-content .table-content-tag ul {
    display: inline-block !important; }
.brand-table-content .table-content-list-autowidth {
  display: inline-block !important;
  background-color: #7d8ca1;
  width: auto;
  height: 25px !important;
  min-height: 25px !important;
  margin: 0 5px 5px 0 !important;
  border-radius: 2px !important;
  float: left !important; }
  .brand-table-content .table-content-list-autowidth .table-content-tag-item {
    display: inline-flex !important;
    padding-left: 5px;
    width: 100%;
    height: 25px; }
    .brand-table-content .table-content-list-autowidth .table-content-tag-item span {
      float: left;
      font-size: 0.85rem;
      color: #fff;
      flex-direction: column; }
    .brand-table-content .table-content-list-autowidth .table-content-tag-item a {
      width: 25px;
      height: 25px;
      text-align: center;
      color: #fff;
      float: right; }
      .brand-table-content .table-content-list-autowidth .table-content-tag-item a:hover {
        color: #000; }

.table-brands .table-brands-title {
  width: 100%;
  background-color: #2d3644;
  color: #fff;
  margin-bottom: 10px;
  padding: 5px 0 5px 15px;
  border-radius: 2px; }
.table-brands .table-brands-list {
  list-style-type: none;
  width: 100%;
  display: inline-block; }
  .table-brands .table-brands-list .table-brands-item {
    width: 12.75%;
    float: left;
    margin-right: 15px;
    margin-bottom: 50px; }
    .table-brands .table-brands-list .table-brands-item a.item-title {
      word-break: break-all;
      word-wrap: break-word; }
    .table-brands .table-brands-list .table-brands-item .table-brands-logo {
      width: 100%;
      display: table;
      overflow: hidden;
      margin-bottom: 10px; }
      .table-brands .table-brands-list .table-brands-item .table-brands-logo a {
        display: table-cell;
        vertical-align: middle;
        text-align: center; }
        .table-brands .table-brands-list .table-brands-item .table-brands-logo a figure.is-hover-border:hover {
          border: 1px solid #b0b0b0;
          transition: all 0.1s ease; }

/*******************************BRAND DISPLACEMENT INDEX******************************************** */
.page-left-part {
  width: 200px; }

.page-right-part {
  width: 200px;
  float: right !important; }

.page-main-part {
  padding: 0 20px;
  margin: 0 0 15px 0; }

.brand-moto-table {
  border: 1px solid #dcdee3;
  width: 100%;
  overflow: hidden; }
  .brand-moto-table .brand-moto-table-title {
    background-color: #7e7e7e;
    color: #fff;
    width: 100%;
    overflow: hidden;
    padding: 10px 0 10px 15px;
    text-align: center; }
  .brand-moto-table .brand-moto-table-content ul {
    width: 100%;
    list-style-type: none; }
    .brand-moto-table .brand-moto-table-content ul li {
      width: 100%;
      float: left;
      padding: 0 15px;
      line-height: 40px; }
      .brand-moto-table .brand-moto-table-content ul li .brand-moto-table-content-left {
        padding: 8px 5px 8px 0;
        color: #000; }
      .brand-moto-table .brand-moto-table-content ul li .brand-moto-table-content-right {
        padding: 8px 5px;
        color: #0066c0; }
        .brand-moto-table .brand-moto-table-content ul li .brand-moto-table-content-right h3.float-left {
          float: left; }
        .brand-moto-table .brand-moto-table-content ul li .brand-moto-table-content-right h3.float-right {
          float: right; }
      .brand-moto-table .brand-moto-table-content ul li:nth-child(2n) .brand-moto-table-content-right {
        background-color: #efefef; }

.ul-menu-ct-box-page-group-displacement {
  text-align: center; }

.blank-box-page-group {
  border: none;
  margin-bottom: 10px !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none; }
  .blank-box-page-group ul.ul-menu-ct-box-page-group {
    padding: 0 !important; }
    .blank-box-page-group ul.ul-menu-ct-box-page-group li {
      border: none !important; }
      .blank-box-page-group ul.ul-menu-ct-box-page-group li a {
        padding: 0 0 7px 0 !important; }

/**
 *  MOBILE LAYOUT
 */
@media all and (max-width: 767px) {
  /**Brand Index */
  .ct-brand-left-part {
    width: 100%; }

  .ct-brand-right-part {
    width: 100%; }

  .table-brands ul.table-brands-list .table-brands-item {
    text-align: center;
    width: 45%; }

  /**Moto Displacement Index */
  .page-left-part {
    width: 100%; }
    .page-left-part .brand-moto-disp-banner ul li {
      display: flex;
      justify-content: center; }

  .page-right-part {
    width: 100%; }

  .page-main-part {
    width: 100%; } }
/**
 *  TABLET LAYOUT
 *
 *  481px to 768px.
 *  Inherits styles from: Mobile Layout.
 */
@media all and (min-width: 768px) and (max-width: 921px) {
  /**Brand Index */
  .ct-brand-left-part {
    width: 100%; }

  .ct-brand-right-part {
    width: 100%; }

  .table-brands ul.table-brands-list .table-brands-item {
    text-align: center;
    width: 25%; }

  /**Moto Displacement Index */
  .page-left-part {
    width: 100%; }

  .brand-moto-disp-banner ul li {
    display: flex;
    justify-content: center; }

  .page-right-part {
    width: 100%; }

  .page-main-part {
    width: 100%; } }

/*# sourceMappingURL=brand.css.map */
