.cart-page-detail-left {
  width: 200px;
  float: right !important; }

.cart-page-detail-right {
  padding: 0 20px 0 0; }

@media (max-width: 992px) {
  .cart-page-detail-right {
    padding: 0; } }
.title-box-cart-page-detail {
  text-align: center; }
  .title-box-cart-page-detail h3 {
    float: none !important; }

.ct-item-product-grid-car-page {
  padding: 10px;
  width: 100%;
  float: left; }

.item-product-grid {
  padding: 10px 19px;
  text-align: center;
  float: left;
  list-style-type: none; }
  .item-product-grid a {
    margin: 0 auto; }
    .item-product-grid a figure {
      width: 140px;
      height: 140px;
      display: table-cell;
      vertical-align: middle;
      border: #CCC 1px solid;
      text-align: center;
      position: relative; }
      .item-product-grid a figure img {
        max-width: 100%;
        max-height: 100%; }
      .item-product-grid a figure .sale-off-icon {
        position: absolute;
        top: 5px;
        left: 5px;
        color: #fff;
        z-index: 2;
        height: 26px; }
        .item-product-grid a figure .sale-off-icon span {
          padding: 0 5px;
          height: 26px;
          background-color: #e61e25;
          float: left;
          line-height: 26px; }
        .item-product-grid a figure .sale-off-icon:before {
          content: "";
          width: 11px;
          height: 26px;
          background: url("https://img.webike.tw/shopping/image/bg-sale-off-left.png");
          float: left; }
        .item-product-grid a figure .sale-off-icon:after {
          content: "";
          width: 11px;
          height: 26px;
          background: url("https://img.webike.tw/shopping/image/bg-sale-off-right.png");
          float: left; }
  .item-product-grid .title-product-item {
    margin-top: 5px;
    width: 100%;
    float: left; }
  .item-product-grid .price {
    font-weight: bold; }

.btn-see-detail-peoduct {
  margin: 10px 0 0 0;
  width: 100%;
  border: 1px solid #e61e25;
  color: red; }
  .btn-see-detail-peoduct:hover {
    background-color: #e61e25;
    color: #fff;
    border: 1px solid #e61e25; }

.item-product-grid-car-page {
  border-bottom: 1px solid #dcdee3; }
  .item-product-grid-car-page a {
    text-align: center; }
  .item-product-grid-car-page label {
    text-align: center; }

.item-product-grid-car-page:last-child {
  border-bottom: none; }

.history-table-container {
  width: 100%;
  overflow: hidden;
  border: 1px solid #dcdee3; }

ul.history-info-table {
  list-style-type: none; }
  ul.history-info-table li.history-table-title ul {
    display: flex;
    width: 100%;
    background-color: #777777; }
    ul.history-info-table li.history-table-title ul li {
      padding: 0;
      color: #fff;
      border-right: 1px solid #dcdee3;
      display: flex;
      min-height: 35px;
      line-height: 35px;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      font-size: 1rem; }
      ul.history-info-table li.history-table-title ul li:last-child {
        border-right: none; }
  ul.history-info-table li.history-table-content ul {
    display: flex;
    background-color: #fff;
    width: 100%; }
    ul.history-info-table li.history-table-content ul.gifts-cart-ui {
      border: 3px #005fb3 solid;
      position: relative; }
      ul.history-info-table li.history-table-content ul.gifts-cart-ui .cover-box {
        display: block;
        position: absolute;
        left: 0%;
        top: 0%;
        width: 100%;
        height: 100%;
        background: #005fb3;
        opacity: 0.3;
        z-index: 100; }
      ul.history-info-table li.history-table-content ul.gifts-cart-ui .center-btn {
        position: absolute;
        vertical-align: middle;
        z-index: 101;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        opacity: 1; }
        ul.history-info-table li.history-table-content ul.gifts-cart-ui .center-btn .btn {
          padding: 5px 60px !important; }
    ul.history-info-table li.history-table-content ul li {
      color: #333333;
      border-right: 1px dotted #9fa7b5;
      display: flex;
      min-height: 35px;
      line-height: 35px;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      margin: 0;
      font-size: 1rem; }
      ul.history-info-table li.history-table-content ul li:last-child {
        border-right: none; }
      ul.history-info-table li.history-table-content ul li h3 {
        margin-bottom: 10px;
        text-align: left; }
      ul.history-info-table li.history-table-content ul li div.history-table-multi-content-block label {
        color: #005599;
        font-weight: bold; }
        ul.history-info-table li.history-table-content ul li div.history-table-multi-content-block label strong {
          color: #000; }
      ul.history-info-table li.history-table-content ul li div.history-table-multi-content-block span {
        display: inline-block;
        padding-left: 20px; }
      ul.history-info-table li.history-table-content ul li span {
        text-align: center;
        justify-content: inherit; }
      ul.history-info-table li.history-table-content ul li:first-child {
        font-size: 0.85rem;
        text-align: left; }
        ul.history-info-table li.history-table-content ul li:first-child span {
          text-align: left; }
    ul.history-info-table li.history-table-content ul:nth-child(2n) {
      background-color: #eee; }
    ul.history-info-table li.history-table-content ul .cover-box {
      display: none; }
  ul.history-info-table .row {
    margin-right: -5px;
    margin-left: -5px; }
  ul.history-info-table [class^=col-] {
    padding: 5px; }

@media (max-width: 992px) {
  ul.history-info-table li.history-table-content ul.gifts-cart-ui .center-btn {
    padding: 5px 10px !important; }
  ul.history-info-table li.history-table-content ul li {
    border-right: 0; }
    ul.history-info-table li.history-table-content ul li:last-child {
      border-bottom: 1px dotted #9fa7b5;
      padding-bottom: 10px; }
  ul.history-info-table li.history-table-content ul:last-child li:last-child {
    border-bottom: 0; } }
.history-transparent-box {
  background-color: #fff;
  width: 100%;
  margin-bottom: 20px;
  overflow: hidden; }

.history-gray-box {
  background-color: #efefef;
  width: 100%;
  margin-bottom: 20px;
  padding: 15px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; }

.history-btn-submit, .history-btn-title, .history-btn-submit2 {
  float: right;
  display: flex;
  justify-content: center;
  flex-direction: column; }

.history-btn-title {
  background-color: #ff6600 !important;
  color: #fff;
  margin-left: 5px; }
  .history-btn-title:hover {
    background-color: #ac2925 !important;
    border-color: #ac2925; }

/**
 *  Right Content - History Estimate List page
 */
.history-box-border {
  border: 1px solid #dcdee3;
  padding: 15px; }
  .history-box-border i {
    color: #008c2e; }
  .history-box-border h3 span {
    color: #e61e25; }

.history-form-head-box {
  width: 70%; }
  .history-form-head-box h3 {
    width: 50%;
    float: left;
    display: inline-block; }

.history-multi-content-estimate {
  padding: 0; }
  .history-multi-content-estimate div.history-content-estimate-block {
    display: flex; }
    .history-multi-content-estimate div.history-content-estimate-block div.history-content-img {
      padding: 0 15px;
      display: table; }
      .history-multi-content-estimate div.history-content-estimate-block div.history-content-img a {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        width: 87px;
        height: 87px; }
        .history-multi-content-estimate div.history-content-estimate-block div.history-content-img a img {
          max-width: 87px;
          max-height: 87px; }
    .history-multi-content-estimate div.history-content-estimate-block .history-content-estimate {
      text-align: left; }
      .history-multi-content-estimate div.history-content-estimate-block .history-content-estimate a h3 {
        font-weight: bold; }
      .history-multi-content-estimate div.history-content-estimate-block .history-content-estimate span {
        display: inline-block;
        text-align: left;
        font-size: 0.85rem;
        width: 100%; }

/**
 *  Right Content - History Estimate Cart
 */
.history-btn-default {
  background-color: #f9f9f9; }

li.history-content-cart-option span input {
  margin-bottom: 5px;
  height: 38px;
  width: 100%;
  background-color: #fff;
  text-align: center; }

/**
 *  Right Content - History Genuine Parts
 */
li.history-genuine-table-content ul li span.blue-text {
  color: #005599; }

.history-genuine-submit-block {
  text-align: center; }

/**
 *  Right Content - History Order Detail
 */
li.history-order-detail-table-content ul li:nth-child(2) span {
  color: #005599;
  font-weight: bold; }

ul.history-table-content-resum-block li:nth-child(1) {
  display: inline-block !important;
  text-align: left !important; }
  ul.history-table-content-resum-block li:nth-child(1) span {
    display: inline-block !important; }
ul.history-table-content-resum-block li:nth-child(2) {
  padding: 0; }
  ul.history-table-content-resum-block li:nth-child(2) ul {
    padding: 10px;
    width: 100%;
    float: left;
    display: inline-block; }
    ul.history-table-content-resum-block li:nth-child(2) ul li {
      width: 100%;
      display: inline-block !important;
      margin: 0;
      border-right: none; }
      ul.history-table-content-resum-block li:nth-child(2) ul li span {
        color: #000;
        font-size: 1.2em;
        font-weight: normal; }
      ul.history-table-content-resum-block li:nth-child(2) ul li span.title {
        float: left; }
      ul.history-table-content-resum-block li:nth-child(2) ul li span.value {
        float: right; }
    ul.history-table-content-resum-block li:nth-child(2) ul li.history-content-final-resum {
      padding-top: 10px;
      border-top: 1px dotted #ddd; }
      ul.history-table-content-resum-block li:nth-child(2) ul li.history-content-final-resum span.history-content-final-price {
        float: right;
        font-weight: bold;
        color: #e61e25; }

.history-btn-submit2 {
  background-color: #0165b6;
  border: none; }
  .history-btn-submit2:hover {
    background-color: #aaa; }

.ct-cart-page-detail-sum {
  width: 100%;
  float: left;
  background-color: #efefef;
  border-top: 1px solid #dcdee3; }
  .ct-cart-page-detail-sum .ul-ct-cart-page-detail-sum {
    width: 100%;
    float: left; }
    .ct-cart-page-detail-sum .ul-ct-cart-page-detail-sum li {
      list-style-type: none; }

.ct-cart-page-detail-sum-right {
  border-left: 1px solid #dcdee3; }
  .ct-cart-page-detail-sum-right ul {
    width: 100%;
    float: left; }
    .ct-cart-page-detail-sum-right ul li {
      padding: 10px 0;
      width: 100%;
      list-style-type: none;
      float: left; }
      .ct-cart-page-detail-sum-right ul li label {
        font-size: 1rem;
        font-weight: bold;
        float: left; }
        .ct-cart-page-detail-sum-right ul li label.note {
          font-size: 0.85rem;
          font-weight: normal;
          color: #e61e25; }
      .ct-cart-page-detail-sum-right ul li span {
        font-size: 1rem;
        float: right; }
      .ct-cart-page-detail-sum-right ul li:last-child {
        border-top: 1px dotted #9fa7b5; }

.ul-cart-page-detail-sum {
  width: 100%;
  display: flex;
  float: left; }
  .ul-cart-page-detail-sum li {
    float: left;
    list-style-type: none;
    padding: 10px; }

.ct-btn-cart-page-detail-sum {
  text-align: right;
  margin: 15px 0; }

.table-page-detail-sum-left {
  width: 100%;
  float: left;
  font-weight: bold; }
  .table-page-detail-sum-left tr {
    margin: 5px 0;
    width: 100%;
    display: table; }
    .table-page-detail-sum-left tr td:nth-of-type(1) {
      width: 20%; }
    .table-page-detail-sum-left tr td:nth-of-type(2) {
      width: 60%; }
    .table-page-detail-sum-left tr td:nth-of-type(3) {
      width: 20%; }
    .table-page-detail-sum-left tr:nth-of-type(3) {
      margin-top: 15px; }

.div-btn-top-cart-page {
  margin: 0 0 10px 0;
  padding: 0;
  width: 100%;
  float: left; }
  .div-btn-top-cart-page .div-btn-top-cart-page-right {
    float: right; }
    .div-btn-top-cart-page .div-btn-top-cart-page-right .btn-quotation {
      margin: 0 0 0 15px;
      width: 200px;
      background-color: #0165b6; }
    .div-btn-top-cart-page .div-btn-top-cart-page-right .btn-increase-purchase {
      border: 1px solid #e61e25;
      color: red; }
      .div-btn-top-cart-page .div-btn-top-cart-page-right .btn-increase-purchase:hover {
        background-color: #e61e25;
        color: #fff;
        border: 1px solid #e61e25; }

.ct-btn-secured {
  padding: 10px 20px !important;
  text-align: center; }
  .ct-btn-secured a {
    margin: 0 auto; }

/**
 *  MOBILE LAYOUT
 */
@media (max-width: 767px) {
  .ct-history-left-part {
    width: 100%;
    padding: 0 10px; }

  .ct-history-right-part {
    padding: 0 10px; }

  /* Right Content - History Estimate Cart */
  .history-content-estimate-block {
    display: inline-block !important; }

  .history-btn-default {
    padding: 0; }

  .toggle-content {
    border: 1px #b7b7b7 dotted;
    padding: 5px; } }
/**
 *  TABLET LAYOUT
 *
 *  481px to 768px.
 *  Inherits styles from: Mobile Layout.
 */
@media all and (min-width: 768px) and (max-width: 921px) {
  .ct-history-left-part {
    width: 100%;
    margin-left: 5px; }

  .ct-history-right-part {
    margin-left: -5px; } }
.cart-image img {
  max-height: 148px;
  object-fit: contain;
  height: 100%;
  width: 100%; }

@media(max-width: 600px) {
  .ct-btn-cart-page-detail-sum .cart-checkout {
    margin-top: 20px !important; }

  ul.history-info-table li.history-table-content ul {
    background-color: #fff !important; }

  .cart-image img {
    max-height: 103px; }

  .cart-image-block {
    padding: 0px !important; } }
@media(min-width: 600px) {
  .fix-height {
    height: 183px; }

  .cart-image-block {
    font-size: 0px;
    height: 188px; }

  .cart-image {
    display: inline-block;
    vertical-align: middle; }

  .cart-image .cover {
    object-fit: cover;
    height: 100%;
    width: 100%; }

  .product-information {
    height: 70px;
    margin-bottom: 10px; }

  .full-name {
    height: 46px;
    overflow: hidden; }

  ul.history-info-table li.history-table-content ul {
    background-color: #fff !important;
    border-top: 1px solid rgba(119, 119, 119, 0.32157);
    padding: 0px !important; }

  ul.history-info-table li.history-table-content ul li {
    border-right: 1px solid rgba(119, 119, 119, 0.32157) !important; }

  ul.history-info-table li.history-table-content ul li:last-child {
    border-right: none !important; }

  ul.history-info-table {
    border-bottom: 0px; }

  .qty-modify, .qty-submit {
    width: 60% !important; }

  .delete-product {
    background: white;
    border: none;
    color: #2289d4;
    width: 60%; }

  .sold_out .delete-product {
    border: 0px; } }
.option-block {
  height: 14px;
  overflow: hidden; }

.sold_out .subtotal, .sold_out .grandtotal {
  text-decoration: line-through; }

.summary-block {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 30px; }

.sold_out input, .sold_out button {
  background-color: transparent;
  border: 1px solid rgba(119, 119, 119, 0.32157); }

.sold_out .delivery-block {
  color: #e61e25; }

.model_number, .summary-block, .option-block, .remark {
  color: #999;
  font-size: 0.75rem !important; }

.summary-block span {
  font-size: 0.75rem !important; }

.delivery-block {
  color: #09C;
  font-size: 0.85rem;
  overflow: hidden;
  height: 38px;
  white-space: nowrap; }

.thumbnail {
  border: 0px; }

.option-block, .option-show {
  float: left; }

.sold_out .delete-product {
  color: #e61e25; }

ul.history-info-table li.history-table-content ul li h3 {
  margin-bottom: 0px !important; }

.estimate_time {
  color: #999999;
  font-weight: normal; }

/*# sourceMappingURL=cartpagedetail.css.map */
