/**
 *  Standard Layout
 */
/* Navigation */
#mainNav {
  background-color: #fff;
  box-shadow: 5px 0 5px #e4e4e4;
  -moz-box-shadow: 5px 0 5px #e4e4e4;
  -webkit-box-shadow: 5px 0 5px #e4e4e4;
  -o-box-shadow: 5px 0 5px #e4e4e4;
  -ms-box-shadow: 5px 0 5px #e4e4e4; }
  #mainNav .nav-left-block {
    padding: 0; }
    #mainNav .nav-left-block .nav-left-title {
      border-bottom: 1px solid #dcdee3;
      padding: 10px 0;
      width: 98%; }
    #mainNav .nav-left-block .nav-left-below {
      padding: 15px 0; }
      #mainNav .nav-left-block .nav-left-below a {
        float: left;
        text-align: center; }
      #mainNav .nav-left-block .nav-left-below h1 {
        padding: 30px 0 0 20px;
        float: none;
        width: auto;
        overflow: hidden; }
  #mainNav .nav-right-secured {
    padding: 10px 0; }
    #mainNav .nav-right-secured ul > li a.logo-secured-img {
      text-align: center; }

/* --navigation */
/* Main content */
.breadcrumb-container {
  padding: 0;
  position: relative; }

ul.table-cart-info {
  list-style-type: none;
  border: 1px solid #dcdee3;
  margin-top: 15px;
  padding: 0; }
  ul.table-cart-info li {
    padding: 5px 5px; }
    ul.table-cart-info li [class*=col-] {
      padding-left: 5px;
      padding-right: 5px; }
    ul.table-cart-info li .row {
      margin-left: -5px;
      margin-right: -5px; }
  ul.table-cart-info > li {
    float: left;
    width: 100%; }
  ul.table-cart-info li.table-cart-title {
    background-color: #787878; }
    ul.table-cart-info li.table-cart-title ul {
      display: flex; }
      ul.table-cart-info li.table-cart-title ul li {
        list-style: none;
        line-height: 2.5em;
        text-align: center;
        vertical-align: middle;
        border-right: 1px dotted #fff;
        color: #fff; }
        ul.table-cart-info li.table-cart-title ul li:last-child {
          border-right: none; }
  ul.table-cart-info li.table-cart-content ul.table-cart-item {
    float: left;
    width: 100%;
    display: flex;
    border-bottom: 1px dotted #dcdee3; }
    ul.table-cart-info li.table-cart-content ul.table-cart-item li {
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      list-style: none;
      line-height: 3em;
      border-right: 1px dotted #dcdee3; }
      ul.table-cart-info li.table-cart-content ul.table-cart-item li:last-child {
        border-right: none; }
      ul.table-cart-info li.table-cart-content ul.table-cart-item li:nth-child(2) {
        text-align: left; }
    ul.table-cart-info li.table-cart-content ul.table-cart-item h2.checkout-product-name {
      color: #005599; }
    ul.table-cart-info li.table-cart-content ul.table-cart-item:nth-child(2n) {
      background-color: #efefef; }
  ul.table-cart-info li.table-cart-resum {
    background-color: #efefef; }
    ul.table-cart-info li.table-cart-resum ul li {
      list-style: none;
      float: left;
      padding: 0; }
      ul.table-cart-info li.table-cart-resum ul li.table-cart-resum-left h3 {
        padding: 15px 0 0 15px; }
      ul.table-cart-info li.table-cart-resum ul li.table-cart-resum-right {
        border-left: 1px solid #dcdee3; }
        ul.table-cart-info li.table-cart-resum ul li.table-cart-resum-right ul li {
          width: 100%;
          padding-top: 15px; }
          ul.table-cart-info li.table-cart-resum ul li.table-cart-resum-right ul li div.resum-title {
            float: left;
            padding-left: 15px; }
          ul.table-cart-info li.table-cart-resum ul li.table-cart-resum-right ul li div.resum-value {
            float: right;
            padding-right: 15px; }
          ul.table-cart-info li.table-cart-resum ul li.table-cart-resum-right ul li.resum-final-value {
            border-top: 1px dotted #dcdee3; }
          ul.table-cart-info li.table-cart-resum ul li.table-cart-resum-right ul li:last-child {
            margin: 0 0 15px; }

@media (max-width: 767px) {
  ul.table-cart-info li.table-cart-resum ul li.table-cart-resum-left {
    padding-bottom: 10px;
    border-bottom: 1px solid #dcdee3; }
  ul.table-cart-info li.table-cart-resum ul li.table-cart-resum-right {
    border-left: none; } }
div.checkout-options {
  padding: 0;
  margin: 15px 0 15px 0;
  border: 1px solid #dcdee3;
  background-color: #fef2e1; }
  div.checkout-options div.checkout-options-title {
    margin-bottom: 0; }
  div.checkout-options div.checkout-options-content {
    background-color: #fef2e1;
    display: table; }
    div.checkout-options div.checkout-options-content div.options-content-title {
      width: 270px;
      padding-left: 20px;
      float: none;
      display: table-cell;
      vertical-align: middle; }
      div.checkout-options div.checkout-options-content div.options-content-title h2 {
        display: table-cell;
        vertical-align: middle; }
    div.checkout-options div.checkout-options-content div.options-content-main {
      border-left: 1px solid #dcdee3;
      background-color: #fff;
      padding-top: 5px;
      padding-bottom: 15px; }
      div.checkout-options div.checkout-options-content div.options-content-main ul {
        list-style-type: none; }
        div.checkout-options div.checkout-options-content div.options-content-main ul li {
          float: left;
          width: 50%;
          padding: 10px 0 0 15px; }
      div.checkout-options div.checkout-options-content div.options-content-main.checkout-option-style1 ul li.option-style1-title {
        width: 100%; }
      div.checkout-options div.checkout-options-content div.options-content-main.checkout-option-style1 ul li span {
        color: #e61e25;
        display: inline-block; }
      div.checkout-options div.checkout-options-content div.options-content-main.checkout-option-style1 ul li label > h3 {
        display: inline-block;
        color: #005599; }
      div.checkout-options div.checkout-options-content div.options-content-main.checkout-option-style2 .checkout-option-short-width {
        width: 23.5% !important; }
      div.checkout-options div.checkout-options-content div.options-content-main.checkout-option-style2 .checkout-option-medium-width {
        width: 50% !important; }
      div.checkout-options div.checkout-options-content div.options-content-main.checkout-option-style2 .checkout-option-large-width {
        width: 98% !important; }
      div.checkout-options div.checkout-options-content div.options-content-main.checkout-option-style2 .option-txt-white-box {
        background-color: #fff !important; }
      div.checkout-options div.checkout-options-content div.options-content-main.checkout-option-style2 ul li {
        width: 100%; }
        div.checkout-options div.checkout-options-content div.options-content-main.checkout-option-style2 ul li.checkout-option-txt .inline label {
          text-align: left;
          display: inline-block;
          margin-bottom: 5px;
          vertical-align: middle;
          line-height: initial;
          float: none; }
          div.checkout-options div.checkout-options-content div.options-content-main.checkout-option-style2 ul li.checkout-option-txt .inline label span {
            color: #e61e25;
            margin-right: 5px; }
        div.checkout-options div.checkout-options-content div.options-content-main.checkout-option-style2 ul li.checkout-option-txt .inline input[type="text"] {
          border: 1px solid #dcdee3;
          width: 60%;
          height: 35px;
          padding: 0 10px;
          display: inline-block;
          vertical-align: middle; }
        div.checkout-options div.checkout-options-content div.options-content-main.checkout-option-style2 ul li.checkout-option-txt .inline.inline-top label,
        div.checkout-options div.checkout-options-content div.options-content-main.checkout-option-style2 ul li.checkout-option-txt .inline.inline-top input[type="text"],
        div.checkout-options div.checkout-options-content div.options-content-main.checkout-option-style2 ul li.checkout-option-txt .inline.inline-top textarea {
          vertical-align: top; }
        div.checkout-options div.checkout-options-content div.options-content-main.checkout-option-style2 ul li.checkout-option-txt2 ul li {
          width: 25%;
          float: left;
          padding: 0 10px 0 0; }
          div.checkout-options div.checkout-options-content div.options-content-main.checkout-option-style2 ul li.checkout-option-txt2 ul li input[type="text"] {
            width: 100%; }
          div.checkout-options div.checkout-options-content div.options-content-main.checkout-option-style2 ul li.checkout-option-txt2 ul li.option-txt-white-box {
            width: 100%;
            padding-top: 10px; }
            div.checkout-options div.checkout-options-content div.options-content-main.checkout-option-style2 ul li.checkout-option-txt2 ul li.option-txt-white-box input {
              background-color: #fff; }
          div.checkout-options div.checkout-options-content div.options-content-main.checkout-option-style2 ul li.checkout-option-txt2 ul li select.select2 {
            width: 100%; }
          div.checkout-options div.checkout-options-content div.options-content-main.checkout-option-style2 ul li.checkout-option-txt2 ul li .select2-selection.select2-selection--single {
            height: 35px; }
          div.checkout-options div.checkout-options-content div.options-content-main.checkout-option-style2 ul li.checkout-option-txt2 ul li .select2-selection.select2-selection--single {
            border: 1px solid #dcdee3;
            border-radius: 0px; }
        div.checkout-options div.checkout-options-content div.options-content-main.checkout-option-style2 ul li.checkout-option-txt2 ul.checkout-option-radios li {
          width: 15%;
          float: left; }
          div.checkout-options div.checkout-options-content div.options-content-main.checkout-option-style2 ul li.checkout-option-txt2 ul.checkout-option-radios li input[type="radio"] {
            margin-right: 10px; }
        div.checkout-options div.checkout-options-content div.options-content-main.checkout-option-style2 ul li.checkout-option-txt2 label {
          text-align: left; }
      div.checkout-options div.checkout-options-content div.options-content-main.checkout-option-style2 ul li.checkout-option-policy label {
        font-weight: bold;
        color: #e61e25; }
  div.checkout-options textarea {
    border: 1px solid #dcdee3;
    padding: 10px; }

div.checkout-options.checkout-submit-form {
  border: none;
  border-top: 1px solid #dcdee3;
  background-color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  padding-top: 10px; }
  div.checkout-options.checkout-submit-form .checkout-option-return {
    float: left; }
    div.checkout-options.checkout-submit-form .checkout-option-return a {
      color: #005599; }
  div.checkout-options.checkout-submit-form button {
    float: right; }

.checkout-ct-main {
  margin-top: 0 !important; }
  .checkout-ct-main h3.checkout-form-notice {
    font-weight: bold;
    color: #e61e25 !important; }

.select2-container--default .select2-selection--single {
  background-color: #f5f7fa;
  border: 1px solid #dcdee3;
  height: 35px;
  line-height: 35px; }
  .select2-container--default .select2-selection--single .select2-selection__rendered,
  .select2-container--default .select2-selection--single .select2-selection__arrow {
    line-height: 35px;
    height: 35px; }

/* --main content */
/**
 *  MOBILE LAYOUT
 */
@media all and (max-width: 767px) {
  div.checkout-options div.checkout-options-content div.options-content-title {
    width: 80px; }
  div.checkout-options div.checkout-options-content div.options-content-main.checkout-option-style2 ul li {
    width: 98% !important;
    margin-top: 10px; }
  div.checkout-options div.checkout-options-content div.options-content-main.checkout-option-style2 ul li.checkout-option-txt input[type="text"] {
    width: 98% !important; }
  div.checkout-options div.checkout-options-content div.options-content-main.checkout-option-style2 ul li.checkout-option-txt label {
    width: 100%;
    text-align: left; }
  div.checkout-options div.checkout-options-content div.options-content-main.checkout-option-style2 ul li.checkout-option-txt div {
    float: left;
    width: 100%; } }
/**
 *  TABLET LAYOUT
 *
 *  481px to 768px.
 *  Inherits styles from: Mobile Layout.
 */
@media all and (min-width: 768px) and (max-width: 921px) {
  div.checkout-options div.checkout-options-content div.options-content-title {
    width: 120px; }
  div.checkout-options div.checkout-options-content div.options-content-main.checkout-option-style2 ul li {
    width: 98% !important;
    margin-top: 10px; }
  div.checkout-options div.checkout-options-content div.options-content-main.checkout-option-style2 ul li.checkout-option-txt input[type="text"] {
    width: 98% !important; }
  div.checkout-options div.checkout-options-content div.options-content-main.checkout-option-style2 ul li.checkout-option-txt label {
    width: 100%;
    text-align: left; }
  div.checkout-options div.checkout-options-content div.options-content-main.checkout-option-style2 ul li.checkout-option-txt div {
    float: left;
    width: 100%; } }
@media all and (max-width: 921px) {
  .inline label,
  .inline input[type="text"] {
    display: block;
    width: 100%; }

  div.checkout-options div.checkout-options-content div.options-content-title {
    display: none; }

  ul.table-cart-info li.table-cart-content ul.table-cart-item {
    display: block; } }

/*# sourceMappingURL=checkout.css.map */
