@charset "UTF-8";
div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.4;
  font-size: 0.85rem; }

* > span,
* > a,
* > b,
* > small,
* > strong,
* > s,
* > i {
  font-size: inherit; }

img {
  max-width: 100%;
  max-height: 100%; }

html, body {
  font-family: Helvetica, Arial, Verdana, "Microsoft JhengHei", "微軟正黑體", "PMingLiU", sans-serif;
  font-size: 100%;
  font-weight: 400;
  line-height: 1.4;
  color: #333333;
  background: #ffffff; }

.all-page {
  font-size: 0.85rem;
  line-height: 1.4; }

.section {
  padding: 0px !important; }

label {
  font-weight: 400; }

h1, h2 {
  font-family: Helvetica, Arial, Verdana, Simhei, "Microsoft JhengHei", "微軟正黑體", "PMingLiU", sans-serif; }

h1 {
  font-size: 1.2rem; }

h2, cite {
  font-size: 1rem; }

h3 {
  font-size: 0.85rem; }

p {
  font-size: 0.85rem; }

a {
  color: #333; }

#pagetop a {
  font-size: 1rem; }

header .logo {
  margin-top: 9px;
  margin: 7px 0 0 0; }
  header .logo div {
    font-size: 1rem;
    bottom: auto; }
header .menu_btn {
  position: inherit;
  padding: 12px 17px;
  float: left; }
  header .menu_btn i {
    font-size: 1.5rem; }
  header .menu_btn i:after {
    content: ""; }
header .account-content {
  padding: 10px 10px 5px 10px; }
header .account {
  padding: 10px;
  width: 100%; }
  header .account .count {
    color: #005fb3; }
header .close_btn {
  font-size: 1.2rem; }
header .menu_items .account {
  padding: 0;
  border: 1px solid #dcdee3; }
  header .menu_items .account .name-title {
    background: #e61e25;
    padding: 10px;
    color: #fff; }
  header .menu_items .account .content {
    padding: 10px; }
header .menu_items dl {
  font-size: 1rem !important; }
  header .menu_items dl dt {
    font-size: 1rem !important; }
  header .menu_items dl dd a.toggle:after {
    font-size: 1.2rem !important; }
  header .menu_items dl dd a:after {
    font-size: 1.2rem !important; }
header .menu_items dd {
  font-size: 1rem !important; }
  header .menu_items dd span {
    font-size: 1rem !important; }
  header .menu_items dd a.toggle:after {
    font-size: 1.5rem !important; }
header .menu_items ul li {
  font-size: 1rem !important; }
header .helpdesk {
  float: right;
  margin: 15px 10px 0 0; }
header .menu-icon {
  float: right;
  margin-right: 10px; }

nav.fixed {
  border-top: 4px solid #E61E25;
  position: fixed;
  top: 0px;
  z-index: 9999; }

nav ul li a {
  font-size: 1rem; }

.icon-top-page li a {
  padding: 15px 7px 7px;
  color: #fff; }

#main {
  border-top: 4px solid #E61E25; }
  #main h1.common {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 0 10px;
    padding: 10px; }
  #main h2.common {
    font-size: 1.2rem; }
  #main h3.common {
    font-size: 1rem; }
  #main .model_top .machine .photo .slider li div span {
    font-size: 1.2rem; }
  #main .mybike_log .mybike_reg {
    margin: 0 0 10px 0px; }
    #main .mybike_log .mybike_reg div a {
      font-size: 1rem; }
  #main .mybike_log .rating_all .title {
    font-size: 1rem; }
  #main .mybike_log .rating_all table td p {
    font-size: 1rem; }

.menu-icon .icon-area {
  cursor: pointer;
  position: relative;
  padding: 0; }
  .menu-icon .icon-area:hover ul.list {
    display: block;
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100); }
  .menu-icon .icon-area img {
    width: 32px;
    height: 32px; }
  .menu-icon .icon-area ul.list {
    position: absolute;
    top: 115%;
    right: 30%;
    background: #fff;
    width: 120px;
    border: 1px #777 solid;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    filter: alpha(opacity=0);
    -webkit-transition: 200ms ease;
    -moz-transition: 200ms ease;
    -o-transition: 200ms ease;
    transition: 200ms ease; }
    .menu-icon .icon-area ul.list.active {
      display: block; }
    .menu-icon .icon-area ul.list li {
      list-style: none;
      float: none;
      border-top: 1px #777 solid;
      margin: 0; }
      .menu-icon .icon-area ul.list li:first-child {
        border-top: none; }
      .menu-icon .icon-area ul.list li:focus {
        background: #e61e25; }
      .menu-icon .icon-area ul.list li a {
        padding: 5px 10px;
        display: block;
        color: #333; }
        .menu-icon .icon-area ul.list li a:hover, .menu-icon .icon-area ul.list li a:focus {
          background: #e61e25 !important;
          color: #fff; }
.menu-icon .glyphicon-user {
  margin-top: 15px; }

.account-icon {
  width: 32px;
  height: 32px;
  display: block;
  text-align: center;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  font-size: 0;
  padding: 0 !important; }
  .account-icon span.helper {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    font-size: 0.5rem; }
  .account-icon span.text {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.5rem; }
  .account-icon.btn {
    padding: 2px 2px; }

#search {
  display: none; }
  #search .left div select {
    font-size: 1rem; }
  #search .left ul li input[type=search] {
    font-size: 1rem; }
  #search .right a {
    font-size: 1rem;
    padding: 14px 0 0 0; }

#search.active {
  display: block !important; }

footer {
  color: #d7dbe2; }
  footer .copyright {
    line-height: 24px;
    padding: 10px 30px 0px 30px;
    color: #d7dbe2; }
  footer .menu p a {
    color: #88b0ff !important; }
  footer .menu {
    padding: 15px 30px; }
  footer .menu ul li, footer footer.single .s_menu ul li {
    font-size: 1rem; }
  footer small {
    font-size: 1rem !important; }

.modal .inner .title {
  font-size: 1rem; }
  .modal .inner .title .close {
    font-size: 1rem; }

.button_ui a, .button_ui input[type=submit], .button_ui input[type=button] {
  font-size: 1rem; }

.select2-container--default {
  margin-bottom: 5px; }
  .select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #e61e25;
    color: #fff; }
  .select2-container--default .select2-selection--single {
    border-radius: 0px; }

.model_search .select2-container--default .select2-selection__arrow {
  height: 44px !important; }

.select2-container .select2-selection--single {
  height: 30px; }
  .select2-container .select2-selection--single .select2-selection__rendered {
    line-height: 30px; }

.model_search .select2-container .select2-selection--single {
  height: 44px; }
  .model_search .select2-container .select2-selection--single .select2-selection__rendered {
    line-height: 44px; }
.model_search .select2-container--default {
  margin-bottom: 10px; }
.model_search .arrow .select2-container--default {
  margin-bottom: 0px; }

.motor-search-load-container {
  display: none;
  position: absolute;
  top: 8%;
  right: 0%; }
  .motor-search-load-container .md-floatingCirclesG {
    -webkit-transform: scale(0.3); }

.breadcrumbs {
  background: #efefef;
  padding: 5px 0px; }

.breadcrumbs ul li {
  background: white;
  font-size: 0.85rem;
  margin: 0 12px 0 0 !important; }
.breadcrumbs ul li:after {
  border-top: 15px solid transparent !important;
  border-left: 6px solid white; }
.breadcrumbs ul li:before {
  border-width: 16px 0 12px 6px !important;
  border-color: white transparent; }

.link_ui a {
  font-size: 1rem; }
.link_ui a:after {
  font-size: 1.2rem; }
.link_ui ul {
  padding-bottom: 20px; }

.item-product-grid .title-product-item-top {
  font-weight: bold;
  display: flex; }
  .item-product-grid .title-product-item-top span {
    color: #005fb3; }
.item-product-grid .normal-text {
  argin-top: 5px;
  width: 100%;
  font-size: 0.85rem;
  text-align: left;
  float: left;
  word-break: break-all;
  word-wrap: break-word; }

.no-margin-horizontal {
  margin-left: 0 !important;
  margin-right: 0 !important; }

.ct-new-custom-part-on-sale-top {
  padding: 0px 0px 20px; }

.common-motor-search .form_ui {
  border: 0px !important;
  padding: 0px 0px 10px 0px !important; }

.section .common {
  overflow: hidden; }
  .section .common a {
    border: 0px;
    background: white;
    position: initial;
    display: initial;
    text-decoration: underline;
    font-size: 0.85rem;
    padding-left: 10px;
    margin-left: 0px; }

.tab_ui .btn {
  border: 0px;
  padding: 0 10px !important; }

.head-motor-search {
  position: initial !important; }

#main .category-content {
  border-bottom: 30px solid #eee; }

.btn-sub {
  color: #333333;
  background-color: #ffed00;
  border-color: #ccc; }
  .btn-sub:hover {
    background-color: #eedc4d; }

.btn-facebook {
  color: #fff;
  background-color: #3b5998;
  border-color: #3b5998; }
  .btn-facebook:hover {
    color: #fff;
    background-color: #324b81; }

body li {
  list-style: none; }

.all-page {
  padding: 50px 0 132px 0; }

.all-page .f-content {
  width: 100%;
  background: #29303b;
  position: fixed;
  bottom: 0;
  padding: 5px 20px;
  color: #fff;
  z-index: 99;
  border-top: 1px solid #4a5360; }

.all-page .f-content p {
  font-size: 0.85rem;
  margin-bottom: 3px; }

.all-page .f-content span {
  float: right; }

.all-page .f-content span .total {
  color: #d82435; }

.all-page .f-content .button {
  padding: 5px 0;
  border-top: 1px solid #dcdee5; }

.all-page .f-content button {
  color: #222b3f;
  font-size: 1rem;
  float: left;
  background: #f3f4f9;
  border: none;
  border-radius: 5px;
  padding: 7px 10px; }

.all-page .f-content .f-return {
  color: #222b3f;
  font-size: 1rem;
  float: left;
  background: #f3f4f9;
  border: none;
  border-radius: 5px;
  padding: 7px 10px; }

.all-page .f-content button i {
  margin-right: 5px; }

.all-page .f-content .f-send {
  background: #e34149;
  color: #fff;
  float: right;
  width: 50%; }

.all-page .title p {
  text-align: center;
  height: 30px;
  background: #dcdee5;
  font-size: 1.2rem;
  padding: 3px;
  font-weight: bold; }

.all-page .content {
  padding: 0px 0px 150px 0px; }

.all-page .content .commodity-list {
  margin: 20px 0 0 0;
  border-top: #e34149 solid 1px; }

.all-page .content .commodity-title {
  position: relative;
  top: 20px;
  background: #e34149;
  width: 30%;
  height: 25px;
  border-radius: 5px 5px 0 0; }

.all-page .content .commodity-title p {
  text-align: center;
  font-size: 1rem;
  padding-top: 3px;
  color: #fff; }

.all-page .content .commodity-list ul li {
  background: #f3f4f9;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #dcdee5; }

.all-page .content .commodity-list .left {
  padding: 0px 15px;
  float: left;
  width: 35%; }

.all-page .content .commodity-list img {
  height: 100px;
  margin: 0 auto;
  display: block; }

.all-page .content .commodity-list .right {
  padding: 0 15px 0 0;
  height: 80px;
  float: left;
  width: 65%; }

.all-page .content .commodity-list .right h2 {
  font-size: 1rem;
  font-weight: bold; }

.all-page .content .commodity-list .about {
  padding: 0 15px 0 0; }

.all-page .content .commodity-list .about p {
  display: inline-block; }

.all-page .content .commodity-list .about .price {
  float: right; }

.all-page .content .commodity-list .total {
  background: #f3f4f9;
  border-bottom: 2px solid #dcdee5;
  padding: 0 15px; }

.all-page .content .commodity-list .total p {
  line-height: 1.6; }

.all-page .content .commodity-list .total .point {
  border-bottom: 2px solid #dcdee5;
  padding: 5px 0; }

.all-page .content .commodity-list .total .total-price {
  padding: 5px 0; }

.all-page .content .commodity-list .total .total-price span {
  float: right; }

.pay-check {
  margin: 30px 0 0 0; }

.pay-check .pay-check-total {
  margin: 5px auto;
  display: block;
  width: 25%; }

.pay-check .pay-check-total h2 {
  text-align: center;
  font-weight: bold; }

.pay-check ul {
  background: #4a5360;
  padding: 5px 10px; }

.pay-check ul li {
  float: left;
  width: 60px;
  margin: 0 2.5%; }
  @media all and (max-width: 480px) {
    .pay-check ul li {
      margin: 0 4.8%; } }
  @media all and (max-width: 375px) {
    .pay-check ul li {
      margin: 0 4%; } }
  @media all and (max-width: 360px) {
    .pay-check ul li {
      margin: 0 3.6%; } }
  @media all and (max-width: 320px) {
    .pay-check ul li {
      margin: 0 2.5%; } }

.pay-check ul li div {
  height: 61px;
  background: #f3f4f9;
  border-radius: 50px; }

.pay-check ul li div img {
  width: 80%;
  margin: 10%; }

.pay-step {
  margin: 20px 0; }

.pay-step ul li {
  background: #e34149;
  border-bottom: 1px solid #f3f4f9;
  padding: 5px; }

.pay-step ul li p {
  display: inline-block;
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px; }

.pay-step ul .checkAgree-content {
  background: #dcdee5;
  padding: 10px; }

.pay-step ul .remark-content {
  background: #dcdee5;
  padding: 10px; }
  .pay-step ul .remark-content textarea {
    width: 100%;
    height: 100px;
    padding: 5px;
    border-radius: 3px; }

.pay-step ul .checkAgree-content p {
  font-size: 1rem;
  color: black;
  display: inline-block;
  padding: 3px 5px; }

.pay-step ul .checkAgree-content .contact-detail {
  float: right;
  color: #005fb3;
  line-height: 2; }

.pay-step ul .checkAgree-content .contact-detail i {
  padding: 5px; }

.pay-step ul form {
  padding: 5px 10px; }

.pay-step ul .remark textarea {
  resize: none;
  width: 100%;
  height: 100px;
  padding: 5px;
  border-radius: 3px; }

.pay-step .pay-method {
  width: 100%; }

.pay-step ul .pay-method a .fa-chevron-right {
  transition: 0.5s; }
.pay-step ul .pay-method a .fa-chevron-right.open {
  transform: rotate(90deg);
  transition: 0.5s; }
.pay-step ul .pay-receipt a .fa-chevron-right {
  transition: 0.5s; }
.pay-step ul .pay-receipt a .fa-chevron-right.open {
  transform: rotate(90deg);
  transition: 0.5s; }
.pay-step ul .pay-address a .fa-chevron-right {
  transition: 0.5s; }
.pay-step ul .pay-address a .fa-chevron-right.open {
  transform: rotate(90deg);
  transition: 0.5s; }
.pay-step ul .checkAgree-content input[type=checkbox] {
  height: 15px;
  width: 15px; }
.pay-step ul .pay-method-content {
  padding: 0;
  background: #fff; }
  .pay-step ul .pay-method-content .pay-method-bt-box a {
    position: absolute;
    bottom: -40px;
    right: 8px; }
  .pay-step ul .pay-method-content .pay-method-bt-box {
    padding: 0 10px;
    margin: 10px 0; }
  .pay-step ul .pay-method-content button {
    width: 47%;
    height: 35px;
    border: none;
    background: #dcdee5;
    border: 1px solid #4a5360;
    border-radius: 5px;
    margin: 5px 1% 35px 1%; }
  .pay-step ul .pay-method-content button.open {
    background: #21aa93;
    color: #fff;
    border: 1px solid #21aa93; }
  .pay-step ul .pay-method-content span {
    color: #318acc; }
  .pay-step ul .pay-method-content i {
    color: #318acc;
    font-size: 0.85rem;
    float: none; }
  .pay-step ul .pay-method-content .pay-method-bt {
    position: relative;
    display: inline; }
.pay-step ul .pay-method-credit-card {
  padding: 10px;
  background: #dcdee5;
  display: none; }
  .pay-step ul .pay-method-credit-card span {
    display: block;
    text-align: center; }
  .pay-step ul .pay-method-credit-card button {
    width: 94%;
    margin: 5px 2%;
    background: #fff;
    color: #4a5360; }
  .pay-step ul .pay-method-credit-card a {
    color: #318acc;
    float: right;
    margin: 5px 10px; }
  .pay-step ul .pay-method-credit-card p {
    color: #4a5360;
    font-size: 0.8rem;
    text-align: justify;
    padding: 5px 0 0 0;
    margin: 0 5px; }
  .pay-step ul .pay-method-credit-card .pay-method-credit-card-L {
    width: 50%;
    float: left; }
    .pay-step ul .pay-method-credit-card .pay-method-credit-card-L span {
      color: #000; }
  .pay-step ul .pay-method-credit-card .pay-method-credit-card-R {
    width: 50%;
    float: left; }
    .pay-step ul .pay-method-credit-card .pay-method-credit-card-R span {
      color: #000; }
  .pay-step ul .pay-method-credit-card .layaway-payment-pre-area span {
    text-align: left;
    display: initial; }

.pay-receipt-content {
  padding: 0px !important; }
  .pay-receipt-content .pay-receipt-bt-box {
    padding: 5px 10px;
    background: #fff; }
    .pay-receipt-content .pay-receipt-bt-box button {
      width: 100%;
      background: #dcdee5;
      border: 1px solid #4a5360;
      border-radius: 5px;
      padding: 7px;
      margin: 5px 0; }
    .pay-receipt-content .pay-receipt-bt-box .open {
      background: #21aa93;
      color: #fff;
      border: 1px solid #21aa93; }
  .pay-receipt-content .pay-receipt-mail-green {
    padding: 10px;
    background: #dcdee5; }
    .pay-receipt-content .pay-receipt-mail-green input {
      border: none;
      border: 1px solid #aaa;
      border-radius: 3px;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
      padding: 5px 10px;
      margin: 5px 0;
      width: 100%; }
    .pay-receipt-content .pay-receipt-mail-green p {
      font-size: 0.85rem;
      color: #000;
      margin: 0; }
    .pay-receipt-content .pay-receipt-mail-green span {
      font-size: 0.85rem;
      color: #21aa93;
      margin: 0; }
    .pay-receipt-content .pay-receipt-mail-green a {
      color: #318acc; }
  .pay-receipt-content .pay-receipt-donate {
    display: none;
    padding: 10px;
    background: #dcdee5; }
    .pay-receipt-content .pay-receipt-donate .pay-receipt-radio {
      position: relative;
      margin-bottom: 5px; }
      .pay-receipt-content .pay-receipt-donate .pay-receipt-radio input[type=radio] {
        width: 20px;
        height: 20px;
        margin: 0 10px; }
    .pay-receipt-content .pay-receipt-donate .pay-receipt-radio span {
      font-size: 1rem;
      position: absolute;
      top: 0; }
    .pay-receipt-content .pay-receipt-donate h3 {
      font-size: 1rem; }
    .pay-receipt-content .pay-receipt-donate .pay-receipt-mail {
      border-top: solid 1px #fff;
      padding-top: 10px; }
      .pay-receipt-content .pay-receipt-donate .pay-receipt-mail input {
        border: none;
        border: 1px solid #aaa;
        border-radius: 3px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
        padding: 5px 10px;
        margin: 5px 0;
        width: 100%; }
      .pay-receipt-content .pay-receipt-donate .pay-receipt-mail span {
        font-size: 0.85rem;
        color: #21aa93;
        margin: 0; }
      .pay-receipt-content .pay-receipt-donate .pay-receipt-mail p {
        font-size: 0.85rem;
        color: #000;
        margin: 0; }
      .pay-receipt-content .pay-receipt-donate .pay-receipt-mail a {
        color: #318acc; }
  .pay-receipt-content .pay-receipt-input {
    display: none;
    padding: 10px;
    background: #dcdee5; }
    .pay-receipt-content .pay-receipt-input input {
      border: none;
      border: 1px solid #aaa;
      border-radius: 3px;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
      padding: 5px 10px;
      margin: 5px 0;
      width: 100%; }
    .pay-receipt-content .pay-receipt-input .pay-receipt-mail {
      margin-top: 5px;
      padding-top: 10px;
      border-top: solid 1px #fff; }
      .pay-receipt-content .pay-receipt-input .pay-receipt-mail p {
        font-size: 0.85rem;
        color: #000;
        margin: 0; }
      .pay-receipt-content .pay-receipt-input .pay-receipt-mail span {
        font-size: 0.85rem;
        color: #21aa93; }
      .pay-receipt-content .pay-receipt-input .pay-receipt-mail a {
        color: #318acc; }

.pay-address-content {
  padding: 10px; }
  .pay-address-content p {
    margin: 5px 0 0 0; }
    .pay-address-content p i {
      color: #e34149; }
  .pay-address-content input {
    border: none;
    border: 1px solid #aaa;
    border-radius: 3px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    margin: 5px 0;
    width: 100%; }
  .pay-address-content button {
    width: 30.333%;
    background: #dcdee5;
    border: 1px solid #4a5360;
    border-radius: 5px;
    padding: 7px;
    margin: 5px 1%; }
  .pay-address-content .pay-address-time.open {
    background: #21aa93;
    color: #fff;
    border: 1px solid #21aa93; }
  .pay-address-content textarea {
    resize: none;
    width: 100%;
    height: 100px;
    padding: 5px;
    margin: 5px 0;
    border-radius: 3px; }
  .pay-address-content .pay-address-place {
    padding-top: 5px; }
    .pay-address-content .pay-address-place .row {
      margin-right: -5px;
      margin-left: -5px; }
    .pay-address-content .pay-address-place input {
      margin: 0px; }
    .pay-address-content .pay-address-place .form-group {
      margin-bottom: 0px;
      padding-right: 5px;
      padding-left: 5px; }
      .pay-address-content .pay-address-place .form-group select {
        -webkit-appearance: button;
        -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
        -webkit-padding-end: 20px;
        -webkit-padding-start: 2px;
        background-image: url("../../../image/15xvbd5.svg");
        background-position: 97% center;
        background-repeat: no-repeat;
        border: 1px solid #AAA;
        color: #555;
        font-size: inherit;
        overflow: hidden;
        padding: 5px 10px;
        text-overflow: ellipsis;
        white-space: nowrap;
        border-radius: 3px;
        background-color: #fff;
        margin-right: 1.2%; }

.navFixed {
  z-index: 10;
  position: fixed;
  top: 50px;
  left: 0;
  margin-top: 0;
  min-width: 100%;
  opacity: 0.9;
  transition: opacity 0.5s ease-out; }

.pay-check-content .active {
  display: none; }

.swal2-modal a {
  color: #005fb3; }

.option-style1-title {
  padding: 5px; }

#pagetop {
  display: none; }

/*# sourceMappingURL=checkout-new.css.map */
