.table-dealer-list {
  margin-bottom: 0; }
  .table-dealer-list thead tr {
    background-color: #787878;
    color: #fff; }
    .table-dealer-list thead tr th {
      vertical-align: middle;
      padding: 8px 15px; }
    .table-dealer-list thead tr th:nth-child(1) {
      width: 115px; }
    .table-dealer-list thead tr th:nth-child(2) {
      width: 30%; }
  .table-dealer-list tbody tr td {
    padding: 15px;
    vertical-align: middle; }
    .table-dealer-list tbody tr td label {
      width: 100%;
      float: left; }
    .table-dealer-list tbody tr td a {
      font-size: 16px;
      font-weight: bold; }

.thumb-image-dealer-list {
  width: 100px;
  height: 100px; }

.ct-dealer-detail-left {
  float: right !important; }
  .ct-dealer-detail-left .title-main-page {
    margin-bottom: 0; }

.ct-dealer-detail-right {
  float: left;
  padding: 0 20px 0 0; }

.content-car-industry {
  margin-bottom: 20px;
  width: 100%;
  background-color: #efefef;
  float: left; }
  .content-car-industry .title-main-page {
    margin-bottom: 0; }
  .content-car-industry .ct-content-car-industry {
    padding: 20px;
    float: left; }

.thimb-img-car-industry {
  max-width: 300px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  background-color: #fff; }

.ct-content-industry-left {
  width: none !important;
  margin-bottom: 20px !important; }

.ct-content-industry-right {
  padding: 0 0 0 20px; }

.table-industry-right {
  border: 1px solid #dcdee3;
  background-color: #fff;
  margin-bottom: 0; }
  .table-industry-right tbody tr td {
    padding: 12px 8px; }
    .table-industry-right tbody tr td label {
      margin-right: 5px;
      padding: 1px 15px !important;
      min-width: 90px;
      font-size: 0.85rem; }
      .table-industry-right tbody tr td label:hover {
        cursor: default; }
    .table-industry-right tbody tr td .ct-row-table-industry {
      padding: 5px 15px !important; }

.content-infomation-industry {
  margin-bottom: 20px;
  width: 100%;
  background-color: #efefef;
  float: left; }
  .content-infomation-industry .title-main-page {
    border-bottom: none;
    margin-bottom: 0; }
  .content-infomation-industry .ct-content-car-industry {
    padding: 20px;
    float: left; }
  .content-infomation-industry .ct-content-infomation-industry {
    padding: 20px; }
    .content-infomation-industry .ct-content-infomation-industry .ct-content-infomation-industry-left {
      max-width: 186px;
      margin-bottom: 20px; }
      .content-infomation-industry .ct-content-infomation-industry .ct-content-infomation-industry-left span {
        margin-top: 5px;
        width: 100%;
        text-align: center;
        float: left; }
    .content-infomation-industry .ct-content-infomation-industry .ct-content-infomation-industry-right {
      padding: 0 0 0 20px; }

.thumb-img-infomation-industry {
  max-width: 186px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  background-color: #fff; }

.ul-infomation-industry {
  width: 100%;
  padding: 10px 20px;
  background-color: #fff;
  float: left; }
  .ul-infomation-industry li {
    width: 100%;
    list-style-type: none;
    float: left; }
    .ul-infomation-industry li .title-infomation-industry {
      margin-bottom: 10px;
      padding: 10px 0;
      width: 100%;
      border-bottom: 1px solid #dcdee3;
      float: left; }
      .ul-infomation-industry li .title-infomation-industry label {
        padding: 1px 15px !important; }
        .ul-infomation-industry li .title-infomation-industry label:hover {
          cursor: default; }

.box-container-bottom-dealer {
  margin-bottom: 20px;
  padding: 0 10px; }
  .box-container-bottom-dealer .title {
    margin-bottom: 5px;
    padding: 0 5px; }
    .box-container-bottom-dealer .title h2 {
      padding: 10px;
      background-color: #656565;
      color: #fff; }
  .box-container-bottom-dealer ul {
    width: 100%;
    float: left; }
    .box-container-bottom-dealer ul li {
      padding: 5px;
      width: 33.33333%;
      list-style-type: none;
      float: left; }
      .box-container-bottom-dealer ul li label {
        padding: 10px;
        text-align: center;
        font-size: 1.2rem;
        background-color: #e6e6e6;
        color: #909090;
        width: 100%;
        float: left; }
        .box-container-bottom-dealer ul li label.active {
          background-color: #ffcf19;
          color: #000000; }
        .box-container-bottom-dealer ul li label:hover {
          cursor: default !important; }

.ct-dealer-detail-left .map {
  width: 100%;
  height: 260px;
  float: left;
  margin-bottom: 20px; }

.box-banner-dealer-detail {
  width: 100%;
  text-align: center;
  float: left;
  margin-bottom: 20px; }
  .box-banner-dealer-detail a img:hover {
    opacity: 0.7; }

.dealer-btn {
  height: auto !important; }

.dealer-img {
  max-height: 300px; }

@media (max-width: 992px) {
  .ct-dealer-detail-right {
    padding: 0px; }

  .ct-dealer-detail-left {
    padding: 0px; } }
@media (max-width: 767px) {
  .dealer-table {
    padding: 0px !important;
    width: 100% !important; }

  .table-industry-right tbody tr td label {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    display: block; }

  .ct-content-infomation-industry-left {
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important; } }
@media (max-width: 500px) {
  .table-industry-right tbody tr td label {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px; } }
.box-fix-auto {
  width: none !important; }

/*# sourceMappingURL=dealerlist.css.map */
