body{
	position: unset!important;
}
.relieved-shopping ul{
	list-style-type: none;
}
.relieved-shopping li{
	line-height: 42px;
	padding: 0px;
}
.relieved-shopping  .relieved-shopping-authentic-text{
	color:#ffffff;
	background: #9fc5e8;
    padding: 3px;
	text-align: center;
	display: inline-block;
    padding: 5px 10px;
}

.relieved-shopping  .relieved-shopping-rex-text{
	color:#ffffff;
	background: #93c47d;
    padding: 3px;
	text-align: center;
    display: inline-block;
    padding: 5px 10px;
}
.authentic-view{
    position: absolute;
    z-index: 999;
    right: 50%;
    top: 45px;
    background: #fff;
}
.relieved-shopping{
   float: left
}

.relieved-shopping ul li:first-child{
	margin-right: 15px;
}

@media(max-width:760px){
	.relieved-shopping ul li:first-child{
		margin-right: 10px;
	}
    .relieved-shopping{
       float: none
    }
}