.entry h2{
	margin:0 auto;
	text-align: center;
}
#webiquiz {
	width: 800px;
	margin: 0 auto;
	text-align: left;
	line-height: 18px;
	background: #d90114;
}
#webiquiz h3 {
	margin: 20px 0 2px;
}
/* 説明 */
#webiquiz #information {
	width: 720px;
	margin: 20px;
	padding: 20px;
	background: #fff;
}
#webiquiz #information .text {
	margin: 20px 0;
	font-size: 14px;
	line-height: 1.5;
}
#webiquiz #information .attention {
	margin: 0;
}
#webiquiz #information .attention .tit {
	font-size: 14px;
	color: #d90114;
	font-weight: bold;
	border-left: 5px solid #d90114;
	padding: 0 0 0 5px;
	margin: 0 0 5px;
}
#webiquiz #information .attention dl {
	padding: 10px;
	border: 1px dotted #000;
}
#webiquiz #information .attention dl dt {
	font-weight: bold;
	float: left;
}
#webiquiz #information .attention dl dd {
	margin: 0 0 0 11em;
}
#webiquiz #information .attention dl dd a {
	font-weight: bold;
}
/* 本日の問題 */
#webiquiz div#question {
	width: 760px;
	padding: 0 20px;
	margin: 0 0 30px;
}
#webiquiz #question div.white_bg{
	background: #fff;
}
#webiquiz #question div.clearfix > table {
	padding: 20px;
	/*background: #fff;*/
	border-collapse: initial;
}
#webiquiz #question div.clearfix > div.comment {
	width: 245px;
	padding: 10px 20px 10px 0px;
	/*background: #fff;*/
	height: 565px;
}
#webiquiz #ans table p.ans_message > label,
#webiquiz #question div.clearfix > div.comment > p.ans_message > label {
	font-size: 15px;
	font-weight: bold;
	height: 40px;
	overflow: hidden;
	text-overflow: ellipsis;
}
#webiquiz #question div.clearfix > div.comment > p.ans_message {
	padding: 10px;
	border: #ccc 3px solid;
	border-radius: 3px;
	margin: 33px 0 0 0;
	height: 417px;
	overflow: auto;
}
#webiquiz #question div.clearfix > div.comment > .product_btn {
	text-align: center;
	margin: 15px 0;
}
#webiquiz #today > tbody > tr > td {
	vertical-align: top;
	text-align: center;
}
#webiquiz table .tit {
	font-size: 14px;
	font-weight: bold;
	text-align: left;
}
#webiquiz table .tit span {
	color: #d90114;
	font-size: 19px;
	display: block;
	margin: 0 0 5px;
}
#webiquiz table p.choices {
	border: 1px dotted #ccc;
	font-weight: bold;
	margin: 10px 0 15px;
	line-height: 2;
	text-align:center;
}
#webiquiz table .btn_bg {
	display: inline-block;
	text-align: center;
	width:100%;
	padding: 10px 0px;
	margin: 10px 0;
	border: 1px solid #bbbbbb;
	border-radius: 4px;
	border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
}

#webiquiz table .btn_bg p{
	width: 432px;
	padding: 0 10px;
	text-align: left;
}
#webiquiz table .btn {
	text-align: center;
	margin: 10px 0;
}
#webiquiz table .btn ul {
	margin: 0 0 0 -8px;
}
#webiquiz table .btn ul li {
	margin: 0 0 0 8px;
	display:inline;
}
#webiquiz table #hint a {
	color: #095dc4;
	font-size: 14px;
	font-weight: bold;
	background: url(http://img.webike.net/sys_images/ca169/20130628_webiquiz_icon_hint.gif) no-repeat;
	padding: 1px 0 0 50px;
}
#webiquiz #question > table #hint a:hover {
	background: url(http://img.webike.net/sys_images/ca169/20130628_webiquiz_icon_hint_s.gif) no-repeat;
}
/* カレンダー */
#webiquiz #calender {
	width: 760px;
	padding: 0 20px 10px;
}
#webiquiz #calender .week {
	margin: 0 0 0 -10px;
}
#webiquiz #calender .week li {
	float: left;
	margin: 0 0 10px 10px;
	width: 100px;
	height: 30px;
	background: #000;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	border-radius: 8px 8px 0 0;
	line-height: 1.5;
	position: relative;
}
#webiquiz #calender #day {
	margin: 0 0 0 -10px;
}

#webiquiz #calender #day .content{
	display: none;
}

#webiquiz #calender #day li {
	z-index: 1;
	float: left;
	margin: 0 0 10px 10px;
	width: 100px;
	height: 121px;
	background: #FFF;
	position: relative;
}
#webiquiz #calender #day li .cover{
	z-index: 9999;
	width: 100px;
	height: 75px;
	opacity: 0.9;
	position: absolute;
	left: 0;
	top:22px;
}
#webiquiz #calender #day li .cover.answer{
	background: url('{{$photo_path1}}answer.png');
	background-size: 100% 100%;
}
#webiquiz #calender #day li .cover.coming{
	background: url('{{$photo_path1}}coming_soon.png');
	background-size: 100% 100%;
}
#webiquiz #calender #day li {
	z-index: 1;
	float: left;
	margin: 0 0 10px 10px;
	width: 100px;
	height: 121px;
	background: #FFF;
	position: relative;
}
#webiquiz #calender #day li .date {
	padding: 2px 2px 0 5px;
	font-weight: bold;
	font-size: 14px;
	border-bottom: 1px dotted #000;
}
#webiquiz #calender #day li .gray {
	color: #ccc;
	border-bottom: none;
}
#webiquiz #calender #day li img.thum {
	width: 100px;
	margin: 22px 0 0;
	position: absolute;
	left:0;
}
#webiquiz #calender #day li img.thum:hover {
	opacity: 0.8;
}
#webiquiz #calender #day li img.more {
	position: absolute;
	bottom: 5px;
	left: 5px;
}
/* 答え */
form#answer{
	margin:0;
}

form#answer input{
	width:200px;
	height: 40px;
}

form#answer input[type=text]{
	display: none;
}

form#answer p.red_text{
	margin:10px 0 0;
}

#webiquiz #answers .answer{
	z-index: 0;
	display: none;
}
#webiquiz #answers .answer.active{
	display: block;
	position: fixed;
	opacity: 1;
	z-index: 11000;
	left: 50%;
	margin-left: -410px;
	top: 50px;
}

#webiquiz #answers .answer.active div.product_btn{
	margin: 10px auto 0;
	text-align: center;
}
#webiquiz #answers .answer > table{
	width:760px;  
}
#webiquiz #answers .answer {
	background: none repeat scroll 0 0 #FFFFFF;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
	display: none;
	padding: 30px;
}
#webiquiz #answers .answer .tit {
	color: #d90114;
	font-size: 22px;
	line-height: 1.2;
}
#webiquiz #answers .answer .txt {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	margin: 0 0 25px;
}
#webiquiz #answers .answer .pro {
	font-size: 16px;
	font-weight: bold;
	margin: 0 25px 15px;
	line-height: 1.2;
}
#webiquiz #answers .answer .ans_message {
	padding:5px;
	border:#ccc 3px solid;
	border-radius:3px;
	margin:10px 0 0 0;
	height: 335px;
	overflow: auto;
}
#webiquiz #answers .answer .btn a {
	font-size: 13px;
	font-weight: bold;
	color: #000;
	line-height: 2;
	background: url(http://www.webike.net/sys_images/dscom/btn_nothing_200_01.gif) no-repeat;
	width: 200px;
	height: 26px;
	display: block;
	text-align: center;
	margin: 0 auto;
}
#webiquiz #answers .answer .close {
	background: url(http://img.webike.net/sys_images/ca169/20130628_webiquiz_modal_close.png);
	height: 32px;
	width: 32px;
	position: absolute;
	top: 20px;
	right: 20px;
	display: block;
	z-index: 2;
	cursor: pointer;
}
#webiquiz #answers .answer .img {
	width: 400px;
	height: 300px;
	margin: 25px auto 10px;
}
#webiquiz #answers .answer table img {
	left:0;
}

/* プレイヤー */
.player {
	background: #d90114;
	width: 100%;
}
.player a:hover {
	background: #a51320;
	text-decoration: none;
}
.player td {
	text-align: center;
}
/*
.player .play,
.player .playing {
	width: 60px;
	height:60px;
}
.player .play a {
	background:#d90114 url(/assets/images/benefit/event/WebikeGuess/play_btn.png) no-repeat;
	display: block;
	width: 60px;
	height: 60px;
	text-indent:-9999pt;
}
.player .play a:hover {
	background:#a51320 url(/assets/images/benefit/event/WebikeGuess/play_btn.png) no-repeat;
}
*/
.player .playing a{
	background:#a51320;
	text-indent:-9999pt;
	display:none;
}
.player .ans,
.player .ansing{
	width: 60px;
	height:60px;
	border-left: #fff 1px solid;
}
.player .ans a {
	background:#d90114 url(/assets/images/benefit/event/WebikeGuess/answer_btn.png) no-repeat;
	display: block;
	width: 60px;
	height: 60px;
	text-indent:-9999pt;
}
.player .ansing a{
	background:#a51320;
	text-indent:-9999pt;
	display:none;
}
.player .ans a:hover {
	background:#a51320 url(/assets/images/benefit/event/WebikeGuess/answer_btn.png) no-repeat;
}
.player .timer {
	border-left: #fff 1px solid;
	border-right: #fff 1px solid;
	padding: 10px;
}
.player .timer div {
	background: #fff;
}
.player .timer p {
	background: #ffba00;
	height: 15px;
	width: 0;
}
.player .switch {
	padding: 10px;
	width:85px;
}
.player .switch a {
	color: #fff;
	padding: 10px;
	border-radius: 5px;
	display: inline-block;
}
.player .switch a.select {
	background: #a51320;
}
.photo {
	width: 450px;
	height: 340px;
	position: relative;
	background:#fff;
	float:none;
}
.photo img {
	position: absolute;
	z-index:1;
	left:0;
	top:0;
}
.photo div.choices{
	width:100%;
	height:100%;
	z-index: 9999;
}

.photo div.choices div{
	display: block;
	position: absolute;
	width:33.33%;
	height: 33.33%;
	z-index: 999;
	background: none;
	border: none;
	font-size:0px;
}
.photo div.choices div:hover{
	background: #fff;
	opacity:0.4;
	cursor:pointer;
}

.photo div.choices div.onclick{
	background: #B0EDFF;
	opacity: 0.6;
}

.mask {
	position: absolute;
	background: #fff;
	height: 340px;
	width: 450px;
	top:0;
}
.message {
	position: absolute;
	height: 377px;
	width: 500px;
}
.message a:hover img{
	filter: alpha(opacity=100) !important;
	-moz-opacity: 1 !important;
	opacity: 1 !important;
}
/* 答えポップアップ */
#lean_overlay {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #000;
	display: none;
}

/* 終了 */
#webiquiz #information .end {
	font-size:22px;
	line-height:1.2;
	font-weight:bold;
	margin:10px 0 -10px;
}
#webiquiz #information .end span {
	color:#F00;
}
#webiquiz #information .btn {
	text-align:center;
	margin:10px 0 20px;
}

