.ct-history-left-part {
  width: 200px;
  min-height: 200px;
  padding: 0; }
  .ct-history-left-part .history-left-banner {
    height: 80px;
    width: 100%;
    margin-bottom: 15px;
    display: table;
    text-align: center; }

.ct-history-right-part {
  min-height: 200px;
  padding-left: 20px;
  padding-right: 0; }

/*  Right Content
 */
.breadcrumb-container {
  padding: 0;
  position: relative;
  margin-bottom: 15px !important; }

.history-page-state {
  display: flex;
  flex-wrap: wrap; }
  .history-page-state a {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5px; }
    .history-page-state a.first-type {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px; }
      .history-page-state a.first-type:before {
        display: none; }
    .history-page-state a.last-type {
      margin-right: 0;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px; }
      .history-page-state a.last-type:after {
        border: none; }
    .history-page-state a h3 {
      font-size: 1.2rem;
      width: 100%;
      display: inline-flex;
      flex-direction: column; }
    .history-page-state a span {
      font-size: 0.8rem;
      display: inline-flex;
      justify-content: center; }

@media (max-width: 840px) {
  .menu-brand-top-page .ul-menu-brand-top-page li {
    width: 100%;
    min-width: 0; } }
.font-16px {
  font-size: 16px; }

.history-table-container {
  width: 100%;
  margin-bottom: 20px;
  overflow: hidden;
  border: 1px solid #dcdee3; }

ul.history-table-adjust li.history-table-content ul li:nth-child(2) {
  text-align: left; }
  ul.history-table-adjust li.history-table-content ul li:nth-child(2) span {
    text-align: left; }

.history-transparent-box {
  background-color: #fff;
  width: 100%;
  margin-bottom: 20px;
  overflow: hidden; }

.history-gray-box {
  background-color: #efefef;
  width: 100%;
  margin-bottom: 20px;
  padding: 15px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; }

.history-btn-submit, .panel-btn .history-btn-title, .history-btn-submit2 {
  float: right;
  display: flex;
  justify-content: center;
  flex-direction: column; }

.panel-btn {
  float: right; }
  .panel-btn .history-btn-title {
    float: left !important;
    background-color: #ff6600 !important;
    color: #fff;
    margin-left: 5px;
    position: relative;
    z-index: 99; }
    .panel-btn .history-btn-title:hover {
      background-color: #ac2925 !important;
      border-color: #ac2925; }

/* Box outside main content */
.history-box-outside-content {
  top: 210px;
  right: 10px;
  width: 250px !important;
  position: fixed;
  background-color: #fff; }
  .history-box-outside-content ul.ul-menu-ct-box-page-group {
    display: none; }
  .history-box-outside-content .title-box-page-group {
    background-color: #e61e25 !important;
    color: #fff;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    position: relative; }
    .history-box-outside-content .title-box-page-group a {
      color: #fff;
      position: absolute;
      font-size: 1.5em;
      display: flex; }
      .history-box-outside-content .title-box-page-group a.history-btn-chevron-down {
        left: 10px;
        width: 35px;
        height: 35px; }
        .history-box-outside-content .title-box-page-group a.history-btn-chevron-down:hover {
          color: #000; }
      .history-box-outside-content .title-box-page-group a.history-btn-close {
        right: -5px;
        top: -10px;
        background: #000;
        color: #fff;
        border-radius: 50%;
        font-weight: normal; }
        .history-box-outside-content .title-box-page-group a.history-btn-close:hover {
          color: #000;
          background: #fff; }
  .history-box-outside-content .ul-menu-ct-box-page-group li a i {
    color: #e61e25; }
  .history-box-outside-content .ul-menu-ct-box-page-group li a span {
    color: #005599;
    font-weight: bold; }

/**
 *  Right Content - History Estimate List page
 */
.history-box-border {
  border: 1px solid #dcdee3;
  padding: 15px; }
  .history-box-border i {
    color: #008c2e; }
  .history-box-border h3 span {
    color: #e61e25; }

.history-form-head-box {
  width: 70%; }
  .history-form-head-box h3 {
    width: 50%;
    float: left;
    display: inline-block; }

.history-multi-content-estimate div.history-content-estimate-block {
  display: flex; }
  .history-multi-content-estimate div.history-content-estimate-block div.history-content-img {
    padding: 0 15px;
    display: table; }
    .history-multi-content-estimate div.history-content-estimate-block div.history-content-img a {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      width: 87px;
      height: 87px; }
      .history-multi-content-estimate div.history-content-estimate-block div.history-content-img a img {
        max-width: 87px;
        max-height: 87px; }
  .history-multi-content-estimate div.history-content-estimate-block .history-content-estimate {
    padding: 0 10px;
    text-align: left; }
    .history-multi-content-estimate div.history-content-estimate-block .history-content-estimate h2 {
      color: #005599; }
    .history-multi-content-estimate div.history-content-estimate-block .history-content-estimate span {
      display: inline-block;
      text-align: left; }

/**
 *  Right Content - History Estimate Cart
 */
.history-btn-default {
  background-color: #f9f9f9; }

li.history-content-cart-option span input {
  margin-bottom: 5px;
  height: 30px;
  width: 80%;
  background-color: #fff;
  text-align: center; }
li.history-content-cart-option span .history-btn-default {
  width: 80%; }

/**
 *  Right Content - History Genuine Parts
 */
li.history-genuine-table-content ul li span.blue-text {
  color: #005599; }

.history-genuine-submit-block {
  text-align: center; }

/**
 *  Right Content - History Order Detail
 */
li.history-order-detail-table-content ul li:nth-child(2) span {
  color: #005599;
  font-weight: bold; }

ul.history-table-content-resum-block li {
  padding: 0; }
  ul.history-table-content-resum-block li ul {
    padding: 10px; }
  ul.history-table-content-resum-block li:nth-child(1) {
    display: inline-block;
    text-align: left !important; }
    ul.history-table-content-resum-block li:nth-child(1) span {
      display: inline-block !important; }
  ul.history-table-content-resum-block li:nth-child(2) ul {
    width: 100%;
    float: left;
    display: inline-block; }
    ul.history-table-content-resum-block li:nth-child(2) ul li {
      width: 100%;
      display: inline-block !important;
      margin: 0;
      border-right: none; }
      ul.history-table-content-resum-block li:nth-child(2) ul li span {
        color: #000;
        font-size: 1.2em;
        font-weight: normal; }
      ul.history-table-content-resum-block li:nth-child(2) ul li span.title {
        float: left; }
      ul.history-table-content-resum-block li:nth-child(2) ul li span.value {
        float: right; }
    ul.history-table-content-resum-block li:nth-child(2) ul li.history-content-final-resum {
      padding-top: 10px;
      border-top: 1px dotted #ddd; }
      ul.history-table-content-resum-block li:nth-child(2) ul li.history-content-final-resum span.history-content-final-price {
        float: right;
        font-weight: bold;
        color: #e61e25; }

.history-btn-submit2 {
  background-color: #0165b6;
  border: none; }
  .history-btn-submit2:hover {
    background-color: #aaa; }

/**
 *  MOBILE LAYOUT
 */
@media all and (max-width: 767px) {
  .ct-history-left-part {
    width: 100%;
    padding: 0 10px; }

  .ct-history-right-part {
    padding: 0 10px; }

  /* Right Content - History Estimate Cart */
  .history-content-estimate-block {
    display: inline-block !important; }
    .history-content-estimate-block .history-content-img {
      margin: 10px 0;
      width: 100%; } }
/**
 *  TABLET LAYOUT
 *
 *  481px to 768px.
 *  Inherits styles from: Mobile Layout.
 */
@media all and (min-width: 768px) and (max-width: 921px) {
  .ct-history-left-part {
    width: 100%;
    margin-left: 5px; }

  .ct-history-right-part {
    margin-left: -5px; } }

/*# sourceMappingURL=history.css.map */
