.box-container-intruction {
  margin-bottom: 20px;
  width: 100%;
  float: left; }
  .box-container-intruction .title-main-page {
    margin-bottom: 10px; }
  .box-container-intruction .title-main-box {
    margin-bottom: 0; }
  .box-container-intruction .container-intruction-detail {
    padding: 15px;
    width: 100%;
    float: left;
    border: 1px solid #dcdee3; }
    .box-container-intruction .container-intruction-detail .ul-membership {
      width: 100%;
      float: left; }
      .box-container-intruction .container-intruction-detail .ul-membership li {
        margin-bottom: 20px;
        list-style-type: none;
        width: 100%;
        float: left; }
        .box-container-intruction .container-intruction-detail .ul-membership li .title {
          padding: 5px 0;
          margin-bottom: 10px;
          width: 100%;
          border-bottom: 1px solid #dcdee3; }
          .box-container-intruction .container-intruction-detail .ul-membership li .title h2 {
            color: #005fb3;
            font-weight: bold; }

/*# sourceMappingURL=intructions.css.map */
