.container {
  width: auto !important;
  max-width: 1030px !important; }

.header-login-page {
  min-height: 70px;
  border-bottom: 1px solid #e61e25; }

#logo-login-page {
  margin: 25px 0 0 0;
  float: left; }

.container-login-page {
  background-color: #f6f6f6; }

.container-header-login-right {
  margin: 30px 0 0 0;
  float: right; }

.form-login-right {
  margin: 30px 7px !important;
  padding: 20px 30px !important;
  width: 364px;
  float: right !important;
  background-color: #fff;
  text-align: center;
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.1); }
  .form-login-right hr {
    margin: 10px; }
  .form-login-right h1 {
    width: 100%; }
  .form-login-right form {
    width: 100%; }
    .form-login-right form label {
      margin: 10px 0;
      width: 100%; }
      .form-login-right form label input {
        width: 100%;
        border-radius: 0;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        -o-border-radius: 0;
        -ms-border-radius: 0; }
    .form-login-right form .form-group {
      margin: 10px 0;
      width: 100%;
      display: inline-block; }
      .form-login-right form .form-group button {
        width: 100%; }
    .form-login-right form h2 {
      width: 100%; }
    .form-login-right form span {
      width: 100%;
      display: inline-block; }

.form-login-right-create {
  text-align: left !important; }
  .form-login-right-create form {
    width: 100%; }
    .form-login-right-create form label {
      margin: 5px 0 !important;
      width: 100%; }

.title-create-account {
  margin: 5px 0;
  padding: 5px 0;
  color: #e61e25;
  font-weight: bold;
  font-size: 1.2rem;
  border-bottom: 1px solid #949494;
  text-align: left; }

.btn-fast-registration, .btn-login-with-face, .btn-signin {
  font-size: 1.2rem;
  font-weight: bold; }

.form-image-left {
  padding: 30px 10px 30px 10px; }
  .form-image-left img {
    width: 100%; }

#footer-login-page {
  padding: 20px 0;
  width: 100%;
  border-top: 2px solid #999999; }

.img-secured-footer {
  float: right; }

.form-login-right.box-fix-with {
  float: none !important;
  margin: auto !important; }

.container-login-title {
  float: left;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px; }

@media all and (max-width: 992px) {
  .img-secured-footer {
    float: none;
    display: block;
    margin: 20px auto 0; }

  .form-login-right {
    width: 100%; } }
.form-unable-sign a {
  margin: 0 10px; }

/*# sourceMappingURL=login.css.map */
