.mitumori-left-part {
  width: 200px;
  float: left;
  margin: 0;
  padding: 0; }

.mitumori-right-part {
  width: auto;
  float: none;
  overflow: hidden;
  padding: 0 0 20px 20px;
  min-height: 200px; }
  .mitumori-right-part .box-items-group {
    border: none; }
    .mitumori-right-part .box-items-group form.mitumori-form div.form-block .mitumori-form-block-item {
      padding: 25px 35px;
      margin: 0;
      border: 1px solid #dcdee3;
      border-bottom: none;
      position: relative; }
      .mitumori-right-part .box-items-group form.mitumori-form div.form-block .mitumori-form-block-item:last-child {
        border-bottom: 1px solid #dcdee3; }
      .mitumori-right-part .box-items-group form.mitumori-form div.form-block .mitumori-form-block-item .mitumori-number {
        position: absolute;
        left: 25px;
        top: 20px; }
        .mitumori-right-part .box-items-group form.mitumori-form div.form-block .mitumori-form-block-item .mitumori-number h1 {
          margin-top: 5px; }
      .mitumori-right-part .box-items-group form.mitumori-form div.form-block .mitumori-form-block-item .right-block label {
        padding-left: 30px; }
      .mitumori-right-part .box-items-group form.mitumori-form div.form-block .mitumori-form-block-item .below-block span {
        margin-left: 5px; }
    .mitumori-right-part .box-items-group form.mitumori-form div.submit-form {
      text-align: center; }

.box-page-group {
  margin-bottom: 15px;
  width: 100%;
  float: left;
  border: 1px solid #e0e6f0;
  box-shadow: 0 1px 2px #e0e6f0;
  -moz-box-shadow: 0 1px 2px #e0e6f0;
  -webkit-box-shadow: 0 1px 2px #e0e6f0;
  -o-box-shadow: 0 1px 2px #e0e6f0;
  -ms-box-shadow: 0 1px 2px #e0e6f0; }

/* Form mitumori */
.ul-mitumori-form-item-row {
  width: 100%;
  float: left; }
  .ul-mitumori-form-item-row li {
    float: left;
    padding: 0 0 0 35px;
    margin: 5px 0;
    list-style-type: none;
    float: left; }
    .ul-mitumori-form-item-row li .mitumori-form-item-row-left {
      width: 125px;
      float: left; }
      .ul-mitumori-form-item-row li .mitumori-form-item-row-left label {
        margin-top: 5px; }
    .ul-mitumori-form-item-row li .mitumori-form-item-row-right input {
      padding: 0 10px;
      width: 100%;
      height: 30px;
      float: left; }
    .ul-mitumori-form-item-row li .mitumori-form-item-row-right textarea {
      padding: 2px 10px;
      width: 100% !important;
      float: left; }
    .ul-mitumori-form-item-row li .mitumori-form-item-row-right span {
      margin-top: 5px;
      padding: 0 10px;
      float: left; }
  .ul-mitumori-form-item-row label {
    line-height: 25px; }
  .ul-mitumori-form-item-row .box-fix-column-input-min .mitumori-form-item-row-right input {
    width: 50%; }
  .ul-mitumori-form-item-row .box-fix-column-input-max {
    width: 100%; }

.btn-submit-form-mitumori {
  margin: 20px 5px 0;
  min-width: 240px;
  font-size: 1.2rem;
  font-weight: bold; }

.box-info-ct-mitumori {
  padding: 0; }
  .box-info-ct-mitumori .ct-info-text-detail {
    padding: 20px; }

/*** Mobile Layout: ** */
/*** Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. ** */

/*# sourceMappingURL=mitumori.css.map */
