.menu-motogpevent-top .ul-menu-motogpevent-top {
  width: 100%;
  padding: 5px 10px;
  float: left; }
  .menu-motogpevent-top .ul-menu-motogpevent-top li {
    padding: 5px;
    list-style-type: none;
    float: left; }
    .menu-motogpevent-top .ul-menu-motogpevent-top li a {
      border-radius: 2px;
      padding: 5px 10px;
      color: #fff;
      background-color: #2a313c;
      width: 100%;
      text-align: center;
      float: left; }
    .menu-motogpevent-top .ul-menu-motogpevent-top li a:hover {
      background-color: #e61e25; }

.title-moto-gp-event {
  padding: 0 0 10px 0;
  width: 100%;
  float: left; }
  .title-moto-gp-event .ct-title-moto-gp-event-left {
    float: left; }
    .title-moto-gp-event .ct-title-moto-gp-event-left span {
      height: 33px;
      background-color: #e61e25;
      color: #fff;
      line-height: 33px;
      min-width: 290px;
      font-size: 1.2rem;
      float: left; }
    .title-moto-gp-event .ct-title-moto-gp-event-left:before {
      content: " ";
      width: 59px;
      height: 33px;
      float: left;
      background: url("https://img.webike.tw/shopping/image/moto-gp/bg-titile-motogp-left.png"); }
    .title-moto-gp-event .ct-title-moto-gp-event-left:after {
      content: " ";
      width: 21px;
      height: 33px;
      float: left;
      background: url("https://img.webike.tw/shopping/image/moto-gp/bg-titile-motogp-right.png"); }
  .title-moto-gp-event .ct-title-moto-gp-event-right {
    float: right; }

.title-moto-gp-event-border {
  border-bottom: 1px solid #dcdee3; }

.container-moto-gp-event {
  margin: 0;
  width: 100%;
  float: left; }

.container-moto-gp-event2 {
  margin: 10px 0;
  width: 100%;
  float: left; }

.box-motogpevent-top {
  margin-bottom: 20px; }

.ct-activitiesa-award {
  width: 100%;
  float: left; }
  .ct-activitiesa-award li {
    padding: 0 15px;
    width: 31%;
    list-style-type: none;
    float: left;
    background-color: #efefef; }
    .ct-activitiesa-award li:nth-of-type(2) {
      margin: 0 3.5%; }
    .ct-activitiesa-award li h2 {
      margin-bottom: 10px;
      padding: 7px 0;
      font-weight: bold;
      font-size: 1.2rem;
      border-bottom: 1px solid #dcdee3; }
    .ct-activitiesa-award li span {
      margin-bottom: 10px;
      float: left;
      max-height: 150px;
      overflow: auto; }

.ct-guessing-method {
  width: 100%;
  background-color: #d9d9d9;
  padding: 20px; }

.ul-ct-guessing-method {
  width: 100%;
  float: left; }
  .ul-ct-guessing-method li {
    width: 30%;
    list-style-type: none;
    text-align: center;
    vertical-align: middle;
    display: inline-block; }
    .ul-ct-guessing-method li i {
      font-size: 3rem;
      color: #ff7e00; }
    .ul-ct-guessing-method li img {
      max-width: 100%; }
  .ul-ct-guessing-method li:nth-child(2), .ul-ct-guessing-method li:nth-child(4) {
    width: 4%; }

.ct-site-activity-forecast {
  padding: 5px;
  width: 100%;
  border: 3px solid #e61e25;
  float: left; }
  .ct-site-activity-forecast .ul-ct-site-activity-forecast {
    width: 100%;
    display: flex;
    float: left; }
    .ct-site-activity-forecast .ul-ct-site-activity-forecast li {
      list-style-type: none; }
    .ct-site-activity-forecast .ul-ct-site-activity-forecast .ct-site-activity-forecast-left {
      padding-left: 0; }
      .ct-site-activity-forecast .ul-ct-site-activity-forecast .ct-site-activity-forecast-left img {
        width: 1000% !important; }
      .ct-site-activity-forecast .ul-ct-site-activity-forecast .ct-site-activity-forecast-left span {
        margin: 10px 0 0 0;
        width: 100%;
        padding: 5px;
        text-align: center;
        float: left;
        background-color: #efefef; }
    .ct-site-activity-forecast .ul-ct-site-activity-forecast .ct-site-activity-forecast-right {
      padding: 0;
      text-align: center;
      position: relative; }
      .ct-site-activity-forecast .ul-ct-site-activity-forecast .ct-site-activity-forecast-right .title-site-activity-forecast-right {
        font-size: 1.2rem;
        padding: 5px;
        width: 100%;
        background-color: #005fb3;
        color: #fff;
        text-align: center; }
      .ct-site-activity-forecast .ul-ct-site-activity-forecast .ct-site-activity-forecast-right .drop-site-activity-forecast {
        width: 100%;
        float: left; }
        .ct-site-activity-forecast .ul-ct-site-activity-forecast .ct-site-activity-forecast-right .drop-site-activity-forecast li {
          padding: 40px 10px 20px;
          width: 33.3333%;
          float: left; }
          .ct-site-activity-forecast .ul-ct-site-activity-forecast .ct-site-activity-forecast-right .drop-site-activity-forecast li .drop-site-activity-forecast-right {
            padding: 0 0 0 2px; }
          .ct-site-activity-forecast .ul-ct-site-activity-forecast .ct-site-activity-forecast-right .drop-site-activity-forecast li .drop-site-activity-forecast-left span {
            width: 50px;
            height: 28px;
            line-height: 28px;
            text-align: center;
            float: left; }
          .ct-site-activity-forecast .ul-ct-site-activity-forecast .ct-site-activity-forecast-right .drop-site-activity-forecast li .drop-site-activity-forecast-left .champion {
            background-color: #ffaa00; }
          .ct-site-activity-forecast .ul-ct-site-activity-forecast .ct-site-activity-forecast-right .drop-site-activity-forecast li .drop-site-activity-forecast-left .runner-up {
            background-color: #e6e6e6; }
          .ct-site-activity-forecast .ul-ct-site-activity-forecast .ct-site-activity-forecast-right .drop-site-activity-forecast li .drop-site-activity-forecast-left .third {
            background-color: #f26946; }
      .ct-site-activity-forecast .ul-ct-site-activity-forecast .ct-site-activity-forecast-right .note {
        width: 100%;
        margin: 10px 0 0 0;
        width: 100%;
        padding: 5px;
        float: left;
        background-color: #efefef;
        position: absolute;
        bottom: 0; }
        .ct-site-activity-forecast .ul-ct-site-activity-forecast .ct-site-activity-forecast-right .note span {
          float: left; }
        .ct-site-activity-forecast .ul-ct-site-activity-forecast .ct-site-activity-forecast-right .note a {
          float: right; }

.ct-your-scoreboard {
  padding: 20px;
  width: 100%;
  background-color: #efefef;
  float: left; }
  .ct-your-scoreboard li {
    list-style-type: none; }
  .ct-your-scoreboard .item-ct-your-scoreboard-left, .ct-your-scoreboard .item-ct-your-scoreboard-right {
    list-style-type: none; }
    .ct-your-scoreboard .item-ct-your-scoreboard-left h2, .ct-your-scoreboard .item-ct-your-scoreboard-right h2 {
      margin-bottom: 10px;
      width: 100%;
      float: left; }
    .ct-your-scoreboard .item-ct-your-scoreboard-left .ct-item-ct-your-scoreboard-left, .ct-your-scoreboard .item-ct-your-scoreboard-right .ct-item-ct-your-scoreboard-left {
      padding: 20px;
      width: 100%;
      background-color: #fff;
      min-height: 235px;
      float: left; }
      .ct-your-scoreboard .item-ct-your-scoreboard-left .ct-item-ct-your-scoreboard-left .left, .ct-your-scoreboard .item-ct-your-scoreboard-right .ct-item-ct-your-scoreboard-left .left {
        padding: 20px;
        background-color: #efefef; }
        .ct-your-scoreboard .item-ct-your-scoreboard-left .ct-item-ct-your-scoreboard-left .left a, .ct-your-scoreboard .item-ct-your-scoreboard-right .ct-item-ct-your-scoreboard-left .left a {
          margin-top: 10px;
          float: left; }
      .ct-your-scoreboard .item-ct-your-scoreboard-left .ct-item-ct-your-scoreboard-left .right, .ct-your-scoreboard .item-ct-your-scoreboard-right .ct-item-ct-your-scoreboard-left .right {
        margin: 30px 0 0 0;
        text-align: center;
        vertical-align: middle; }
        .ct-your-scoreboard .item-ct-your-scoreboard-left .ct-item-ct-your-scoreboard-left .right .btn-winner, .ct-your-scoreboard .item-ct-your-scoreboard-right .ct-item-ct-your-scoreboard-left .right .btn-winner {
          border: 2px solid #e61e25;
          color: #e61e25;
          width: 100%; }
          .ct-your-scoreboard .item-ct-your-scoreboard-left .ct-item-ct-your-scoreboard-left .right .btn-winner:hover, .ct-your-scoreboard .item-ct-your-scoreboard-right .ct-item-ct-your-scoreboard-left .right .btn-winner:hover {
            background-color: #e61e25;
            color: #fff; }
  .ct-your-scoreboard .item-ct-your-scoreboard-right .table-info-moto-gp {
    padding: 5px;
    width: 100%;
    float: left;
    background-color: #fff;
    min-height: 235px; }
    .ct-your-scoreboard .item-ct-your-scoreboard-right .table-info-moto-gp .ul-table-info-moto-gp {
      width: 100%;
      float: left; }
      .ct-your-scoreboard .item-ct-your-scoreboard-right .table-info-moto-gp .ul-table-info-moto-gp li {
        width: 100%;
        padding: 5px;
        float: left; }
        .ct-your-scoreboard .item-ct-your-scoreboard-right .table-info-moto-gp .ul-table-info-moto-gp li span {
          text-align: center;
          padding: 5px 10px;
          width: 40%;
          border: 2px solid #333333;
          font-weight: bold;
          text-transform: uppercase;
          min-height: 35px;
          float: left; }
        .ct-your-scoreboard .item-ct-your-scoreboard-right .table-info-moto-gp .ul-table-info-moto-gp li .num-percent {
          width: 20%;
          line-height: 35px;
          float: left;
          text-align: center; }
        .ct-your-scoreboard .item-ct-your-scoreboard-right .table-info-moto-gp .ul-table-info-moto-gp li .percent {
          margin: 12px 0;
          width: 40%;
          height: 10px;
          background-color: #efefef;
          float: left; }
          .ct-your-scoreboard .item-ct-your-scoreboard-right .table-info-moto-gp .ul-table-info-moto-gp li .percent .ct-percent {
            width: 0;
            height: 10px;
            background-color: #ff6600;
            float: left; }

.ct-title-moto-gp-event-2 {
  float: left; }

.fb-comments {
  width: 100%; }

.table-motogp-driver-information {
  background-color: #fff; }
  .table-motogp-driver-information thead {
    color: #fff;
    background-color: #787878; }
    .table-motogp-driver-information thead tr th {
      vertical-align: middle; }
  .table-motogp-driver-information tbody tr td {
    vertical-align: middle; }

.lineChart {
  padding: 0; }
  .lineChart h2.title-chart {
    margin-bottom: 10px;
    float: left; }
  .lineChart .ct-lineChart {
    float: left;
    width: 100%;
    background-color: #fff; }

.half-groph {
  margin-top: 20px; }
  .half-groph h2.title-chart {
    margin-bottom: 10px;
    float: left; }
  .half-groph .ct-half-groph {
    float: left;
    width: 100%;
    background-color: #fff; }

.half-groph-left {
  padding-left: 0%; }

.half-groph-right {
  padding-right: 0; }

.promo-calendar-page {
  width: 100%;
  float: left; }
  .promo-calendar-page li {
    padding: 7px;
    list-style-type: none; }
    .promo-calendar-page li a {
      width: 100%;
      background-color: #fff;
      float: left;
      box-shadow: 0px 3px 5px -2px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 0px 3px 5px -2px rgba(0, 0, 0, 0.4);
      -webkit-box-shadow: 0px 3px 5px -2px rgba(0, 0, 0, 0.4);
      -o-box-shadow: 0px 3px 5px -2px rgba(0, 0, 0, 0.4);
      -ms-box-shadow: 0px 3px 5px -2px rgba(0, 0, 0, 0.4); }
      .promo-calendar-page li a figure {
        width: 100%;
        margin-bottom: 10px;
        box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.3);
        -o-box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.3);
        -ms-box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.3); }
        .promo-calendar-page li a figure img {
          width: 100% !important; }
      .promo-calendar-page li a label {
        padding: 0 10px;
        margin-bottom: 15px;
        display: block;
        color: #333333; }
      .promo-calendar-page li a span {
        margin-bottom: 10px;
        padding: 0 10px;
        display: block;
        color: #333333; }
      .promo-calendar-page li a:hover {
        box-shadow: 0px 5px 10px -2px black;
        -moz-box-shadow: 0px 5px 10px -2px black;
        -webkit-box-shadow: 0px 5px 10px -2px black;
        -o-box-shadow: 0px 5px 10px -2px black;
        -ms-box-shadow: 0px 5px 10px -2px black; }

.btn-moto-gp-member {
  min-width: 130px;
  margin: 0 5px;
  font-size: 1rem;
  font-weight: bold; }

.title-main-box-moto-gp {
  margin-bottom: 0 !important; }

.table-moto-boder-none tr {
  background-color: #ddd; }
  .table-moto-boder-none tr th {
    border: none !important;
    font-weight: bold; }

.table-motogp-detail {
  margin-bottom: 0; }

.box-about-the-track-left {
  padding-left: 0; }
  .box-about-the-track-left img {
    width: 100%; }

.box-about-the-track-right {
  padding-right: 0; }
  .box-about-the-track-right table tbody tr td {
    padding: 10px 8px; }

.ct-television-broadcast h1 {
  margin-bottom: 10px;
  float: left; }

.ul-ct-television-broadcast {
  width: 100%;
  float: left; }
  .ul-ct-television-broadcast .item-ct-television-broadcast-left {
    padding-left: 0; }
  .ul-ct-television-broadcast .item-ct-television-broadcast-right {
    padding-right: 0; }

.item-ct-television-broadcast-info {
  background-color: #fff;
  padding: 20px; }

.btn-predicting-championship {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 20px; }

/*# sourceMappingURL=motogpevent.css.map */
