body{
	position: unset!important;
}
.relieved-shopping{
    border: 1px solid #ea6c4b;
	margin-bottom: 20px;
	position: relative;
}
.relieved-shopping ul{
	list-style-type: none;
}
.relieved-shopping li{
	line-height: 42px;
	text-align: center;	
	padding: 0px;
}
.relieved-shopping li:nth-child(2){
	border-right: 1px solid #ea6c4b;
	border-left: 1px solid #ea6c4b;	
}
.relieved-shopping .relieved-shopping-service .relieved-shopping-service-text{
	color:#ea6c4b;
}
.relieved-shopping  .relieved-shopping-authentic-text{
	color:#ffffff;
	background: #9fc5e8;
    padding: 3px;
	text-align: center;
	display: inline-block;
}

.relieved-shopping  .relieved-shopping-rex-text{
	color:#ffffff;
	background: #93c47d;
    padding: 3px;
	text-align: center;
    display: inline-block;
}
.relieved-shopping .relieved-shopping-text-product{
	vertical-align: middle;
    display: inline-block;
    color: #000000;
}
.authentic-view{
    position: absolute;
    z-index: 999;
    right: 50%;
    top: 45px;
    background: #fff;
}

@media(max-width:760px){
	.relieved-shopping li:first-child{
		border-bottom: 1px solid #ea6c4b;	
	}
	.relieved-shopping li:nth-child(2){
		border-left:none ;	
	}
}