.w-select-down {
  -webkit-appearance: button;
  background-image: url("https://img.webike.tw/shopping/image/w-select-down.svg");
  background-position: 103% center;
  background-repeat: no-repeat;
  border: none;
  border-bottom: 1px solid #AAA;
  color: #555;
  font-size: inherit;
  overflow: hidden;
  padding: 5px 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 200px;
  background-color: #fff;
  font-size: 1rem; }

.w-sort-down {
  -webkit-appearance: button;
  background-image: url("https://img.webike.tw/shopping/image/w-sort-down.svg");
  background-position: 103% center;
  background-repeat: no-repeat;
  border: none;
  border-bottom: 1px solid #AAA;
  color: #555;
  font-size: inherit;
  overflow: hidden;
  padding: 5px 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 200px;
  background-color: #fff;
  font-size: 1rem; }

.w-search {
  border: none;
  border: 1px solid #AAA;
  border-radius: 3px;
  padding: 5px;
  width: 200px; }

.w-botton-search {
  border: none;
  background: #d82435;
  border-radius: 3px;
  height: 31px;
  background-image: url("https://img.webike.tw/shopping/image/list-icon/search-01.svg");
  background-size: 17%;
  background-position: 53% center;
  background-repeat: no-repeat; }

.w-botton-search:hover {
  opacity: 0.7; }

.w-botton:hover {
  opacity: 0.7; }

.w-botton-r:hover {
  opacity: 0.7; }

.w-botton-b:hover {
  opacity: 0.7; }

.w-botton-y:hover {
  opacity: 0.7; }

.w-botton {
  border: none;
  border-radius: 3px;
  color: #fff;
  padding: 5px 10px; }

.w-botton-r {
  border: none;
  background: #d82435;
  border-radius: 3px;
  color: #fff;
  padding: 5px 10px; }

.w-botton-b {
  border: none;
  background: #08A5F6;
  border-radius: 3px;
  color: #fff;
  padding: 5px 10px; }

.w-botton-y {
  border: none;
  background: #F8B739;
  border-radius: 3px;
  color: #fff;
  padding: 5px 10px; }

.product-history-select {
  padding: 10px 0;
  margin-top: 20px; }
  .product-history-select .w-select-down {
    margin-right: 2%;
    width: 23%; }
  .product-history-select .w-botton-search {
    width: 15%;
    float: right;
    background-color: #29303b; }
  .product-history-select .w-search {
    width: 31.5%; }
  .product-history-select .w-botton-clean {
    width: 15%;
    height: 31px;
    float: right;
    margin-top: 10px;
    background-color: #4a5360; }

.product-history-sort {
  border: #aaa solid 1px;
  border-radius: 3px;
  padding: 5px;
  height: 75px;
  position: relative; }
  .product-history-sort p {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 25%;
    margin-top: -9px; }
  .product-history-sort .w-sort-down {
    float: right;
    position: absolute;
    top: 50%;
    right: 3%;
    margin-top: -16px; }
  .product-history-sort .product-history-view {
    display: inline-block;
    height: 60px;
    width: 220px;
    border-right: 1px solid #aaa;
    padding: 5px 10px; }
    .product-history-sort .product-history-view h2 {
      font-size: 1rem; }
    .product-history-sort .product-history-view input[type=radio] {
      margin: 8px 0 0 0; }
    .product-history-sort .product-history-view .product-history-view-p {
      float: left;
      width: 50%;
      position: relative; }
      .product-history-sort .product-history-view .product-history-view-p span {
        position: absolute;
        font-size: 1rem;
        top: 4px;
        left: 20px; }
    .product-history-sort .product-history-view .product-history-view-t {
      float: left;
      width: 50%;
      position: relative; }
      .product-history-sort .product-history-view .product-history-view-t span {
        position: absolute;
        font-size: 1rem;
        top: 4px;
        left: 20px; }

.product-history-content {
  margin-top: 20px; }
  .product-history-content .product-history-list-p {
    display: none; }
    .product-history-content .product-history-list-p li {
      list-style-type: none; }
    .product-history-content .product-history-list-p .product-history-list-title ul li {
      float: left;
      width: 12.5%;
      border-right: 1px #aaa solid;
      text-align: center;
      margin-bottom: 5px; }
    .product-history-content .product-history-list-p .product-history-list-title ul li:nth-of-type(1) {
      width: 25%; }
    .product-history-content .product-history-list-p .product-history-list-title ul li:nth-of-type(2) {
      width: 37.5%; }
    .product-history-content .product-history-list-p .product-history-list-title ul li:nth-of-type(3) {
      width: 25%; }
    .product-history-content .product-history-list-p .product-history-list-title ul li:last-of-type {
      border-right: none; }
    .product-history-content .product-history-list-p .product-history-list-project:last-of-type {
      border-bottom: 1px #aaa solid; }
    .product-history-content .product-history-list-p .product-history-list-project {
      border-top: 1px #aaa solid; }
      .product-history-content .product-history-list-p .product-history-list-project .product-history-list-project-t {
        cursor: pointer; }
        .product-history-content .product-history-list-p .product-history-list-project .product-history-list-project-t li {
          float: left;
          width: 12.5%;
          text-align: center;
          margin-bottom: 5px;
          padding: 10px;
          line-height: 125px; }
        .product-history-content .product-history-list-p .product-history-list-project .product-history-list-project-t li:nth-of-type(1) {
          width: 25%;
          padding: 10px; }
          .product-history-content .product-history-list-p .product-history-list-project .product-history-list-project-t li:nth-of-type(1) a img {
            max-height: 150px;
            max-width: 100%; }
          .product-history-content .product-history-list-p .product-history-list-project .product-history-list-project-t li:nth-of-type(1) a:hover {
            opacity: 0.8; }
        .product-history-content .product-history-list-p .product-history-list-project .product-history-list-project-t li:nth-of-type(2) {
          width: 37.5%;
          position: relative; }
          .product-history-content .product-history-list-p .product-history-list-project .product-history-list-project-t li:nth-of-type(2) h3 {
            text-align: left; }
          .product-history-content .product-history-list-p .product-history-list-project .product-history-list-project-t li:nth-of-type(2) p {
            text-align: left;
            position: relative; }
          .product-history-content .product-history-list-p .product-history-list-project .product-history-list-project-t li:nth-of-type(2) span {
            position: absolute;
            left: 25%;
            bottom: 0;
            width: 270px; }
          .product-history-content .product-history-list-p .product-history-list-project .product-history-list-project-t li:nth-of-type(2) div {
            position: relative;
            margin-top: 10px;
            width: 75px; }
            .product-history-content .product-history-list-p .product-history-list-project .product-history-list-project-t li:nth-of-type(2) div a {
              margin: 0 0; }
            .product-history-content .product-history-list-p .product-history-list-project .product-history-list-project-t li:nth-of-type(2) div i {
              margin-bottom: 10px; }
            .product-history-content .product-history-list-p .product-history-list-project .product-history-list-project-t li:nth-of-type(2) div a:hover {
              color: #fff; }
            .product-history-content .product-history-list-p .product-history-list-project .product-history-list-project-t li:nth-of-type(2) div span {
              position: absolute;
              left: 115%;
              width: 150px; }
        .product-history-content .product-history-list-p .product-history-list-project .product-history-list-project-t li:nth-of-type(3) {
          width: 25%; }
          .product-history-content .product-history-list-p .product-history-list-project .product-history-list-project-t li:nth-of-type(3) p {
            text-align: left;
            position: relative; }
          .product-history-content .product-history-list-p .product-history-list-project .product-history-list-project-t li:nth-of-type(3) span {
            position: absolute;
            left: 50%;
            top: 0;
            width: 100px; }
        .product-history-content .product-history-list-p .product-history-list-project .product-history-list-project-t li:nth-of-type(4) a p {
          color: #08A5F6; }
        .product-history-content .product-history-list-p .product-history-list-project .product-history-list-project-t li:nth-of-type(4) a p:hover {
          opacity: 0.7; }
        .product-history-content .product-history-list-p .product-history-list-project .product-history-list-project-t li:last-of-type button {
          width: 88px;
          line-height: 1.4; }
      .product-history-content .product-history-list-p .product-history-list-project .product-history-list-project-t:hover {
        background: #eee; }
      .product-history-content .product-history-list-p .product-history-list-project .product-history-list-project-c {
        display: none;
        border-top: 1px #aaa solid; }
        .product-history-content .product-history-list-p .product-history-list-project .product-history-list-project-c li {
          width: 100%;
          margin-bottom: 5px; }
          .product-history-content .product-history-list-p .product-history-list-project .product-history-list-project-c li h3 {
            padding: 3px;
            float: left;
            width: 20%;
            text-align: center; }
          .product-history-content .product-history-list-p .product-history-list-project .product-history-list-project-c li span {
            padding: 3px;
            float: left;
            width: 20%;
            text-align: center; }
            .product-history-content .product-history-list-p .product-history-list-project .product-history-list-project-c li span a i {
              color: #08A5F6; }
            .product-history-content .product-history-list-p .product-history-list-project .product-history-list-project-c li span a i:hover {
              opacity: 0.7; }
            .product-history-content .product-history-list-p .product-history-list-project .product-history-list-project-c li span a .fa-pen {
              font-size: 1.2rem;
              color: #08A5F6; }
            .product-history-content .product-history-list-p .product-history-list-project .product-history-list-project-c li span a .fa-pen:hover {
              opacity: 0.7; }
        .product-history-content .product-history-list-p .product-history-list-project .product-history-list-project-c li:hover {
          background: #eee; }
        .product-history-content .product-history-list-p .product-history-list-project .product-history-list-project-c li:nth-of-type(1) {
          border-bottom: 1px #aaa solid; }
        .product-history-content .product-history-list-p .product-history-list-project .product-history-list-project-c li:nth-of-type(1):hover {
          background: none; }
        .product-history-content .product-history-list-p .product-history-list-project .product-history-list-project-c li:last-of-type {
          border-bottom: none; }
  .product-history-content .product-history-list-t li {
    list-style-type: none; }
  .product-history-content .product-history-list-t .product-history-list-title ul li {
    float: left;
    width: 12.5%;
    border-right: 1px #aaa solid;
    text-align: center;
    margin-bottom: 5px; }
  .product-history-content .product-history-list-t .product-history-list-title ul li:nth-of-type(4) {
    width: 37.5%; }
  .product-history-content .product-history-list-t .product-history-list-title ul li:last-of-type {
    border-right: none; }
  .product-history-content .product-history-list-t .product-history-list-project:last-of-type {
    border-bottom: 1px #aaa solid; }
  .product-history-content .product-history-list-t .product-history-list-project {
    border-top: 1px #aaa solid; }
    .product-history-content .product-history-list-t .product-history-list-project .product-history-list-project-t {
      cursor: pointer; }
      .product-history-content .product-history-list-t .product-history-list-project .product-history-list-project-t li {
        float: left;
        width: 12.5%;
        text-align: center;
        padding: 10px 5px 7px 5px; }
        .product-history-content .product-history-list-t .product-history-list-project .product-history-list-project-t li .fa-pen {
          font-size: 1.2rem;
          color: #08A5F6; }
        .product-history-content .product-history-list-t .product-history-list-project .product-history-list-project-t li .fa-pen:hover {
          opacity: 0.7; }
        .product-history-content .product-history-list-t .product-history-list-project .product-history-list-project-t li i {
          color: #08A5F6; }
        .product-history-content .product-history-list-t .product-history-list-project .product-history-list-project-t li i:hover {
          opacity: 0.7; }
      .product-history-content .product-history-list-t .product-history-list-project .product-history-list-project-t li:nth-of-type(4) {
        width: 37.5%; }
      .product-history-content .product-history-list-t .product-history-list-project .product-history-list-project-t li:last-of-type {
        padding: 5px; }
        .product-history-content .product-history-list-t .product-history-list-project .product-history-list-project-t li:last-of-type button {
          width: 88px; }
    .product-history-content .product-history-list-t .product-history-list-project .product-history-list-project-t:hover {
      background: #eee; }
    .product-history-content .product-history-list-t .product-history-list-project .product-history-list-project-c {
      border-top: dashed #aaa 1px;
      display: none; }
      .product-history-content .product-history-list-t .product-history-list-project .product-history-list-project-c li {
        padding: 10px;
        margin: 10px 0;
        float: left;
        width: 25%;
        text-align: left;
        height: 200px; }
        .product-history-content .product-history-list-t .product-history-list-project .product-history-list-project-c li h3 {
          margin-bottom: 5px; }
        .product-history-content .product-history-list-t .product-history-list-project .product-history-list-project-c li p {
          position: relative; }
          .product-history-content .product-history-list-t .product-history-list-project .product-history-list-project-c li p span {
            position: absolute;
            left: 50%;
            top: 0;
            width: 110px; }
      .product-history-content .product-history-list-t .product-history-list-project .product-history-list-project-c li:nth-of-type(1) img {
        max-height: 100%;
        max-width: 100%;
        margin: 0 auto;
        display: -webkit-box; }
      .product-history-content .product-history-list-t .product-history-list-project .product-history-list-project-c li:nth-of-type(2) {
        border-right: solid #aaa 1px;
        position: relative; }
        .product-history-content .product-history-list-t .product-history-list-project .product-history-list-project-c li:nth-of-type(2) div {
          position: absolute;
          bottom: 10px; }
          .product-history-content .product-history-list-t .product-history-list-project .product-history-list-project-c li:nth-of-type(2) div i {
            width: 75px;
            text-align: center;
            display: block;
            margin: 5px 0; }
          .product-history-content .product-history-list-t .product-history-list-project .product-history-list-project-c li:nth-of-type(2) div a:hover {
            color: #fff; }
      .product-history-content .product-history-list-t .product-history-list-project .product-history-list-project-c li:nth-of-type(3) {
        border-right: solid #aaa 1px; }

.product-history-remarks-background {
  background: #FFFFFF;
  display: none;
  position: absolute;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10; }
  .product-history-remarks-background .product-history-remarks {
    position: absolute;
    top: 50%;
    left: 50%;
    background: #eee;
    border: 1px solid #aaa;
    border-radius: 3px;
    width: 250px;
    height: 200px;
    overflow: hidden; }
    .product-history-remarks-background .product-history-remarks .product-history-remarks-title {
      height: 30px;
      border-bottom: 1px solid #aaa;
      position: relative; }
      .product-history-remarks-background .product-history-remarks .product-history-remarks-title i {
        color: #4a5360;
        font-size: 1.4rem;
        position: absolute;
        top: 3.5px;
        left: 5px; }
      .product-history-remarks-background .product-history-remarks .product-history-remarks-title i:hover {
        color: red; }
      .product-history-remarks-background .product-history-remarks .product-history-remarks-title span {
        position: absolute;
        font-size: 1rem;
        left: 50%;
        top: 4px;
        margin-left: -16px; }
      .product-history-remarks-background .product-history-remarks .product-history-remarks-title button {
        background: #DDD;
        color: #08A5F6;
        position: absolute;
        padding: 1px 10px;
        top: 3.5px;
        right: 5px; }
      .product-history-remarks-background .product-history-remarks .product-history-remarks-title button:hover {
        color: red; }
    .product-history-remarks-background .product-history-remarks textarea {
      width: 100%;
      height: 167px;
      border: none;
      padding: 10px;
      resize: none;
      font-size: 1rem;
      border-radius: 3px; }

.product-history-number-background, .product-history-search-background {
  background: #FFFFFF;
  display: none;
  position: absolute;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10; }
  .product-history-number-background .product-history-number, .product-history-number-background .product-history-search, .product-history-search-background .product-history-number, .product-history-search-background .product-history-search {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -70px;
    margin-left: -124px;
    background: #eee;
    border: 1px solid #aaa;
    border-radius: 3px;
    width: 400px;
    height: 75px; }
    .product-history-number-background .product-history-number .product-history-number-title, .product-history-number-background .product-history-number .product-history-search-title, .product-history-number-background .product-history-search .product-history-number-title, .product-history-number-background .product-history-search .product-history-search-title, .product-history-search-background .product-history-number .product-history-number-title, .product-history-search-background .product-history-number .product-history-search-title, .product-history-search-background .product-history-search .product-history-number-title, .product-history-search-background .product-history-search .product-history-search-title {
      height: 30px;
      border-bottom: 1px solid #aaa;
      position: relative; }
      .product-history-number-background .product-history-number .product-history-number-title i, .product-history-number-background .product-history-number .product-history-search-title i, .product-history-number-background .product-history-search .product-history-number-title i, .product-history-number-background .product-history-search .product-history-search-title i, .product-history-search-background .product-history-number .product-history-number-title i, .product-history-search-background .product-history-number .product-history-search-title i, .product-history-search-background .product-history-search .product-history-number-title i, .product-history-search-background .product-history-search .product-history-search-title i {
        color: #4a5360;
        font-size: 1.4rem;
        position: absolute;
        top: 3.5px;
        left: 5px; }
      .product-history-number-background .product-history-number .product-history-number-title i:hover, .product-history-number-background .product-history-number .product-history-search-title i:hover, .product-history-number-background .product-history-search .product-history-number-title i:hover, .product-history-number-background .product-history-search .product-history-search-title i:hover, .product-history-search-background .product-history-number .product-history-number-title i:hover, .product-history-search-background .product-history-number .product-history-search-title i:hover, .product-history-search-background .product-history-search .product-history-number-title i:hover, .product-history-search-background .product-history-search .product-history-search-title i:hover {
        color: red; }
      .product-history-number-background .product-history-number .product-history-number-title span, .product-history-number-background .product-history-number .product-history-search-title span, .product-history-number-background .product-history-search .product-history-number-title span, .product-history-number-background .product-history-search .product-history-search-title span, .product-history-search-background .product-history-number .product-history-number-title span, .product-history-search-background .product-history-number .product-history-search-title span, .product-history-search-background .product-history-search .product-history-number-title span, .product-history-search-background .product-history-search .product-history-search-title span {
        position: absolute;
        font-size: 1rem;
        left: 50%;
        top: 4px;
        margin-left: -16px; }
      .product-history-number-background .product-history-number .product-history-number-title button, .product-history-number-background .product-history-number .product-history-search-title button, .product-history-number-background .product-history-search .product-history-number-title button, .product-history-number-background .product-history-search .product-history-search-title button, .product-history-search-background .product-history-number .product-history-number-title button, .product-history-search-background .product-history-number .product-history-search-title button, .product-history-search-background .product-history-search .product-history-number-title button, .product-history-search-background .product-history-search .product-history-search-title button {
        background: #DDD;
        color: #08A5F6;
        position: absolute;
        padding: 1px 10px;
        top: 3.5px;
        right: 5px; }
      .product-history-number-background .product-history-number .product-history-number-title button:hover, .product-history-number-background .product-history-number .product-history-search-title button:hover, .product-history-number-background .product-history-search .product-history-number-title button:hover, .product-history-number-background .product-history-search .product-history-search-title button:hover, .product-history-search-background .product-history-number .product-history-number-title button:hover, .product-history-search-background .product-history-number .product-history-search-title button:hover, .product-history-search-background .product-history-search .product-history-number-title button:hover, .product-history-search-background .product-history-search .product-history-search-title button:hover {
        color: red; }
    .product-history-number-background .product-history-number .product-history-number-content, .product-history-number-background .product-history-number .product-history-search-content, .product-history-number-background .product-history-search .product-history-number-content, .product-history-number-background .product-history-search .product-history-search-content, .product-history-search-background .product-history-number .product-history-number-content, .product-history-search-background .product-history-number .product-history-search-content, .product-history-search-background .product-history-search .product-history-number-content, .product-history-search-background .product-history-search .product-history-search-content {
      overflow: hidden;
      position: relative;
      border-radius: 3px;
      background: #eee !important; }
      .product-history-number-background .product-history-number .product-history-number-content .number-check, .product-history-number-background .product-history-number .product-history-search-content .number-check, .product-history-number-background .product-history-search .product-history-number-content .number-check, .product-history-number-background .product-history-search .product-history-search-content .number-check, .product-history-search-background .product-history-number .product-history-number-content .number-check, .product-history-search-background .product-history-number .product-history-search-content .number-check, .product-history-search-background .product-history-search .product-history-number-content .number-check, .product-history-search-background .product-history-search .product-history-search-content .number-check {
        width: 80%;
        display: block;
        margin: 20px auto;
        position: relative; }
        .product-history-number-background .product-history-number .product-history-number-content .number-check input, .product-history-number-background .product-history-number .product-history-search-content .number-check input, .product-history-number-background .product-history-search .product-history-number-content .number-check input, .product-history-number-background .product-history-search .product-history-search-content .number-check input, .product-history-search-background .product-history-number .product-history-number-content .number-check input, .product-history-search-background .product-history-number .product-history-search-content .number-check input, .product-history-search-background .product-history-search .product-history-number-content .number-check input, .product-history-search-background .product-history-search .product-history-search-content .number-check input {
          text-align: center;
          width: 100%;
          height: 45px;
          border: none;
          padding: 10px;
          resize: none;
          font-size: 1rem;
          border-radius: 3px; }
        .product-history-number-background .product-history-number .product-history-number-content .number-check button, .product-history-number-background .product-history-number .product-history-search-content .number-check button, .product-history-number-background .product-history-search .product-history-number-content .number-check button, .product-history-number-background .product-history-search .product-history-search-content .number-check button, .product-history-search-background .product-history-number .product-history-number-content .number-check button, .product-history-search-background .product-history-number .product-history-search-content .number-check button, .product-history-search-background .product-history-search .product-history-number-content .number-check button, .product-history-search-background .product-history-search .product-history-search-content .number-check button {
          font-size: 2rem;
          line-height: 0.8;
          width: 45px;
          height: 45px; }
        .product-history-number-background .product-history-number .product-history-number-content .number-check .plus, .product-history-number-background .product-history-number .product-history-search-content .number-check .plus, .product-history-number-background .product-history-search .product-history-number-content .number-check .plus, .product-history-number-background .product-history-search .product-history-search-content .number-check .plus, .product-history-search-background .product-history-number .product-history-number-content .number-check .plus, .product-history-search-background .product-history-number .product-history-search-content .number-check .plus, .product-history-search-background .product-history-search .product-history-number-content .number-check .plus, .product-history-search-background .product-history-search .product-history-search-content .number-check .plus {
          position: absolute;
          top: 0;
          right: 0; }
        .product-history-number-background .product-history-number .product-history-number-content .number-check .reduce, .product-history-number-background .product-history-number .product-history-search-content .number-check .reduce, .product-history-number-background .product-history-search .product-history-number-content .number-check .reduce, .product-history-number-background .product-history-search .product-history-search-content .number-check .reduce, .product-history-search-background .product-history-number .product-history-number-content .number-check .reduce, .product-history-search-background .product-history-number .product-history-search-content .number-check .reduce, .product-history-search-background .product-history-search .product-history-number-content .number-check .reduce, .product-history-search-background .product-history-search .product-history-search-content .number-check .reduce {
          position: absolute;
          top: 0;
          left: 0; }
      .product-history-number-background .product-history-number .product-history-number-content .product-history-number-content-check, .product-history-number-background .product-history-number .product-history-search-content .product-history-number-content-check, .product-history-number-background .product-history-search .product-history-number-content .product-history-number-content-check, .product-history-number-background .product-history-search .product-history-search-content .product-history-number-content-check, .product-history-search-background .product-history-number .product-history-number-content .product-history-number-content-check, .product-history-search-background .product-history-number .product-history-search-content .product-history-number-content-check, .product-history-search-background .product-history-search .product-history-number-content .product-history-number-content-check, .product-history-search-background .product-history-search .product-history-search-content .product-history-number-content-check {
        width: 100%;
        padding: 20px 10px; }
        .product-history-number-background .product-history-number .product-history-number-content .product-history-number-content-check button, .product-history-number-background .product-history-number .product-history-search-content .product-history-number-content-check button, .product-history-number-background .product-history-search .product-history-number-content .product-history-number-content-check button, .product-history-number-background .product-history-search .product-history-search-content .product-history-number-content-check button, .product-history-search-background .product-history-number .product-history-number-content .product-history-number-content-check button, .product-history-search-background .product-history-number .product-history-search-content .product-history-number-content-check button, .product-history-search-background .product-history-search .product-history-number-content .product-history-number-content-check button, .product-history-search-background .product-history-search .product-history-search-content .product-history-number-content-check button {
          width: 90px;
          font-size: 1.2rem;
          margin: 0 auto;
          background: #4a5360;
          display: block; }
      .product-history-number-background .product-history-number .product-history-number-content .select-type, .product-history-number-background .product-history-number .product-history-search-content .select-type, .product-history-number-background .product-history-search .product-history-number-content .select-type, .product-history-number-background .product-history-search .product-history-search-content .select-type, .product-history-search-background .product-history-number .product-history-number-content .select-type, .product-history-search-background .product-history-number .product-history-search-content .select-type, .product-history-search-background .product-history-search .product-history-number-content .select-type, .product-history-search-background .product-history-search .product-history-search-content .select-type {
        padding: 20px 10px; }
        .product-history-number-background .product-history-number .product-history-number-content .select-type select, .product-history-number-background .product-history-number .product-history-search-content .select-type select, .product-history-number-background .product-history-search .product-history-number-content .select-type select, .product-history-number-background .product-history-search .product-history-search-content .select-type select, .product-history-search-background .product-history-number .product-history-number-content .select-type select, .product-history-search-background .product-history-number .product-history-search-content .select-type select, .product-history-search-background .product-history-search .product-history-number-content .select-type select, .product-history-search-background .product-history-search .product-history-search-content .select-type select {
          display: block;
          margin: 0 auto;
          width: 85%;
          padding: 10px;
          background-position: 100% center; }

.select2-container {
  width: 20% !important;
  margin-right: 3%; }

.select2-container--default .select2-selection--single {
  border: none !important;
  border-bottom: 1px solid #aaa !important; }

/*# sourceMappingURL=product-history.css.map */
