
.quiz-page {
	width: 1000px;
	margin: 0 auto;
}
.quiz-page .block{
	margin-bottom: 20px;
}
.quiz-page .mainbanner{
	width: 100%;
	margin: 0 auto;
}
.quiz-page .info{
	width: 100%;
	margin: 0;
	padding: 20px 0;
	background: #FFF000;
}
.quiz-page .info .white-box{
	width: 930px;
	padding: 15px;
	margin:0 auto 50px;
	background: #fff;
	border-radius: 5px;
}
.quiz-page .info .white-box h5{
	font-size: 36px;
	font-weight: bold;
	line-height: 1.2;
}
.quiz-page .info p{
	font-size: 14px;
}
.quiz-page .box-quiz-page{
	position: relative;
}
.quiz-page .box-quiz-page .floatingCirclesG{
	display: none;
	position: absolute;
	left: 345px;
	top: 160px;
}
.quiz-page .box-quiz-page .messages{
	width: 841px;
	margin:0 auto;
	background:#333;
	color:#fff;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.4;
}
.quiz-page .box-quiz-page .messages p{
	font-size: 14px;
    font-weight: bold;
    line-height: 1.4;
}
.quiz-page .box-quiz-page .messages a{
	color: #4ba5ff;
}
.quiz-page .box-quiz-page .messages a:hover{
	color: #85c7ff;
}
.quiz-page .quiz .finishing.active{
	display: block;
}
.quiz-page .quiz .finishing{
	display: none;
	width: 841px;
	margin:10px auto;
	color:#333;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.4;
    border:3px #ff0000 solid;
}
.quiz-page .quiz .introduce{
	width: 845px;
	margin:0 auto;
	/*border:3px #333 solid;
	border-top:none;*/
	padding: 5px;
	font-size: 14px;
    font-weight: normal;
    line-height: 1.4;
}
.quiz-page .quiz .introduce h5{
	font-size: 16px;
	font-weight: bold;
	line-height: 1.2;
}
.quiz-page .quiz .introduce span{
	display: block;
	margin-bottom: 5px;
}
.quiz-page .quiz .introduce .btn-ui{
	margin-top:10px;
}
.quiz-page .quiz img.target{
	width: 760px;
	height: 500px;
}
.quiz-page h4{
	font-size: 22px;
	font-weight: bold;
	line-height: 1.4;
}
.quiz-page .btn-ui{
	font-size: 0;
	letter-spacing: -1px;
	text-align: center;
}
.quiz-page .btn-ui.align-right{
	text-align: right;
}
.quiz-page .btn-ui .btn{
	display: inline-block;
	font-size: 17px;
	letter-spacing: 1px;
	width: 180px;
	padding: 0 10px;
	height: 40px;
	line-height: 40px;
	vertical-align: middle;
	border:none;
}
.quiz-page .btn-ui .btn-default{
	background: #d90114 !important;
	color:#fff !important;
}
.quiz-page .btn-ui .btn-disabled{
	background: #eee !important;
	color:#333 !important;
}
.quiz-page .btn-ui .btn:hover{
	opacity: 0.85;
}
.quiz-page .calender {
	width: 930px;
	margin:0 0 20px 0;
}

.quiz-page .calender .week li {
	float: left;
	margin: 0 0 10px 10px;
	width: 124px;
	height: 30px;
	background: #000;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	border-radius: 8px 8px 0 0;
	line-height: 1.5;
	position: relative;
}

.quiz-page .calender .week li:nth-child(7n+1){
	margin: 0 0 10px 0;
}
/*.quiz-page .calender .days{
	display: none;
}*/

.quiz-page .calender .days li {
	z-index: 1;
	float: left;
	margin: 0 0 10px 10px;
	width: 124px;
	height: 121px;
	background: #FFF;
	position: relative;
}

.quiz-page .calender .days li:nth-child(7n+1){
	margin: 0 0 10px 0;
}
.quiz-page .calender .days li .cover{
	z-index: 9999;
	width: 124px;
	height: 100px;
	opacity: 0.9;
	position: absolute;
	left: 0;
	top:18px;
}
.quiz-page .calender .days li .cover.answer{
	background: url('/assets/images/benefit/event/WebikeGuess/answer.png');
	background-size: 100% 100%;
}
.quiz-page .calender .days li .cover.coming{
	background: url('/assets/images/benefit/event/WebikeGuess/coming_soon.png');
	background-size: 100% 100%;
}
.quiz-page .calender .days li .date {
	padding: 2px 2px 0 5px;
	font-weight: bold;
	font-size: 14px;
	border-bottom: 1px dotted #000;
}
.quiz-page .calender .days li .gray {
	color: #ccc;
	border-bottom: none;
}
.quiz-page .calender .days li img.thum {
	width: 124px;
	margin: 5px 0 0;
	position: absolute;
	left:0;
	top:18px;
}
.quiz-page .calender .days li img.thum:hover {
	opacity: 0.8;
}
.quiz-page .calender .days li img.more {
	position: absolute;
	bottom: 5px;
	left: 5px;
}
.quiz-page .calender .days li .content{
	display: none;
}
.quiz-page .rule {
    padding: 15px;
    border: 1px dotted #999;
    font-size: 14px;
}
.quiz-page .rule table{
	table-layout: fixed;
	word-break: break-all;
}
.quiz-page .rule table tr th, .quiz-page .rule table tr td{
	padding: 5px;
	vertical-align: top;
}
.quiz-page .rule table tr th{
	font-weight: bold;
	width: 100px;
}
.quiz-page #answer{
	position: fixed;
	display: none;
	z-index: 0;
	background: none repeat scroll 0 0 #FFFFFF;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
 	margin: 0 auto; 
	width: 800px;
	height: 420px;
	padding: 35px 30px 30px;
	top: 10%;
	left: 0;
	right: 0;
	font-size: 0;
	letter-spacing: -1px;
}
.quiz-page #answer.active{
	display: block;
	z-index: 9999;
}
.quiz-page #answer.active div.product_btn{
	margin: 10px auto 0;
	text-align: center;
}
.quiz-page #answer .image-box, .quiz-page #answer .article{
	vertical-align: top;
	display: inline-block;
	padding: 2%;
	letter-spacing:1px;
	font-size: 14px;
	line-height: 1.2;
}
.quiz-page #answer .image-box{
	width: 56%;
}
.quiz-page #answer .article{
	width: 36%;
}
.quiz-page #answer .article .tit {
	color: #d90114;
	font-size: 22px;
	line-height: 1.2;
}
.quiz-page #answer .article .txt {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	margin: 0 0 25px;
}
.quiz-page #answer .article .pro {
	font-size: 16px;
	font-weight: bold;
	margin: 0 25px 15px;
	line-height: 1.2;
}
.quiz-page #answer .article .ans_message {
	padding:5px;
	border:#ccc 3px solid;
	border-radius:3px;
	margin:10px 0 0 0;
	height: 315px;
	overflow: auto;
}
.quiz-page #answer .btn a {
	font-size: 13px;
	font-weight: bold;
	color: #000;
	line-height: 2;
	background: url(http://www.webike.net/sys_images/dscom/btn_nothing_200_01.gif) no-repeat;
	width: 200px;
	height: 26px;
	display: block;
	text-align: center;
	margin: 0 auto;
}
.quiz-page #answer .close {
	height: 35px;
	width: 35px;
	position: absolute;
	padding:5px;
	top: 0;
	right: 0;
	display: block;
	z-index: 2;
	cursor: pointer;
    text-align: center;
    line-height: 35px;
}
.quiz-page #answer .close:hover{
	opacity: 0.8;
}
.quiz-page #answer .close:after{
	content: "X";
    font-size: 30px;
    font-weight: bold;
    color: #777;
    font-family: cursive;
}
.quiz-page #answer img {
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
}

.jqPuzzle { 
    background-color: #fff; 
    /*border: 5px outset #FF0000; */
    border:5px outset #333;
    padding: 20px; 
    padding-bottom: 0px; 
    margin:0 auto;
} 
 
.jqPuzzle .jqp-wrapper { 
    padding: 0px; 
    margin:0 auto 10px !important;
    /*border: 2px inset #FF0000; */
    border: 2px inset #333; 
    background-color: #442222; 
} 
 
.jqPuzzle .jqp-piece { 
    border: 2px outset #333333; 
    color: #FFFFFF; 
    font-size: 30px; 
    line-height: 30px; 
    text-align: right; 
    font-family: Georgia, "Times New Roman", Times, serif; 
} 
.jqPuzzle .jqp-controls a{
	background: #aaa;
	color:#fff;
}
.jqPuzzle .jqp-controls a:hover{
	background: #eee;
	color:#333;
}
.jqPuzzle .jqp-controls a.jqp-toggle{
	background: #eee;
	color:#333;
}