@charset "UTF-8";
/*** Reset css** */
div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  line-height: 1.4;
  font-size: 0.85rem; }

* > span,
* > a,
* > b,
* > small,
* > strong,
* > s,
* > i {
  font-size: inherit; }

html, body {
  font-family: Helvetica, Arial, Verdana, "Microsoft JhengHei", "微軟正黑體", "PMingLiU", sans-serif;
  font-size: 100%;
  font-weight: 400;
  line-height: 1.4;
  color: #333333;
  background: #ffffff; }

.all-page {
  font-size: 0.85rem;
  line-height: 1.4; }

h1, h2 {
  font-family: Helvetica, Arial, Verdana, Simhei, "Microsoft JhengHei", "微軟正黑體", "PMingLiU", sans-serif; }

h1 {
  font-size: 1.5rem; }

h2, cite {
  font-size: 1.2rem; }

h3 {
  font-size: 1rem; }

p {
  font-size: 0.85rem; }

.size-19rem {
  font-size: 1.9rem; }
  .size-19rem.size-force {
    font-size: 1rem !important; }

.size-15rem {
  font-size: 1.5rem; }
  .size-15rem.size-force {
    font-size: 1rem !important; }

.size-12rem {
  font-size: 1.2rem; }
  .size-12rem.size-force {
    font-size: 1rem !important; }

.size-10rem {
  font-size: 1rem; }
  .size-10rem.size-force {
    font-size: 1rem !important; }

.size-08rem {
  font-size: 0.85rem; }
  .size-08rem.size-force {
    font-size: 1rem !important; }

a {
  color: #005fb3;
  text-decoration: none;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: none; }
  a:hover, a:focus {
    color: #e61e25;
    text-decoration: none; }

img {
  max-width: 100%;
  max-height: 100%; }

/* Chrome/Opera/Safari */
::-webkit-input-placeholder {
  line-height: 28px;
  font-size: 1rem;
  color: #ccc; }

/* Firefox 19+ */
::-moz-placeholder {
  line-height: 28px;
  font-size: 1rem;
  color: #ccc; }

/* IE 10+ */
::-ms-input-placeholder {
  line-height: 28px;
  font-size: 1rem;
  color: #ccc; }

/* Firefox 18- */
::-moz-placeholder {
  line-height: 28px;
  font-size: 1rem;
  color: #ccc; }

.tooltip-inner {
  max-width: 300px;
  width: auto;
  padding: 5px;
  font-size: 0.85rem;
  letter-spacing: 1px; }

.zoom-image {
  overflow: hidden;
  display: table-cell; }
  .zoom-image img {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }

.zoom-image:hover img {
  opacity: 0.8; }

.navbar-default {
  border-color: #e7e7e7;
  background-color: #ffffff; }
  .navbar-default .menu-shopping {
    background: #efefef; }
  .navbar-default .navbar-nav .dropdown.active > a {
    color: #333 !important; }
  .navbar-default .navbar-nav .dropdown.open .dropdown-menu > li > a {
    color: #333; }
    .navbar-default .navbar-nav .dropdown.open .dropdown-menu > li > a.active-navbar {
      color: #fff; }
    .navbar-default .navbar-nav .dropdown.open .dropdown-menu > li > a:before {
      content: " - "; }

.overflow-menu-ui {
  position: relative;
  height: 30px;
  overflow: visible; }
  .overflow-menu-ui ul.overflow-menu {
    height: 30px;
    max-width: 100%; }
    .overflow-menu-ui ul.overflow-menu > li {
      display: block;
      float: left;
      height: auto;
      white-space: nowrap; }
  .overflow-menu-ui ul.overflow-sub-menu li {
    width: 100% !important; }
    .overflow-menu-ui ul.overflow-sub-menu li a {
      width: 100%; }
  .overflow-menu-ui ul.overflow-menu-collect {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    padding: 1px;
    overflow: visible; }
    .overflow-menu-ui ul.overflow-menu-collect .dropdown a {
      padding: 5px 0px;
      border-radius: 0;
      height: 30px;
      line-height: 20px;
      color: #fff;
      width: 100%;
      display: block; }
      .overflow-menu-ui ul.overflow-menu-collect .dropdown a:hover {
        background: none; }
    .overflow-menu-ui ul.overflow-menu-collect .dropdown ul li > a {
      padding: 5px; }
    .overflow-menu-ui ul.overflow-menu-collect .dropdown.open a {
      background: none; }
    .overflow-menu-ui ul.overflow-menu-collect .goodlife {
      font-style: italic;
      font-size: 0.85rem;
      color: #fff38e;
      overflow: hidden;
      word-break: break-all;
      word-wrap: break-word;
      height: 30px;
      margin: 0;
      line-height: 20px;
      padding: 5px; }
    .overflow-menu-ui ul.overflow-menu-collect ul.dropdown-menu {
      right: 0;
      left: auto; }
      .overflow-menu-ui ul.overflow-menu-collect ul.dropdown-menu li {
        border-bottom: #ccc; }
        .overflow-menu-ui ul.overflow-menu-collect ul.dropdown-menu li a {
          color: #333333; }
          .overflow-menu-ui ul.overflow-menu-collect ul.dropdown-menu li a:hover {
            color: #e61e25;
            background: none; }

.btn-basic-wide {
  width: 220px; }

.btn-basic-tiny {
  width: 110px; }

.no-margin {
  margin: 0 !important; }

.no-margin-horizontal {
  margin-left: 0 !important;
  margin-right: 0 !important; }

@media (max-width: 767px) {
  .navbar-default .navbar-nav .dropdown .dropdown-menu > li > a {
    color: #fff !important; } }
.active-navbar {
  background-color: #e61e25; }
  .active-navbar:hover, .active-navbar:focus {
    background-color: #e61e25 !important; }

input, select {
  outline: none; }
  input:focus, select:focus {
    outline: none; }

hr {
  border-top: 1px solid #ccc; }

.btn {
  border-color: #ccc;
  height: 38px !important;
  font-size: 1rem;
  padding: 5px 10px !important;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0; }
  .btn.btn-small {
    height: 33px !important;
    font-size: 0.85rem;
    padding: 5px !important; }
  .btn.btn-large {
    height: 48px !important;
    font-size: 1.2rem;
    padding: 5px !important; }
  .btn.disabled {
    cursor: no-drop; }

a.btn {
  line-height: 28px !important; }
  a.btn.btn-small {
    line-height: 23px !important; }
  a.btn.btn-large {
    line-height: 38px !important; }
  a.btn.disabled {
    cursor: no-drop; }

.btn-gap-top {
  margin-top: 10px; }

.btn-gap-bottom {
  margin-bottom: 10px; }

.btn-gap-right {
  margin-right: 10px; }

.btn-gap-left {
  margin-left: 10px; }

.btn-warning {
  background-color: #ff6600;
  border: none; }
  .btn-warning:hover {
    background-color: #dd4e00; }

.btn-primary {
  color: #fff;
  background-color: #005fb3;
  border-color: #005fb3; }
  .btn-primary:hover {
    color: #fff;
    background-color: #005699;
    border-color: #005699; }

.btn-sub {
  color: #333333;
  background-color: #ffed00;
  border-color: #ccc; }
  .btn-sub:hover {
    background-color: #eedc4d; }

.btn-danger {
  color: #fff;
  background-color: #e61e25;
  border-color: #e61e25; }
  .btn-danger:hover {
    color: #fff;
    background-color: #ac2925; }

.btn-facebook {
  color: #fff;
  background-color: #3b5998;
  border-color: #3b5998; }
  .btn-facebook:hover {
    color: #fff;
    background-color: #324b81; }

.btn-default {
  color: #666;
  background-color: #fff;
  border-color: #ccc; }
  .btn-default:hover {
    color: #666;
    background-color: #e6e6e6;
    border-color: #adadad; }

.label {
  font-size: 0.85rem;
  padding: 0.3em 0.6em 0.3em; }
  .label.label-large {
    font-size: 1rem; }

.label-danger {
  border: 1px #d9534f solid; }

.label-primary {
  border: 1px #337ab7 solid; }

.label-success {
  border: 1px #5cb85c solid; }

.label-urgent {
  background: #e61e25;
  color: #fff;
  font-weight: bold;
  border: 1px #e61e25 solid; }

.label-normal {
  background: #fff;
  color: #e61e25;
  font-weight: bold;
  border: 1px #e61e25 solid; }

.label-cold {
  background: #fff;
  color: #5281c1;
  font-weight: bold;
  border: 1px #304d85 solid; }

.label-warm {
  background: #fff;
  color: #fb722d;
  font-weight: bold;
  border: 1px #ee5e44 solid; }

.label-purple {
  background: #961975;
  color: #fff;
  font-weight: bold;
  border: 1px #961975 solid; }

.btn-label {
  border-color: #ccc;
  border-style: solid;
  height: 38px;
  font-size: 1rem;
  padding: 5px 10px;
  line-height: 28px; }
  .btn-label.nowrap {
    white-space: nowrap; }
  .btn-label.start-label {
    padding-left: 0; }
  .btn-label.label-small {
    height: 33px;
    font-size: 0.85rem;
    padding: 5px;
    line-height: 23px; }
  .btn-label.label-large {
    height: 48px;
    font-size: 1.2rem;
    padding: 5px;
    line-height: 38px; }

input.btn-label {
  border-width: 1px; }

.select2-container .select2-selection--single {
  height: 38px; }
  .select2-container .select2-selection--single .select2-selection__rendered {
    line-height: 38px; }
  .select2-container .select2-selection--single .select2-selection__arrow {
    height: 36px; }
.select2-container .select2-results__options {
  touch-action: pan-y pinch-zoom;
  -webkit-overflow-scrolling: touch; }

.text-vertical-center {
  display: table-cell;
  text-align: center;
  vertical-align: middle; }

.font-color-normal {
  color: #333333; }

.font-color-red {
  color: #e61e25; }

.font-color-white {
  color: #fff; }

.font-color-orange {
  color: #f0ad4e; }

.font-color-blue {
  color: #005fb3; }

.font-color-gray {
  color: #dddddd; }

.font-color-green {
  color: #5cb85c; }

.font-normal {
  font-weight: normal; }

.font-bold {
  font-weight: bold; }

.width-full {
  width: 100% !important; }

.word-break {
  word-break: break-all; }

.bg-color-red {
  background-color: #e61e25;
  color: #fff; }

.bg-color-red:active, .bg-color-red:focus, .bg-color-red:hover {
  background-color: #e61e25;
  color: #fff; }

.rounded-img {
  border-radius: 2px !important;
  -moz-border-radius: 2px !important;
  -webkit-border-radius: 2px !important;
  -o-border-radius: 2px !important;
  -ms-border-radius: 2px !important; }

.img-responsive {
  margin: 0 auto; }

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #292929 !important;
  border-bottom: 3px solid #e61e25 !important;
  max-height: 375px !important; }
  .navbar-default .navbar-collapse .nav.navbar-nav, .navbar-default .navbar-form .nav.navbar-nav {
    width: 65%; }

@media (max-width: 767px) {
  .navbar-default .navbar-collapse .navbar-nav li {
    width: 100% !important; } }
.desktop .nav-up {
  top: -40px;
  border-bottom: 2px #fff solid; }

.center-box {
  margin: 10px 0;
  text-align: center;
  width: 100%;
  float: left; }

.no-padding {
  padding: 0; }

.no-padding-horizontal {
  padding-right: 0;
  padding-left: 0; }

.box-padding-2 {
  padding: 2%; }

.box-padding-5 {
  padding: 5%; }

.vertical-middle {
  display: inline-block;
  vertical-align: middle; }

span.helper {
  display: inline-block;
  vertical-align: middle;
  height: 100%; }

ol.breadcrumb-product-detail {
  margin: -5px 0 0 0;
  padding-left: 0; }

.select2-container--default .select2-selection--single {
  border-radius: 0; }

.text-center {
  text-align: center !important; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.col-inline {
  font-size: 0; }
  .col-inline [class^=col-] {
    float: none;
    display: inline-block;
    vertical-align: middle; }

.bx-wrapper.bx-with-pager {
  margin-bottom: 10px; }

.bx-custom-pager .active {
  border-color: #e61e25; }
.bx-custom-pager .owl-prev,
.bx-custom-pager .owl-next {
  top: 24%;
  padding: 5px 5px; }

@media (max-width: 992px) {
  .bx-custom-pager .owl-prev,
  .bx-custom-pager .owl-next {
    padding: 5px 5px;
    top: 25%; } }
@media (max-width: 461px) {
  .bx-custom-pager .owl-prev,
  .bx-custom-pager .owl-next {
    padding: 10px 10px;
    top: 30%; } }
/*** End reset css ** */
/*** Reset custom css page ** */
/* dotted-text */
.dotted-text {
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  word-break: break-all;
  word-wrap: break-word;
  white-space: nowrap; }

.dotted-text1 {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  word-wrap: break-word;
  white-space: nowrap;
  display: block;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  max-height: 200%; }
  .dotted-text1.force-limit {
    height: 19.5px; }

.dotted-text2 {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  max-height: 200%; }
  .dotted-text2.force-limit {
    height: 39px; }

.dotted-text3 {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  max-height: 300%; }
  .dotted-text3.force-limit {
    height: 58.5px; }

.dotted-text4 {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  max-height: 400%; }
  .dotted-text4.force-limit {
    height: 78px; }

/* Fix with one column */
.box-fix-column {
  margin: 0;
  padding: 0;
  width: 100%;
  float: left; }
  .box-fix-column .box-fix-with, .box-fix-column .fix {
    margin: 0;
    padding: 0;
    float: left; }
  .box-fix-column .box-fix-auto, .box-fix-column .auto {
    float: none;
    width: auto;
    overflow: hidden; }

/* box content child */
.box-content-child {
  padding: 10px;
  width: 100%;
  float: left; }

/* thumb img 70px/70px */
.thumbnail-img-70 {
  width: 70px !important;
  height: 70px !important; }

/* thumb img 140px/140px */
.thumbnail-img-140 {
  width: 140px !important;
  height: 140px !important; }

/* thumb img 168px/127px */
.thumbnail-img-168 {
  width: 168px !important;
  height: 127px !important; }

@media (max-width: 767px) {
  .zoom-image {
    padding: 2px; } }
/* button strong style */
.style-button-strong {
  min-width: 180px;
  font-weight: bold;
  font-size: 1.2rem; }

/*** End reset custom css page ** */
.navbar-nav .open a:hover {
  color: #555 !important; }

.navbar-nav li.current {
  background-color: #e7e7e7; }
  .navbar-nav li.current a {
    color: #555 !important; }

.item-product-grid a figure {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  position: relative; }

/*** Header ** */
.container {
  width: 100%; }

.header {
  margin-bottom: 0;
  background-color: #2a313c !important; }
  .header .container-header {
    margin: 20px 0; }
    .header .container-header .search .txt-search {
      padding: 0 15px;
      width: 65%;
      height: 35px;
      line-height: 35px;
      border: none;
      border-radius: 2px;
      float: left; }
    .header .container-header .search .btn-search {
      margin-left: 10px;
      padding: 0 15px;
      height: 35px;
      line-height: 35px;
      min-width: 100px;
      border: none;
      border-radius: 2px;
      float: left; }
    .header .container-header .logo {
      text-align: right;
      height: 35px; }

.main-menu {
  margin-top: 10px;
  padding: 0 0 0 25%;
  width: 100%; }
  .main-menu li {
    float: none;
    display: inline-block; }
    .main-menu li .sub-menu-top-1 {
      font-size: 1rem;
      padding: 10px 10px;
      color: #fff !important; }
      .main-menu li .sub-menu-top-1:hover, .main-menu li .sub-menu-top-1:focus, .main-menu li .sub-menu-top-1:active {
        color: #e61e25 !important;
        background-color: #2a313c !important; }
    .main-menu li .dropdown-menu li {
      width: 100%; }
  .main-menu .open .caret {
    border-bottom: 4px dashed !important;
    border-top: 0 dashed !important; }

.icon-menu {
  display: none; }

/*** End Header ** */
/*** Content ** */
.content-promotion {
  margin-top: 0; }
  .content-promotion .content-promotion-col {
    width: 100%;
    display: flex;
    float: left; }
    .content-promotion .content-promotion-col .left-col {
      width: 20%;
      background-color: #e9e9e9;
      list-style-type: none;
      float: left; }
    .content-promotion .content-promotion-col .main-col {
      padding: 0 5%;
      width: 80%;
      background-color: #fff;
      list-style-type: none;
      float: left; }

.dropdown-menu-left-col {
  position: inherit;
  border: none;
  background: transparent;
  box-shadow: none; }
  .dropdown-menu-left-col li a {
    padding-top: 10px;
    padding-bottom: 10px; }
    .dropdown-menu-left-col li a:hover {
      background-color: transparent; }

.left-col ul {
  margin: 0 3%;
  width: 94%;
  float: left; }
  .left-col ul .sub-1 {
    border-bottom: 1px solid #a9a9a9; }
  .left-col ul .sub-1 > a {
    font-size: 1.2rem; }
    .left-col ul .sub-1 > a b {
      margin-top: 8px; }
  .left-col ul li {
    list-style-type: none;
    width: 100%;
    float: left; }
    .left-col ul li a {
      color: #333333;
      font-weight: bold; }
      .left-col ul li a:hover, .left-col ul li a:active {
        color: #e61e25;
        background-color: transparent !important; }
      .left-col ul li a b {
        float: right; }
  .left-col ul .open > a {
    color: #e61e25; }
  .left-col ul .open .caret {
    border-bottom: 4px dashed !important;
    border-top: 0 dashed !important; }

.title-top {
  display: block;
  text-align: center;
  margin: 20px 0 10px;
  font-size: 2.5rem;
  color: #e61e25; }

.menu-top-page {
  margin-bottom: 20px;
  width: 100%;
  display: inline-flex;
  text-align: center; }
  .menu-top-page .ul-menu-top-page {
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    display: inline-block;
    text-align: center; }
    .menu-top-page .ul-menu-top-page li {
      padding: 5px;
      list-style-type: none;
      display: inline-block; }
      .menu-top-page .ul-menu-top-page li a {
        border-radius: 2px;
        padding: 7px 10px;
        color: #fff;
        background-color: #333333;
        width: 100%;
        text-align: center;
        float: left;
        font-size: 1rem; }
      .menu-top-page .ul-menu-top-page li a:hover {
        background-color: #e61e25; }

.thumbnail-img-promotion {
  width: 100px;
  height: 100px; }

.product-grid-promotion-right {
  padding: 0 0 0 10px; }

.price {
  margin-top: 5px;
  width: 100%;
  font-size: 1rem;
  text-align: left;
  color: #e61e25;
  font-weight: bold;
  text-align: left;
  float: left; }

.title-product-item {
  text-align: left; }

.thumb-box-border {
  border: 1px solid #dcdee3; }

.title-box {
  padding: 5px 10px;
  width: 100%;
  color: #fff;
  background-color: #2a313c;
  float: left; }
  .title-box h2 {
    float: left;
    color: #fff; }
  .title-box .box-btn-detail {
    color: #ffe400;
    float: right;
    line-height: 1.5rem; }

.product-grid {
  width: 100%;
  float: left; }
  .product-grid li {
    padding: 10px;
    width: 25%;
    text-align: center;
    list-style-type: none;
    float: left;
    height: 145px; }
    .product-grid li:first-child {
      min-height: 300px; }
      .product-grid li:first-child .product-grid-promotion-left {
        margin-bottom: 10px;
        width: 100%;
        height: 140px; }
        .product-grid li:first-child .product-grid-promotion-left a .thumbnail-img-promotion {
          width: 140px;
          height: 140px; }

.box-product {
  margin-bottom: 20px;
  float: left; }

/*** End Content ** */
/*** Footer ** */
footer {
  width: 100%;
  float: left; }

footer .background {
  width: 100%;
  padding: 20px 0;
  background: #232f3e; }

footer .tail {
  width: 100%;
  padding: 1%;
  background: #091728;
  text-align: center;
  font-weight: bold;
  color: #fff; }

footer .tail a {
  color: #fff; }

footer .tail p img {
  width: 200px; }

footer nav ul {
  font-size: 0;
  letter-spacing: -1px; }

footer nav ul li {
  display: inline-block;
  vertical-align: middle;
  width: 32%;
  padding: 3% 2%;
  margin: 2% 2% 2% 0;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  border-right: 1px #ddd solid; }

footer nav ul li:last-child {
  margin: 0; }

footer nav ul li a {
  display: block;
  text-align: center;
  color: #fff; }

footer .sitemap_ui {
  width: 90%;
  margin: 0 auto; }

footer .sitemap_ui ul li.big > dl:first-child {
  height: 160px; }

footer .sitemap_ui ul li.big > dl dd > ul li a img {
  max-width: 120px; }

.sitemap_ui ul {
  display: table;
  width: 100%; }

.sitemap_ui ul li {
  display: table-cell; }

.sitemap_ui ul li > dl dt {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.15rem;
  color: #fff;
  margin: 0 0 10px 0; }

.sitemap_ui ul li > dl dd.photos {
  text-align: left; }

.sitemap_ui ul li > dl dd > ul li {
  display: block;
  width: 100%;
  letter-spacing: 0.15rem;
  color: #fff;
  margin: 0 0 5px 0; }

.sitemap_ui ul li > dl dd > ul li a {
  color: #fff; }

/*** End Footer ** */
/**** Content detail page **** */
@media all and (max-width: 767px) {
  .header .container-header .search .btn-search {
    min-width: auto !important; }

  .icon-menu {
    margin: 0;
    color: #fff;
    height: 55px;
    width: 55px;
    border: none;
    border-left: 1px solid #333333 !important;
    border-radius: 0;
    background-color: #2a313c;
    float: right;
    display: block; }
    .icon-menu:hover, .icon-menu:focus, .icon-menu:active {
      background-color: #333333 !important; }

  .search {
    padding: 10px;
    position: relative;
    background-color: #333333; }

  .txt-search {
    width: 100% !important;
    border-radius: 0 !important; }

  .btn-search {
    border-radius: 0 !important;
    position: absolute;
    right: 10px;
    top: 10px; }

  .logo {
    margin: 10px 5px;
    padding: 0;
    text-align: left !important;
    height: 35px; }

  .header .container-header {
    margin: 0;
    padding: 0; }

  .main-menu {
    margin: 0;
    padding: 0 10px;
    float: left;
    display: none; }
    .main-menu li {
      width: 100%;
      float: left;
      list-style-type: none;
      border-bottom: 1px solid #000000; }
      .main-menu li:last-child {
        border-bottom: none; }
      .main-menu li .sub-menu-top-1 b {
        margin-top: 5px;
        float: right; }
      .main-menu li .dropdown-menu li {
        border-bottom: none !important; }

  .content-promotion-col {
    display: inherit !important; }

  .left-col {
    width: 100% !important; }

  .main-col {
    width: 100% !important; }

  .product-grid li {
    width: 100% !important;
    height: auto !important; }

  footer .background {
    height: auto; }

  footer .tail {
    padding: 2%;
    font-size: 16rem; }

  footer .sitemap_ui ul li {
    display: block;
    width: 100%; }

  .product-grid li:first-child {
    min-height: auto !important; }

  .title-box .box-btn-detail span {
    display: none; } }
@media all and (min-width: 768px) and (max-width: 1279px) {
  .product-grid li {
    width: 33.33333%; }
  .product-grid li:nth-child(8), .product-grid li:nth-child(9), .product-grid li:nth-child(10) {
    display: none !important; } }
@media all and (min-width: 768px) and (max-width: 921px) {
  .thumbnail-img-promotion {
    width: 80px;
    height: 80px; }

  .price {
    font-size: 0.85rem !important; } }
/* ---- grid ---- */
.menu-grid {
  margin-bottom: 15px;
  padding: 0 10px; }

.grid {
  width: 100%;
  float: left; }

/* clearfix */
.grid:after {
  content: "";
  display: block;
  clear: both; }

/* ---- grid-item ---- */
.grid-sizer,
.grid-item {
  width: 20%; }

.grid-item {
  padding: 5px;
  float: left; }
  .grid-item a {
    width: 100%;
    float: left; }
    .grid-item a:hover img {
      opacity: 0.8; }
    .grid-item a img {
      width: 100% !important; }
  .grid-item .grid-item-4 {
    margin-top: 10px; }

.grid-item--width2 {
  width: 33.33333%; }

.grid-item--width3 {
  width: 66.66666%; }

.grid-item--height2 {
  height: 200px; }

.grid-item--height3 {
  height: 260px; }

.grid-item--height4 {
  height: 360px; }

/*# sourceMappingURL=templatepromotion.css.map */
