@charset "UTF-8";
/*** Reset css** */
div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  line-height: 1.4;
  font-size: 0.85rem; }

* > span,
* > a,
* > b,
* > small,
* > strong,
* > s,
* > i {
  font-size: inherit; }

html, body {
  font-family: Helvetica, Arial, Verdana, "Microsoft JhengHei", "微軟正黑體", "PMingLiU", sans-serif;
  font-size: 100%;
  font-weight: 400;
  line-height: 1.4;
  color: #333333;
  background: #ffffff; }

.all-page {
  font-size: 0.85rem;
  line-height: 1.4; }

h1, h2 {
  font-family: Helvetica, Arial, Verdana, Simhei, "Microsoft JhengHei", "微軟正黑體", "PMingLiU", sans-serif; }

h1 {
  font-size: 1.5rem; }

h2, cite {
  font-size: 1.2rem; }

h3 {
  font-size: 1rem; }

p {
  font-size: 0.85rem; }

.size-19rem {
  font-size: 1.9rem; }
  .size-19rem.size-force {
    font-size: 1rem !important; }

.size-15rem {
  font-size: 1.5rem; }
  .size-15rem.size-force {
    font-size: 1rem !important; }

.size-12rem {
  font-size: 1.2rem; }
  .size-12rem.size-force {
    font-size: 1rem !important; }

.size-10rem {
  font-size: 1rem; }
  .size-10rem.size-force {
    font-size: 1rem !important; }

.size-08rem {
  font-size: 0.85rem; }
  .size-08rem.size-force {
    font-size: 1rem !important; }

a {
  color: #005fb3;
  text-decoration: none;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: none; }
  a:hover, a:focus {
    color: #e61e25;
    text-decoration: none; }

img {
  max-width: 100%;
  max-height: 100%; }

/* Chrome/Opera/Safari */
::-webkit-input-placeholder {
  line-height: 28px;
  font-size: 1rem;
  color: #ccc; }

/* Firefox 19+ */
::-moz-placeholder {
  line-height: 28px;
  font-size: 1rem;
  color: #ccc; }

/* IE 10+ */
::-ms-input-placeholder {
  line-height: 28px;
  font-size: 1rem;
  color: #ccc; }

/* Firefox 18- */
::-moz-placeholder {
  line-height: 28px;
  font-size: 1rem;
  color: #ccc; }

.tooltip-inner {
  max-width: 300px;
  width: auto;
  padding: 5px;
  font-size: 0.85rem;
  letter-spacing: 1px; }

.zoom-image {
  overflow: hidden;
  display: table-cell; }
  .zoom-image img {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }

.zoom-image:hover img {
  opacity: 0.8; }

.navbar-default {
  border-color: #e7e7e7;
  background-color: #ffffff; }
  .navbar-default .menu-shopping {
    background: #efefef; }
  .navbar-default .navbar-nav .dropdown.active > a {
    color: #333 !important; }
  .navbar-default .navbar-nav .dropdown.open .dropdown-menu > li > a {
    color: #333; }
    .navbar-default .navbar-nav .dropdown.open .dropdown-menu > li > a.active-navbar {
      color: #fff; }
    .navbar-default .navbar-nav .dropdown.open .dropdown-menu > li > a:before {
      content: " - "; }

.overflow-menu-ui {
  position: relative;
  height: 30px;
  overflow: visible; }
  .overflow-menu-ui ul.overflow-menu {
    height: 30px;
    max-width: 100%; }
    .overflow-menu-ui ul.overflow-menu > li {
      display: block;
      float: left;
      height: auto;
      white-space: nowrap; }
  .overflow-menu-ui ul.overflow-sub-menu li {
    width: 100% !important; }
    .overflow-menu-ui ul.overflow-sub-menu li a {
      width: 100%; }
  .overflow-menu-ui ul.overflow-menu-collect {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    padding: 1px;
    overflow: visible; }
    .overflow-menu-ui ul.overflow-menu-collect .dropdown a {
      padding: 5px 0px;
      border-radius: 0;
      height: 30px;
      line-height: 20px;
      color: #fff;
      width: 100%;
      display: block; }
      .overflow-menu-ui ul.overflow-menu-collect .dropdown a:hover {
        background: none; }
    .overflow-menu-ui ul.overflow-menu-collect .dropdown ul li > a {
      padding: 5px; }
    .overflow-menu-ui ul.overflow-menu-collect .dropdown.open a {
      background: none; }
    .overflow-menu-ui ul.overflow-menu-collect .goodlife {
      font-style: italic;
      font-size: 0.85rem;
      color: #fff38e;
      overflow: hidden;
      word-break: break-all;
      word-wrap: break-word;
      height: 30px;
      margin: 0;
      line-height: 20px;
      padding: 5px; }
    .overflow-menu-ui ul.overflow-menu-collect ul.dropdown-menu {
      right: 0;
      left: auto; }
      .overflow-menu-ui ul.overflow-menu-collect ul.dropdown-menu li {
        border-bottom: #ccc; }
        .overflow-menu-ui ul.overflow-menu-collect ul.dropdown-menu li a {
          color: #333333; }
          .overflow-menu-ui ul.overflow-menu-collect ul.dropdown-menu li a:hover {
            color: #e61e25;
            background: none; }

.btn-basic-wide {
  width: 220px; }

.btn-basic-tiny {
  width: 110px; }

.no-margin {
  margin: 0 !important; }

.no-margin-horizontal {
  margin-left: 0 !important;
  margin-right: 0 !important; }

@media (max-width: 767px) {
  .navbar-default .navbar-nav .dropdown .dropdown-menu > li > a {
    color: #fff !important; } }
.active-navbar {
  background-color: #e61e25; }
  .active-navbar:hover, .active-navbar:focus {
    background-color: #e61e25 !important; }

input, select {
  outline: none; }
  input:focus, select:focus {
    outline: none; }

hr {
  border-top: 1px solid #ccc; }

.btn {
  border-color: #ccc;
  height: 38px !important;
  font-size: 1rem;
  padding: 5px 10px !important;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0; }
  .btn.btn-small {
    height: 33px !important;
    font-size: 0.85rem;
    padding: 5px !important; }
  .btn.btn-large {
    height: 48px !important;
    font-size: 1.2rem;
    padding: 5px !important; }
  .btn.disabled {
    cursor: no-drop; }

a.btn {
  line-height: 28px !important; }
  a.btn.btn-small {
    line-height: 23px !important; }
  a.btn.btn-large {
    line-height: 38px !important; }
  a.btn.disabled {
    cursor: no-drop; }

.btn-gap-top {
  margin-top: 10px; }

.btn-gap-bottom {
  margin-bottom: 10px; }

.btn-gap-right {
  margin-right: 10px; }

.btn-gap-left {
  margin-left: 10px; }

.btn-warning {
  background-color: #ff6600;
  border: none; }
  .btn-warning:hover {
    background-color: #dd4e00; }

.btn-primary {
  color: #fff;
  background-color: #005fb3;
  border-color: #005fb3; }
  .btn-primary:hover {
    color: #fff;
    background-color: #005699;
    border-color: #005699; }

.btn-sub {
  color: #333333;
  background-color: #ffed00;
  border-color: #ccc; }
  .btn-sub:hover {
    background-color: #eedc4d; }

.btn-danger {
  color: #fff;
  background-color: #e61e25;
  border-color: #e61e25; }
  .btn-danger:hover {
    color: #fff;
    background-color: #ac2925; }

.btn-facebook {
  color: #fff;
  background-color: #3b5998;
  border-color: #3b5998; }
  .btn-facebook:hover {
    color: #fff;
    background-color: #324b81; }

.btn-default {
  color: #666;
  background-color: #fff;
  border-color: #ccc; }
  .btn-default:hover {
    color: #666;
    background-color: #e6e6e6;
    border-color: #adadad; }

.label {
  font-size: 0.85rem;
  padding: 0.3em 0.6em 0.3em; }
  .label.label-large {
    font-size: 1rem; }

.label-danger {
  border: 1px #d9534f solid; }

.label-primary {
  border: 1px #337ab7 solid; }

.label-success {
  border: 1px #5cb85c solid; }

.label-urgent {
  background: #e61e25;
  color: #fff;
  font-weight: bold;
  border: 1px #e61e25 solid; }

.label-normal {
  background: #fff;
  color: #e61e25;
  font-weight: bold;
  border: 1px #e61e25 solid; }

.label-cold {
  background: #fff;
  color: #5281c1;
  font-weight: bold;
  border: 1px #304d85 solid; }

.label-warm {
  background: #fff;
  color: #fb722d;
  font-weight: bold;
  border: 1px #ee5e44 solid; }

.label-purple {
  background: #961975;
  color: #fff;
  font-weight: bold;
  border: 1px #961975 solid; }

.btn-label {
  border-color: #ccc;
  border-style: solid;
  height: 38px;
  font-size: 1rem;
  padding: 5px 10px;
  line-height: 28px; }
  .btn-label.nowrap {
    white-space: nowrap; }
  .btn-label.start-label {
    padding-left: 0; }
  .btn-label.label-small {
    height: 33px;
    font-size: 0.85rem;
    padding: 5px;
    line-height: 23px; }
  .btn-label.label-large {
    height: 48px;
    font-size: 1.2rem;
    padding: 5px;
    line-height: 38px; }

input.btn-label {
  border-width: 1px; }

.select2-container .select2-selection--single {
  height: 38px; }
  .select2-container .select2-selection--single .select2-selection__rendered {
    line-height: 38px; }
  .select2-container .select2-selection--single .select2-selection__arrow {
    height: 36px; }
.select2-container .select2-results__options {
  touch-action: pan-y pinch-zoom;
  -webkit-overflow-scrolling: touch; }

.text-vertical-center {
  display: table-cell;
  text-align: center;
  vertical-align: middle; }

.font-color-normal {
  color: #333333; }

.font-color-red {
  color: #e61e25; }

.font-color-white {
  color: #fff; }

.font-color-orange {
  color: #f0ad4e; }

.font-color-blue {
  color: #005fb3; }

.font-color-gray {
  color: #dddddd; }

.font-color-green {
  color: #5cb85c; }

.font-normal {
  font-weight: normal; }

.font-bold {
  font-weight: bold; }

.width-full {
  width: 100% !important; }

.word-break {
  word-break: break-all; }

.bg-color-red {
  background-color: #e61e25;
  color: #fff; }

.bg-color-red:active, .bg-color-red:focus, .bg-color-red:hover {
  background-color: #e61e25;
  color: #fff; }

.rounded-img {
  border-radius: 2px !important;
  -moz-border-radius: 2px !important;
  -webkit-border-radius: 2px !important;
  -o-border-radius: 2px !important;
  -ms-border-radius: 2px !important; }

.img-responsive {
  margin: 0 auto; }

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #292929 !important;
  border-bottom: 3px solid #e61e25 !important;
  max-height: 375px !important; }
  .navbar-default .navbar-collapse .nav.navbar-nav, .navbar-default .navbar-form .nav.navbar-nav {
    width: 65%; }

@media (max-width: 767px) {
  .navbar-default .navbar-collapse .navbar-nav li {
    width: 100% !important; } }
.desktop .nav-up {
  top: -40px;
  border-bottom: 2px #fff solid; }

.center-box {
  margin: 10px 0;
  text-align: center;
  width: 100%;
  float: left; }

.no-padding {
  padding: 0; }

.no-padding-horizontal {
  padding-right: 0;
  padding-left: 0; }

.box-padding-2 {
  padding: 2%; }

.box-padding-5 {
  padding: 5%; }

.vertical-middle {
  display: inline-block;
  vertical-align: middle; }

span.helper {
  display: inline-block;
  vertical-align: middle;
  height: 100%; }

ol.breadcrumb-product-detail {
  margin: -5px 0 0 0;
  padding-left: 0; }

.select2-container--default .select2-selection--single {
  border-radius: 0; }

.text-center {
  text-align: center !important; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.col-inline {
  font-size: 0; }
  .col-inline [class^=col-] {
    float: none;
    display: inline-block;
    vertical-align: middle; }

.bx-wrapper.bx-with-pager {
  margin-bottom: 10px; }

.bx-custom-pager .active {
  border-color: #e61e25; }
.bx-custom-pager .owl-prev,
.bx-custom-pager .owl-next {
  top: 24%;
  padding: 5px 5px; }

@media (max-width: 992px) {
  .bx-custom-pager .owl-prev,
  .bx-custom-pager .owl-next {
    padding: 5px 5px;
    top: 25%; } }
@media (max-width: 461px) {
  .bx-custom-pager .owl-prev,
  .bx-custom-pager .owl-next {
    padding: 10px 10px;
    top: 30%; } }
/*** End reset css ** */
/*** Reset custom css page ** */
/* dotted-text */
.dotted-text {
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  word-break: break-all;
  word-wrap: break-word;
  white-space: nowrap; }

.dotted-text1 {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  word-wrap: break-word;
  white-space: nowrap;
  display: block;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  max-height: 200%; }
  .dotted-text1.force-limit {
    height: 19.5px; }

.dotted-text2 {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  max-height: 200%; }
  .dotted-text2.force-limit {
    height: 39px; }

.dotted-text3 {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  max-height: 300%; }
  .dotted-text3.force-limit {
    height: 58.5px; }

.dotted-text4 {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  max-height: 400%; }
  .dotted-text4.force-limit {
    height: 78px; }

/* Fix with one column */
.box-fix-column {
  margin: 0;
  padding: 0;
  width: 100%;
  float: left; }
  .box-fix-column .box-fix-with, .box-fix-column .fix {
    margin: 0;
    padding: 0;
    float: left; }
  .box-fix-column .box-fix-auto, .box-fix-column .auto {
    float: none;
    width: auto;
    overflow: hidden; }

/* box content child */
.box-content-child {
  padding: 10px;
  width: 100%;
  float: left; }

/* thumb img 70px/70px */
.thumbnail-img-70 {
  width: 70px !important;
  height: 70px !important; }

/* thumb img 140px/140px */
.thumbnail-img-140 {
  width: 140px !important;
  height: 140px !important; }

/* thumb img 168px/127px */
.thumbnail-img-168 {
  width: 168px !important;
  height: 127px !important; }

@media (max-width: 767px) {
  .zoom-image {
    padding: 2px; } }
/* button strong style */
.style-button-strong {
  min-width: 180px;
  font-weight: bold;
  font-size: 1.2rem; }

/*** End reset custom css page ** */
.navbar-nav .open a:hover {
  color: #555 !important; }

.navbar-nav li.current {
  background-color: #e7e7e7; }
  .navbar-nav li.current a {
    color: #555 !important; }

.img-full {
  width: 100%; }

.borderless td, .borderless tr {
  border: none !important; }

.borderless tr td:first-child {
  width: 100px; }

.box-wanted-page {
  padding: 20px;
  background-color: #e0e0e0;
  border-radius: 5px;
  width: 100%;
  float: left; }

.box-wanted-page ul li {
  list-style-type: none; }
  .box-wanted-page ul li h1 {
    margin-bottom: 10px; }

.switch {
  margin-top: 20px;
  width: 100%;
  float: left; }
  .switch a {
    border: 2px solid #A51320;
    border-radius: 5px;
    color: #A51320;
    margin: 0px 9px 0px 0px;
    padding: 22px 43px;
    display: block;
    float: left;
    background: #fff;
    font-size: 14px;
    font-weight: bold; }
  .switch .select {
    text-decoration: none;
    background: #A51320;
    color: #fff; }

.ul-article {
  padding: 0;
  display: flex; }
  .ul-article .li-article {
    padding-bottom: 10px;
    border-bottom: 1px dotted #aaa; }
  .ul-article .content-2 {
    padding-left: 0;
    border-bottom: none; }
    .ul-article .content-2 span {
      width: 100%;
      float: left; }
    .ul-article .content-2 .img-btn-img-click {
      margin-top: 30px;
      float: left; }
  .ul-article .text-center {
    padding-right: 0; }

.example {
  width: 100%;
  float: left; }
  .example .question {
    margin-top: 10px;
    padding: 0;
    position: relative;
    float: left; }
    .example .question .border {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 999;
      width: 100% !important; }
    .example .question img {
      width: 100% !important; }

.btn-calendar-wanted {
  background-color: #f2f3f3;
  padding: 20px;
  border-radius: 5px; }
  .btn-calendar-wanted a {
    padding: 10px;
    margin: 5px;
    min-width: 290px;
    font-weight: bold; }
  .btn-calendar-wanted label {
    clear: both;
    width: 100%; }

.box-calendar .row .title {
  padding: 0;
  margin: 0;
  list-style: none; }
  .box-calendar .row .title li {
    float: left;
    margin: 0;
    width: 14.28571%;
    padding: 0 5px; }
    .box-calendar .row .title li span {
      width: 100%;
      height: 30px;
      background: #000;
      color: #fff;
      font-size: 1.2rem;
      font-weight: bold;
      text-align: center;
      border-radius: 8px 8px 0 0;
      line-height: 1.5;
      float: left; }
.box-calendar .row .ct-calendar {
  padding: 0;
  margin: 5px 0 0 0;
  list-style: none;
  width: 100%;
  float: left; }
  .box-calendar .row .ct-calendar li {
    float: left;
    margin: 0;
    width: 14.28571%;
    padding: 5px; }
    .box-calendar .row .ct-calendar li .ct-box-calendar {
      width: 100%;
      background-color: #fff;
      float: left;
      position: relative; }
      .box-calendar .row .ct-calendar li .ct-box-calendar .date {
        padding: 2px 0 2px 5px;
        border-bottom: 1px dotted #000;
        float: left;
        font-weight: bold;
        height: 24px; }
      .box-calendar .row .ct-calendar li .ct-box-calendar a .thum {
        margin-bottom: 20px; }
      .box-calendar .row .ct-calendar li .ct-box-calendar a .cover {
        z-index: 2;
        width: 100%;
        opacity: 0.9;
        position: absolute;
        left: 0;
        top: 24px; }

.ct-article span {
  margin: 5px 0 15px;
  border: 2px solid #fff;
  padding: 15px;
  width: 100%;
  float: left; }

.quiz-page {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff000; }

.box-quiz-page {
  margin-bottom: 50px;
  padding: 15px;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  float: left; }
  .box-quiz-page h1 {
    font-size: 2rem; }
  .box-quiz-page .box-quiz-page-info-top {
    padding: 15px;
    width: 100%;
    float: left;
    border: 1px dotted #999; }

.message {
  padding: 0 30px;
  list-style-type: none;
  width: 100%;
  float: left; }
  .message li {
    width: 100%;
    float: left; }
    .message li span {
      width: 100%;
      color: #fff;
      padding: 5px 10px;
      background-color: #2a313c;
      float: left; }

.guess-page {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #d90114; }
  .guess-page .box-guess-page {
    margin-bottom: 50px;
    padding: 15px;
    width: 100%;
    background-color: #fff;
    float: left; }
    .guess-page .box-guess-page .title {
      font-size: 1rem;
      padding: 0 10px;
      border-left: 5px solid #e61e25;
      color: #e61e25;
      float: left; }
    .guess-page .box-guess-page .box-guess-page-info-top {
      padding: 15px;
      border: 1px dotted #999;
      float: left; }

.box-quiz-left {
  width: 454px; }

.ul-guess-img {
  width: 100%;
  list-style-type: none;
  float: left; }
  .ul-guess-img .photo {
    width: 100%;
    float: left; }
  .ul-guess-img .player {
    padding: 0;
    width: 100%;
    background-color: #e61e25;
    float: left; }
    .ul-guess-img .player .ul-player {
      width: 100%;
      list-style-type: none;
      float: left;
      display: flex; }
      .ul-guess-img .player .ul-player li {
        padding: 10px;
        border-left: 1px solid #b50010; }
        .ul-guess-img .player .ul-player li:first-child {
          border-left: none; }
      .ul-guess-img .player .ul-player .play .btn-play {
        padding: 5px;
        width: 100%;
        color: #fff;
        text-align: center;
        float: left;
        border-radius: 5px; }
        .ul-guess-img .player .ul-player .play .btn-play span {
          text-align: center;
          width: 100%;
          float: left; }
        .ul-guess-img .player .ul-player .play .btn-play i {
          margin: 0 auto; }
        .ul-guess-img .player .ul-player .play .btn-play:hover {
          background-color: #a7000f; }
      .ul-guess-img .player .ul-player .timer {
        padding: 10px; }
        .ul-guess-img .player .ul-player .timer div {
          margin: 16px 0;
          width: 100%;
          background-color: #fff;
          height: 15px;
          float: left; }
          .ul-guess-img .player .ul-player .timer div p {
            background: #ffba00;
            height: 15px;
            width: 0; }
  .ul-guess-img .title span {
    margin-bottom: 10px;
    float: left; }
  .ul-guess-img .btn-guess .ct-btn-guess {
    margin: 10px 0; }
    .ul-guess-img .btn-guess .ct-btn-guess .row {
      padding: 10px;
      border: 1px solid #cdcdcd;
      background-color: #ebebeb; }
      .ul-guess-img .btn-guess .ct-btn-guess .row .text-ct-detail {
        width: 100%;
        margin: 10px 0;
        float: left; }
      .ul-guess-img .btn-guess .ct-btn-guess .row .btn {
        font-size: 1.2rem;
        font-weight: bold;
        width: 100%; }

.box-quiz-right {
  padding: 0 0 0 15px; }

.sale-page {
  width: 100%;
  float: left; }

.ct-sale-page {
  width: 100%;
  float: left; }
  .ct-sale-page .title {
    padding: 10px 20px;
    background-color: #e61e25; }
    .ct-sale-page .title h2 {
      color: #fff; }

.ct-menu-sale {
  float: left; }
  .ct-menu-sale ul {
    padding: 0 3px;
    list-style-type: none; }
    .ct-menu-sale ul li {
      float: left;
      padding: 5px 12px; }
      .ct-menu-sale ul li a {
        color: #333333;
        font-size: 1rem;
        padding: 10px;
        border: 1px solid #e61e25;
        width: 100%;
        text-align: center;
        float: left; }
        .ct-menu-sale ul li a:hover {
          background-color: #e61e25;
          color: #fff; }

.content-box-sale {
  width: 100%;
  float: left; }
  .content-box-sale .product-sale {
    width: 100%;
    float: left;
    list-style-type: none; }
    .content-box-sale .product-sale .li-product-sale {
      padding: 20px 15px;
      border: 1px solid #b7b7b7;
      float: left; }
      .content-box-sale .product-sale .li-product-sale .photo-box {
        width: 100%;
        float: left; }
        .content-box-sale .product-sale .li-product-sale .photo-box li {
          list-style-type: none;
          padding: 0 10px; }
          .content-box-sale .product-sale .li-product-sale .photo-box li figure img {
            -webkit-transform: scale(1.02);
            -moz-transform: scale(1.02);
            -ms-transform: scale(1.02);
            -o-transform: scale(1.02);
            transform: scale(1.02); }
            .content-box-sale .product-sale .li-product-sale .photo-box li figure img:hover {
              -webkit-transform: scale(1.2);
              -moz-transform: scale(1.2);
              -ms-transform: scale(1.2);
              -o-transform: scale(1.2);
              transform: scale(1.2); }
        .content-box-sale .product-sale .li-product-sale .photo-box li:first-child {
          border-right: 1px dotted #b7b7b7;
          padding-left: 0;
          width: 66.3%;
          float: left; }
        .content-box-sale .product-sale .li-product-sale .photo-box li:last-child {
          padding-right: 0;
          width: 33.7%;
          float: left; }
      .content-box-sale .product-sale .li-product-sale:hover {
        border: 1px solid #e61e25; }
    .content-box-sale .product-sale label {
      margin: 10px 0;
      padding: 2px 5px;
      font-size: 1rem;
      font-weight: bold;
      width: 100%;
      color: #fff;
      float: left;
      background-color: #696969;
      text-align: center;
      height: 28px; }
    .content-box-sale .product-sale span {
      width: 100%;
      font-size: 1.2rem;
      height: 30px;
      float: left; }

.content-new-sale .new-sale {
  list-style-type: none; }
  .content-new-sale .new-sale li {
    margin-top: 10px;
    float: left; }
    .content-new-sale .new-sale li h2 {
      padding: 10px;
      width: 100%;
      text-align: center;
      float: left; }
    .content-new-sale .new-sale li a {
      margin-bottom: 10px;
      width: 100%;
      float: left; }
      .content-new-sale .new-sale li a figure {
        width: 100%;
        float: left; }
        .content-new-sale .new-sale li a figure img {
          width: 100%;
          float: left; }
    .content-new-sale .new-sale li span {
      background-color: #696969;
      min-height: 80px;
      border-radius: 5px;
      color: #fff;
      width: 100%;
      padding: 15px;
      float: left; }
.content-new-sale .new-special-sale {
  padding: 15px 35px;
  width: 100%;
  background-color: #efefef;
  float: left; }
  .content-new-sale .new-special-sale .li-special-sale {
    padding: 10px 15px;
    list-style-type: none;
    float: left; }
    .content-new-sale .new-special-sale .li-special-sale .ct-li-special-sale {
      padding: 20px;
      border: 5px solid #c4cee0;
      float: left; }
      .content-new-sale .new-special-sale .li-special-sale .ct-li-special-sale:hover {
        border: 5px solid #e61e25; }
      .content-new-sale .new-special-sale .li-special-sale .ct-li-special-sale span {
        width: 100%;
        margin-top: 10px;
        height: 60px;
        overflow: auto;
        float: left; }

.btn-new-special {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 40px;
  font-size: 1.2rem;
  font-weight: bold; }

.new-other-promotions-sale {
  width: 100%;
  float: left; }
  .new-other-promotions-sale li {
    margin-bottom: 20px;
    padding: 10px 0 0;
    list-style-type: none;
    float: left; }
    .new-other-promotions-sale li span {
      float: left; }

.new-other-promotions-sale2 {
  width: 100%;
  float: left;
  border: 1px solid #dcdee3; }
  .new-other-promotions-sale2 li {
    padding: 20px;
    list-style-type: none;
    float: left; }
    .new-other-promotions-sale2 li h2 {
      margin: 10px 0;
      width: 100%;
      float: left; }
    .new-other-promotions-sale2 li span {
      width: 100%;
      float: left; }

.onoffswitch {
  margin: 7px 0;
  position: relative;
  width: 90px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

.onoffswitch-checkbox {
  display: none; }

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #E0E0E0;
  border-radius: 20px; }

.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s; }

.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box; }

.onoffswitch-inner:before {
  content: "ON";
  padding-left: 10px;
  background-color: #D90114;
  color: #FFFFFF; }

.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 10px;
  background-color: #EEEEEE;
  color: #999999;
  text-align: right; }

.onoffswitch-switch {
  display: block;
  width: 23px;
  margin: 6px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 56px;
  border: 2px solid #E0E0E0;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s; }

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0; }

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px; }

#answers {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: auto;
  display: none; }
  #answers .answer {
    width: 80%;
    margin: 5% auto 0; }

.container-quiz-right {
  padding: 10px 0;
  border: 5px solid #efefef;
  height: 350px;
  overflow: auto; }

@media all and (max-width: 767px) {
  .ul-article {
    display: block !important; }
    .ul-article .li-article {
      margin-bottom: 10px; } }

/*# sourceMappingURL=webikewanted.css.map */
