@charset "UTF-8";
/*** Reset css** */
div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit; }
html, body {
  font-family: "微軟正黑體", "Meiryo", "sans-serif";
  font-size: 100%;
  font-weight: 400;
  line-height: 1.4;
  color: #333333;
  background: #ffffff; }

.all-page {
  font-size: 0.85rem; }

h1, h2 {
  font-family: "simhei", "微軟正黑體", "sans-serif"; }

h1 {
  font-size: 1.5rem; }

h2 {
  font-size: 1.2rem; }

h3 {
  font-size: 1rem; }

p {
  font-size: 0.75rem; }

.size-15rem {
  font-size: 1.5rem; }

.size-12rem {
  font-size: 1.2rem; }

.size-10rem {
  font-size: 1rem; }

.size-08rem {
  font-size: 0.85rem; }

a {
  color: #0066c0;
  text-decoration: none;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: none; }
  a:hover, a:focus {
    color: #e61e25;
    text-decoration: none; }

img {
  max-width: 100%;
  max-height: 100%; }

.zoom-image {
  overflow: hidden;
  display: table-cell; }
  .zoom-image img {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }

.zoom-image:hover img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2); }

.navbar-default {
  background-color: #efefef;
  border-color: #e7e7e7; }

.active-navbar {
  background-color: #e61e25; }
  .active-navbar:hover, .active-navbar:focus {
    background-color: #e61e25 !important; }

input, select {
  outline: none; }
  input:focus, select:focus {
    outline: none; }

.btn {
  padding: 5px 15px;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0; }

.text-vertical-center {
  display: table-cell;
  text-align: center;
  vertical-align: middle; }

.font-color-red {
  color: #e61e25; }

.font-color-white {
  color: #fff; }

.bg-color-red {
  background-color: #e61e25;
  color: #fff; }

.bg-color-red:active, .bg-color-red:focus, .bg-color-red:hover {
  background-color: #e61e25;
  color: #fff; }

.rounded-img {
  border-radius: 2px !important;
  -moz-border-radius: 2px !important;
  -webkit-border-radius: 2px !important;
  -o-border-radius: 2px !important;
  -ms-border-radius: 2px !important; }

.img-responsive {
  margin: 0 auto; }

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #292929 !important; }

.desktop .nav-up {
  top: -40px; }

.center-box {
  margin: 10px 0;
  text-align: center;
  width: 100%;
  float: left; }

ol.breadcrumb-product-detail {
  margin: -5px 0 0 0;
  padding-left: 0; }

.select2-container--default .select2-selection--single {
  border-radius: 0; }

.text-center {
  text-align: center !important; }

/*** End reset css ** */
/*** Reset custom css page ** */
/* dotted-text */
.dotted-text {
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap; }

.dotted-text1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-height: 1.5;
  max-height: 200%; }

.dotted-text2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.5;
  max-height: 200%; }

.dotted-text3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-height: 1.5;
  max-height: 300%; }

.dotted-text4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-height: 1.5;
  max-height: 400%; }

/* Fix with one column */
.box-fix-column {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
  float: left; }
  .box-fix-column .box-fix-with, .box-fix-column .fix {
    margin: 0;
    padding: 0;
    float: left; }
  .box-fix-column .box-fix-auto, .box-fix-column .auto {
    float: none;
    width: auto;
    overflow: hidden; }

/* box content child */
.box-content-child {
  padding: 10px;
  width: 100%;
  float: left; }

/* thumb img 70px/70px */
.thumbnail-img-70 {
  width: 70px !important;
  height: 70px !important; }

/* thumb img 140px/140px */
.thumbnail-img-140 {
  width: 140px !important;
  height: 140px !important; }

/* thumb img 168px/127px */
.thumbnail-img-168 {
  width: 168px !important;
  height: 127px !important; }

/* button strong style */
.style-button-strong {
  min-width: 180px;
  font-weight: bold;
  font-size: 1.2rem; }

/*** End reset custom css page ** */
.img-full {
  width: 100%; }

.borderless td, .borderless tr {
  border: none !important; }

.borderless tr td:first-child {
  width: 100px; }

.box-wanted-page {
  padding: 20px;
  background-color: #e0e0e0;
  border-radius: 5px;
  width: 100%;
  float: left; }

.box-wanted-page ul li {
  list-style-type: none; }
  .box-wanted-page ul li h1 {
    margin-bottom: 10px; }

.switch {
  margin-top: 20px;
  width: 100%;
  float: left; }
  .switch a {
    border: 2px solid #A51320;
    border-radius: 5px;
    color: #A51320;
    margin: 0px 9px 0px 0px;
    padding: 22px 43px;
    display: block;
    float: left;
    background: #fff;
    font-size: 14px;
    font-weight: bold; }
  .switch .select {
    text-decoration: none;
    background: #A51320;
    color: #fff; }

.ul-article {
  padding: 0;
  display: flex; }
  .ul-article .li-article {
    padding-bottom: 10px;
    border-bottom: 1px dotted #aaa; }
  .ul-article .content-2 {
    padding-left: 0;
    border-bottom: none; }
    .ul-article .content-2 span {
      width: 100%;
      float: left; }
    .ul-article .content-2 .img-btn-img-click {
      margin-top: 30px;
      float: left; }
  .ul-article .text-center {
    padding-right: 0; }

.example {
  width: 100%;
  float: left; }
  .example .question {
    margin-top: 10px;
    padding: 0;
    position: relative;
    float: left; }
    .example .question .border {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 999;
      width: 100% !important; }
    .example .question img {
      width: 100% !important; }

.btn-calendar-wanted {
  background-color: #f2f3f3;
  padding: 20px;
  border-radius: 5px; }
  .btn-calendar-wanted a {
    padding: 10px;
    margin: 5px;
    min-width: 290px;
    font-weight: bold; }
  .btn-calendar-wanted label {
    clear: both;
    width: 100%; }

.box-calendar .row .title {
  padding: 0;
  margin: 0;
  list-style: none; }
  .box-calendar .row .title li {
    float: left;
    margin: 0;
    width: 14.28571%;
    padding: 0 5px; }
    .box-calendar .row .title li span {
      width: 100%;
      height: 30px;
      background: #000;
      color: #fff;
      font-size: 1.2rem;
      font-weight: bold;
      text-align: center;
      border-radius: 8px 8px 0 0;
      line-height: 1.5;
      float: left; }
.box-calendar .row .ct-calendar {
  padding: 0;
  margin: 5px 0 0 0;
  list-style: none;
  width: 100%;
  float: left; }
  .box-calendar .row .ct-calendar li {
    float: left;
    margin: 0;
    width: 14.28571%;
    padding: 5px; }
    .box-calendar .row .ct-calendar li .ct-box-calendar {
      width: 100%;
      background-color: #fff;
      float: left;
      position: relative; }
      .box-calendar .row .ct-calendar li .ct-box-calendar .date {
        padding: 2px 0 2px 5px;
        border-bottom: 1px dotted #000;
        float: left;
        font-weight: bold;
        height: 24px; }
      .box-calendar .row .ct-calendar li .ct-box-calendar a .thum {
        margin-bottom: 20px; }
      .box-calendar .row .ct-calendar li .ct-box-calendar a .cover {
        z-index: 2;
        width: 100%;
        opacity: 0.9;
        position: absolute;
        left: 0;
        top: 24px; }

.ct-article span {
  margin: 5px 0 15px;
  border: 2px solid #fff;
  padding: 15px;
  width: 100%;
  float: left; }

.quiz-page {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #fff000; }

.box-quiz-page {
  margin-bottom: 50px;
  padding: 15px 0;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  float: left; }
  .box-quiz-page h1 {
    font-size: 2rem; 
    display: block;
    float: left;
    width: 406px;}
  .box-quiz-page .box-quiz-page-info-top {
    padding: 15px;
    width: 100%;
    float: left;
    border: 1px dotted #999; }

.message {
  padding: 0 30px;
  list-style-type: none;
  width: 100%;
  float: left; }
  .message li {
    width: 100%;
    float: left; }
    .message li span {
      width: 100%;
      color: #fff;
      padding: 5px 10px;
      background-color: #202732;
      float: left; }

.guess-page {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #d90114; }
  .guess-page .box-guess-page {
    margin-bottom: 50px;
    padding: 15px;
    width: 100%;
    background-color: #fff;
    float: left; }
    .guess-page .box-guess-page .title {
      font-size: 1rem;
      padding: 0 10px;
      border-left: 5px solid #e61e25;
      color: #e61e25;
      float: left; }
    .guess-page .box-guess-page .box-guess-page-info-top {
      padding: 15px;
      border: 1px dotted #999;
      float: left; }

.box-quiz-left {
  width: 454px; }

.ul-guess-img {
  width: 100%;
  list-style-type: none;
  float: left; }
  .ul-guess-img .photo {
    width: 100%;
    height: auto;
    float: left; }
  .ul-guess-img .player {
    padding: 0;
    width: 100%;
    background-color: #e61e25;
    float: left; }
    .ul-guess-img .player .ul-player {
      width: 100%;
      list-style-type: none;
      float: left;
      display: flex; }
      .ul-guess-img .player .ul-player li {
        padding-top: 10px;
        padding-bottom: 10px;
        border-left: 1px solid #b50010; }
        .ul-guess-img .player .ul-player li:first-child {
          border-left: none; }
      .ul-guess-img .player .ul-player .play .btn-play {
        padding: 5px;
        width: 100%;
        color: #fff;
        text-align: center;
        float: left;
        border-radius: 5px; }
        .ul-guess-img .player .ul-player .play .btn-play span {
          text-align: center;
          width: 100%;
          float: left; }
        .ul-guess-img .player .ul-player .play .btn-play i {
          margin: 0 auto; }
        .ul-guess-img .player .ul-player .play .btn-play:hover {
          background-color: #a7000f; }
        .ul-guess-img .player .ul-player .timer div {
          margin: 16px 0;
          width: 100%;
          background-color: #fff;
          height: 15px;
          float: left; }
          .ul-guess-img .player .ul-player .timer div p {
            background: #ffba00;
            height: 15px;
            width: 0; }
  .ul-guess-img .title span {
    margin-bottom: 10px;
    float: left; }
  .ul-guess-img .btn-guess .ct-btn-guess {
    margin: 10px 0; }
    .ul-guess-img .btn-guess .ct-btn-guess .row {
      padding: 10px;
      border: 1px solid #cdcdcd;
      background-color: #ebebeb; }
      .ul-guess-img .btn-guess .ct-btn-guess .row .text-ct-detail {
        width: 100%;
        margin: 10px 0;
        float: left; }
      .ul-guess-img .btn-guess .ct-btn-guess .row .btn {
        font-size: 1.2rem;
        font-weight: bold;
        width: 100%; }

.box-quiz-right {
  padding: 0 0 0 15px; }

.sale-page {
  width: 100%;
  float: left; }

.ct-sale-page {
  width: 100%;
  float: left; }
  .ct-sale-page .title {
    padding: 10px 20px;
    background-color: #e61e25; }
    .ct-sale-page .title h2 {
      color: #fff; }

.ct-menu-sale {
  float: left; }
  .ct-menu-sale ul {
    padding: 0 3px;
    list-style-type: none; }
    .ct-menu-sale ul li {
      float: left;
      padding: 5px 12px; }
      .ct-menu-sale ul li a {
        color: #333333;
        font-size: 1rem;
        padding: 10px;
        border: 1px solid #e61e25;
        width: 100%;
        text-align: center;
        float: left; }
        .ct-menu-sale ul li a:hover {
          background-color: #e61e25;
          color: #fff; }

.content-box-sale {
  width: 100%;
  float: left; }
  .content-box-sale .product-sale {
    width: 100%;
    float: left;
    list-style-type: none; }
    .content-box-sale .product-sale .li-product-sale {
      padding: 20px 15px;
      border: 1px solid #b7b7b7;
      float: left; }
      .content-box-sale .product-sale .li-product-sale .photo-box {
        width: 100%;
        float: left; }
        .content-box-sale .product-sale .li-product-sale .photo-box li {
          list-style-type: none;
          padding: 0 10px; }
          .content-box-sale .product-sale .li-product-sale .photo-box li figure img {
            -webkit-transform: scale(1.02);
            -moz-transform: scale(1.02);
            -ms-transform: scale(1.02);
            -o-transform: scale(1.02);
            transform: scale(1.02); }
            .content-box-sale .product-sale .li-product-sale .photo-box li figure img:hover {
              -webkit-transform: scale(1.2);
              -moz-transform: scale(1.2);
              -ms-transform: scale(1.2);
              -o-transform: scale(1.2);
              transform: scale(1.2); }
        .content-box-sale .product-sale .li-product-sale .photo-box li:first-child {
          border-right: 1px dotted #b7b7b7;
          padding-left: 0;
          width: 66.3%;
          float: left; }
        .content-box-sale .product-sale .li-product-sale .photo-box li:last-child {
          padding-right: 0;
          width: 33.7%;
          float: left; }
      .content-box-sale .product-sale .li-product-sale:hover {
        border: 1px solid #e61e25; }
    .content-box-sale .product-sale label {
      margin: 10px 0;
      padding: 2px 5px;
      font-size: 1rem;
      font-weight: bold;
      width: 100%;
      color: #fff;
      float: left;
      background-color: #696969;
      text-align: center;
      height: 28px; }
    .content-box-sale .product-sale span {
      width: 100%;
      font-size: 1.2rem;
      height: 30px;
      float: left; }

.content-new-sale .new-sale {
  list-style-type: none; }
  .content-new-sale .new-sale li {
    margin-top: 10px;
    float: left; }
    .content-new-sale .new-sale li h2 {
      padding: 10px;
      width: 100%;
      text-align: center;
      float: left; }
    .content-new-sale .new-sale li a {
      margin-bottom: 10px;
      width: 100%;
      float: left; }
      .content-new-sale .new-sale li a figure {
        width: 100%;
        float: left; }
        .content-new-sale .new-sale li a figure img {
          width: 100%;
          float: left; }
    .content-new-sale .new-sale li span {
      background-color: #696969;
      min-height: 80px;
      border-radius: 5px;
      color: #fff;
      width: 100%;
      padding: 15px;
      float: left; }
.content-new-sale .new-special-sale {
  padding: 15px 35px;
  width: 100%;
  background-color: #efefef;
  float: left; }
  .content-new-sale .new-special-sale .li-special-sale {
    padding: 10px 15px;
    list-style-type: none;
    float: left; }
    .content-new-sale .new-special-sale .li-special-sale .ct-li-special-sale {
      padding: 20px;
      border: 5px solid #c4cee0;
      float: left; }
      .content-new-sale .new-special-sale .li-special-sale .ct-li-special-sale:hover {
        border: 5px solid #e61e25; }
      .content-new-sale .new-special-sale .li-special-sale .ct-li-special-sale span {
        width: 100%;
        margin-top: 10px;
        height: 60px;
        overflow: auto;
        float: left; }

.btn-new-special {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 40px;
  font-size: 1.2rem;
  font-weight: bold; }

.new-other-promotions-sale {
  width: 100%;
  float: left; }
  .new-other-promotions-sale li {
    margin-bottom: 20px;
    padding: 10px 0 0;
    list-style-type: none;
    float: left; }
    .new-other-promotions-sale li span {
      float: left; }

.new-other-promotions-sale2 {
  width: 100%;
  float: left;
  border: 1px solid #dcdee3; }
  .new-other-promotions-sale2 li {
    padding: 20px;
    list-style-type: none;
    float: left; }
    .new-other-promotions-sale2 li h2 {
      margin: 10px 0;
      width: 100%;
      float: left; }
    .new-other-promotions-sale2 li span {
      width: 100%;
      float: left; }

.onoffswitch {
  margin: 7px 0;
  position: relative;
  width: 90px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

.onoffswitch-checkbox {
  display: none; }

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #E0E0E0;
  border-radius: 20px; }

.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  /*transition: margin 0.3s ease-in 0s;*/ }

.onoffswitch-inner .onswitch, .onoffswitch-inner .offswitch {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box; }

.onoffswitch-inner .onswitch {
  /*content: "ON";*/
  padding-left: 10px;
  background-color: #D90114;
  color: #FFFFFF; }


.onoffswitch-inner .offswitch {
  /*content: "OFF";*/
  padding-right: 10px;
  background-color: #EEEEEE;
  color: #999999;
  text-align: right; }

.onoffswitch-switch {
  display: block;
  width: 23px;
  margin: 6px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 56px;
  border: 2px solid #E0E0E0;
  border-radius: 20px;
 /* transition: all 0.3s ease-in 0s;*/ }

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0; }

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px; }

#answers {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: auto;
  display: none; }
  #answers .answer {
    width: 80%;
    margin: 5% auto 0; }

.container-quiz-right {
  padding: 10px 0;
  border: 5px solid #efefef;
  height: 350px;
  overflow: auto; }
/* ding add & wayne modify something */
/*
.btn-warning {
  width:200px;
  height:40px;
}
.btn-danger {
  width:200px !important;
  height:40px;
}
*/
.red_text{
  color:red;
  font-weight: bold;
}
.guess-page span{
  font-size:1rem !important;
}
.guess-page td:first-child {
  width:114px !important;
}
.guess-page h1 {
  font-size:1.2rem !important;
}
.gamecontain .photo {
  font-size: 0;
  margin-bottom:6%;
}
.gamecontain .mask {
  width:100% !important;
  height:auto !important;
}
.gamecontain .photo img{
  width: 100%;
  height: 100%;
}
.ct-calendar .ct-box-calendar {
  min-height:158px;
}
#choices{
  position: absolute;
  top: 0;
  left: 0;
}
.ul-guess-img .colorbox-13968.image_now{
  position: static;
  height: 100%;
  width: 100%;
}
#answers #ans .box-quiz-page{
  position: relative;
}
/* ding add & wayne modify something */

@media all and (max-width: 767px) {
  .ul-article {
    display: block !important; }
  .ul-article .li-article {
    margin-bottom: 10px; } }

/* ding add & wayne modify something */
@media (max-width: 992px){
  .productinfo {
    position: initial;
  }
  .close{
    position: absolute;
    top: 1%;
    right: 1%;
  }
  .guess-page{
    padding: 20px 8px;
  }
  .productinfo,
  .gamecontain{
    padding-left: 8px;
    padding-right: 8px;
  }
}
@media (max-width: 768px) {

  .ct-calendar li{
    width:33.33333% !important;
  }
  .ct-calendar .ct-box-calendar {
    min-height:200px;
  }
}
@media (max-width: 500px) {
  .ct-calendar li{
    width:50% !important;
  }
  .ct-calendar .ct-box-calendar {
    min-height:150px;
  }
}
/* ding add & wayne modify something */
/*# sourceMappingURL=webikewanted.css.map */
