@extends('response.layouts.1column')
@section('style')
@endsection
@section('script')
    <script src="{!! assetRemote('js/pages/searchList/searchList.js') !!}"></script>
@stop
@section('middle')

    <aside class="ct-left-search-list ct-left-search-list-main-menu col-xs-12 col-sm-4 col-md-3 col-lg-3">
        <ul class="ul-left-title row">
            <!--Category-->
            <li class="li-left-title col-md-12">
                <div class="slide-down-btn">
                    <a href="javascript:void(0)" class="a-left-title">商品分類<i class="fa fa-chevron-down" aria-hidden="true"></i></a>
                </div>
                <ul class="ul-sub1 row">
                    <li class="li-sub1 col-md-12">
                        <div class="slide-down-btn">
                            <a class="a-sub1" href="javascript:void(0)"><span>Helmet</span></a>
                        </div>
                        <ul class="ul-sub2 row">
                            <li class="li-sub2 col-md-12">
                                <div class="slide-down-btn">
                                    <a class="a-sub2" href="javascript:void(0)"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp<span>Fullface</span>&nbsp<span class="count">(500)</span></a>
                                </div>
                                <ul class="ul-sub3 row">
                                    <li class="li-sub2 li-sub3 col-md-12"><a class="a-sub2" href="javascript:void(0)"><span>Sub3</span>&nbsp<span class="count">(500)</span></a></li>
                                    <li class="li-sub2 li-sub3 col-md-12"><a class="a-sub2" href="javascript:void(0)"><span>Sub3-1</span>&nbsp<span class="count">(500)</span></a></li>
                                </ul>
                            </li>
                            <li class="li-sub2 col-md-12">
                                <div class="slide-down-btn">
                                    <a class="a-sub2" href="javascript:void(0)"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp<span>Jet</span>&nbsp<span class="count">(500)</span></a>
                                </div>
                                <ul class="ul-sub3 row">
                                    <li class="li-sub2 li-sub3 col-md-12"><a class="a-sub2" href="javascript:void(0)"><span>Sub3</span>&nbsp<span class="count">(500)</span></a></li>
                                    <li class="li-sub2 li-sub3 col-md-12"><a class="a-sub2" href="javascript:void(0)"><span>Sub3-1</span>&nbsp<span class="count">(500)</span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="li-sub1 col-md-12">
                        <div class="slide-down-btn">
                            <a class="a-sub1" href="javascript:void(0)"><span>Riding Cloth</span></a>
                        </div>
                    </li>
                    <li class="li-sub1 col-md-12">
                        <div class="slide-down-btn">
                            <a class="a-sub1" href="javascript:void(0)"><span>Shoes</span></a>
                        </div>
                        <ul class="ul-sub2 row">
                            <li class="li-sub2 col-md-12">
                                <div class="slide-down-btn">
                                    <a class="a-sub2" href="javascript:void(0)"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp<span>Shoes</span>&nbsp<span class="count">(500)</span></a>
                                </div>
                                <ul class="ul-sub3 row">
                                    <li class="li-sub2 li-sub3 col-md-12"><a class="a-sub2" href="javascript:void(0)"><span>Sub3</span>&nbsp<span class="count">(500)</span></a></li>
                                    <li class="li-sub2 li-sub3 col-md-12"><a class="a-sub2" href="javascript:void(0)"><span>Sub3-1</span>&nbsp<span class="count">(500)</span></a></li>
                                </ul>
                            </li>
                            <li class="li-sub2 col-md-12">
                                <div class="slide-down-btn">
                                    <a class="a-sub2" href="javascript:void(0)"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp<span>Boots</span>&nbsp<span class="count">(752)</span></a>
                                </div>
                                <ul class="ul-sub3 row">
                                    <li class="li-sub2 li-sub3 col-md-12"><a class="a-sub2" href="javascript:void(0)"><span>Sub3</span>&nbsp<span class="count">(500)</span></a></li>
                                    <li class="li-sub2 li-sub3 col-md-12"><a class="a-sub2" href="javascript:void(0)"><span>Sub3-1</span>&nbsp<span class="count">(500)</span></a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li><!--/.category-->
            <!--Brands-->
            <li class="li-left-title col-md-12">
                <div class="slide-down-btn">
                    <a href="javascript:void(0)" class="a-left-title">商品品牌<i class="fa fa-chevron-down" aria-hidden="true"></i></a>
                </div>
                <ul class="ul-sub1 row">
                    <li class="li-sub1 li-sub1-style2 col-md-12"><a class="a-sub1" href="javascript:void(0)"><label><input class="checkbox-left-sidebar-li" type="checkbox">Honda &nbsp<span class="count">(500)</span></label></a></li>
                    <li class="li-sub1 li-sub1-style2 col-md-12"><a class="a-sub1" href="javascript:void(0)"><label><input class="checkbox-left-sidebar-li" type="checkbox">Shoei &nbsp<span class="count">(752)</span></label></a></li>
                    <li class="li-sub1 li-sub1-style2 col-md-12"><a class="a-sub1" href="javascript:void(0)"><label><input class="checkbox-left-sidebar-li" type="checkbox">Arai &nbsp<span class="count">(525)</span></label></a></li>
                </ul>
            </li> <!--/.brands-->
            <!--Price Range-->
            <li class="li-left-title col-md-12">
                <div class="slide-down-btn">
                    <a href="javascript:void(0)" class="a-left-title"><span>Price Range</span><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
                </div>
                <ul class="ul-sub1 row">
                    <li class="li-sub1 li-sub1-style2 col-md-12"><a class="a-sub1" href="javascript:void(0)"><label><input class="checkbox-left-sidebar-li" type="checkbox">$0 - $500 &nbsp<span class="count">(500)</span></label></a></li>
                    <li class="li-sub1 li-sub1-style2 col-md-12"><a class="a-sub1" href="javascript:void(0)"><label><input class="checkbox-left-sidebar-li" type="checkbox">$500 - $1000 &nbsp<span class="count">(752)</span></label></a></li>
                    <li class="li-sub1 li-sub1-style2 col-md-12"><a class="a-sub1" href="javascript:void(0)"><label><input class="checkbox-left-sidebar-li" type="checkbox">$1000 - $1500 &nbsp<span class="count">(525)</span></label></a></li>
                </ul>
            </li> <!--/.price range-->
            <!--Color-->
            <li class="li-left-title col-md-12">
                <div class="slide-down-btn">
                    <a href="javascript:void(0)" class="a-left-title"><span>Color</span><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
                </div>
                <ul class="color-list-box container">
                    <li class="color-box"><div><div class="red"></div></div></li>
                    <li class="color-box"><div><div class="yellow"></div></div></li>
                    <li class="color-box"><div><div class="blue"></div></div></li>
                    <li class="color-box"><div><div class="pink"></div></div></li>
                    <li class="color-box"><div><div class="green"></div></div></li>
                    <li class="color-box"><div><div class="light-blue"></div></div></li>
                </ul>
            </li> <!--./color-->
            <!--Size-->
            <li class="li-left-title col-md-12">
                <div class="slide-down-btn">
                    <a href="javascript:void(0)" class="a-left-title"><span>Size</span><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
                </div>
                <ul class="ul-sub1 row">
                    <li class="li-sub1 li-sub1-style2 col-md-12"><a class="a-sub1" href="javascript:void(0)"><label><input class="checkbox-left-sidebar-li" type="checkbox">0</label></a></li>
                    <li class="li-sub1 li-sub1-style2 col-md-12"><a class="a-sub1" href="javascript:void(0)"><label><input class="checkbox-left-sidebar-li" type="checkbox">1</label></a></li>
                    <li class="li-sub1 li-sub1-style2 col-md-12"><a class="a-sub1" href="javascript:void(0)"><label><input class="checkbox-left-sidebar-li" type="checkbox">2</label></a></li>
                    <li class="li-sub1 li-sub1-style2 col-md-12"><a class="a-sub1" href="javascript:void(0)"><label><input class="checkbox-left-sidebar-li" type="checkbox">3</label></a></li>
                </ul>
            </li> <!--/.size-->
            <!--Satisfaction-->
            <li class="li-left-title col-md-12">
                <div class="slide-down-btn">
                    <a href="javascript:void(0)" class="a-left-title"><span>Satisfaction</span><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
                </div>
                <ul class="ul-sub1 row">
                    <li class="li-sub1 col-md-12"><a class="a-sub1 a-size-option" href="javascript:void(0)"><span class="icon-star star-04"></span><span>& Up</span></a></li>
                    <li class="li-sub1 col-md-12"><a class="a-sub1 a-size-option" href="javascript:void(0)"><span class="icon-star star-04"></span><span>& Up</span></a></li>
                    <li class="li-sub1 col-md-12"><a class="a-sub1 a-size-option" href="javascript:void(0)"><span class="icon-star star-04"></span><span>& Up</span></a></li>
                </ul>
            </li> <!--/satisfaction-->
            <!--新商品-->
            <li class="li-left-title col-md-12">
                <div class="slide-down-btn">
                    <a href="javascript:void(0)" class="a-left-title"><span>新商品</span><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
                </div>
                <ul class="ul-sub1 row">
                    <li class="li-sub1 li-sub1-style2 col-md-12"><a class="a-sub1" href="javascript:void(0)"><label><input class="checkbox-left-sidebar-li" type="radio" name="rdb_day">Nearly 30 days</label></a></li>
                    <li class="li-sub1 li-sub1-style2 col-md-12"><a class="a-sub1" href="javascript:void(0)"><label><input class="checkbox-left-sidebar-li" type="radio" name="rdb_day">Nearly 60 days</label></a></li>
                </ul>
            </li> <!--/.新商品-->
        </ul>
        <div class="ct-left-banner row">
            @include('response.common.dfp.ad-160x600')
        </div>
    </aside>
@stop