	@media (min-width: 768px) {
		.navbar-nav {
			width:100%;
		}
		.navbar-nav li {
			width:9%;
			text-align: center;
			font-size:1rem;
		}
		.promotion-title {
			background: url({{assetRemote('image/benefit/big-promotion/2017_banner_head.png')}}) repeat-x rgb(255,95,121);
			padding-top:100px;
		}
	}
	.webike-logo {
		width:100%;
	}
	.container-header {
		background-color: #ffffff;
		min-height:61px;
	}
	#mainNav {
		background-color: #ffffff;
		min-height:initial;
		position:initial;
		margin-bottom:0px;
		border:0px;
	}
	.col1-logo {
		width:271px;
		height:41px;
		margin:10px;
	}
	.big-promotion .promotion-container {
		background-color: rgb(255,95,121);
		max-width:none;
		width:100% !important;
		padding:0 0 40px 0 !important;
	}
	.promotion-title a:hover {
		opacity: 0.8;
	}
	.main_categories li{
		padding:5px 0;
		display:inline-block;
	}
	.main_categories li img{
		max-width:100%;
	}
	.ct-sale-page {
		width: 100%;
		float: left; 
	}
	.ct-sale-page .title {
		padding: 10px 20px;
		background-color: black; 
	}
    .ct-sale-page .title h2 {
		color: #fff; 
	}

.ct-menu-sale {
  float: left; }
  .ct-menu-sale ul {
    padding: 0 3px;
    list-style-type: none; }
    .ct-menu-sale ul li {
      float: left;
      padding: 5px 12px; }
      .ct-menu-sale ul li a {
        color: #333333;
        font-size: 1rem;
        padding: 10px;
        border: 1px solid #e61e25;
        width: 100%;
        text-align: center;
        float: left; }
        .ct-menu-sale ul li a:hover {
          background-color: #e61e25;
          color: #fff; }

.content-box-sale {
  width: 100%;
  float: left; }
  .content-box-sale .product-sale {
    width: 100%;
    float: left;
    list-style-type: none; }
    .content-box-sale .product-sale .li-product-sale {
      padding: 20px 15px;
      border: 1px solid #b7b7b7;
      float: left; }
      .content-box-sale .product-sale .li-product-sale .photo-box {
        width: 100%;
        float: left; }
        .content-box-sale .product-sale .li-product-sale .photo-box li {
          list-style-type: none;
          padding: 0 10px; }
          .content-box-sale .product-sale .li-product-sale .photo-box li figure img {
            -webkit-transform: scale(1.02);
            -moz-transform: scale(1.02);
            -ms-transform: scale(1.02);
            -o-transform: scale(1.02);
            transform: scale(1.02); }
            .content-box-sale .product-sale .li-product-sale .photo-box li figure img:hover {
              -webkit-transform: scale(1.2);
              -moz-transform: scale(1.2);
              -ms-transform: scale(1.2);
              -o-transform: scale(1.2);
              transform: scale(1.2); }
        .content-box-sale .product-sale .li-product-sale .photo-box li:first-child {
          /*border-right: 1px dotted #b7b7b7;*/
          padding-left: 0;
          width: 66.3%;
          float: left; }
        .content-box-sale .product-sale .li-product-sale .photo-box li:last-child {
          padding-right: 0;
          width: 100%;
          float: left; }
      .content-box-sale .product-sale .li-product-sale:hover {
        border: 1px solid #e61e25; }
    .content-box-sale .product-sale label {
      margin: 10px 0;
      padding: 2px 5px;
      font-size: 1rem;
      font-weight: bold;
      width: 100%;
      color: #fff;
      float: left;
      background-color: #696969;
      text-align: center;
      height: 28px; }
    .content-box-sale .product-sale span {
      width: 100%;
      font-size: 1.2rem;
      height: 30px;
      float: left; }
    .section {
    	background:white;
    	border-radius: 5px;
    	padding:20px;
    	margin-top:40px;
    }
    .form-group {
    	margin-bottom:0px;
    }
    span {
    	float:none !important;
    	font-size:1rem !important;
    }
    .description {
    	margin-top:20px;
    }
    
    .footer .collectiontext {
    	margin-top:40px;
    	margin-bottom:-20px;
    }
    .footer .btn {
    	width:200px;
    	height:40px;
    	padding-top:10px;
    }
    .allbtn {
    	margin-top:40px;
    }
    .allbtn ul{
    	list-style-type: none;
    }
    .activity .photo-box li {
    	width:100% !important;
    }
    .link-container {
    	margin-top:40px;
    }
    .block-link {
    	list-style-type:none;
    	border:1px solid white;
    	float:left;
    	padding: 10px;
	    margin: 0 2% 20px 0;
	    width: 23.5%;
    }
    .block-link:nth-child(4n) {
		margin: 0 0 20px 0;
    }
    .block-link:hover{
		background-color: white;
		cursor: pointer;
    }
    .block-link:hover a{
		color:black !important;
    }
    .block-link a{
		color:white;
		border:0px ;
    }
    .block-link a:hover{
		color:black ;
    }
    .searchbar {
    	background:black;
    	height:50px;
    	padding:9px;
    }
    .searchbar .contain {
    	width:auto;
    	max-width:1230px;
    	padding-right:15px;
    	padding-left:15px;
    	margin-right:auto;
    	margin-left:auto;
    }
	.searchbar .contain li {
		padding:0px;
		list-style-type:none;
	}
	.searchbar .contain .first li {
		padding-right: 20px;
    	padding-left: 0px;
	}
    .searchbar .contain input {
    	height:30px;
    }
    .searchbar .contain .search {
    	width:100%;
    	background-color: #ffffff;
     	border: 1px solid #cccccc; 
     	border-radius: 5px;
    	padding: 9px;
    }
    .searchbar .contain .btn-warning {
    	border-radius: 5px;
    	width:100%;
    }
    .searchbar .contain .btn-danger {
    	border-radius: 5px;
    	width:100%;
    	height:30px;
    }
    .contain li select {
		width:100%;
		height:30px;
		border-radius: 5px;
		text-align: center;
  		text-align-last: center;
    }
    .select2-hidden-accessible {
	    border: 0 !important;
	    clip: rect(0 0 0 0) !important;
	    height: 1px !important;
	    margin: -1px !important;
	    overflow: hidden !important;
	    padding: 0 !important;
	    position: absolute !important;
	    width: 1px !important;
	}