.webike-logo {
    width:100%;
}
.container-header {
    background-color: #ffffff;
    min-height:61px;
}
#mainNav {
    background-color: #ffffff;
    min-height:initial;
    position:initial;
    margin-bottom:0px;
    border:0px;
}
.col1-logo {
    width:271px;
    height:41px;
    margin:10px;
}
.big-promotion .promotion-container {
    background-color: #fff;
    max-width:none;
    width:100% !important;
    padding:0 0 40px 0 !important;
}
.promotion-title a:hover {
    opacity: 0.8;
}
.ct-sale-page {
    width: 100%;
    float: left;
}
.ct-sale-page .title {
    padding: 15px 20px;
    background-color: #544741;
}
.ct-sale-page .title h2 {
    color: #fff;
}

.ct-menu-sale {
    float: left; }
.ct-menu-sale ul {
    padding: 0 3px;
    list-style-type: none; }
.ct-menu-sale ul li {
    float: left;
    padding: 5px 12px; }
.ct-menu-sale ul li a {
    color: #333333;
    font-size: 1rem;
    padding: 10px;
    border: 1px solid #e61e25;
    width: 100%;
    text-align: center;
    float: left; }
.ct-menu-sale ul li a:hover {
    background-color: #e61e25;
    color: #fff; }

.content-box-sale {
    width: 100%;
    float: left; }
.content-box-sale .product-sale {
    width: 100%;
    float: left;
    list-style-type: none; }
.content-box-sale .product-sale .li-product-sale .photo-box {
    width: 100%;
    float: left; }
.content-box-sale .product-sale .li-product-sale .photo-box li {
    list-style-type: none;
    padding: 0 10px; }
.content-box-sale .product-sale .li-product-sale .photo-box li figure img {
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
    transform: scale(1.02); }
.content-box-sale .product-sale .li-product-sale .photo-box li figure img:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2); }
.content-box-sale .product-sale .li-product-sale .photo-box li:first-child {
    /*border-right: 1px dotted #b7b7b7;*/
    padding-left: 0;
    width: 66.3%;
    float: left; }
.content-box-sale .product-sale .li-product-sale .photo-box li:last-child {
    width: 100%;
    float: left;
    padding-right:0px;}
.content-box-sale .product-sale .li-product-sale:hover {
    border: 1px solid #e61e25; }
.content-box-sale .product-sale label {
    margin: 10px 0 0 0;
    /*padding: 2px 5px;*/
    font-size: 1rem;
    font-weight: bold;
    width: 100%;
    color: #fff;
    float: left;
    background-color: #696969;
    text-align: center;
    height: 28px;
    line-height:28px; }
.categories .content-box-sale .product-sale span {
    width: 100%;
    height: 30px;
    float: left; }
.section {
    background:white;
    border-radius: 5px;
    padding:0px;
    margin-top:30px;
}
.form-group {
    margin-bottom:0px;
}
span {
    float:none !important;
    font-size:1rem;
}
.description {
    margin-top:10px;
}
span.dotted-text1{
    display:block;
}

@media (max-width: 768px) {
    .rider {
        min-height: 110px;
        background-size: 200px;
        width: 200px;
        margin-left:auto;
        margin-right:auto;
    }
}
.discount {
    letter-spacing: 2px;
}
.price {
    background-color:white !important;
    color:red !important;
    font-size:1rem !important;
}
.item span {
    font-size:1rem !important;
    text-align:center !important;
}
.item .zoom-image {
    display:inline-block !important;
}
.dotted-text2.force-limit {
    height:41px !important;
}
#recommend li{
    background-color: white !important;
}
#recommend .recommendImage {
    height:186px;
    display:block;
}
#recommend .title-product-item {
    display:block;
    padding:10px 0 0 0;
}
#recommend .recommendZoom {
    height: 186px;
    vertical-align: middle;
    text-align: center;
    position: relative;
    display: block;
    font-size: 0;
    margin: 0 auto;
}
@media (max-width: 768px) {
    .rider {
        min-height: 110px;
        background-size: 200px;
        width: 200px;
        margin-left:auto;
        margin-right:auto;
    }
    .dotted-text2.force-limit {
        height:40px !important;
    }
}
.ct-menu-sale {
    float: left; }
.ct-menu-sale ul {
    padding: 0 3px;
    list-style-type: none; }
.ct-menu-sale ul li {
    float: left;
    padding: 5px 12px; }
.ct-menu-sale ul li a {
    color: #333333;
    font-size: 1rem;
    padding: 10px;
    border: 1px solid #e61e25;
    width: 100%;
    text-align: center;
    float: left; }
.ct-menu-sale ul li a:hover {
    background-color: #e61e25;
    color: #fff; }

.content-box-sale .product-sale {
    width: 100%;
    float: left;
    list-style-type: none; }
.content-box-sale .product-sale .li-product-sale {
    padding: 20px 15px;
    border: 1px solid #c7b299;
    float: left; }
.content-box-sale .product-sale .li-product-sale .photo-box {
    width: 100%;
    float: left; }
.content-box-sale .product-sale .li-product-sale .photo-box li {
    list-style-type: none;
    padding: 0 10px; }
.content-box-sale .product-sale .li-product-sale .photo-box li figure img {
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
    transform: scale(1.02); }
.content-box-sale .product-sale .li-product-sale .photo-box li figure img:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2); }
.discount-container .content-box-sale .product-sale .li-product-sale .photo-box li:first-child {
    /*border-right: 1px dotted #b7b7b7;*/
    padding-left: 0;
    width: 66.3%;
    float: left; }
.discount-container .content-box-sale .product-sale .li-product-sale .photo-box li:last-child {
    padding-right: 0;
    width: 33.7%;
    float: left; }
.content-box-sale .product-sale .li-product-sale:hover {
    border: 1px solid #c7b299; }
.content-box-sale .product-sale label {
    margin: 10px 0;
    padding: 2px 5px;
    font-size: 1rem;
    font-weight: bold;
    width: 100%;
    color: #fff;
    float: left;
    background-color: #696969;
    text-align: center;
    height: 28px; }
.content-box-sale .product-sale span {
    width: 100%;
    font-size: 1.2rem;
    float: left; }
.discount_title {
    margin-right:1.3%;
    background: #d73e53 !important;
}
.discount_title h2 {
    color:#fff !important;
}
.title-section{
    background-color: #fff;
}

.title-section .title {
    width:24%;
    padding:5px;
}

@media(max-width:560px){
    .title-section .title {
        width:100%;
    }
}

.title-section .active {
    background-color:#1ca28a !important;
}

.title-section .active:hover {
    opacity:0.7
}

.title-section .active h2{
    color:white !important;
}

.link-container {
    margin-top:40px;
}

.link-container li {
    list-style-type:none;
}

.block-link {
    border:1px solid white;
}
@media (min-width: 501px) {
    .block-link:nth-child(4n) {
        margin: 0 0 20px 0;
    }
}
.block-link:hover{
    background-color: white;
    cursor: pointer;
}
.block-link a{
    display:block;
    width:100%;
    color:#544741;
    border:0px ;
    padding:10px;
}
.block-link a:hover{
    color:black ;
}

@media (max-width: 566px) {
    .block-link {
        list-style-type:none;
        border:1px solid white;
        float:left;
        margin: 0 0 20px 0;
        width: 100%;
    }
}

.discount-container .li-product-sale span {
    font-size:1rem !important;
}

.discount-container .thumb-box-border {
    height:108px;
    display:block;
    border:0px;
}
.discount-container .helper{
    width:0px !important;
}

.discount-container .content-box-sale {
    border-top: 3px solid #2a313c;
}

.manufacturer {
    display:block;
}