.desktop {
  margin-top: 0px; }

.side-nav li {
  color: #9d9d9d !important; }
  .side-nav li a {
    color: #9d9d9d !important;
    padding: 15px; }
    .side-nav li a.active-navbar {
      background-color: #000;
      color: #fff !important; }
  .side-nav li a:hover {
    color: #fff !important; }

#page-wrapper {
  margin-top: 50px !important; }

.uploadFile {
  border: 1px solid #ccc;
  clear: left;
  margin-bottom: 18px; }

.page-header {
  padding-bottom: 10px;
  margin: 0 0 10px 0; }

.breadcrumb {
  margin-bottom: 10px; }
  .breadcrumb .breadcrumb-item a,
  .breadcrumb .breadcrumb-item span {
    font-size: 1rem; }

.function-cabinet [class^="col-"] {
  padding-left: 10px;
  padding-right: 10px; }
.function-cabinet .row {
  margin-left: -10px;
  margin-right: -10px; }
.function-cabinet a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1px; }
.function-cabinet .function-box {
  display: block;
  width: 100%;
  padding: 20px 2%;
  background: #5cb85c; }
  .function-cabinet .function-box.large-box {
    padding: 30px 2%; }
  .function-cabinet .function-box:hover {
    opacity: 0.85; }

.pre-hide-ui .pre-hide-box.hide {
  display: none; }

.error-message ul li {
  margin-left: 20px; }

.history-info-table [class^="col-"] {
  padding-left: 5px;
  padding-right: 5px; }
.history-info-table .row {
  margin-left: -5px;
  margin-right: -5px; }

.overflow-auto {
  overflow: auto;
  max-height: 120px; }

/*** rewrite ** */
ul.history-info-table li.history-table-content > ul {
  border-bottom: 1px dotted #9fa7b5; }
ul.history-info-table li.history-table-content ul {
  background-color: inherit; }

@media (max-width: 767px) {
  .page-header {
    margin: 5px 0;
    padding: 0 10px; } }

/*# sourceMappingURL=main.css.map */
