.promotion-container .time-limit .col-md-3{
	padding: 0px;
}
.promotion-container .ss-search-bar{
	padding: 20px 0px;
    border: 1px solid #d73053;
}
.promotion-container .ss-search-bar select{
	width: 100%;
	height: 38px;
}
.promotion-container .ss-search-bar button{
	width: 100%;
	height: 38px!important;
}
.promotion-container .ss-newproduct{
	border: 1px solid #d73053;
	padding-top: 20px;
}
.promotion-container .ss-newproduct ul{
    overflow: auto;
}
.promotion-container .ss-newproduct li{
	list-style: none;
	float: left;
	width: 20%;
	padding: 0px 15px;
	margin-bottom: 20px;
}
.promotion-container .ss-newproduct .ss-newproduct-all-btn{
	margin-bottom: 20px;
}
.promotion-container .ss-newproduct .ss-newproduct-all-btn .btn-warning{
	background-color: #d74053;
}
.promotion-container .time-limit .col-xs-6{
		padding: 0px;
}

@media(max-width: 550px){
	.promotion-container .ss-newproduct li{
		padding: 0px;
		width: 100%;
	}
	.link-container ul li:nth-child(2n){
		padding-left: 0px;
		padding-right: 15px!important;
	}
	.link-container ul li:nth-child(2n) div{
		border-left: none;
	}
	.link-container ul li{
		padding-right: 0px;
	}
	.link-container ul li:last-child{
		padding-right: 15px;
	}
	.ss-search-bar  div:nth-child(2){
		margin: 10px 0px;
	}
	.promotion-container .ss-newproduct ul{
		width: 100%;
	}
}
