	.active-navbar{
	    background: #ddc764;
	}
	ul li{
		list-style: none;
	}
	.big-promotion{
		background: url(https://img.webike.net/sys_images/saimg/20190322_springsale_pattern.png);
	}
	.ct-table-cell{
		display: block;
		border: none;
	}
	.ct-table-cell .ul-cell-dropdown-list{
		margin-left: 25%;
	}
	.block-container{
		max-width: 1280px;
		width: 100%;
		margin: 0 auto;
		background-size: contain;
	}
	.search{
	    padding: 15px 0px;
		background-color: #9c3964;
	}
	.search .search-text{
		background: #fff;
		border-radius: 25px 0 0 25px;
		border: none;
		width: auto;
		padding: 14px;
		overflow: hidden;
	}
	.search .search-text input{
		border: 0;
		width: 100%;
	    font-family: FontAwesome, 'メイリオ';
	}
	.search .search-btn{
		float: right;
	}
	.search .search-btn input{
		font-family: FontAwesome, 'メイリオ';
		background: #e06ba0;
		font-weight: bold;
		color: #fff;
		border: 0;
		padding: 15px;
		border-radius: 0 25px 25px 0;
		cursor: pointer;
	}
	.promotion-container {
		background: url(https://img.webike.net/sys_images/saimg/20190322_springsale_side_l.png) repeat-y 0 10px,url(https://img.webike.net/sys_images/saimg/20190322_springsale_side_r.png) repeat-y 100% 10px;

	}
	.promotion-container .links-bar{
		margin: 0 auto;
		position: sticky;
		top: 0;
		z-index: 10;
		max-width: 1280px;
		min-width: 1000px;
	}
	.promotion-container .links-bar ul li{
		width: 14.28%;
	    background-color: #e06ba0;
	    border-radius: 0 0 25px 25px;
	    border-right: 2px solid #9c3965;
	    border-bottom: 2px solid #9c3965;
		box-shadow: 0 2px 20px rgba(57, 0, 0, 0.5);
		box-sizing: border-box;
		text-align: center;
		float: left;
		padding: 10px;
		font-weight: bold;
	}
	.promotion-container .links-bar ul li:hover{
		background-color: #9c3964;
		border-radius: 0 0 25px 25px;
	    cursor: pointer;
	}
	.promotion-container .promotion-schedule{
		margin: 0 auto;
    	padding: 30px 0 0;
		max-width: 1280px;
		min-width: 1000px;
	}
	.promotion-container .promotion-schedule a{
		background: #fff;
	    padding: 10px 25px;
	    border-radius: 50px;
	    color: #910000;
	    font-size: 14px;
	    border: 2px solid #910000;
	}
	.promotion-container .page-block .page-block-product{
		max-width: 1280px;
		min-width: 1000px;
		width: 100%;
		margin: 0 auto;
		padding: 50px 0;
		border-radius: 15px;
		box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
		background: #ffffff;
	}
	.promotion-container .page-block .page-block-product p{
		color: #910000;
	}	
	.promotion-container .page-block .page-block-title{
		position: relative;
    	top: 40px;
		font-size: 34px;
		text-align: center;
		background: #F20D43;
		color: #ffffff;
		margin: 0 auto;
		padding: 20px 0;
		width: 40%;
		border-radius: 20px;
	}
	.promotion-container .page-block .page-block-title2{
		font-size: 34px;
		text-align: center;
		background: #F20D43;
		color: #ffffff;
		margin: 0 auto 20px;
		padding: 20px 0;
		width: 60%;
		border-radius: 20px;
	}
	.promotion-container .page-block .page-block-product .block-product{
		padding: 0 30px;
		margin-top: 10px;
	}
	.promotion-container .page-block .page-block-product .block-product ul .product-list{
		position: relative;
		background: #fff;
		width: 15%;
		border-radius: 6px;
		border: 4px solid #e6e6e6;
		float: left;
	    margin: 0px 30px 30px;
	}
	.promotion-container .page-block .page-block-product .block-product ul .product-list.li-list{		
        height: 100%;
	}
	.promotion-container .page-block .page-block-product .block-product .product-list .loop-photo{
		z-index: 999;
	    background-color: #c1c1c1;
		color: #0f0f0f;
	    top: 0px;
		position: absolute;
		max-width: 220px;
		max-height: 300px;
		left: 102%;
	}
	.promotion-container .page-block .page-block-product .block-product .product-list:nth-child(5n) .loop-photo{
		left: -128%;
	}
	.promotion-container .page-block .page-block-product .block-product .loop-photo h2{
		margin: 5px 10px;
	    font-size: 0.85rem;
	}
	.promotion-container .page-block .page-block-product .block-product ul li .product-img img{
		width: 100%;
	}
	.promotion-container .page-block .page-block-product .block-product ul li .product-text{
		background-color: #ffd940;
		color: #910000;
	}
	.promotion-container .page-block .page-block-product .block-product ul li .product-tag{
		padding: 5px;
	}
	.promotion-container .page-block .page-block-product .block-product ul li .product-tag span{
	    margin-bottom: 5px;
	}
	.promotion-container .page-block .page-block-product .block-product .product-banner{
		padding: 0px 30px;
		margin-bottom: 30px;
	}
	.promotion-container .promotion-btn{
	    font-weight: bold;
		padding: 15px 35px;
		border-radius: 50px;
		color: #910000;
		background-color: #FFCC00;
		display: block;
		margin: 30px auto 15px;
		width: 450px;
		font-size: 22px;
		text-decoration: none;
		text-align: center;
		animation-duration: 0.3s;
	}
	.promotion-container .product-banner:hover,.promotion-container .promotion-btn:hover{
	    opacity: 0.7;
	}
	.page-block .page-block-product .block-product .collection-list{
		margin-bottom: 20px;
	}
	.page-block .page-block-product .block-product .collection-list .collection-list-product .collection-text{
		padding: 10px;
	}
	hr{
		margin: 10px 0px;
	}
	.category .category-title{
		color: #910000;
		padding: 10px 15px;
		font-size: 22px;
		font-weight: bold;
		text-align: left;
		border-bottom: 1px solid #910000;
		margin-bottom: 30px ;
	}
	.category li div {
	    background-color: #fff;
	    background-repeat: no-repeat;
	    background-position: center;
	    background-size: cover;
	    box-sizing: border-box;
	    height: 100%;
	    display: table-cell;
	    width: 100%;
	    padding: 15px 15px 0;
	    border-radius: 6px;
	}
	 .category li div a:first-child {
	    font-size: 20px;
	    border-bottom: #f62826 1px solid;
	    font-weight: bold;
	    color: #545454;
	}
	 .category li div a {
	    color: #545454;
	    display: block;
	    margin: 0 0 5px;
	}
	.category li div a:hover{
		color: #f62826;
	}
	 .category li {
	    width: calc(20% - 2px);
	    height: 250px;
	    float: left;
	    display: table;
	    vertical-align: middle;
	    box-sizing: border-box;
	    text-align: left;
	    padding: 1px;
	    margin: 1px;
	}

	.motor .select2-container--default .select2-selection--single{
		border: 1px solid #fff!important;
	    border-radius: 6px!important;
	}

	.owl-carouse-product-loop .owl-prev{
		display: none;
	}
	.owl-carouse-product-loop .owl-next{
		display: none;
	}
	.owl-carouse-product-loop .owl-dots{
		overflow: auto;
		text-align: center;
		margin: 5px 5px 10px 37%; 
	}
	.owl-carouse-product-loop .owl-dots .owl-dot{
		float: left;
		margin-left: 10px;
	}
	.owl-carouse-product-loop .owl-dots .owl-dot span{
		background: #fff;
		border: 1px solid #fff;
		width: 10px;
		height: 10px;
		display: block;
		border-radius: 999em;
		cursor: pointer;
	}
	.owl-carouse-product-loop .owl-dots .owl-dot.active span{
		background: #797979;
		border: 1px solid #797979;
	}

	.loop-photo .owl-carouse-product-loop.owl-carousel .owl-item img{
		max-width: 220px!important;
		max-height: 220px!important;
	}
	.promotion-container .btn-disable{
	    color: #fff;
	    background-color: #ccc!important;
	}
	.promotion-container .btn-disable:hover{
		opacity: 1;	
	}
		.schedule-list{
		position: relative;
		overflow: hidden;
		padding: 30px 0 0;
		border-bottom: #DDC764 2px solid;
	}
	.schedule-list ul {
	    position: relative;
	    left: 49.7%;
	    float: left;
	}
	.schedule-list ul li.schedule-list-product{
		position: relative;
		float: left;
		margin: 0 0 0 14px;
		border-bottom: none;
		padding: 5px 0 0 0;
		font-size: 15px;
		color: #2d2d2d;
		left: -50%;

	}
	.schedule-list ul li.schedule-list-product a{
		display: block;
		padding: 12px 0 12px;
		width: 154px;
		text-align: center;
		font-size: 15px;
		color: #2d2d2d;
		border-top: 4px solid #DDC764;
		border-right: 4px solid #DDC764;
		border-left: 4px solid #DDC764;
		background: #DDC764;
		border-radius: 6px 6px 0 0;
		font-weight: bold;
	}
	.promotion-container .page-block .page-block-product .block-product{
		margin-top: 30px;
	}
	.schedule-list .schedule-list-product{
		float: left;
	}
	.schedule-list .schedule-list-product span{
		display: block;
	}
	.block-product .product-title{
		font-size: 2rem;
		margin: 30px auto 20px;
		color: #000000;
		text-align: center;
	}

	.schedule-list ul li.schedule-list-product a:hover, .schedule-list ul li.schedule-list-product.active a {
	    text-decoration: none;
	    background: #fff;
	    color: #000;
	}
	#motor .li-cell-dropdown-item{
		border: 1px solid #000;
	}