.promotion-container .page-block,.block-container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    background-size: contain;
    position: relative;
    z-index: 10;
}
.promotion-page-block{
    position: relative;
    background: #fff;
    z-index: 10;
}
ul li{
    list-style: none;
}
.ct-table-cell{
    display: block;
    border: none;
    padding: 10px 0px;
    margin-top: 30px;
    margin-left: 6%;
}
.owl-prev{
    display: none;
}
.owl-next{
    display: none;
}
.owl-carouse-product-loop .owl-dots{
    overflow: auto;
    text-align: center;
    margin: 5px 5px 10px 37%; 
}
.owl-carouse-product-loop .owl-dots .owl-dot{
    float: left;
    margin-left: 10px;
}
.owl-carouse-product-loop .owl-dots .owl-dot span{
    background: #fff;
    border: 1px solid #fff;
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 999em;
    cursor: pointer;
}
.owl-carouse-product-loop .owl-dots .owl-dot.active span{
    background: #797979;
    border: 1px solid #797979;
}
.loop-photo .owl-carouse-product-loop.owl-carousel .owl-item img{
    max-width: 220px!important;
    max-height: 220px!important;
}
.promotion-container .page-block .page-block-product .block-product{
        padding: 0 30px;
        margin-top: 10px;
}
.promotion-container .page-block .page-block-product .block-product ul .product-list{
    position: relative;
    background: #fff;
    width: 15%;
    border-radius: 6px;
    border: 4px solid #e6e6e6;
    float: left;
    margin: 0px 30px 10px;
}
.promotion-container .page-block .page-block-product .block-product ul .product-list.li-list{       
    height: 266px;
}
.promotion-container .page-block .page-block-product .block-product .product-list .loop-photo{
    z-index: 999;
    background-color: #c1c1c1;
    color: #0f0f0f;
    top: 0px;
    position: absolute;
    max-width: 220px;
    max-height: 300px;
    left: 102%;
}
.promotion-container .page-block .page-block-product .block-product .product-list:nth-child(5n) .loop-photo{
    left: -128%;
}
.promotion-container .page-block .page-block-product .block-product .loop-photo h2{
    margin: 5px 10px;
    font-size: 0.85rem;
}
.promotion-container .page-block .page-block-product .block-product ul li .product-img img{
    width: 100%;
}
.promotion-container .page-block .page-block-product .block-product ul li .product-text{
    background-color: #ffd940;
    color: #910000;
}
.promotion-container .page-block .page-block-product .block-product ul li .product-tag{
    padding: 5px;
}
.promotion-container .page-block .page-block-product .block-product ul li .product-tag span{
    margin-bottom: 5px;
}
.promotion-container .page-block .page-block-product .block-product .product-banner{
    padding: 0px 30px;
    margin-bottom: 30px;
}
.block-product .product_area{
    margin: 0 30px;
}
.ct-table-cell .ul-cell-dropdown-list li.li-cell-dropdown-item{
    margin: 0 4% 0 0;
    width: 22%;
}

.promotion-container .btn-disable{
    color: #fff;
    background-color: #ccc!important;
}
.promotion-container .btn-disable:hover{
    opacity: 1; 
}

.motor .block-product .product_area ul li{
    padding: 0px;
}
.category .block-product .product_area ul li{
    margin-right: 5px;
    float: left;
    width: auto;
    margin-right: 6.8%;
    margin-bottom: 5%;
}
.category .block-product .product_area ul li:nth-child(4n){
    margin-right: 0px;
}
.category .block-product .product_area ul li.list-page a{
    width: 230px;
    height: 230px;
    border: 1px solid #fff;
    border-radius: 999em;
}
.page-block .product_area .list-barrier .vertical-middle span{
    display: block;
}
.page-block.category .product_area .list-height{
    line-height: 230px;
    height: 230px;
}
.page-block.motor .product_area  .list-barrier .list-height{
    height: 400px;
}
.motor .block-product .product_area ul li.list-page:nth-child(2n){
    margin-left: 11%;
}
.motor .block-product .product_area ul li.list-page{
    width: 400px;
    height: 400px;
    float: left;
    margin-left: 11%;
}
.motor .block-product .product_area ul li.list-page a{
    width: 400px;
    height: 400px;   
}
.page-block.motor .product_area .list-barrier .vertical-middle{
    line-height: 400px;
    font-size: 2rem;
}
.motor .product_area .motor-banner .zoom-image{
    display: block;
}

.banner-container .banner-area .owl-carousel .owl-stage{
    padding: 0px!important;
}
.banner-container .banner-area .width-max{
    height: 700px!important;
}
.banner-container .owl-carouse-main-banner .image-cover{
    object-position: 50% 50%;
    width: 100%!important;
    height: 700px;
}
.category .page-block-product .product_area .list-page .image-cover{
    width: 230px!important;; 
    height: 230px!important;;
}

.image-cover{
    object-fit: cover;
    width: 100%!important;
}
.page-block .page-block-product .block-product .collection-list .collection-list-product .collection-text{
    padding: 10px 0px;
}
@media(max-width:1850px){
    .banner-container .banner-area .width-max{
        height: 400px!important;
    }
    .banner-container .owl-carouse-main-banner .image-cover{
        height: 400px;
    }
}
@media(max-width:1295px){
    .category .block-product .product_area ul li{
        margin-right: 6.7%;
    }
}
@media(max-width:1280px){
    .category .block-product .product_area ul li{
        margin-right: 6.4%;
    }
}
@media(max-width:1250px){
    .motor .block-product .product_area ul li.list-page{
        margin-left: 8%;
    }
    .category .block-product .product_area ul li{
        margin-right: 5%;
    }
}
@media(max-width:1135px){
    .motor .block-product .product_area ul li.list-page{
        margin-left: 4%;
    }
}
@media(max-width:1109px){
    .motor .block-product .product_area ul li.list-page{
        margin-left: 3%;
    }
}
@media(max-width:1070px){
    .motor .block-product .product_area ul li.list-page{
         margin-left: 2%;
    }
}
@media(max-width:1060px){
    .motor .block-product .product_area ul li.list-page{
        margin: 0;
    }
}