#main
	border-bottom: 30px solid #eee
	padding: 0px!important
.review-writing
	.review-writing-title
		font-weight: bold
		font-size: 1rem
.review-writing
	.review-writing-title
		span
			color: #e61e25
.review-writing
	.box-top
		margin: 0px 0px 20px 0px!important
.review-writing
	.box-top
		.box-fix-with
			outline: 3px solid #ccc
			overflow: auto
			padding: 5px
.review-writing
	.box-top
		.box-fix-with
			.review-product-photo
				float: left
				padding: 5px
.review-writing
	.box-top
		.box-fix-with
			.review-product-photo
				figure
						padding: 0px
						width: 85px
						height: 85px
.review-writing
	.box-top
		.box-fix-with
			.review-product-font
				overflow: auto
				padding: 5px
.review-writing
	.box-top
		.box-fix-with
			.review-product-font
				h2
					color: #318acc
					font-weight: bold
						
.review-writing
	.box-fix-motor
		.box-top-right
			.select-motor
					margin-top: 10px
.review-writing
	.box-fix-motor
		.box-top-right
			.select-motor
				h3
					margin-bottom: 5px
					font-size: 1rem
.review-writing
	.review-writing-box
			padding: 0px 10px
			margin-bottom: 30px
.review-writing
	.review-writing-product
		margin-bottom: 20px
		padding: 0px 10px
.review-writing
	input.textbox-style
		width: 100%
		padding: 10px
		font-size: 1rem
		-webkit-appearance: searchfield
.review-writing
	.box-items
		label
			width: 100%
.review-writing
	.box-items
		span 
			font-size: 1rem
.review-writing
	.box-items
		.box-items-good
			.review-writing-title
				h3
					color: #005fb3
					border-left: 0px solid!important
					
.review-writing
	.box-items
		.box-items-bad
			.review-writing-title
				h3
					color: #e61e25
					border-left: 0px solid!important
.review-writing	
	.box-info
		.box-info-font
			span
				font-size: 0.85rem
.review-writing	
	.box-info
		.box-info-font
			padding: 0px 10px 
			margin-bottom: 10px
.review-writing
	#writing_btn
		width: 100%
		border-radius: 2px !important

.review-writing
	.box-fix-with
		.review-product-font
			span
				display: block
				margin-top: 10px

.review-writing
	.box-items
		.review-writing-box
			ul
				li
					border: 1px solid #aaa
					font-size: 1rem
					margin: -1px 0px

.review-writing
	.box-items
		.review-writing-box
			ul
				li
					div
						padding: 15px 15px 15px 10px
.review-writing
	.box-items
		.textbox-group
			margin-top: 10px
.review-writing
	.box-items
		.textbox-group
			.textbox-style
				margin-top: 10px
.review-writing
	.box-fix-column
		overflow: auto
.review-writing
	.box-fix-column
		.review-writing-photo
			margin: 0
			padding: 0
			float: left
.review-writing
	.box-fix-column
		.review-writing-photo
			figure
				width: 110px !important
				height: 110px !important
				vertical-align: middle
				position: relative
				display: table-cell
.review-writing
	.box-fix-column
		.review-writing-photo
			a
				margin-top: 10px
				float: left
				width: 100%
.review-writing
	.box-fix-column
		.review-writing-font
			float: none
			width: auto
			overflow: hidden
			padding: 0 0 0 15px
.review-writing
	.box-fix-column
		.review-writing-font
			textarea
				padding: 10px 15px
				width: 100%
				height: 110px
.box-items-good 
	.review-writing-box
		margin-bottom: 20px
.breadcrumbs
	display: none
.review-writing
	.pages-title
		margin-top: 10px