@import "../frontend/_variables"

.desktop
 margin-top: 0px
.side-nav
 li
  color: #9d9d9d !important
  a
   color: #9d9d9d !important
   padding: 15px
   &.active-navbar
    background-color: #000
    color: #fff !important
  a:hover
   color: #fff !important
#page-wrapper
 margin-top: 50px !important
.uploadFile
 border: 1px solid #ccc
 clear: left
 margin-bottom: 18px

.page-header
 padding-bottom: 10px
 margin: 0 0 10px 0

.breadcrumb
 margin-bottom: 10px
 .breadcrumb-item
  a,
  span
   font-size: 1rem

.function-cabinet
 [class^="col-"]
  padding-left: 10px
  padding-right: 10px
 .row
  margin-left: -10px
  margin-right: -10px
 a
  text-decoration: none
  color: #fff
  font-weight: $font-weight-wide
  letter-spacing: 1px
 .function-box
  display: block
  width: 100%
  padding: 20px 2%
  background: $green-color
  &.large-box
   padding: 30px 2%
   font-size: 1rem
  &:hover
   opacity: 0.85

.pre-hide-ui
 .pre-hide-release

 .pre-hide-box

  &.hide
   display: none

.error-message
 ul
  li
   margin-left: 20px

.history-info-table
 [class^="col-"]
  padding-left: 5px
  padding-right: 5px
 .row
  margin-left: -5px
  margin-right: -5px
.overflow-auto
 overflow: auto
 max-height: 120px
/*** rewrite ***/
ul.history-info-table
 li.history-table-content
  > ul
   border-bottom: 1px dotted #9fa7b5
  ul
   background-color: inherit

@media (max-width: 767px)
 .page-header
  margin: 5px 0
  padding: 0 10px