.col1-logo .logo{
    height: 75px
}
.gsc-control-searchbox-only{
    display: none;
}
.ul-ct-famous-brand li .active {
    border:1px solid red;
}
.loading-box {
    display: none;
}
/* featured post */
#index_featured_post { background:#222; position:relative; width:100%; height:380px; overflow:hidden; }
#main_slider { width:66%; height:380px; float:left; }
#main_slider .flex-viewport{
    height: 100%;
}
#main_slider ul.slides{
    height: 100%;
}
#main_slider ul.slides li{
    position:relative;
    float:left;
    height: 100%;
}
#main_slider ul.slides li > a{
    display:block;
    background:#efefef;
    text-align:center;
    height: 100%;
    white-space: nowrap;
}
#main_slider img {
    display:inline-block;
    margin:0 auto;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
#main_slider img:hover img { opacity:0.7; }
#main_slider .flex-caption {
    margin:0;
    background:rgba(0, 0, 0, 0.8) !important;
    height:50px !important;
    width:100%;
    line-height:50px;
    padding:0 20px;
    color:#fff;
    display:block;
    font-size:1.2rem;
    position:absolute;
    bottom:0px;
    left:0px;
    z-index:2;
    text-decoration:none;
    text-overflow: ellipsis;
    overflow: hidden;
}
.flexslider-controls { width:34%; float:right; margin:0; padding:0; }
.flex-control-nav { margin:0; padding:0; list-style-type:none; }
.flex-control-nav li {
    height:76px;
    line-height:100%;
    margin:0;
    padding:0;
    border-bottom:1px dotted #555;
    cursor:pointer;
    -webkit-transition: background-color 300ms ease-in-out;
    -moz-transition: background-color 300ms ease-in-out;
    -o-transition: background-color 300ms ease-in-out;
    -ms-transition: background-color 300ms ease-in-out;
    transition: background-color 300ms ease-in-out;
}
.flex-control-nav li:hover, li.flex-active { background:#444; }
.flex-control-nav .image {
    float: left;
    padding: 10px;
    width: 33%;
    height: 76px;
    text-align: center;
    font-size: 0;
}
.flex-control-nav .image img {
    vertical-align: middle;
    display: inline-block;
}
.flex-control-nav .info {
    float: left;
    width: 67%;
    padding: 10px 10px 0 0;
}
.flex-control-nav .title { clear:both; margin:0; padding:0; color:#fff; font-size:13px; line-height:1.5; }
.flex-control-nav p { float:left; color:#888; line-height:100%; font-size:11px; border-right:1px solid #888; margin:0 10px 5px 0; padding:0 10px 0 0; }
.flex-control-nav p.category { border:none; margin:0; padding:0; }
@media (max-width: 767px){
    #index_featured_post {
        margin:0;
        height: auto;
    }
    #index_featured_post .flexslider-controls{
        display: none;
    }
    #main_slider {
        position:relative;
        background:#222;
        width: 100%;
        height: auto;
    }
    #main_slider .flex-viewport{
        border: none;
    }
    #main_slider ul{ margin:0; display:none; }
    #main_slider ul.slides li{
        position:relative;
        float:left;
        width:100%;
        height: 200px;
    }
    #main_slider img { width:100%; height:auto; display:block; }
    #main_slider img:hover img { opacity:0.7; }
    #main_slider .flex-caption { margin:0;
        background:rgba(0, 0, 0, 0.5);
        height:50px;
        width:100%;
        line-height:50px;
        padding:0 5%;
        color:#fff;
        display:block;
        font-size:12px;
        position:absolute;
        bottom:0px;
        left:0px;
        z-index:2;
        text-decoration:none;
        text-align:center;
        overflow:hidden;
    }
}
.motor-manufacturer-box .box-content.manufacturer-logo{
    position: relative;
    text-align: center;
}
.motor-manufacturer-box .item-product-grid{
    margin-top: 0;
}
.motor-manufacturer-box .box-content.manufacturer-logo a.logo-link{
    position: relative;
    display: block;
    padding: 5px 0;
    height: 60px;
}
.motor-manufacturer-box .box-content.manufacturer-logo a.logo-link img{
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}
.motor-manufacturer-box .box-content.manufacturer-logo a.logo-link i{
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: #ccc;
}
.motor-manufacturer-box .box-content.manufacturer-logo ul.manufacturer-logo-list{
    display: none;
    position: absolute;
    z-index: 9999;
    right: 0;
    top: 60px;
    width: 100%;
    background: #fff;
    outline: 1px #eee solid;
}
.motor-manufacturer-box .box-content.manufacturer-logo:hover{
    border-color: #333;
}
.motor-manufacturer-box .box-content.manufacturer-logo:hover ul.manufacturer-logo-list{
    display: block;
    outline-color: #333;
}
.motor-manufacturer-box .box-content.manufacturer-logo ul.manufacturer-logo-list li{
    padding: 5px;
    border-bottom: 1px #eee solid;
    list-style: none;
}
.motor-manufacturer-box .box-content.manufacturer-logo ul.manufacturer-logo-list li a{
    display: block;
}
.motor-manufacturer-box .box-content.manufacturer-logo ul.manufacturer-logo-list li:hover{
    background: #eee;
}
.motor-manufacturer-box .box-content.manufacturer-logo ul.manufacturer-logo-list li:last-child{
    border-bottom: none;
}
.motor-manufacturer-box [class*=col-], .motor-product-box [class*=col-], .motor-select-box [class*=col-]{
    padding-left: 5px;
    padding-right: 5px;
}
.motor-manufacturer-box .row, .motor-product-box .row, .motor-select-box .row{
    margin-left: -5px;
    margin-right: -5px;
}

.categories-box .content{
    position: relative;
    margin: 0 auto;
    display: block;
    width: 100%;
    text-align: center;
}
.categories-box .content span.name{
    display: block;
    background: rgba(49, 61, 99, 0.85);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    text-align: center;
    color: #fff;
}
.categories-box .content span.name .text{
    display: inline-block;
    vertical-align: middle;
}
.categories-box [class*="col-"]{
    padding-left: 5px;
    padding-right: 5px;
}
.categories-box .row{
    margin-left: -5px;
    margin-right: -5px;
}
.blue-box {
    border: 3px #005fb3 solid;
    padding: 10px;
    text-align: center;
}

