.isotope .isotope-item {-webkit-transition-duration: 0.8s;-moz-transition-duration: 0.8s;transition-duration: 0.8s;-webkit-transition-property: -webkit-transform, opacity;-moz-transition-property: -moz-transform, opacity;transition-property: transform, opacity;}
.grid .item .more-link{font-weight:bold;font-size:14px;float:right;padding:5px 10px;border: 1px solid;border-radius: 4px;margin:10px 0 0;}
.grid .item {float: left;margin: 0 5px 10px 5px;width: 20%;height: auto;background: #fff;}
.grid .item img{margin:0;width:100%;height:auto;line-height: 0;}
.grid .item img.avatar{width:50px;height:50px;border:3px solid #eee;float:left;margin:0 10px 0 0;}
.grid .item .author i{margin:0 3px 0 0;color:#424242;}
.grid .item .author a{color:#424242;font-weight:bold;}
.grid .item .author a:hover{text-decoration:underline;}
.grid .item .post_thumb{display:block;margin:30px 0 0;}
.grid .item .thumb-pos{position:absolute;}
.grid .item-w2 {width: 40%;}
.grid .item-h2 {height: 322px;}
.grid .item-h3 {height: 485px;}