.ngkStock-container .title {
    background: #FEC905;
    padding:10px;
}
.ngkStock-container .table th {
    background: #555;
    color:#FFF;
    padding:10px;
    border:1px solid #EEE;
}
.ngkStock-container table td:nth-child(1) {
    color: #FFF;
    font-size: 14px;
    background: #555;
    padding: 10px;
    border: 1px solid #EEE;
}
.ngkStock-container .link-container a:hover {
    opacity: 0.7;
}
.ngkStock-container .data-title {
    letter-spacing:1px;
}
.ngkStock-container .table {
    overflow-x:auto;
}
.ngkStock-container table .data {
    padding:5px 5px 0 5px;
}
.ngkStock-container table .data {
    padding:5px 5px 0 5px;
}
.ngkStock-container table .data ul li span{
    color:#000;
}
.ngkStock-container table .data ul li{
    border: 1px #CCC solid;
    list-style-type: none;
    height:109.25px;
    line-height: 105px;
    padding:2px;
}
.ngkStock-container table .data ul li span{
    word-break: break-all;
    letter-spacing: .47px;
}
.ngkStock-container table .ngkProduct {
    display:inline-block;
    vertical-align: middle;
}
.ngkStock-container table .data ul li:hover{
    opacity: 0.7;
    border: 1px #F40F23 solid;
}
.ngkStock-container .table .special li {
    float:left !important;
    width:109.25px;
    padding:2px;
}
.ngkStock-container table .special ul li span{
    display:inline-block;
    vertical-align: middle;
    word-break: break-all;
    letter-spacing: .47px;
}

.ngkStock-container .link-container .opacity{
    opacity:0.7;
}

.ngkStock-container .link-container a:hover,.ngkStock-container .link-container .opacity:hover{
    opacity:1;
}

.ngkStock-container .link-container .standard {
    border:2px solid #FEC905;
}

.ngkStock-container .link-container .ir {
    border:2px solid #0038FD;
}

.ngkStock-container .link-container .race {
    border:2px solid #E70010;
}

.ngkStock-container .link-container .footer-button:hover {
    opacity:0.7;
}