
ol,ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
	vertical-align: middle;
}
q, blockquote {
	quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
	content: "";
	content: none;
}
a img {
	border: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
	display: block;
}
div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.4;
  font-size: 0.85rem;
}
div, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, ul, li, form, legend, input, textarea, button, table, tr, th, td, article, aside, footer, header, hgroup, nav, section, img, a{
  box-sizing: border-box;
}
.table>tbody>tr.active>td, .table>tbody>tr.active>th, .table>tbody>tr>td.active, .table>tbody>tr>th.active, .table>tfoot>tr.active>td, .table>tfoot>tr.active>th, .table>tfoot>tr>td.active, .table>tfoot>tr>th.active, .table>thead>tr.active>td, .table>thead>tr.active>th, .table>thead>tr>td.active, .table>thead>tr>th.active{
  background-color: #f5f5f5;
}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
  border: 1px solid #ddd;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
}
* > span,
* > a,
* > b,
* > small,
* > strong,
* > s,
* > i {
  font-size: inherit; }
body{
    font-family: Helvetica, Arial, Verdana, "Microsoft JhengHei", "微軟正黑體", "PMingLiU", sans-serif;
}
h1, h2 {
    font-family: Helvetica, Arial, Verdana, Simhei, "Microsoft JhengHei", "微軟正黑體", "PMingLiU", sans-serif;
}
h1 {
  font-size: 1.2rem; }

h2, cite {
  font-size: 1rem; }

h3 {
  font-size: 0.85rem; }

p {
  font-size: 0.85rem; }

a{
  color: #333;
}
footer h3{
  font-weight: normal;
}
form, input[type=text], input[type=search], input[type=number], input[type=email], input[type=password], input[type=submit], input[type=button], textarea, select {
	border-radius: 0;
	-moz-appearance: none;
	-webkit-appearance: none;
	font-size: inherit;
	vertical-align:middle;
}

body {
	height: 100%;
	color: #333;
	font-size: 100%;
    font-family: Helvetica, Arial, Verdana, "Microsoft JhengHei", "微軟正黑體", "PMingLiU", sans-serif;
	word-break: break-all;
	word-wrap: break-word;
}
#w_spng_sp {
	position: relative;
	min-height: 100%;
	width: 100%;
}
nav ul{
	display: table;
	table-layout: fixed;
	width: 100%;
	text-align: center;
	border-top: 4px solid #2A313C;
	border-bottom: 4px solid #2A313C;
	padding: 0px;
	margin: 0px;
}
nav ul li:first-child{
	border: none;
}
nav ul li{
	background: #2A313C;
    display: table-cell;
    border-left: 1px solid #fff;
}
nav ul li a{
	padding: 10px 0;
	display: block;
	color: #fff;
	font-size: 1rem;
	font-weight: bold;
}
nav ul li a i{
	margin: 0 4px 0 0;
}
header {
	height: 50px;
	position: relative;
	z-index: 100;
}
header .logo {
	display: inline-block;
    margin: 7px 0 0 0;
	vertical-align: top;
	position: relative;
}
header .menu_btn {
    padding: 12px 17px;
    float: left;
    text-align: center;
    font-size: initial;
}
header .helpdesk{
    float: right;
    margin: 15px 10px 0 0;
    font-size: initial;
}
.menu .account-content {
  padding: 10px 10px 5px 10px; 
}
.menu .account {
  padding: 10px;
  width: 100%; 
}
  .menu .account .count {
    color: #005fb3; 
  }
.menu .close_btn {
  font-size: 1.2rem; 
}
.menu .menu_items .account {
  padding: 0;
  border: 1px solid #dcdee3;
  display: inline-block;
  margin: 8px 0 0;
  line-height: 1;
}
  .menu .menu_items .account .name-title {
    background: #e61e25;
    padding: 10px;
    color: #fff; 
  }
  .menu .menu_items .account .content {
    padding: 10px; 
  }
.menu .menu_items dl {
	font-size: 1rem;
	margin: 15px 0 60px;
	border-bottom: 1px solid #eee;
	padding: 0 0 2px;
}
.menu .menu_items dl dt {
	color: #555;
	background: #efefef;
	font-weight: bold;
	padding: 10px;
	border-right: 3px solid #e61e25;
	margin: -1px 0 0;
  font-size: 1rem;
}
.menu .menu_items dl dd {
	border-bottom: 1px solid #eee;
	font-size: 1rem;
	margin: 0px;
}
.menu .menu_items dl dd > a {
	padding: 15px;
	display: block;
	position: relative;
	color: #333;
}
.menu .menu_items dl dd.ex > a {
	padding: 8px 15px;
}
.menu .menu_items dl dd a:after {
	content: '\f105';
	font-family: FontAwesome;
	position: absolute;
	right: 20px;
	top: 50%;
	margin-top: -10px;
	color: #ddd;
	font-size: 1.2rem;
}
.menu .menu_items dl dd a[target="_blank"]:after {
	content: '\f24d';
	font-size: 1.2rem;
	margin-top: -7px;
	right: 18px;
}
.menu .menu_items dl dd a.toggle:after {
	content: '＋';
	color: #555;
	font-size: 1.2rem;
	font-family: FontAwesome;
	font-weight: bold;
	right: 17px;
}
.menu .menu_items dl dd a.toggle.open:after {
	content: '－';
}
.menu .menu_items dl dd span {
	font-size: 10rem;
	color: #aaa;
	display: block;
	margin: 4px 0 0;
}
.menu .menu_items dl dd ul {
	border: 1px solid #ddd;
	border-bottom: none;
	margin: 0 15px 15px;
}
.menu .menu_items dl dd ul li {
	border-bottom: 1px solid #ddd;
	font-size: 1rem;
	line-height: 1.2;
}
.menu .menu_items dl dd ul li a {
	position: relative;
	padding: 12px 27px 12px 12px;
	display: block;
}
.menu .menu_items dl dd ul li a:after {
	right: 15px;
	top: 50%;
	margin-top: -10px;
	font-size: 1.2rem;
}
.size-19rem {
  font-size: 1.9rem; }
  .size-19rem.size-force {
    font-size: 1rem; }

.size-15rem {
  font-size: 1.5rem; }
  .size-15rem.size-force {
    font-size: 1rem; }

.size-12rem {
  font-size: 1.2rem; }
  .size-12rem.size-force {
    font-size: 1rem; }

.size-10rem {
  font-size: 1rem; }
  .size-10rem.size-force {
    font-size: 1rem; }

.size-08rem {
  font-size: 0.85rem; }
  .size-08rem.size-force {
    font-size: 1rem; }
.area-top{
  margin-top: 30px;
}
.area{
  margin-bottom: 30px;
}
.box-top{
  margin-top: 10px; 
}
.box {
  margin-bottom: 10px; 
}
.block-top {
  margin-top: 20px
}
.block {
    margin-bottom: 20px;
}

#search {
	display: table;
	width: 100%;
}
#search .left {
	display: block;
	background: #eee;
	padding: 10px;
	margin: 0 86px 0 0;
	width: 100%;
}

#search .left ul {
	display: table;
	width: 100%;
	padding: 0px;
	margin: 0px;
}
#search .left ul li {
	display: table-cell;
	vertical-align: middle;
}
#search .left ul li input[type=search] {
	font-size: 1rem;
	width: 100%;
	height: 30px;
	padding: 0 0 0 5px;
	border: 1px solid #aaa;
	border-right: 0;
}
#search .left ul li input[type=search]::-webkit-input-placeholder {
 color: #aaa;
}
#search .left ul li input[type=submit], #search .left ul li input[type=button] {
	width: 30px;
	height: 30px;
	background: url(https://img.webike.net/img/w_spng_sp_search_submit.png) #318acc no-repeat center;
	-moz-background-size: 16px 16px;
	-o-background-size: 16px 16px;
	-webkit-background-size: 16px 16px;
	background-size: 16px 16px;
	border: none;
	text-indent: -9999pt;
}
#search .left ul li.submit{
	width: 30px;
}
header .menu-icon {
  float: right;
  margin-right: 10px; 
}
.account-icon {
  width: 32px;
  height: 32px;
  display: block;
  text-align: center;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  font-size: 0;
  padding: 0 ; 
}
  .account-icon span.helper {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    font-size: 0.5rem; 
}
  .account-icon span.text {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.5rem;
}
  .account-icon.btn {
    padding: 2px 2px; 
}
.menu-icon .icon-area {
  cursor: pointer;
  position: relative;
  padding: 0; 
}
.menu-icon .icon-area:hover ul.list {
    display: block;
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100); 
}
  .menu-icon .icon-area img {
    width: 32px;
    height: 32px; 
}
  .menu-icon .icon-area ul.list {
    position: absolute;
    top: 115%;
    right: 30%;
    background: #fff;
    width: 120px;
    border: 1px #777 solid;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    filter: alpha(opacity=0);
    -webkit-transition: 200ms ease;
    -moz-transition: 200ms ease;
    -o-transition: 200ms ease;
    transition: 200ms ease;
    padding: 0px;
    margin: 0px; 
}
.menu-icon .icon-area ul.list.active {
	display: block; 
}
.menu-icon .icon-area ul.list li {
	list-style: none;
	float: none;
	border-top: 1px #777 solid;
	margin: 0; 
}
.menu-icon .icon-area ul.list li:first-child {
    border-top: none; 
}
.menu-icon .icon-area ul.list li:focus {
	background: #e61e25; 
}
.menu-icon .icon-area ul.list li a {
	padding: 5px 10px;
	display: block;
	color: #333; 
}
.menu-icon .icon-area ul.list li a:hover, .menu-icon .icon-area ul.list li a:focus {
  background: #e61e25 ;
  color: #fff; 
}
#main {
  border-top: 4px solid #e61e25;
	padding: 0 0 30px;
}
#main .section {
	margin: 30px 0;
	border-bottom: 30px solid #eee;
}
#main .section:last-child {
	border-bottom: none;
	margin: 0;
	padding: 0;
}

#main h1.common {
	font-size: 1.2rem;
	font-weight: bold;
	margin: 0 0 10px;
	padding: 10px;
 }
#main h2.common {
	font-size: 1.2rem;
	font-weight: bold;
	margin: 0 0 10px;
	border-top: 4px solid #e61e25;
	background: #eee;
	padding: 10px;
}
#main h3.common {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
	font-size: 1rem;
	font-weight: bold;
	border-left: 8px solid #e61e25;
	padding: 0 0 0 5px;
}
.font-color-red {
  color: #e61e25; 
}

.font-color-blue {
  color: #005fb3; 
}

.bg-color-red {
  background-color: #e61e25;
  color: #fff; 
}

.bg-color-blue {
  background-color: #005fb3;
  color: #fff; 
}

.bg-color-blue {
  background-color: #005fb3;
  color: #fff; 
}

.breadcrumbs {
	line-height: 1.3;
	margin: 0 0 10px;
	 background: #efefef;
  	padding: 5px 0px; 
}
.breadcrumbs ul {
	white-space: nowrap;
	overflow: auto;
	padding: 0px;
	margin: 0px;
}
.breadcrumbs ul li {
	float: none;
	display: inline-block;
	position: relative;
	padding: 5px 5px 4px;
	background: white;
	font-size: 0.85rem;
	margin: 0 12px 0 0; 
}
.breadcrumbs ul li:first-child:before {
	display: none;
}
.breadcrumbs ul li:last-child {
	margin: 0 0 0 3px;
}
.breadcrumbs ul li:before {
	content: "";
	position: absolute;
	top: 0;
  	border-width: 16px 0 12px 6px; 
	border-style: solid;
  	border-color: white transparent;
	left: -6px;
}
.breadcrumbs ul li:after {
	content: "";
	position: absolute;
	top: 0;
	border-top: 15px solid transparent;
	border-bottom: 12px solid transparent;
	border-left: 6px solid white;
	right: -6px;
}
.breadcrumbs ul li a {
	color: #318acc;
	margin: 0;
}
.btn {
    border-color: #ccc;
    height: 38px 
    font-size: 1rem;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
}

.btn:active.focus,.btn:active:focus,.btn:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:focus,.btn:hover {
  color: #333;
  text-decoration: none;
}

.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.btn[disabled] {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .65;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn-default:focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}

.btn-default:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.btn-default:active {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.btn-default:active.focus,.btn-default:active:focus,.btn-default:active:hover {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}

.btn-default:active {
  background-image: none;
}

.btn-default[disabled]:focus,.btn-default[disabled]:hover {
  background-color: #fff;
  border-color: #ccc;
}

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.btn-primary:focus {
  color: #fff;
  background-color: #286090;
  border-color: #122b40;
}

.btn-primary:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}

.btn-primary:active {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}

.btn-primary:active.focus,.btn-primary:active:focus,.btn-primary:active:hover {
  color: #fff;
  background-color: #204d74;
  border-color: #122b40;
}

.btn-primary:active {
  background-image: none;
}

.btn-primary[disabled]:focus,.btn-primary[disabled]:hover {
  background-color: #337ab7;
  border-color: #2e6da4;
}

.btn-link {
  font-weight: 400;
  color: #337ab7;
  border-radius: 0;
}

.btn-link,.btn-link:active,.btn-link[disabled] {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-link,.btn-link:active,.btn-link:focus,.btn-link:hover {
  border-color: transparent;
}

.btn-link:focus,.btn-link:hover {
  color: #23527c;
  text-decoration: underline;
  background-color: transparent;
}

.btn-link[disabled]:focus,.btn-link[disabled]:hover {
  color: #777;
  text-decoration: none;
}

.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.btn-primary {
  color: #fff;
  background-color: #005fb3;
  border-color: #005fb3; }
  .btn-primary:hover {
    background-color: #005699;
    border-color: #005699; }

.btn-full {
  width: 100%; }

.btn-asking {
  background: #005fb3;
  color: #fff; }
  .btn-asking:focus, .btn-asking:hover {
    color: #fff;
    outline: 5px auto #fff; }

.btn-danger {
  color: #fff;
  background: #e61e25;
  border-color: #e61e25; }
h2.amp_link_ui{
  margin-left: 10px;
  margin-right: 10px;
  padding: 15px 30px 15px 15px;
  background: #eee;
  border: 1px solid #ccc;
  font-weight: normal;
  font-size: 1rem;
}
a.amp_link_ui{
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  padding: 15px 30px 15px 15px;
  display: block;
  border: 1px solid #ccc;
  font-size: 1rem;
  background: #fff;
  font-weight: normal;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.text-left{
  text-align: left;
}
.btn-warning {
  background-color: #ff6600;
  border: none;
  color: #fff;
}
h2.menu_link_ui{
  padding: 15px;
  color: #333;
  font-weight: normal;
  background-color: #FFF;
  border:none;
}
.amp-toogle:after,.amp-toogle:before{
    content: '\f107';
    color: #444;
    font-family: FontAwesome;
    position: absolute;
    right: 15px;
    top: calc(50% - 5px);
    margin: -10px 0 0;
    font-weight: normal;
    font-size: 1.2rem;
}
.menu-icon .glyphicon-user {
  margin-top: 15px; 
}
.menu_items section{
  border-bottom: 1px solid #eee;
}
i, cite, em, var, address, dfn{
  font-style: normal;
}
.scrollToTop {
    font-size: 0.85rem;
    position: fixed;
    bottom: 3px;
    right: 3px;
    color: #fff;
    padding: 5px;
    border-radius: 6px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    line-height: 0px;
  }
  #marker {
    position: absolute;
    top: 100px;
    width: 0px;
    height: 0px;
  }
  #marker i{
    background: none no-repeat scroll 9px 9px #666666;
    background-image: url(//img-webike-tw-370429.c.cdn77.org/shopping/image/return_top.png);
    color: #FFFFFF;
    border-radius: 5px;
    opacity: 0.8;
    padding: 15px;
    text-align: center;
  } 

  footer small {
    background: #202732;
    padding: 10px 0;
    color: #fff;
    display: block;
    text-align: center;
    line-height: 1.5;

}

#main .category-content {
    border-bottom: 30px solid #eee;
}

.dotted-text1 {
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    word-wrap: break-word;
    white-space: nowrap;
    display: block;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    max-height: 200%;
}

.product-grid a {
    margin: 0 auto;
    color: #005fb3;
    text-decoration: none;
    transition: all 0.3s ease;
    border: none;
}

.final-price {
    width: 100%;
    font-size: 1rem;
    font-weight: bold;    
    color: #e61e25;
}

.box {
    margin-bottom: 10px;
}

.show{
  display: block;
}

.dotted-text2 {
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    max-height: 200%;
}

.product-grid a figure {
    width: 140px;
    height: 140px;
    vertical-align: middle;
    text-align: center;
    position: relative;
    display: block;
    font-size: 0;
    margin: 0 auto;
}

.zoom-image {
    overflow: hidden;
    display: table-cell;
    padding: 2px;
}

.clearfix{
  overflow: auto;
}

.base-btn-gray {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #e3e3e3));
    background: -moz-linear-gradient(top, #ffffff 5%, #e3e3e3 100%);
    background: -webkit-linear-gradient(top, #ffffff 5%, #e3e3e3 100%);
    background: -o-linear-gradient(top, #ffffff 5%, #e3e3e3 100%);
    background: -ms-linear-gradient(top, #ffffff 5%, #e3e3e3 100%);
    background: linear-gradient(to bottom, #ffffff 5%, #e3e3e3 100%);
    color: #000;
}

.common-motor-search .form_ui {
    border: 0px;
    padding: 0px 0px 10px 0px;
}

.box_ui {
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-top: 0;
    padding: 10px;
}

select {
  font-size: 0.85rem;
    width: 100%;
    height: 30px;
    padding: 0 0 0 5px;
    margin: 0 0 5px;
    border: 1px solid #aaa;
    background: url(https://img.webike.net/img/w_spng_sp_search_arrow.png) #fff no-repeat right center;
    -moz-background-size: 20px 10px;
    -o-background-size: 20px 10px;
    -webkit-background-size: 20px 10px;
    background-size: 20px 10px;
}
.section .exp {
    padding: 0 10px;
}

.section .exp .brand-image {
    float: left;
    margin-right: 10px;
}

.section .exp .brand-office p {
    height: 91px;
    overflow-x: auto;
}

#main .relation_info > ul > li a {
    display: block;
    padding: 10px;
    overflow: hidden;
}

#main .relation_info > ul > li {
    margin: -1px 0 0;
    overflow: hidden;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    line-height: 1.2;
}