/*method*/
/*template*/
#mail {
  width: 800px;
  margin: 10px auto;
  padding: 20px;
  border: 3px #CCC solid;
  border-radius: 15px; }
  #mail .borderbox {
    border: 1px black solid;
    width: 760px;
    margin: -1px auto;
    padding: 10px; }
  #mail .mail_footer {
    margin: 10px auto;
    display: initial;
    text-align: center; }
  #mail .title label {
    margin: 10px 0; }
  #mail p {
    margin: 5px 0; }
  #mail p.gap {
    margin-bottom: 15px; }
  #mail ul.indent li {
    margin-left: 10px; }
  #mail .point {
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    color: red; }
  #mail table {
    width: 760px; }
  #mail table.total {
    width: auto;
    color: black; }
    #mail table.total th {
      width: 120px;
      text-align: left; }
    #mail table.total td {
      width: 150px;
      text-align: right; }
  #mail table.customer {
    text-align: left; }
    #mail table.customer tr {
      height: 45px; }
    #mail table.customer th {
      width: 80px; }
    #mail table.customer td {
      width: 120px; }
  #mail table.items tr {
    padding: 5px; }
