.main-col{
	overflow: hidden;
}
h1{
	font-size: 36rem;
}
section{
	margin:0 auto;
	max-width: 1200px;
}
section legend{
	font-size: 36rem;
}
section [class*="-list"] h4{
	font-size: 24rem;
	margin:0 0 10px 0;
}
section [class*="-list"] ul{
	font-size:0;
	letter-spacing: -1px;
}
section [class*="-list"] ul li{
	display: inline-block;
	vertical-align: top;
	font-size:16rem;
}
section [class*="-list"] ul li img{
	width: 100%;
}
.brand-list{
	margin: 0 -2% -2% 0;
}
.brand-list ul li{
	width: 20%;
	padding: 0 2% 2% 0;
}
.category-list{
	margin: 0 -2% -2% 0;
}
.category-list ul li{
	width: 33.3333%;
	padding: 0 2% 2% 0;
}
.ranking-list{
	margin: 0 -2% -2% 0;
}
.ranking-list ul li{
	width: 33.3333%;
	padding: 0 2% 2% 0;
	position: relative;
}
.ranking-list ul li:nth-child(n+4){
	width: 25%;
}
.ranking-list ul li:nth-child(1) .content-box span{
	background: #d5a500;
}
.ranking-list ul li:nth-child(2) .content-box span{
	background: #9ea0a1;
}
.ranking-list ul li:nth-child(3) .content-box span{
	background: #ba784c;
}
.ranking-list ul li .content-box span{
	position: absolute;
	top: 4px;
	left: 4px;
	background: #333;
	padding: 3px 5px;
	color:#fff;
	font-size: 14px;
	font-weight: bold;
	z-index: 99;
}
.ranking-list ul li .content-box .image-box{
	text-align: center;
	width:100%;
	height: 100%;
}
.ranking-list ul li .content-box .image-box:after{
	content: "";
	display: block;
	padding-bottom: 100%;
}
.ranking-list ul li .content-box .image-box .helper-box{
	position: absolute;
	left: 50%;
	width: 100%;
	height: 100%;
}
.ranking-list ul li .content-box .image-box .helper-box img{
	position: relative;
	left: -50%;
	width: auto;
	max-width: 100%;
	max-height: 100%;
}
@media screen and (max-width: 1200px){
	.brand-list{
		margin: 0 0 -2% 0;
	}
	.brand-list ul li{
		width: 33.3333%;
		padding: 0 2% 2% 0;
	}
	.category-list{
		margin: 0 0 -2% 0;
	}
	.category-list ul li{
		width: 33.3333%;
		padding: 0 2% 2% 0;
	}
	.ranking-list ul li:nth-child(n+4){
		width: 33.3333%;
	}
}
@media screen and (max-width: 600px){
	.brand-list{
		margin: 0 0 -2% 0;
	}
	.brand-list ul li{
		width: 50%;
		padding: 0 2% 2% 0;
	}
	.category-list{
		margin: 0 0 -2% 0;
	}
	.category-list ul li{
		width: 50%;
		padding: 0 2% 2% 0;
	}
	.ranking-list{
		margin: 0 -2% -2% 0;
	}
	.ranking-list ul li{
		width: 50%;
		padding: 0 2% 2% 0;
		position: relative;
	}
	.ranking-list ul li:nth-child(n+4){
		width: 50%;
	}
}
.bold{
  font-weight: bold;
  font-size: 15.5px;
  
}