section{
	max-width: 100%;
}

.content-box{
	float: none;
	padding: 0px;
	border: 0px;
	background-color: white; 
}

html{
	font-family: Helvetica, Arial, Verdana, "Microsoft JhengHei", "微軟正黑體", "PMingLiU", sans-serif;
    font-weight: 400;
    line-height: 1.4;
    color: #333333;
    background: #ffffff;
}

.navbar-nav > li > a{
	color: #fff !important;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1rem;
}

.ranking-list ul li .content-box .image-box .helper-box img{
	max-height: 100%;
}
h1 {
	font-size:1.5rem !important;
}
h2{
	font-size:1.2rem !important;
}
h3{
	font-size:1rem !important;
}
h4{
	font-size:1.5rem !important;
}
.brand-list div,.ranking-list ul li div a,.brand-list ul li a{
	font-size:1.2rem !important;
}
section [class*="-list"] ul{
	letter-spacing: 0px !important;
}
section [class*="-list"] ul li {
	font-size: 1rem !important;
}
.ranking-list ul li .content-box span {
	letter-spacing: 0.15rem !important;
	vertical-align: baseline;
}
.ranking-list ul li .content-box {
	text-align:left !important;
}
.rotation-ui .bx-viewport {
	overflow: visible !important;
}
.rotation-ui .bxslider li {
	opacity: 0.2;
	transition: opacity 0.5s;
	pointer-events: none;
}
.rotation-ui .bxslider li.active {
	opacity: 1;
	pointer-events: auto;
}
.rotation-ui .bxslider li a img {
	width:100%;
}
.bx-wrapper .bx-controls-direction a {
	position: absolute;
	top: 50%;
	margin-top: -16px;
	outline: 0;
	width: 32px;
	height: 32px;
	text-indent: -9999px;
	z-index: 99;
}
.bx-wrapper {
	position: relative;
	margin-bottom: 60px;
	padding: 0;
	touch-action: pan-y;
	box-shadow: 0 0 5px #ccc;
	border: 5px solid #fff;
	background: #fff;
}
.ranking-list ul li .content-box .image-box {
	position: relative;
}
.bannerbar {
	display:none;
}
@media(min-width:550px){
	.breadcrumb-mobile {
		margin-top:150px !important;
	}
}
@media(max-width:550px){
	.breadcrumb-mobile {
		margin-top:55px !important;
	}
	.rotation-ui .bx-viewport{
		overflow: auto !important;
	}
	div.rotation-ui .bx-controls-direction a.bx-prev{
		left: 0px;
	}
	div.rotation-ui .bx-controls-direction a.bx-next{
		right: 0px;
	}
}
