.owl-next
  position: absolute
  top: 20%
  right: 0
  padding: 20px 10px
  opacity: 0.7
  background-color: #fff
  margin-right: 10px
  @include box-shadow(-3px 1px 3px 0px rgba(0,0,0,0.2))
  border-top-left-radius: 4px
  border-bottom-left-radius: 4px
  &:hover
    @include box-shadow(-3px 1px 3px 0px rgba(0,0,0,0.4))
    opacity: 1
    background-color: $red-color
    i
      color: #fff

.ct-owl-carousel
  display: table
  text-align: center
  width: 100%
  a
    margin: 0 auto
    max-width: 140px
  img
    margin: 0 auto
    max-width: 140px
  span
    width: 100%
    margin-top: 5px
    display: table
.owl-prev
  position: absolute
  top: 20%
  left: 0
  padding: 20px 10px
  opacity: 0.7
  background-color: #fff
  margin-left: 10px
  @include box-shadow(3px 1px 3px 0px rgba(0,0,0,0.2))
  border-top-right-radius: 4px
  border-bottom-right-radius: 4px
  &:hover
    @include box-shadow(3px 1px 3px 0px rgba(0,0,0,0.4))
    opacity: 1
    background-color: $red-color
    i
      color: #fff
ul.owl-carousel
  padding: 0 10px 10px 10px