/* Oem part page */
.oem-part-page
  padding: 0
.ct-oem-part-left
  width: 200px
.ct-oem-part-right
  padding: 0 0 0 20px
.box-page-group-top
  border: 1px solid $background-menu-hover-color !important
.sub-menu-box-group
  margin: 0
  border-top: 1px solid $background-title-color !important
  float: left
  width: 100%
  li
    padding: 0 10px
  li:hover
    a
      color: $red-color !important
.banner-advertisement
  margin-bottom: 10px
  width: 100%
  float: left
.box-info-oem
  width: 100%
  margin-bottom: 20px
  padding: 20px
  border: 4px solid $background-title-color
  float: left
.box-items-group
  margin-bottom: 20px
  width: 100%
  border: 1px solid $background-title-color
  float: left
.title-box-items-group
  padding-bottom: 10px
  width: 100%
  float: left
  border-bottom: 2px solid #b8b8b8
  img
    margin-top: 5px
    margin-right: 10px
    width: 32px
    float: left
  h1
    float: left
  hr
    width: 100%
    height: 1px
.ct-box-items-group
  width: 100%
  float: left
.ul-ct-box-items-group
  margin: 5px 0
  width: 100%
  float: left
  li
    padding: 10px
    width: 12.5%
    float: left
    list-style-type: none
    text-align: center
    a
      margin: 0 auto
      /* @include border-radius(2px) */
      overflow: hidden
      display: table
      img
        float: left
      &:hover
        @include box-shadow(3px 3px 3px #b8b8b8)
.ct-tap-country
  display: none
.active-ct-tap-country
  display: block !important
  li
  .logo-brand
    a
      .img-brand-black
        display: block
      .img-brand-active
        display: none
  .active
    a
      .img-brand-black
        display: none !important
      .img-brand-active
        display: block !important

.box-items-group-show
  margin-top: 10px
  padding: 15px
  width: 100%
  float: left
  background-color: #f5f7fa
  /* @include border-radius(2px) */
  .ct-more-box-items-group-show
    width: 100%
    overflow: auto
    max-height: 175px
    float: left
.box-items-group-show-left
  width: 110px
  img
    border: 1px solid #fff
.box-items-group-show-right
  padding-left: 20px
  border-left: 2px dotted #b8b8b8
@media (max-width: 767px)
  .box-items-group-show-right
    width: 100% !important
    float: left !important
    padding-left: 10px
    margin-top: 10px
.box-part-number
  margin-bottom: 20px
  padding: 0
  border: 1px solid $background-title-color
.content-box-part-number
  width: 100%
  float: left
  position: relative
  #genuineparts-table
    margin: 20px 0
    /* @include border-radius(5px) */
    overflow: hidden
    width: 100%
    float: left
    border: 1px solid #e1e6e9
    ul.item:nth-child(odd)
      float: left
      li
        background-color: #f5f7fa
    ul
      padding: 0 20px
      width: 100%
      float: left
      li
        padding: 5px
        line-height: 20px
        float: left
        list-style-type: none
        text-align: center
        min-height: 36px
        input
          width: 100%
          height: 25px
      li:nth-child(1)
        width: 10%
      li:nth-child(2)
        width: 35%
      li:nth-child(3)
        width: 20%
      li:nth-child(4)
        width: 35%
    ul.title
      background-color: #e1e6e9
      width: 100%

.bottom-genuineparts-table
  padding: 20px
  float: left
  width: 100%
.title-box-tap
  position: absolute
  width: 100%
  float: left
  li
    border-top-left-radius: 3px
    border-top-right-radius: 3px
    border: 1px solid #627590
    border-bottom: 1px solid #627590
    margin: 10px 5px 0 5px
    padding: 4px 20px
    list-style-type: none
    background-color: #627590
    float: left
    overflow: hidden
    height: 45px
    a
      float: left
      img
        margin: 5px 10px 0 0
        width: 32px
        float: left
      h2
        margin-top: 3px
        float: left
        color: #fff

  li:hover
    box-sizing: border-box
    border: 1px solid #627590
    border-bottom: none
    background-color: #fff
    a
      h2
        color: $background-black-color
  .active
    box-sizing: border-box
    border: 1px solid #627590
    border-bottom: none
    background-color: #fff
    a
      h2
        color: $background-black-color
@media (max-width: 992px)
  .title-box-tap
    li
      padding: 4px 10px
@media (max-width: 767px)
  .title-box-tap
    li
      padding: 4px 5px
.ct-box-part-number
  margin: 54px 0 0 0
  width: 100%
  float: left
  border-top: 1px solid #627590
.ct-show-info-brand
  margin: 0
  padding: 0 15px
  float: left
  width: 100%
.container-show-info-brand
  display: none

ul.table-main-info
  list-style-type: none
  border: $border-box
  margin-top: 0
  padding: 0
  width: 100%
  float: left
  &>li
    float: left
    width: 100%
  li.table-main-title
    background-color: #787878
    ul
      li
        list-style: none
        line-height: 2.5em
        text-align: center
        vertical-align: middle
        border-right: 1px solid #fff
        color: #fff
        padding: 0
        &:last-child
          border-right: none
  li.table-main-content
    ul.table-main-item
      float: left
      width: 100%
      display: flex
      justify-content: center
      li
        display: flex
        justify-content: center
        flex-direction: column
        text-align: center
        list-style: none
        line-height: 3em
        border-right: 1px dotted #dcdee3
        padding: 0
        margin: 10px 0
        &:last-child
          border-right: none
      h2.checkout-product-name
        padding-left: 5px
      &:nth-child(2n)
        background-color: #efefef
  li.table-main-resum
    background-color: #efefef
    ul
      li
        list-style: none
        float: left
        padding: 0
        &.table-main-resum-left
          h3
            padding: 15px 0 0 15px
        &.table-main-resum-right
          border-left: $border-box
          ul
            li
              width: 100%
              padding-top: 15px
              div.resum-title
                float: left
                padding-left: 15px
              div.resum-value
                float: right
                padding-right: 15px
              &.resum-final-value
                border-top: 1px dotted #dcdee3
                div.resum-value
                  color: $red-color
              &:last-child
                margin: 15px 0

.btn-send-genuinepart-finish
  font-weight: bold
  padding: 10px 30px
  min-width: 200px
.btn-send-genuinepart-finish-left
  float: left
.btn-send-genuinepart-finish-right
  float: right
@media all and (max-width: 767px)
  .ct-oem-part-left
    width: 100% !important
  .ct-oem-part-right
    padding: 0
    width: 100% !important
  .ul-ct-box-items-group
    li
      width: 25% !important
  .box-page-group
    .ct-box-page-group
      .ul-button-ct-box-page-group
        li
          .improt-menu-left
            position: static
  .box-part-number
    .content-box-part-number
      #genuineparts-table
        ul
          li
            input
              border: $border-box
.btn-send-the-query
  font-weight: bold
  padding: 10px 30px
@media (max-width: 767px)
  .btn-send-the-query
    padding: 10px 5px
  .btn-danger.btn-send-the-query
    padding: 10px 30px
.box-info-compalate
  width: 100%
.btn-send-genuinepart-finish-complate
  margin: 0 5px !important
  font-size: 1.2rem
.number-text-genuuepart-complate
  margin-bottom: 10px

.box-items-group-customer-account
  float: left
  margin: 0 0 20px 0
  width: 100%
.table-page-customer-account
  border: $border-box
  tr
    border-top: $border-box
    td
      padding: 5px 10px
      border-left: $border-box
      &:last-child
        padding-right: 10%
      &:first-child
        border-left: none
        background-color: #fef2e1
      .txt-customer-account
        padding-right: 5px
        padding-left: 5px
        width: 100%
      .txt-customer-account-end
        margin-top: 5px
    &:first-child
      border-top: none

.from-owned-vehicles
  li
    padding: 0 5px 0 0
    list-style-type: none
    &:last-child
      padding: 0
    .text-day
      line-height: 28px
.box-customer-account
  margin: 0 0 10px 0 !important
  padding: 5px
  border-bottom: 2px solid #dcdee3
.btn-add-new-vehicle
  width: 100%
.btn-confirm-the-changes
  width: 240px
  font-size: 1.2rem
  margin-bottom: 20px
.box-page-group-customer-account
  border: 5px solid #ff9003
.title-box-customer-account
  background-color: #ff9003 !important
  color: #fff !important
  border-bottom: none !important
.ul-menu-customer-account
  li
    border-top: none !important
    a
      i
        color: #008c2e
/* Oem part page */
.ul-ct-brand-index
  width: 100%
  display: block
  li
    border-top: $border-box
    width: 100%
    padding: 10px
    list-style-type: none
    float: left
    .item-img-brand-index
      figure
        width: 80px !important
        height: 43px !important
    .info-brand-right
      padding: 0 0 0 5px !important
      a
        display: inherit
        font-weight: bold
      span
        display: inherit
  li:first-child
    border-top: none

.thumb-box-logo-brand
  height: 50px !important
  width: 170px !important
  text-align: left !important
.list-info-brand-selection
  width: 100%
  float: left
  li
    width: 100%
    list-style-type: none
    float: left

.ct-brand-selection
  padding: 20px
  width: 100%
  border: 3px solid $background-header-color
  float: left
.ul-ct-brand-selection
  li
    list-style-type: none
.list-info-brand-selection
  border-left: 2px dotted #c6c6c6
  li
    padding: 0 15px
    margin-bottom: 5px
    font-weight: bold
    &:last-child
      margin-bottom: 0
.ct-list-brand-logo
  margin: 0 0 20px 0
  width: 100%
  float: left
.ul-list-brand-logo
  margin: 0 auto
  max-width: 100%
  display: table
  li
    list-style-type: none
    display: inline-block
.thumb-img-list-brand-logo
  width: 80px !important
  height: 43px !important
.menu-ct-list-brand-index
  padding: 0 10px
  width: 100%
  float: left
  li
    list-style-type: none
    float: left
    a
      padding: 15px 10px
      display: inherit
      font-size: 1rem
      color: $font-color
      font-weight: bold
      &:hover
        color: $red-color
.ct-brand-nationality
  border-top: 2px solid $background-header-color
  padding: 20px
  width: 100%
  float: left
.item-brand-nationality
  margin-bottom: 20px
  width: 100%
  float: left
  .title-item-brand-nationality
    padding: 10px
    width: 100%
    min-height: 40px
    float: left
    background-color: $background-header-color
    border-radius: 4px
    img
      margin: 0 5px 0 0
      width: 32px
      float: left
.ct-item-brand-nationality
  li
    margin: 5px 0
    list-style-type: none
    font-size: 1rem