
.img-thumbnail
  margin-bottom: 5px
  display: table-cell
  vertical-align: middle
  text-align: center
  border-radius: 0
  img
    width: 100%
.thumbnail-img-product
  height: 450px
  img
    margin: 0 auto
    text-align: center
    object-fit: scale-down
    height: 100%
    cursor: pointer
.img-zoom-in
  img
    cursor: -webkit-zoom-in
    cursor: -moz-zoom-in
    cursor: zoom-in
.thumbnail-all
  margin: 0 auto
  margin-bottom: 5px
  display: table-cell
  vertical-align: middle
  border: #CCC 1px solid
  text-align: center
  position: relative
  img
    max-width: 100%
    max-height: 100%

.icon-star
  margin: 0 auto
  padding: 0
  width: 72px
  height: 14px
  background-image: url(https://img-webike-tw-370429.c.cdn77.org/shopping/image/shopping/icon.png)
  background-position: 0 -145px
  display: table
.icon-star-bigger
  margin: 0 auto
  padding: 0
  width: 100px
  height: 20px
  background-image: url(https://img-webike-tw-370429.c.cdn77.org/shopping/image/star_bigger.png)
  background-position: 0 0
  display: table
  &.star-01
    background-position: 0 -40px
  &.star-02
    background-position: 0 -80px
  &.star-03
    background-position: 0 -120px
  &.star-04
    background-position: 0 -160px
  &.star-05
    background-position: 0 -200px

/* star */
.star-hide
  background: none
  height: 17px
.star-fix
  margin-top: 2px !important
.star-01
  background-position: 0 -174px
.star-02
  background-position: 0 -202px
.star-03
  background-position: 0 -230px
.star-04
  background-position: 0 -257px
.star-05
  background-position: 0 -285px

.pagination
  background-color: transparent
  li
    a
      i
        margin: 0
        color: #e61e25
      color: #333333
    .active
      background-color: #e61e25
      color: #fff

.breadcrumb > li + li::before
  font-family: 'FontAwesome'
  content: "\f105"

.breadcrumb-product-detail
  margin: -10px 0 5px 0
  background-color: transparent

.img-slider-nav
  width: 90%
  margin: 0 auto
  .slick-prev:before, .slick-next:before
    color: #999999 !important
    font-size: 20px

.img-thumbnail-detail
  height: 60px
  line-height: 50px
  display: block

.product-detail
  padding: 0

.module-title
  padding: 10px 15px
  overflow: hidden
  border-bottom: 1px solid #bbbbbb
  background-color: #fff
  border: 1px solid #dcdee3

.brand-logo
  width: 85px
  height: 85px
  float: left

.thumbnail-logo-brand
  width: 85px
  height: 85px
  display: table-cell

.product-info
  padding: 0 0 0 10px
  float: none
  width: auto
  overflow: hidden

.info-brand
  margin: 10px 0
  padding: 0
  width: 100%
  float: left
  li
    padding: 0 10px
    list-style-type: none
    float: left
    border-left: 1px solid #bbbbbb
    &:first-child
      border-left: 0

.ct-product-deatil
  margin: 0 0 10px
  padding: 15px
  overflow: hidden
  background-color: #fff
  border: 1px solid #dcdee3
  border-top: none
  hr
    margin: 10px 0

.ct-product-deatil-left
  width: 450px
  float: left

.ct-product-deatil-right
  padding: 0 0 0 15px
  float: none
  width: auto
  overflow: hidden

.ct-product-deatil
  span#final-price
    font-size: 1.5rem

.thumbnail-img-product
  width: 450px
  display: table-cell
  border: none
  background-color: #f9f8f8
  float: left
.img-slider-for
  width: 450px
  height: 450px
  overflow: hidden

.ct-price-old
  margin-top: 15px
  margin-bottom: 15px
  padding: 0
  a
    padding: 0 20px
  span
    font-size: 1rem

.price-product-deatil
  color: #e61e25

.select-info
  width: 100%
  float: left
  ul.product-data-table
    li
      list-style: none
    li.product-table-title,
    li.product-table-content
      ul.product-table-row
        display: flex
        li[class^=col]
          display: flex
          justify-content: center
          flex-direction: column
          font-size: 1rem
          line-height: 28px
          cite,
          p
            padding: 10px 0
  table
    width: 100%
    padding: 0 10px
    display: block
    tr
      td,
      th
        line-height: 28px
        padding: 5px 10px
        margin: 0
        vertical-align: middle
      th
        width: 150px !important
  .dropdown-menu
    width: 100%
    max-height: 200px
    overflow: auto

.delivery-box
  padding: 7px 5px
  border: #09C 1px solid
  color: #09C
  font-size: 1rem
  font-weight: $font-weight-wide

.color-icon-question
  color: #038900
.determine-number
  ul
    margin: 0
    width: 100%
    float: left
    background-color: #fff
    border: 1px solid #dcdee3
    border-radius: 2px
  li
    margin: 0
    padding: 0
    width: 33.3333%
    list-style-type: none
    vertical-align: middle
    display: inline-block
    input
      width: 100%
      text-align: center
      border: none
    a
      width: 100%
      text-align: center

.btn-addcart
  a
    width: 100%
    float: left
    border-radius: 2px
    font-weight: bold

.btn-addtolist, .btn-purchase
  a
    background-color: #fff
    color: #333333
    width: 100%
    border: 1px solid #dcdee3
    font-weight: bold
    border-radius: 2px

.fix-Model
  margin: 0 0 10px
  padding: 0
  width: 100%
  float: left

.title-model
  margin: 0 0 10px
  border-bottom: 1px solid #dcdee3
  h2
    margin: 0
    padding: 5px 0
    width: 100%

.thumbnail-fix-model
  width: 70px
  height: 70px
  display: table-cell

.img-thumbnail-model
  margin: 0 15px 0 0
  padding: 0
  float: left

.btn-detail-info
  margin: 10px 0 0 0
  padding: 0
  float: right
  i
    margin: 3px 0 0 8px
    padding: 0
    float: right

.title-main2
  margin: 0 0 20px
  width: 100%
  border-bottom: 1px solid #dcdee3
  float: left
  h1
    margin: 0
    padding: 5px 0
    float: left

.ct-product-info-detail
  margin: 0 0 20px
  background-color: #fff
  border: 1px solid #dcdee3

.menu-info
  width: 100%
  border-bottom: 1px solid #dcdee3
  float: left
  background-color: #fafafa
  li
    margin: 10px 0
    padding: 2px 15px
    list-style-type: none
    border-left: 1px solid #dcdee3
    float: left
    &:first-child
      border-left: none

.container-box
  margin: 0 0 20px
  width: 100%
  float: left

.top-info-detail
  margin: 0
  padding: 0
  width: 100%
  overflow: hidden
  float: left

.right-box-detail
  margin: 10px 0
  padding: 0
  width: 300px
  background-color: #f2f3f7
  border: 1px solid #dcdee3
  float: right

.left-box-detail
  padding: 0 10px 0 0
  float: none
  width: auto
  overflow: hidden

.banner-advertisement-right
  width: 100%
  float: left
  li
    margin: 10px 0
    padding: 0 10px
    list-style-type: none
    float: left

.ul-fix-model
  margin: 0
  padding: 0
  width: 100%
  float: left
  .li-fix-model
    margin: 0
    padding: 5px
    width: 50%
    list-style-type: none
    float: left

.ct-fix-model
  margin: 0
  padding: 5px
  width: 100%
  border: 5px solid #e8ebef
  overflow: hidden
  float: left

.ct-fix-model-left
  margin: 0
  width: 85px
  float: left

.ct-fix-model-right
  padding: 0 10px
  float: none
  width: auto
  overflow: hidden
  ul
    margin: 0
    padding: 0
    width: 100%
    float: left
    li
      margin: 0
      padding: 10px 0
      width: 100%
      list-style-type: none
      border-top: 1px solid #dfdfdf
      float: left
      &:first-child
        border-top: none
.show-more-fix-model
  display: none
.explore-product
  margin: 0
  padding: 0 10px 10px
  width: 100%
  float: left

.ct-explore-product
  margin: 0
  padding: 0
  width: 100%
  float: left
  li
    margin: 10px 0 0
    padding: 0
    width: 100%
    list-style-type: none
    float: left

.left-explore-product
  margin: 0
  padding: 0
  width: 100px
  float: left

.right-explore-product
  padding: 0 20px
  float: none
  width: auto
  overflow: hidden

.thumbnail-img-explore
  width: 100px
  height: 100px

.customer-review
  width: 100%
  float: left

.customer-review-total
  margin: 0 0 20px 0
  padding: 0 20px
  width: 100%
  background-color: #f5f7fa
  border-radius: 3px
  float: left
  ul
    display: flex
    li
      display: flex
      justify-content: center
      padding: 15px 30px
      display: flex

.ct-review-detail
  text-align: center
  .icon-star
    margin: 5px auto

.user-info-detail
  overflow: hidden
  .thumbnail-all
    width: 38px
    float: left
    border: none
  .ct-user-info
    padding: 0 10px
    float: none
    width: auto
    overflow: hidden
    span
      color: #333333
    p
      margin-top: 3px
      color: #909090

.ul-content-comment-detail
  margin: 0
  padding: 0
  width: 100%
  float: left
  li
    margin: 0
    padding: 20px 0
    width: 100%
    list-style-type: none
    border-bottom: 1px solid #dcdcdc
    float: left

.ct-comment-detail-right
  overflow: hidden

.thumb-product-comment
  width: 120px
  height: 120px
  float: left
  .thumbnail-all
    width: 120px
    height: 120px

.ct-comment-detail
  padding: 0 20px
  float: none
  width: auto
  overflow: hidden
  h2
    padding: 0 150px 0 0

.date-comment
  position: absolute
  right: 0
  top: 0
  color: #909090

.group-star
  margin: 10px 0
  float: left
  .icon-star
    float: left

.by-name-user
  padding: 0 10px
  color: #909090
  float: left
  span
    color: #333333

.text-ct-comment
  float: left
  clear: both

.like-comment
  strong
    padding: 0 10px 0 0
    float: right
    line-height: 24px
  .btn-like
    margin: 0
    float: right
    vertical-align: middle
    a
      margin: 0
      padding: 2px 5px
      background-color: #edf0f7
      border-radius: 2px
      vertical-align: middle
      border: 1px solid #adbbcf
      float: left
    span
      line-height: 24px

/*.like-comment .btn-like a i{ margin:3px 0 0 0;}

.ct-title-main2
  width: 100%
  float: left
  .text-ct-title-main2
    margin: 10px 0
    float: left

.ct-title-main2-right
  margin: 0
  float: right
  label
    margin-top: 4px
    float: left
    color: #fff
  .dropdown
    margin: 0 0 0 20px
    float: left
  button
    float: left

.bnt-ask-a-question
  margin-left: 20px
  border-radius: 2px

.bnt-ask-a-question2
  background-color: #777777
  color: #FFF
  border-radius: 2px
  &:hover, &:focus, &:active
    color: #fff

.customer-qa
  float: left
  width: 100%

.ul-ct-customer-qa
  padding: 10px
  margin-bottom: 20px
  width: 100%
  float: left
  background-color: #f5f7fa
  li
    width: 100%
    list-style-type: none
    border-radius: 2px
    float: left
    .top-ct-customer-qa
      margin-bottom: 10px
    &:last-child
      .top-ct-customer-qa
        margin-bottom: 0
  .active
    .customer-qa-show
      display: block !important

.ct-customer-qa-info
  margin: 10px 0
  width: 100%
  li
    margin: 0 20px
    padding: 0
    width: auto
    list-style-type: none
    float: left
    p
      color: #909090
      font-size: 0.85rem
      float: left
    span
      float: left
    i
      margin: 0 5px
      color: #ff9227
      float: left
    &:first-child
      margin: 0 20px 0 0

.ct-customer-qa-show
  padding-right: 0
  .title
    margin-bottom: 10px
    font-weight: bold

.customer-qa-show
  padding: 15px
  background-color: #fff
  position: relative
  border: 1px solid #d7e2f1
  //display: none

.active-qa-show
  color: #e61e25

.ct-customer-qa-show-left
  border: none
  li
    padding: 10px 0
    border-bottom: 1px solid #dcdcdc
    &:last-child
      border-bottom: none

.customer-qa-show:before
  position: absolute
  top: -7px
  left: 45px
  display: inline-block
  content: ''
  border-right: 7px solid transparent
  border-bottom: 7px solid #ccc
  border-bottom-color: rgb(255, 255, 255)
  border-left: 7px solid transparent

.ct-customer-qa-show-detail
  padding: 10px 0
  border-top: 1px solid #dcdcdc
  border-bottom: 1px solid #dcdcdc
  margin-bottom: 10px
  width: 100%
  max-height: 200px
  overflow-y: auto
  font-size: $font-size

.top-ct-customer-qa-left
  float: left
  position: relative
  width: 80%

.top-ct-customer-qa-right
  width: 20%
  float: left
  text-align: right
  p
    color: #909090

.btn-see-all-pagination
  float: right
  span
    margin: 20px
    float: left
  a
    margin: 20px 0
    float: left
    i
      line-height: 1.2rem

.rating-star-table
  margin: 0

.rating-star-name
  color: #7b7b7b

.rating-star-icon
  margin: 0 5px
  color: #f3b100

.rating-bar-bg
  margin: 5px
  width: 120px
  height: 7px
  background-color: #eaeaea

.rating-bar-with
  height: 7px
  background-color: #f3b100
  float: left

.btn-write-review
  margin: 47px 0 0 30px
  padding: 5px 50px
  background-color: #ff9227
  color: #fff
  border-radius: 3px
  &:hover
    color: #fff

.group-button-detail
  width: 100%
  float: left
  background-color: #f5f4f4
  padding: 5px
  .span-quantity
    padding: 5px 5px 5px 0
    width: 15%
    float: left
.form-group-button
  width: 100%
  [class^=col-], 
  .btn-label
    padding: 5px
.img-slider-nav .slick-list .slick-track .slick-current
  border: 1px solid #e61e25 !important
  outline: none
  -webkit-transition: all 0s ease-in-out
  -o-transition: all 0s ease-in-out
  transition: all 0s ease-in-out
  position: relative
  box-sizing: border-box
  &:before
    font-family: 'FontAwesome'
    position: absolute
    top: -13px
    left: 50%
    display: inline-block
    content: "\f0d8"
    color: $red-color
    margin: 0 0 0 -3px
.title-detail-info
  margin-top: 10px
.btn-see-all-pagination-fix-model
  a
    margin: 0 !important
.ct-row-advertisement
  img
    width: auto !important
    max-width: 100% !important
    text-align: center
    margin: 0 auto
.owl-carouse-advertisement
  .owl-controls
    .owl-nav
      .owl-prev
        top: 50% !important
        margin-top: -30px !important
      .owl-next
        top: 50% !important
        margin-top: -30px !important

.ct-customer-qa-show-left
  li
    a
      border: none
  .active
    a
      border: none !important
      span
        color: $red-color
        &a:active,
        &:hover,
        &:focus
        border: none !important
        .icon-check-link-active
          display: inline-block !important
          margin: 0 0 0 -23px
.icon-check-link-active
  display: none
  font-size: 1.2rem
  color: green
  margin: 0 0 0 -23px

.table-select-info
  .dropdown
    botton
      text-align: left

@media all and (max-width: 767px)
  .customer-review-total
    ul
      li
        padding: 15px 0
  .ct-product-deatil-left
    width: 100% !important
  .ct-product-deatil-right
    width: 100% !important
    padding: 0
  .select-info
    padding: 0
  .left-box-detail
    padding: 0
  .brand-logo
    margin: 0 11px 0 0
  .product-info
    padding: 0 !important
    overflow: visible !important
  .info-brand li
    border-left: none
  .breadcrumb-product-detail
    display: block
    overflow: auto
    white-space: nowrap
  .right-box-detail
    display: none
  .ul-fix-model .li-fix-model
    width: 100% !important
  .ct-comment-detail h2
    padding: 0
  .date-comment
    position: static
  .thumb-product-comment
    float: left
    margin: 0 10px 10px 0
  .ct-comment-detail
    padding: 0 !important
    overflow: visible !important
  .like-comment
    padding: 0
  .top-ct-customer-qa-right
    margin: 10px 0
    float: left
    padding: 0
    width: 100%
    p
      float: right
  .top-ct-customer-qa-left
    width: 100%
  .ct-customer-qa-info li
    margin: 0 10px 0 0
  .btn-write-review
    margin: 0
    width: 100%
    float: left
  .ct-totaldetail
    width: 100%
  .rating-star-table
    margin: 0 auto
  .ct-review-detail
    padding: 15px 0
    text-align: center
    float: none
    width: 100%
  .menu-info li
    width: 50%
    text-align: center
  .bnt-ask-a-question
    margin: 20px 0
    width: 100%
  .ct-title-main2-right
    width: 100%
  .thumbnail-img-product
    height: 300px
  .group-button-detail
    .span-quantity
      padding: 5px
      width: 100% !important
      float: left
  .form-group-button
    float: left
    width: 100% !important
  .img-slider-for
    width: auto !important
    height: auto !important

/*** Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. **
@media all and (min-width: 768px) and (max-width: 921px)
  .ct-product-deatil-left
    width: 300px !important
  .thumbnail-img-product
    height: 300px
    img
      margin: 0 auto
      text-align: center
      object-fit: scale-down
  .img-slider-for
    width: 300px !important
    height: 300px !important
    overflow: hidden
@media all and (min-width: 921px) and (max-width: 1200px)
  .group-button-detail
    .span-quantity
      padding: 5px
      width: 100% !important
      float: left
  .form-group-button
    float: left
    width: 100% !important

/*** Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. **
@media only screen and (min-width: 922px)
  .select-info
    table
      width: 80% !important

.lSGallery
  li
    overflow: initial !important
    overflow: static !important
    a
      margin-bottom: 5px
      vertical-align: middle
      text-align: center
      border-radius: 0
      height: 60px
      line-height: 50px
      display: block
      background-color: #fff
      border: 1px solid #ddd
      padding: 4px
      max-width: 100%
      img
        display: static !important
        display: initial !important
  .active
    a
      border-color: #e61e25