/*** Reset css***/
div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font: inherit
  line-height: $line-height
  font-size: $font-size
* > span,
* > a,
* > b,
* > small,
* > strong,
* > s,
* > i
  font-size: inherit
html, body
  font-family: $font-stack
  font-size: 100%
  font-weight: $font-weight
  line-height: $line-height
  color: $font-color
  background: $background-body-color
.all-page
  font-size: $font-size
  line-height: $line-height
h1, h2
  font-family: $font-stack-title
h1
  font-size: 1.5rem
h2, cite
  font-size: 1.2rem
h3
  font-size: 1rem
p
  font-size: 0.85rem
.size-19rem
  font-size: 1.9rem
  &.size-force
    font-size: 1rem !important
.size-15rem
  font-size: 1.5rem
  &.size-force
    font-size: 1rem !important
.size-12rem
  font-size: 1.2rem
  &.size-force
    font-size: 1rem !important
.size-10rem
  font-size: 1rem
  &.size-force
    font-size: 1rem !important
.size-08rem
  font-size: 0.85rem
  &.size-force
    font-size: 1rem !important
a
  color: $a-color
  text-decoration: none
  @include transition(all 0.3s ease)
  border: none
  &:hover,&:focus
    color: $a-hover-color
    text-decoration: none

img
  max-width: 100%
  max-height: 100%

/* Chrome/Opera/Safari */
::-webkit-input-placeholder
  line-height: 28px
  font-size: 1rem
  color: #ccc
/* Firefox 19+ */
::-moz-placeholder
  line-height: 28px
  font-size: 1rem
  color: #ccc
/* IE 10+ */
::-ms-input-placeholder
  line-height: 28px
  font-size: 1rem
  color: #ccc
/* Firefox 18- */
::-moz-placeholder
  line-height: 28px
  font-size: 1rem
  color: #ccc
.tooltip-inner
  max-width: 300px
  width: auto
  padding: 5px
  font-size: $font-size
  letter-spacing: 1px
.zoom-image
  overflow: hidden
  display: table-cell
  img
    @include transition(all 0.5s ease)

.zoom-image:hover img
  opacity: 0.8
  // @include transition-scale(1.2)

.navbar-default
  border-color: #e7e7e7
  background-color: #ffffff
  .menu-shopping
    background: #efefef
  .navbar-nav
    .dropdown
      &.active
        &>a
          color: #333 !important
    .dropdown
      &.open
        .dropdown-menu
          &>li
            &>a
              color: #333
              &.active-navbar
                color: #fff
              &:before
                content: " - "

.overflow-menu-ui
  position: relative
  height: 30px
  overflow: visible
  ul.overflow-menu
    height: 30px
    max-width: 100%
    & > li
      display: block
      float: left
      height: auto
      white-space: nowrap
  ul.overflow-sub-menu
    li
      width: 100% !important
      a
        width: 100%
  ul.overflow-menu-collect
    display: none
    position: absolute
    right: 0
    top: 0
    width: 100%
    padding: 1px
    overflow: visible
    .dropdown
      a
        padding: 5px 0px
        border-radius: 0
        height: 30px
        line-height: 20px
        color: #fff
        width: 100%
        display: block
        &:hover
          background: none
      ul
        li > a
          padding: 5px
      &.open a
        background: none
    .goodlife
      font-style: italic
      font-size: $font-size
      color: #fff38e
      overflow: hidden
      word-break: break-all
      word-wrap: break-word
      height: 30px
      margin: 0
      line-height: 20px
      padding: 5px
    ul.dropdown-menu
      right: 0
      left: auto
      li
        border-bottom: #ccc
        a
          color: $font-color
          &:hover
            color: $a-hover-color
            background: none
.btn-basic-wide
  width: 220px
.btn-basic-tiny
  width: 110px
.no-margin
  margin: 0 !important
.no-margin-center
.no-margin-horizontal
  margin-left: 0 !important
  margin-right: 0 !important
@media (max-width: 767px)
  .navbar-default
    .navbar-nav
      .dropdown
        .dropdown-menu
          &>li
            &>a
              color: #fff !important
              
.active-navbar
  background-color: $red-color
  &:hover,&:focus
    background-color: $red-color !important

input,select
  outline: none
  &:focus
    outline: none
hr
  border-top: 1px solid #ccc
.btn
  border-color: #ccc
  height: 38px !important
  font-size: 1rem
  padding: 5px 10px !important
  @include border-radius(0)
  &.btn-small
    height: 33px !important
    font-size: $font-size
    padding: 5px !important
  &.btn-large
    height: 48px !important
    font-size: 1.2rem
    padding: 5px !important
  &.disabled
    cursor: no-drop
a.btn
  line-height: 28px !important
  &.btn-small
    line-height: 23px !important
  &.btn-large
    line-height: 38px !important
  &.disabled
    cursor: no-drop
.btn-gap-top
  margin-top: 10px
.btn-gap-bottom
  margin-bottom: 10px
.btn-gap-right
  margin-right: 10px
.btn-gap-left
  margin-left: 10px
.btn-warning
  background-color: #ff6600
  border: none
  &:hover
    background-color: #dd4e00
.btn-primary
  color: #fff
  background-color: $a-color
  border-color: $a-color
  &:hover
    color: #fff
    background-color: #005699
    border-color: #005699
.btn-sub
  color: $font-color
  background-color: $yellow-color
  border-color: #ccc
  &:hover
    background-color: $yellow-hover-color
.btn-danger
  color: #fff
  background-color: $red-color
  border-color: $red-color
  &:hover
    color: #fff
    background-color: $dark-red-color
.btn-facebook
  color: #fff
  background-color: $facebook-blue-color
  border-color: $facebook-blue-color
  &:hover
    color: #fff
    background-color: $facebook-blue-hover-color
.btn-default
  color: #666
  background-color: #fff
  border-color: #ccc
  &:hover
    color: #666
    background-color: #e6e6e6
    border-color: #adadad
.label
  font-size: $font-size
  padding: .3em .6em .3em
  &.label-large
    font-size: 1rem
.label-danger
  border: 1px #d9534f solid
.label-primary
  border: 1px #337ab7 solid
.label-success
  border: 1px #5cb85c solid
.label-urgent
  background: $red-color
  color: #fff
  font-weight: $font-weight-wide
  border: 1px $red-color solid
.label-normal
  background: #fff
  color: $red-color
  font-weight: $font-weight-wide
  border: 1px $red-color solid
.label-cold
  background: #fff
  color: #5281c1
  font-weight: $font-weight-wide
  border: 1px #304d85 solid
.label-warm
  background: #fff
  color: #fb722d
  font-weight: $font-weight-wide
  border: 1px #ee5e44 solid
.label-purple
  background: #961975
  color: #fff
  font-weight: $font-weight-wide
  border: 1px #961975 solid
.label-helmet
  background: #f762c1
  color: #fff
  font-weight: bold
  border: 1px #f762c1 solid
.label-motobatt
  background: #f1e500
  color: #6c6565
  font-weight: bold
  border: 1px #f1e500 solid
.label-winter
  background: #ff9000
  color: #fff
  font-weight: bold
  border: 1px #ff9000 solid
.label-cold-man
  background: #0db815
  color: #fff
  font-weight: bold
  border: 1px #0db815 solid
.btn-label
  border-color: #ccc
  border-style: solid
  height: 38px
  font-size: 1rem
  padding: 5px 10px
  line-height: 28px
  &.nowrap
    white-space: nowrap
  &.start-label
    padding-left: 0
  &.label-small
    height: 33px
    font-size: $font-size
    padding: 5px
    line-height: 23px
  &.label-large
    height: 48px
    font-size: 1.2rem
    padding: 5px
    line-height: 38px
input.btn-label
  border-width: 1px
.select2-container
  .select2-selection--single
    height: 38px
    .select2-selection__rendered
      line-height: 38px
    .select2-selection__arrow
      height: 36px
  .select2-results__options
    touch-action: pan-y pinch-zoom
    -webkit-overflow-scrolling: touch

.text-vertical-center
  display: table-cell
  text-align: center
  vertical-align: middle

.font-color-normal
  color: $font-color

.font-color-red
  color: $red-color

.font-color-white
  color: #fff

.font-color-orange
  color: $orange-color

.font-color-blue
  color: $blue-color

.font-color-gray
  color: $gray-color

.font-color-green
  color: $green-color

.font-normal
  font-weight: normal

.font-bold
  font-weight: $font-weight-wide

.width-full
  width: 100% !important

.word-break
  word-break: break-all

.bg-color-red
  background-color: $red-color
  color: #fff

.bg-color-red
  &:active, &:focus, &:hover
    background-color: $red-color
    color: #fff

.rounded-img
  @include  border-radius(2px !important)

.img-responsive
  margin: 0 auto

.navbar-default
  .navbar-collapse, .navbar-form
    border-color: #292929 !important
    border-bottom: 3px solid $red-color !important
    max-height: 375px !important
    .nav.navbar-nav
      width: 65%
.navbar-default
  .navbar-collapse
    .nav.navbar-nav.home-page
      width: 62% !important

@media (max-width: 767px)
  .navbar-default
    .navbar-collapse
      .navbar-nav
        li
          width: 100% !important

.desktop
  .nav-up
    top: -40px
    border-bottom: 2px #fff solid

.center-box
  margin: 10px 0
  text-align: center
  width: 100%
  float: left

.no-padding
  padding: 0
.no-padding-horizontal
  padding-right: 0
  padding-left: 0
.box-padding-2
  padding: 2%
.box-padding-5
  padding: 5%

.vertical-middle
  display: inline-block
  vertical-align: middle

span.helper
  display: inline-block
  vertical-align: middle
  height: 100%

ol.breadcrumb-product-detail
  margin: -5px 0 0 0
  padding-left: 0

.select2-container--default
  .select2-selection--single
    border-radius: 0

.text-center
  text-align: center !important
.text-left
  text-align: left !important
.text-right
  text-align: right !important

.col-inline
  font-size: 0
  [class^=col-]
    float: none
    display: inline-block
    vertical-align: middle

.bx-wrapper.bx-with-pager
  margin-bottom: 10px
.bx-custom-pager
  .active
    border-color: $red-color
  .owl-prev,
  .owl-next
    top: 24%
    padding: 5px 5px
@media (max-width: 992px)
  .bx-custom-pager
    .owl-prev,
    .owl-next
      padding: 5px 5px
      top: 25%
@media (max-width: 461px)
  .bx-custom-pager
    .owl-prev,
    .owl-next
      padding: 10px 10px
      top: 30%
/*** End reset css ***/

/*** Reset custom css page ***/
/* dotted-text */
.dotted-text
  overflow: hidden
  display: inline-block
  text-overflow: ellipsis
  word-break: break-all
  word-wrap: break-word
  white-space: nowrap
.dotted-text1
  overflow: hidden
  text-overflow: ellipsis
  word-break: break-all
  word-wrap: break-word
  white-space: nowrap
  display: block
  -webkit-box-orient: vertical
  -webkit-line-clamp: 1
  max-height: 200%
  &.force-limit
    height: $base-line-height
.dotted-text2
  overflow: hidden
  text-overflow: ellipsis
  word-break: break-all
  word-wrap: break-word
  display: -webkit-box
  -webkit-box-orient: vertical
  -webkit-line-clamp: 2
  max-height: 200%
  &.force-limit
    height: $base-line-height * 2
.dotted-text3
  overflow: hidden
  text-overflow: ellipsis
  word-break: break-all
  word-wrap: break-word
  display: -webkit-box
  -webkit-box-orient: vertical
  -webkit-line-clamp: 3
  max-height: 300%
  &.force-limit
    height: $base-line-height * 3
.dotted-text4
  overflow: hidden
  text-overflow: ellipsis
  word-break: break-all
  word-wrap: break-word
  display: -webkit-box
  -webkit-box-orient: vertical
  -webkit-line-clamp: 4
  max-height: 400%
  &.force-limit
    height: $base-line-height * 4

/* Fix with one column */
.box-fix-column
  margin: 0
  padding: 0
  width: 100%
  float: left
  .box-fix-with, .fix
    margin: 0
    padding: 0
    float: left
  .box-fix-auto, .auto
    float: none
    width: auto
    overflow: hidden

/* box content child */
.box-content-child
  padding: 10px
  width: 100%
  float: left

/* thumb img 70px/70px */
.thumbnail-img-70
  width: 70px !important
  height: 70px !important

/* thumb img 140px/140px */
.thumbnail-img-140
  width: 140px !important
  height: 140px !important

/* thumb img 168px/127px */
.thumbnail-img-168
  width: 168px !important
  height: 127px !important

@media (max-width: 767px)
  .zoom-image
    padding: 2px

/* button strong style */
.style-button-strong
  min-width: 180px
  font-weight: bold
  font-size: 1.2rem
/*** End reset custom css page ***/

.navbar-nav
  .open
    a
      &:hover
        color: #555 !important

.navbar-nav
  li.current
    background-color: #e7e7e7
    a
      color: #555 !important

#coupon
  bottom: 46px
  position: fixed
  right: 45px
  z-index: 2
  padding-bottom: 7px
  
#coupon
  img 
    width: 100px

