/********************!
	All Main Layout
/********************!
.ct-left-search-list,
.ct-right-search-list,
.ct-below-shopping
//border: $border-box
ol.breadcrumb-product-detail
  li
    a
      vertical-align: top
.ct-left-search-list
  margin-bottom: 20px
  width: 200px
  float: left
  margin-right: 15px
.ct-right-search-list
  margin-bottom: 20px
  float: none
  width: auto
  overflow: hidden
  padding: 0
  .ct-right-top
    width: auto
    border: $border-box
  .ct-right-below
    margin-top: 15px
    border: $border-box
.ct-below-shopping
  margin: 20px 0 30px 0


/****************
    Breadcrumb
/****************
.ul-breadcrumb
  height: 100%
  li
    list-style-type: none
    float: left
    line-height: 40px

/**!
    Left Sidebar
/**!
.ul-left-title
  li.li-left-title
    list-style-type: none
    line-height: 30px
    padding: 0
    &:nth-child(n+2)
      margin-top: 10px
    a:not(.btn)
      color: $font-color
    a.a-left-title
      width: 99.5%
      float: left
      border-bottom: 1px solid $red-color
      padding: 0px 5px
      line-height: 34px
      font-size: 1rem
      background: #efefef
      span
        float: left
        font-size: 1rem
        line-height: 34px
        font-weight: $font-weight-wide
      i
        float: right
        margin: 8px 5px 0 0
    .ul-sub1
      list-style-type: none
      li.li-sub1
        list-style-type: none
        margin: 0
        a.a-sub1:not(.btn)
          float: left
          padding: 0 10px
          width: 100%
          height: auto
          .checkbox-left-sidebar-li
            float: left
            margin-top: 12px
            margin-right: 5px
          span
            float: left
          span.count
            color: #333
          label
            span.count
              float: right
          .icon-star
            margin: 10px 5px 0 0
        /*Size Option*/
        a.a-size-option
          height: 20px
      ul.ul-sub2
        li.li-sub2
          list-style-type: none
          line-height: 24px
          a.a-sub2,
          div.a-sub2
            float: left
            padding: 0 10px
            width: 100%
            line-height: 30px
            i
              color: #333
            span
              font-size: $font-size
            span.count
              color: #333
            &.active
              background: #7d8ca1
              span
                color: #fff
              i
                color: #fff
          ul.ul-sub3
            padding: 0 0 0 20px
            li.li-sub3
              a
                padding: 0 0 0 30px !important
      .li-sub1-style2
        a.a-sub1
          height: 20px
        &:last-child
          margin-bottom: 15px
    .slide-down-btn
      width: 100%
      float: left
      .fa-plus
        margin-right: 3px
  ul.color-list-box
    list-style-type: none
    margin-top: 50px
    margin-bottom: 5px
    .color-box
      width: 28px
      height: 22px
      margin: 5px 5px 15px 0
      float: left
      border: $border-box
      border-radius: 2px
      position: relative
      &:last-child
        margin-right: 0
      div
        position: absolute
        top: 0
        left: 0
        padding: 1px
        width: 100%
        height: 100%
        div
          width: 100%
          height: 100%
          border-radius: 2px
          display: table
          text-align: center
          i
            display: table-cell
            vertical-align: middle
        .blue
          background-color: #005599
        .yellow
          background-color: #ffff00
        .red
          background-color: #e61e25
        .light-blue
          background-color: #3bb8d7
        .purple
          background-color: #3523c0
        .brown
          background-color: #7d3521
        .pink
          background-color: #ec008c
        .green
          background-color: #00ff00
    /**! Size Option
    .size-option
      padding-left: 10px
      background-color: yellow

.ct-left-banner
  width: 100%
  //height: 532px
  margin: 20px 0


/*******************
/*    RIGHT CONTENT (RC)
/*******************
/**** RC - below
.ct-right-below
  .ct-right-below-header
    ul.ul-header
      background-color: #f5f7fa
      width: 100%
      //height: 50px
      list-style-type: none
      border: $border-box
      display: flex
      overflow: hidden
      li.li-header-left
        float: left
        width: 20%
        padding: 10px
        height: 50px
        //display: table
        align-self: center
        span
          display: table-cell
          vertical-align: middle
        span.result-for
          font-weight: bold
          display: inline-flex
          color: #e61e25
          padding-bottom: 4px
      li.li-header-right
        float: right
        width: 100%
        ul
          width: 100%
          list-style-type: none
          float: right
          display: flex
          flex-direction: row
          li
            float: left
            //display: table-cell
            vertical-align: middle
            padding: 10px 15px
            align-self: center
            &:last-child
              border-right: none
            div
              display: flex
              width: 100%
              justify-content: flex-end
              span.search-option-title
                //display: table-cell
                width: 100%
                text-align: center
                display: flex
                flex-direction: column
                justify-content: center
                flex: 0 0 50% !important
                &.option-col-30
                  flex: 0 0 30% !important
              ul
                justify-content: center
                width: 100%
            i.menu-icon
              color: #999999
              line-height: 38px
              margin-left: 10px
            .menu-icon-active
              color: #e62e04 !important
            &.li-search-list-block-list-icon
              height: 50px
              display: table
              div.search-list-block-list-icon
                display: table-cell
                width: 100%
                text-align: center
                vertical-align: middle
            ul.page-change
              list-style-type: none
              li
                float: left
                padding: 0
                &:last-child
                  border-left: none
                text-align: center
                background-color: #ffffff
                box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2)
                a
                  text-align: center
                  color: $red-color
              .active
                background-color: #f5f7fa
                i
                  color: #a2a2a2
            select
              height: 28px
              border: $border-box
              box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2)
            ul.page-change
              width: 55%
          li.searchlist-select-dropdown
            span.select2.select2-container.select2-container--default
              flex: 0 0 50%
              align-self: center
              width: 70% !important
              span.select2-selection
                width: 100%
                height: 38px
                border: $border-box
                box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2)
  .ct-right-below-body
    .product-item
      width: 25%
      float: left
      margin: 0
      padding: 10px
      border-right: $border-box
      border-bottom: $border-box
      min-height: 200px
      &:nth-child(4n)
        border-right: none
      .product-img
        margin-bottom: 5px
        display: flex
        justify-content: center
        a
          font-size: 0
        .search-list-img
          width: 190px
          height: 190px
          border: none
          padding: 0
          text-align: center
        @media (max-width: 767px)
          .search-list-img
            width: auto
            height: auto
            border: none
        img
          max-width: 100%
          max-height: 100%
          display: inline-block
          vertical-align: middle
      .product-name
        font-size: 1rem
        float: left
        font-weight: bold
        color: #005fb3
        /* wayne over write width 100% */
        width: 100%
        height: 2.8rem
        -webkit-line-clamp: 2
        -webkit-box-orient: vertical
        overflow: hidden
        text-overflow: ellipsis
        a
          text-decoration: none
      .vendor-name
        font-size: 0.85rem
        font-weight: bold
        color: #333
        margin-bottom: 10px
      .point-label
        margin-bottom: 10px
      ul.product-description
        list-style-type: none
        overflow-y: auto
        height: 86px
        word-break: break-all
        word-wrap: break-word
        margin-bottom: 10px
        .motor
          margin-bottom: 5px
        .model-name
          margin-bottom: 5px
        li
          line-height: 20px
          color: #5e5e5e
      label.price
        font-size: 16px
        font-weight: bold
        color: #e83a3f
        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap
        display: block
      label.price-old
        color: #7b7b7b
        margin: 0 0 10px 0
      label
        width: 100%
        line-height: 20px
      .div-btn-check-detail
        padding: 0
        width: 100%
        min-height: 28px
        border: $border-box
        border-radius: 2px
        text-align: center
        margin: 10px 0 10px 0
        cursor: pointer
        color: #1c457d
        &:hover
          background-color: $red-color
          color: #fff
        a:hover
          color: #fff
        span
          margin-top: 3px
          float: left
          width: 100%
      .rating
        span
          margin: 0 auto
      .tags
        display: block
        margin-top: -5px
        height: 55px
        padding: 1px
        overflow: hidden
        .tag
          margin: 5px 5px 0 0
          float: left
        .label
          padding: .2em .6em .2em
          &.label-outlet
            background: #fff
            color: #333
            outline: 1px $red-color solid
      .icon-star-container
        justify-content: center
        display: flex
        .icon-star-element
          display: flex
          margin: 0
    .product-item-style-2
      width: 100%
      border-right: none
      border-bottom: $border-box
      display: flex
      .product-img
        width: 20%
        display: flex
        flex-direction: column
        justify-content: center
        text-align: center
        a
          display: flex
          margin-bottom: 0
      .product-detail
        width: 80%
        .product-info-search-list
          width: 70%
          float: left
          padding-right: 10px
          border-right: $border-box
          .product-name
            float: none
        .product-state-search-list
          width: 30%
          float: right
          padding-left: 10px
          .price
            margin: 0
          .rating
            padding: 0
            div
              padding: 0
      ul.product-description
        list-style-position: inside
        list-style-type: disc !important
        li
          display: list-item
          span
            position: relative
            left: 0

.ct-pagenav
  background-color: #f5f7fa
  text-align: center
  height: 60px
  border: $border-box
  border-top: none !important
/*********
/* Table
/*********
.ct-table
  //border-collapse: collapse
  display: table
  width: 100%
  .my-bike
    .btn-my-bike
      height: 38px
      span
        line-height: 38px
      p
        line-height: 38px
    .show-my-bike
      right: 0


.ct-table-caption
  display: table-caption
.ct-table-head
  display: table-header-group
  font-weight: bold

.ct-table-cell
  border-bottom: $border-box
  border-right: $border-box
  display: table-cell
  padding: 10px
  text-align: left
  &:last-child
    border-right: none
  .ul-cell-dropdown-list
    list-style-type: none
    padding: 0
    li.li-cell-dropdown-item
      float: left
      margin: 0 5px 0 0
      width: 19%
      .select-list-box
        padding: 0
        .select2
          width: 100% !important
      .select-list-special
        .select2
          .select2-selection
            background-color: #404f67
            span.select2-selection__rendered
              color: #fff
            span.select2-selection__arrow
              background-color: #293446
              color: #fff
      .select-cell-style-1
        color: #fff
        background-color: #404f67
      .div-btn-setting-bike
        width: 25%
        height: 25px
        padding: 0
        border: 1px dashed $red-color
        padding: 3px 0 0 5px
        position: relative
        text-align: center
        a
          color: #005599
          span
            color: $red-color
      .div-tag-item
        margin-bottom: 5px
        background-color: #7d8ca1
        font-size: $font-size
        span
          line-height: 25px
          color: #fff
        a
          width: 25px
          height: 25px
          text-align: center
          float: right
          &:hover i
            color: #333
        i.search-tag-remove
          color: #fff
          cursor: pointer
          line-height: 25px
          &:hover
            color: #333
    .li-cell-auto-width
      width: auto !important
    .reset
      padding: 5px
      a
        font-weight: bold
        color: #005599
  @media (max-width: 767px)
    .ct-table-cell
      padding: 5px
  div.cell-content
    padding: 0
    .btn-add-key-word
      height: 25px
      margin-bottom: 3px
      border-radius: 2px
      line-height: 25px
      padding: 0 20px
      span
        font-weight: bold
        position: relative
        bottom: 5px
.container-search-nore
  padding: 20px
  border: $border-box
.ct-text-search-nore
  margin: 10px 0 15px 0
  display: inherit
  i
    color: #b7b7b7
    font-size: 1.2rem

.cell-title
  background-color: #f5f7fa
  .ct-table-cell-title
    font-size: 1rem
.cell-10
  width: 10%
.cell-15
  width: 15%
.cell-20
  width: 20%
.cell-30
  width: 30%
.ct-table-row
  display: table-row
.ct-table-footer
  display: table-footer-group
.ct-left-search-list-main-menu
  border: $border-box
.container-search-nore-bold
  font-weight: bold

/** Motor top page **/
.ul-motor-top
  margin: 10px 0 0 0
  list-style-type: none
  text-align: center
  li
    padding: 0 3px
    .title
      padding: 7px 10px
      font-size: 1rem
      font-weight: bold
      width: 100%
      background-color: $a-color
      color: #fff
      float: left
    span
      font-size: 1rem
      font-weight: bold
      padding-top: 25px
      width: 100%
      min-height: 68px
      float: left
      background-color: #fff
      border: $border-box
.item-product-grid-motor-top
  width: 183px
  a
    figure
      width: 183px
      height: 147px
.box-famous-brand-motor-top
  ul
    li
      text-align: center
      a
        span
          margin: 5px 0 10px
          display: inline-block
          color: $font-color
          line-height: 1.2
          &:hover
            color: $red-color
.box-famous-brand
  background-color: $background-header-color

.ul-menu-motor-top-page
  li
    min-width: 135px


/*** Mobile Layout: max-width 767px. ***/
@media all and (max-width: 767px)
  .ct-left-search-list
    margin: 10px auto
    width: 100%
    .ul-left-title
      li.li-left-title
        border-top: 1px #ddd solid
        width: 100%
  .ct-right-search-list
    width: 100%
  .ct-right-below
    .ct-right-below-header
      ul.ul-header
        flex-direction: column
        li.li-header-left
          width: 100%
          border-bottom: $border-box
        li.li-header-right
          width: 100%
          float: left
          border-bottom: $border-box
          ul
            width: 100%
            flex-direction: column
            display: block
            li
              width: 50%
              float: left
              text-align: center
              border-bottom: $border-box
              display: flex
              border-right: none
              &:last-child
                border-bottom: none
              span.search-option-title
                width: 100%
                vertical-align: middle
                text-align: center
                align-self: center
              ul.page-change
                width: 80%
                flex-direction: row
    .ct-right-below-body
      .product-item
        width: 50%
        text-align: center
        .product-img
          height: 130px
        .rating
          padding: 0
          div
            padding: 0
        &:nth-child(2n)
          border-right: none
        &:nth-child(5n)
          border-right: $border-box
        .product-info-search-list
          text-align: left
        .product-state-search-list
          text-align: left
      .product-item-style-2
        width: 100%
        display: inline-block !important
        border-bottom: $border-box
        .product-img
          width: 100%
        .product-detail
          width: 100%
          margin: 0
          .product-info-search-list
            width: 100%
            float: left
            margin: 5px auto
            border: 0
            padding: 0
          .product-state-search-list
            width: 100%
            float: left
            margin: 5px auto
            padding: 0
        &:nth-child(5n)
          border-right: $border-box
  .ct-table-cell
    .ul-cell-dropdown-list
      li.li-cell-dropdown-item
        width: 95%
        .div-btn-setting-bike
          width: 100%
  .ul-left-title
    li.li-left-title
      .ul-sub1
        li.li-sub1
          li.li-sub2
            a.a-sub2,
            div.a-sub2
              width: 100%
  .ct-left-banner
    text-align: center

/*** Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. ***/
@media all and (min-width: 768px) and (max-width: 1155px) // 921px)
  .ct-right-search-list
    width: auto
  .ct-right-below
    .ct-right-below-header
      ul.ul-header
        flex-direction: column
        li.li-header-left
          border-bottom: 1px solid #ddd
          width: 100%
        li.li-header-right
          width: 100%
          float: left
          ul
            li
              span
                width: 100%
                float: left
              ul.page-change
                width: 75%
              span.search-option-title
                width: 85%
                vertical-align: middle
                text-align: center
              &.li-search-list-block-list-icon
                height: 70px
            li.searchlist-select-dropdown
              span.select2.select2-container.select2-container--default
                width: 100% !important
                span.select2-selection
                  width: 100%
                  span.select2-selection__arrow b
                    left: 90%
    .ct-right-below-body
      .product-item
        width: 33.3333%
        &:nth-child(5n)
          border-right: $border-box
        &:nth-child(3n)
          border-right: none
      .product-item-style-2
        width: 100%
        &:nth-child(5n)
          border-right: none
        .product-detail
          padding-left: 15px

/*** Catrgoty top page***/
.box-choice-mybike
  padding: 10px
  display: inline-block
  li
    margin: 5px 0 !important
    &:last-child
      margin-bottom: 0 !important
.left-choice-bike
  a
    figure
      width: 40px !important
      height: 40px !important
.right-choice-bike
  padding: 0 0 0 5px
  a
    font-weight: bold
  a:hover
    color: $red-color !important
.btn-edit-mybike
  width: 100%
  font-weight: bold
.ul-menu-list-brand
  width: 100%
  padding: 10px
  //li:first-child
    margin-top: 10px
  li:last-child
    margin-bottom: 10px
  //display: inline-block
  li
    list-style-type: none
    width: 100%
    float: left
    line-height: 24px
    margin: 0 5px 0 0
    a
      i
        font-size: 0.3rem
        color: #d9d9d9
        margin: 0 5px 0 0
        line-height: 27px
        float: left
      span
        color: #919191 !important
.ul-menu-list-brand
  .li-btn-show-more
    margin-bottom: 0 !important
    a
      color: #0066c0 !important
      i
        color: #0066c0 !important
        font-size: 0.6rem !important

.box-page-group-category
  width: auto !important
  float: none !important

.box-ct-new-lineup
  width: 100%
  float: left

.item-name-category-top
  top: -5px
  margin: 0
  width: 140px
  display: table-cell
  vertical-align: middle
  text-align: center
  position: relative
  .name-list-category-top
    text-align: left
    padding: 10px 5px
    width: 100%
    float: left
    color: #fff
    background-color: #202732
    font-size: $font-size
    span
      width: 90%
      float: left
  .name-list-category-top::after
    font-family: 'FontAwesome'
    content: "\f0d7"
    float: right
  .ul-name-list-category-top
    width: 100%
    float: left
    border: $border-box
    position: absolute
    top: 100%
    left: 0
    z-index: 999
    display: none
    -webkit-box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.1)
    -moz-box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.1)
    box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.1)
    li
      border-top: 1px solid #fff
      text-align: left
      padding: 10px 5px
      list-style-type: none
      background-color: #f4f2f2
      font-size: 0.85rem
      a
        color: $font-color !important
      &:first-child
        border-top: none
      &:hover
        background-color: $color-box
.item-product-category-top-page
  padding: 10px 5px

.item-product-category-top-page:hover
  .item-category-top-page
    -webkit-box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.1)
    -moz-box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.1)
    box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.1)
  a
    figure
      border: 1px solid #f3b100
  .item-name-category-top
    .name-list-category-top
      background-color: #f3b100
      color: #fff

    .ul-name-list-category-top
      display: block
    .name-list-category-top::after
      font-family: 'FontAwesome'
      content: "\f0d8" !important
.item-category-top-page
  display: inherit
  max-width: 140px
  margin: 0 auto

.ct-item-product-grid-category-bard-page
  margin: 10px 0
  padding: 0 20px
  .title
    font-weight: $font-weight-wide
    font-size: $font-size
    padding: 5px
    display: inline-block
    color: #fff
    @include gradient-background(#ff5f5f, #6d0000)
    a,
    a:hover
      color: #fff
  .ct-item-product-grid-category-bard-page-left
    a
      figure
        width: 70px
        height: 70px
  .ct-item-product-grid-category-bard-page-right
    max-height: 140px
    overflow: hidden
    &.hide
    ul
      li
        list-style-type: none
        a
          margin: 15px 0 0
          width: 100%
          display: inherit
  &.motor-group
    ul
      li
        list-style-type: none
        a
          margin: 15px 0 0
          width: 100%
    .motor-model
      list-style-type: none
      &.col-lg-*, &.col-md-*, &.col-sm-*, &.col-xs-*
        padding: 5px 0
.box-ct-recommond-fix
  background-color: #f6f6f6
  width: 100%
  float: left
  border: none
.ct-item-product-grid-recommond-fix
  .owl-item
    padding: 0 5px
    .item-product-new-magazine
      background-color: #fff
.item-product-custom-part-on-sale
  width: 33.333%
  .item-product-grid-pars-on-sale-left
    a
      figure
        width: 90px
        height: 90px !important
  .item-product-grid-pars-on-sale-right
    padding: 0 0 0 5px
    .title-product-item
      margin-top: -2px !important
.item-product-custom-part-on-sale-top
  text-align: left
  .title-product-item
    max-width: 140px
.ct-new-custom-part-on-sale-top
  padding: 10px 10px 20px
.ul-ct-famous-brand
  width: 100%
  float: left
  li
    padding: 5px
    list-style-type: none
    width: 12.5%
    float: left
    img:hover
      opacity: 0.6
.ct-item-product-grid-category-customer-review
  padding: 0
  li
    margin-bottom: 20px
    width: 25%
    .item-product-grid-pars-on-sale-right
      .icon-star
        margin: 10px 0
.btn-customer-review-read-more
  margin-top: 10px !important
  float: right
  font-size: $font-size
.ct-inspired-by-your
  padding: 10px 10px 20px

.ul-ct-inspired-by-your
  li
    a
      figure
        width: 70px
        height: 70px
.ul-ct-inspired-by-your>li>a
  position: relative
  float: left
.ul-ct-inspired-by-your>li.active>a, .ul-ct-inspired-by-your>li.active>a:focus, .ul-ct-inspired-by-your>li.active>a:hover,.ul-ct-inspired-by-your>li>a:hover
  color: transparent
  cursor: default
  background-color: transparent !important
  border: none
  figure
    border: 1px solid $red-color
.ul-ct-inspired-by-your>li.active>a::after
  font-family: 'FontAwesome'
  content: "\f0d8" !important
  color: #fff
  position: absolute
  bottom: -33px
  font-size: 1.5rem
  left: 45%
.ct-tap-inspired-by-your
  margin-top: 15px
  width: 100%
  background-color: #fff
  float: left
  -webkit-box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.1)
  -moz-box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.1)
  box-shadow: 0px 1px 3px 1px rgba(0,0,0,0.1)
.icon-star-review
  margin: 10px 0
  text-align: left
  float: left
  .icon-star
    float: left
  a
    margin: 0 0 0 5px
    float: left
.container-tap-inspired-by-your
  width: 100%
  float: left
  .ul-container-tap-inspired-by-your
    width: 100%
    float: left
.box-banner-advertisement
  float: left
.slideshow-top>a
  display: none

.ct-brand-top-page
  padding: 20px
  background-color: #f6f6f6
.box-ct-brand-top-page-right
  width: 345px
  float: right !important
  padding: 0 0 0 15px !important
.title-star-review

  .icon-star-bigger
    margin: 5px 0
    float: left
  h1
    margin: 0 15px
    float: left
  span
    margin: 7px 0
    float: left
.box-ct-brand-top-page-right
  .rating-star-table
    width: 300px
.box-ct-brand-top-page-left
  padding: 0 15px 0 0
  border-right: 1px solid #fff
.content-box-ct-brand-top-page-right
  padding: 0 0 0 15px

  .title-product-item
    margin-top: 0 !important
    .title-brand-top
      margin-top: -10px !important
.ct-item-content-branking
  width: 100%
  float: left
  border: $border-box
  padding: 0 10px
  background-color: #fff

  .item-product-content-branking
    padding: 10px 0 !important
    width: 100%
    float: left
    list-style-type: none
    border-bottom: $border-box
    .item-product-grid-pars-content-branking-left
      a
        figure
          width: 90px !important
          height: 90px !important
    .item-product-grid-pars-content-branking-right
      padding: 0 0 0 10px
      .title-product-item
        margin-top: 0 !important
      span
        margin: 5px 0
        float: left
  .item-product-content-branking:last-child
    border: none
@media(max-width: 768px)
  .ct-item-content-branking
    max-height: 370px
    overflow-y: auto
.ct-btn-brand-top
  margin-top: 10px
  width: 100%
  float: left
  span
    margin: 0 5px 0 0
    padding: 0 10px
    float: left
.content-branking
  margin-bottom: 20px
  padding: 0 5px
.title-content-branking
  padding: 15px 0
  font-size: 1rem
  text-align: center
  font-weight: bold
.item-product-grid-pars-content-branking-left
  position: relative
.lank-small
  padding: 8px 0 0 0
  text-align: center
  position: absolute
  background-image: url(https://img-webike-tw-370429.c.cdn77.org/shopping/image/shopping/icon.png)
  width: 31px
  height: 24px
  bottom: 5px
  left: 5px
  background-position: -50px 229px
  font-size: 0.85rem
  color: #fff
.lank-small-01
  background-position: -50px 300px
.lank-small-02
  background-position: -50px 276px
.lank-small-03
  background-position: -50px 252px

.bnt-see-all-branking
  width: 100%
  font-weight: bold
  font-size: 1rem
.box-content-category-slide-top
  margin-bottom: 20px
  .title-main-page
    margin-bottom: 10px
.box-content-brand-top-page
  width: 100%
  float: left

.menu-brand-top-page
  .ul-menu-brand-top-page
    width: 100%
    margin: 0 auto
    padding: 5px 0 0
    display: inline-block
    text-align: left
    li
      padding: 5px 2px 0 2px
      list-style-type: none
      display: inline-flex
      a
        border-top-left-radius: 2px
        border-top-right-radius: 2px
        padding: 7px 10px
        color: #fff
        background-color: $background-black-color
        width: 100%
        text-align: center
        float: left
        font-size: 1rem
      a:hover
        background-color: $red-color

.ct-menu-brand-top-page2
  margin-bottom: 20px
  width: 100%
  display: inline-flex
  text-align: center
  border-bottom: 2px solid $red-color
  text-align: center

@media (max-width: 992px)
  .ct-menu-brand-top-page2
    border-bottom: none
@media all and (min-width: 768px) and (max-width: 921px)
  .item-product-custom-part-on-sale
    width: 50%



/*** Motor video ***/
.grid-item-motor-video
  padding: 10px !important
  .item-motor-video
    padding: 10px 0
    width: 100%
    float: left
    border-bottom: $border-box
    list-style: none
    &:first-child
      padding-top: 0
    &:last-child
      padding-bottom: 0
      border-bottom: none
    .right
      padding: 0 0 0 10px
      .title-product-item
        margin-top: 0
.title-motor-video
  width: 100%
  border-bottom: 2px solid #b8b8b8
  min-height: 39px
  float: left
  h1
    color: $a-color

.grid-item-video
  padding: 10px
  margin: -5px 0 0 0
  width: 100%
  background-color: $background-header-color
  float: left
  li
    padding: 10px
    list-style-type: none
    float: left
    .container-video
      padding: 10px
      background-color: #fff
      min-height: 325px
      float: left
      @include box-shadow(0px 0px 5px 2px rgba(0,0,0,0.1))
      figure
        position: relative
        width: 100%
        float: left
        span.icon-video
          margin: -30px 0 0 -30px
          width: 59px
          height: 59px
          border-radius: 100%
          display: block
          border: 3px solid #fff
          position: absolute
          top: 50%
          left: 50%
          text-align: center
          @include box-shadow(0px 0px 5px 2px rgba(0,0,0,0.3))
          i
            margin: 0 auto
            line-height: 59px
            font-size: 2rem
            color: #fff
      a
        font-size: 1rem
      span
        margin-top: 5px
        width: 100%
        float: left
.menu-title-main-box
  margin: 5px 0
  float: right
  list-style-type: none
  li
    padding: 0 10px
    float: left
    border-right: $border-box
    span
      color: #fff
    a
      color: #ffe400
      &:hover
        text-decoration: underline !important
    &:first-child
      border: none
    &:last-child
      border: none

/*** Motor data  ***/
.menu-relate-motor
  width: 100%
  float: left
  li
    list-style-type: none
    float: left
    a
      padding: 3px
      width: 100%
      font-weight: bold
      color: $font-color
      float: left
      &:hover
        color: $red-color
      i
        font-size: 0.3rem
        margin-right: 5px
        color: #d9d9d9
        line-height: 1.2rem
        float: left
.grid-item-motor-left
  padding: 10px !important
  li
    padding: 20px 0
    border-bottom: $border-box
    &:last-child
      border-bottom: none
    &:first-child
      padding-top: 5px
    a.title-product-item
      width: 168px
      margin: 5px auto 0
      float: none
      display: inline-block
.btn-rank
  padding: 2px 10px
  border: none
  position: absolute
  top: 6px !important
  left: 0
  border-top-right-radius: 5px
  border-bottom-right-radius: 5px
  font-size: 0.85rem
.motor-info
  .left
    width: 366px
    float: left
    figure
      width: 366px
      height: 275px
  .right
    padding: 0 0 0 15px
    .table
      margin-bottom: 0
    .btn-motor
      border-top: none
      padding: 12px 20px
.box-motor-data
  width: 100%
  float: left
  .grid-motor-data-news
    list-style-type: none
    li
      padding: 10px 0
      float: left
      .right
        padding-left: 0px
        .title
          font-weight: bold
        .time
          color: #7b7b7b
.thumbnail-img-147
  width: 148px !important
  height: 111px !important
.thumbnail-pin
  position: relative
  .thumbnail-icon
    width: 100%
    height: 100%
    position: absolute
    left: 0
    top: 0
.price-motor-data
  font-size: 0.85rem

.box-search-motor
  margin-top: -5px
  background-color: $background-header-color
  padding: 20px
  .left
    width: 200px
    float: right
    a
      min-width: 170px

  .right
    padding: 0 20px 0 0
    input
      text-align: left
      &:hover
        background-color: transparent
    .box-fix-with
      float: right
    .box-fix-auto
      padding: 0 20px 0 0
    a.btn
      min-width: 170px
.tile-motor-data-top
  width: 100%
  float: left
  a.title-product-item
    width: auto !important
  a.btn-add-bike-data
    padding: 5px 10px
    float: right
    border: 2px solid $red-color
    color: $font-color
    font-weight: bold
    i
      color: $red-color
    &:hover
      background-color: $red-color
      color: #fff
      i
        color: #fff

/*** Motor service page ***/
.second-menu-service
  margin-top: 10px
  padding: 10px
  width: 100%
  list-style-type: none
  background-color: $background-header-color
  float: left
  li
    padding-top: 5px
    &:first-child
      padding-bottom: 10px
      border-bottom: 1px solid #FFFFFF
    a
      i
        padding-right: 5px
        font-size: 0.2rem
        line-height: 1.3rem
        opacity: 0.5
        float: left
    a:hover
      text-decoration: underline

.thumbnail-img-65
  width: 65px !important
  height: 49px !important

.thumbnail-img-product2
  display: table-cell
  border: none
  float: left
  height: 450px
  img
    width: 100%
    margin: 0 auto
    text-align: center
    object-fit: scale-down
    height: 100%

.img-slider-for2
  width: 100%
  height: 450px
  overflow: hidden
.img-slider-nav2
  width: 100%
  margin: 0 auto
  .slick-prev:before, .slick-next:before
    color: #999999 !important
    font-size: 20px
.ct-img-slider-nav2
  padding: 0 10%
  width: 100%
  background-color: #e4e8eb
  float: left
.img-slider-nav2 .slick-list .slick-track .slick-current
  border: 1px solid #e61e25 !important
  outline: none
  -webkit-transition: all 0s ease-in-out
  -o-transition: all 0s ease-in-out
  transition: all 0s ease-in-out
  position: relative
  box-sizing: border-box
  &:before
    font-family: 'FontAwesome'
    position: absolute
    top: -13px
    left: 50%
    display: inline-block
    content: "\f0d8"
    color: $red-color
    margin: 0 0 0 -3px
.tap-motor-service
  margin-top: 10px
  border-bottom: 2px solid $red-color
  display: inline-block
  width: 100%
  li
    a
      padding: 10px 15px
      margin-right: 5px
      border: 1px solid #9c9c9c
      border-bottom: 1px solid $red-color
      font-size: 1rem
      font-weight: bold
      color: $font-color
      min-width: 130px
      text-align: center
      &:hover, &:focus, &:active
        border-bottom: 1px solid $red-color
        background-color: $red-color !important
        border: 1px solid $red-color
        color: #fff !important
  li.active
    a
      padding: 10px 15px
      border-bottom: 1px solid $red-color
      background-color: $red-color
      border: 1px solid $red-color
      color: #fff
.tab-ct-service-page
  margin: -5px 0 0 0
.ct-item-product-grid-car-page
  list-style-type: none

/*** Review Top Page***/
.review-category-top
  list-style-type: none
  padding: 15px
  width: 100%
  float: left
  .li-review-category-top
    padding-top: 20px
    width: 100%
    float: left
    &:first-child
      padding-top: 0
    .content
      list-style-type: none
      .left
      .right
        .item-review-category-top
          margin: -8px 0 0
          width: 100%
          list-style-type: none
          float: left
          li
            padding: 7px 15px
            font-weight: bold
            float: left
          li:first-child
            width: 100%
.ct-review-comment
  padding: 15px
  list-style-type: none
  float: left
  li
    padding: 15px 0
    border-top: $border-box
    list-style-type: none
    &:first-child
      border-top: none
    .left
    .right
      padding: 0 0 0 15px
      .title-review-comment
        float: left
        width: 100%
        .title
          margin: -5px 0 0 0
          width: auto
          font-size: 20px
          font-weight: bold
          float: left
        span
          float: right
          color: #909090
          display: inline-block
      .star-name
        margin-top: 5px
        width: 100%
        float: left
        span.icon-star
          float: left
        .time
          margin-left: 10px
          float: left
          span
            color: #909090

.select-list-special
  .select2
    .select2-selection
      background-color: #404f67
      span.select2-selection__rendered
        color: #fff
      span.select2-selection__arrow
        background-color: #293446
        color: #fff
  .select-cell-style-1
    color: #fff
    background-color: #404f67
  .div-btn-setting-bike
    width: 25%
    height: 25px
    padding: 0
    border: 1px dashed $red-color
    padding: 3px 0 0 5px
    position: relative
    text-align: center
    a
      color: #005599
      span
        color: $red-color
  .div-tag-item
    margin-bottom: 5px
    background-color: #7d8ca1
    font-size: $font-size
    span
      line-height: 25px
      color: #fff
    a
      width: 25px
      height: 25px
      text-align: center
      float: right
      &:hover i
        color: #333
    i.search-tag-remove
      color: #fff
      cursor: pointer
      line-height: 25px
      &:hover
        color: #333
.select-review-search
  padding: 0 !important

  .select2-container--default
    .select2-selection--single
      .select2-selection__arrow
        height: 32px
        position: absolute
        top: 1px
        right: 1px
        width: 20px
.select-review-search
  .select2-container
    .select2-selection--single
      height: 34px

.box-left-review-top
  padding: 10px
  a
    margin: 15px 0
    width: 100%
    text-align: center
    padding: 5px
    border: 1px solid $red-color
    color: $red-color
    &:hover
      background-color: $red-color
      color: #fff
      border: 1px solid $red-color

.ul-menu-review-top
  li
    a
      color: $a-color !important
.access-number
  margin-top: 5px
  color: $red-color
  float: left
  width: 100%
  text-align: center
.title-review-top
  text-align: center

  /*** Review Search page ***/
.ul-info-review-search
  width: 100%
  list-style-type: none
  float: left
  li
    padding: 5px 0
    border-top: none
    .icon-star
      float: left
    span
      color: #b7b7b7

/*** Review Article Page ***/
.box-info-motor-article
  margin-top: 10px
  padding: 10px
  width: 100%
  border: 1px solid #f7941d
  float: left
  .info-motor-article
    width: 100%
    list-style-type: none
    float: left
    li
      ul
        list-style-type: none
        width: 100%
        float: left
        li
          padding: 5px 0
          span
            color: $font-color
            float: left
          span.icon-star
            float: left
          i
            margin-right: 15px
            font-weight: bold
            float: left
          i.icon-0
            color: $a-color
          i.icon-x
            color: $red-color
.thumbnail-img-300
  width: 300px !important
  height: 300px !important

.box-info-motor-article2
  ul
    list-style-type: none
    li
      list-style-type: none
      a
        width: 100%
        text-align: center

  .text-content
    min-height: 225px
    width: 100%
    padding: 20px
    background-color: $background-header-color
    float: left
.box-review-comment
  padding: 0
  ul
    padding: 10px 0
    width: 100%
    list-style-type: none
    float: left
    li
      padding: 10px 20px
      width: 100%
      float: left
      border-top: 1px dotted $color-box
      &:first-child
        border-top: none
.ct-comment-facebook
  width: 100%
  background-color: $background-header-color
  float: left

/*** Review Writing Page  ***/
.ct-review-writing
  width: 100%
  float: left
  list-style-type: none
  li
    float: left
    label
      input
        margin-top: 0
  .box-review, .box-theme, .box-items, .box-info, .box-comment
    border-top: 1px dotted $background-header-color
  .box-top
    border-bottom: 1px dotted $background-header-color
    padding: 20px
    width: 100%
    float: left
    .box-top-left
      width: 50%
      .right
        padding: 0 0 0 20px
  .box-review
    margin: 1px 0
    padding: 10px 20px
    width: 100%
    background-color: $background-header-color
    float: left
    .ul-box-review
      width: 100%
      float: left
      list-style-type: none
      li
        margin-right: 50px
        &:first-child
          span
            color: $red-color
  .box-theme
    width: 100%
    float: left
    ul
      width: 100%
      list-style-type: none
      float: left
      li
        padding: 20px
        list-style-type: none
        float: left
        input
          text-align: left
        &:first-child
          span
            color: $red-color
  .box-items
    padding: 15px 0
    width: 100%
    float: left
    .left, .right
      ul
        margin-top: 5px
        list-style-type: none
        width: 100%
        float: left
        li
          padding: 0
          label
            padding-left: 0
            padding-right: 10px

            input
              margin-top: 5px
    .left
      h2
        color: $a-color
        float: left
        font-weight: bold
        border-bottom: 1px solid $red-color
      .textbox-group
        padding: 0
        margin: 10px 0
        float: left
    .right
      h2
        color: $red-color
        float: left
        font-weight: bold
        border-bottom: 1px solid $red-color
      .textbox-group

        padding: 0
        margin: 10px 0
        float: left
  .box-info
    width: 100%
    background-color: $background-header-color
    float: left
    span
      width: 100%
      padding: 20px
      float: left
  .box-comment
    padding: 20px
    .left
      width: 200px
      .ct-img-left
        width: 200px
        height: 200px
        position: relative
        .btn-choose-file
          position: absolute
          bottom: 10%
          left: 10%
          width: 80%
    .right
      padding: 0 0 0 15px
      textarea
        padding: 10px 15px
        width: 100%
        height: 200px
.textbox-style
  padding: 3px 5px
  border: 1px solid #dedede
.box-top-right
  ul
    width: 100%
    float: left
    li
      padding: 0 5px
      list-style-type: none
.title-riview-writing
  margin-top: 10px
  color: $a-color
  float: left
  clear: both

@media (max-width: 992px)
  .ul-ct-famous-brand
    li
      width: 16.6666%

@media all and (max-width: 767px)
  .box-review
    padding: 10px !important
    .ul-box-review
      li
        padding: 5px 0 !important
        margin-right: 0 !important
        width: 33.3333% !important
        &:first-child
          width: 100% !important
  .box-items
    .left, .right
      .textbox-group
        input
          margin: 10px 0
          width: 100%
  .box-theme
    ul
      li:first-child
        padding: 20px 20px 10px 20px
      li:last-child
        padding: 0px 20px 20px 20px
        input
          width: 100%
  .box-top-right
    padding-right: 0
    ul
      li
        padding: 5px 0
  .box-comment
    .left
      width: 110px !important
      .ct-img-left
        width: 110px !important
        height: 110px !important
        position: relative
      .btn-choose-file
        padding: 5px 0 !important
        margin-top: 10px
        text-align: center


    .right
      textarea
        height: 110px !important
  .ul-ct-famous-brand
    li
      width: 100%
