/*** Shopping page ***/

/*border-box
.border-box
  border: 1px solid #dcdee3

/*title-box-content

.title-box-content
  margin: 20px 0 5px
  h1
    float: left
  a
    line-height: 2rem
    padding: 0 10px

.padding-20
  padding: 20px

.ct-left-shopping
  margin-top: 20px
  padding-right: 40px

.title-winter-collerction
  margin: 0
  padding: 15px 15px 0 15px
  text-align: center
  h2
    height: 140px
    display: table-cell
    vertical-align: middle
    a
      margin-top: 5px
      display: block
      text-align: center
      font-size: $font-size


.ct-winter-collerction
  margin: 20px 0
  padding: 0
.ct-riding-gear, .ct-custom-parts
  padding: 10px 0 20px

.ct-new-magazine
  padding: 10px 0 20px
  .owl-controls
    .owl-prev
      top: 30%
    .owl-next
      top: 30%

.ct-right-shopping
  margin-top: 20px

.box-notification
  background-color: #fffeef
  padding: 20px
  text-align: center
  ul
    li
      margin: 10px 0
      text-align: left
  span
    margin: 5px 0
    display: table
    text-align: left
  img.tag
    width: 12px
    height: 12px
    margin-right: 2px
  .inline-rule
    margin: 0 0 5px 0
    img.tag
      float: left
      display: block
      width: 12%
      margin: 0
      padding-right: 2%
    span
      margin: 0
      float: left
      display: block
      width: 88%

.title-box-content-2
  width: 100%
  background-color: #f8f8f8
  border-left: 5px solid #e61e25
  h2
    padding: 5px 10px
    border-bottom: 1px solid #dedede

.box-content-brand
  padding: 10px
  width: 100%
  float: left
  li
    // margin: -1px 0 0 -1px
    width: 33.3333%
    list-style-type: none
    float: left
    outline: 1px solid #dcdee3
    .zoom-image
      display: block
      img
        width: 100%
        height: 100%


.box-content-popularity
  padding: 15px 10px
  width: 100%
  float: left
  li
    &:first-child
      border: none !important
    padding: 10px 0
    width: 100%
    list-style-type: none
    border-top: 1px solid #dcdee3
    text-align: center
    float: left
    .container-box-content-popularity
      margin: 0 auto
      display: table
      a
        margin: 0 auto
        margin-bottom: 5px
        height: 130px
        width: 130px
        display: table-cell
        vertical-align: middle
        border: #CCC 1px solid
        text-align: center
        position: relative
      img
        max-width: 100%
        max-height: 100%
      a span
        padding: 1px 5px
        position: absolute
        top: 0
        left: 0
      .lank
        margin: 35px 0 0 0
        width: 43px
        height: 34px
        background-image: url(https://img-webike-tw-370429.c.cdn77.org/shopping/image/shopping/icon.png)
        float: left
        text-align: center
        padding: 11px 0 0 0
        font-weight: bold
        color: #fff
    .lank-02
      background-position: left -33px
    .lank-03
      background-position: left -66px
    .lank-04
      background-position: left -99px
    .lank-04
      background-position: -153px -65px
      padding: 5px 0 0 0 !important
    .lank-05
      background-position: -153px -65px
      padding: 5px 0 0 0 !important
.ct-outlet-store-open
  padding: 10px
.ct-below-shopping
  padding: 0 15px
  .item
    padding: 5px
    margin: 0
    .ct-item
      padding: 10px
      background-color: #fff
      float: left

.btn-owl-prev
  background-color: transparent !important
  box-shadow: none !important
  font-size: 60px
  top: 50%
  left: 15%
  i
    color: #fff !important
    margin: -40px 0 0 0

.btn-owl-next
  background-color: transparent !important
  box-shadow: none !important
  font-size: 60px
  top: 50%
  right: 15%
  i
    color: #fff !important
    margin: -40px 0 0 0

.slideshow-top
  a img
    width: 100%
    //-webkit-filter: blur(3px)
    //filter: blur(3px)
  .slick-prev,
  .slick-next
    width: 30px
    height: 50px
  .slick-prev
    z-index: 999
    left: 100px
  .slick-next
    z-index: 999
    right: 100px
  .slick-active
    img
      -webkit-filter: blur(0) !important
      filter: blur(0) !important

.level-card
  padding: 10px
  h3
    font-size: 1.2rem
    font-weight: $font-weight-wide
  h5
    font-size: 1rem
    font-weight: $font-weight-wide
  label
    font-weight: $font-weight-wide
  label,
  p
    font-size: $font-size
    margin-bottom: 5px
    &:last-child
      margin-bottom: 0px

  &.golden
    color: #333
    background: #e8b248
    background: -moz-linear-gradient(left, #e8b248 0%, #ecd15c 16%, #f1d067 35%, #fdf37d 50%, #f1d067 65%, #ecd15c 84%, #e8b248 100%)
    background: -webkit-linear-gradient(left, #e8b248 0%,#ecd15c 16%,#f1d067 35%,#fdf37d 50%,#f1d067 65%,#ecd15c 84%,#e8b248 100%)
    background: linear-gradient(to right, #e8b248 0%,#ecd15c 16%,#f1d067 35%,#fdf37d 50%,#f1d067 65%,#ecd15c 84%,#e8b248 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8b248', endColorstr='#e8b248',GradientType=1 )
  &.sliver
    color: #fff
    background: #999999
    background: -moz-linear-gradient(45deg,  #999999 0%, #cccccc 12%, #999999 50%, #cccccc 88%, #999999 100%)
    background: -webkit-linear-gradient(45deg,  #999999 0%,#cccccc 12%,#999999 50%,#cccccc 88%,#999999 100%)
    background: linear-gradient(45deg,  #999999 0%,#cccccc 13%,#999999 50%,#cccccc 87%,#999999 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999999', endColorstr='#999999',GradientType=1 )

  &.general
    color: #fff
    background: #005121
    background: -moz-linear-gradient(left, #005121 0%, #418230 16%, #2a762e 35%, #66b353 50%, #2a762e 65%, #418230 84%, #005121 100%)
    background: -webkit-linear-gradient(left, #005121 0%,#418230 16%,#2a762e 35%,#66b353 50%,#2a762e 65%,#418230 84%,#005121 100%)
    background: linear-gradient(to right, #005121 0%,#418230 16%,#2a762e 35%,#66b353 50%,#2a762e 65%,#418230 84%,#005121 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005121', endColorstr='#005121',GradientType=1 )

@media all and (max-width: 767px)
  .slideshow-top
    .slick-prev,
    .slick-next
      top: 38%
    .slick-prev
      left: 0%
    .slick-next
      right: 4%

.item-product-new-magazine
  padding: 0
  a
    figure
      width: 180px
      height: 180px

.customer-dashboard
  .title
    background: $red-color
    padding: 10px
    color: #fff
    &.white
      background: #fff
      color: #333
  .gap
    padding: 5px
  .content
    padding: 10px
    .main-info
      ul
        li
          list-style-type: none
          padding: 5px 0 0
          &:first-child
            padding-top: 0
      .count
        color: $blue-color
    .disp-list
      border-top: $border-box
      ul
        margin-top: 10px
        padding-top: 10px
        li
          list-style-type: none
          padding-top: 5px
          &:first
            padding-top: 0

/*** Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. **
@media (max-width: 922px)
  footer .footer-links aside
    border-right: 1px solid #737b87

/*** Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. **
@media all and (min-width: 768px) and (max-width: 921px)
  .title-winter-collerction h2
    font-size: 0.85rem !important
    a
      text-align: left

@media (max-width: 767px)
  .ct-left-shopping
    padding-right: 15px !important
  .ct-right-shopping
    margin-top: 20px
  .menu-shopping
    display: none
  .btn-owl-prev
    font-size: 30px
    top: 40%
    left: 10%
    i
      color: #fff !important
      padding: 0
      margin: -20px 0 0 0
  .btn-owl-next
    font-size: 30px
    top: 40%
    right: 10%
    i
      color: #fff !important
      padding: 0
      margin: -20px 0 0 0
  .title-box-content a
    line-height: 2.5rem
  .ct-right-shopping
    margin: 0
    padding: 0
    .box-content
      margin: 0 0 20px 0
  .title-winter-collerction
    padding: 0 15px 0 15px !important
    h2
      padding: 10px 0
      height: auto !important
      a
        text-align: left
    hr
      margin: 0
      padding: 0
      clear: both
  .title-box-content
    hr
      margin: 0
      padding: 0
      clear: both
    margin: 0
    a
      float: right
  .container-header
    min-height: auto !important

/*** End shopping page ***/