/*** Header top page***/
.header
  @include box-shadow(0px 2px 3px -3px rgba(0,0,0,0.3))
  @include transition(top 0.2s ease-in-out)
.text-second-menu
  font-weight: bold
.navbar-active
  background-color: $red-color !important
.navbar-toggle
  float: left
  margin-left: 15px
.header-top
  background-color: $background-black-color
.navbar-nav>li>a
  color: #fff !important
  padding-top: 5px
  padding-bottom: 5px
  font-size: 1rem
.navbar-nav>li>a>h2
  padding: 0
  margin: 0
  font-family: $font-stack
.staff-icon
  position: fixed
  top: 0
  right: 0
  background: $red-color
  color: white
  font-size: 12px
  font-weight: bold
  padding: 2px 3px
  letter-spacing: .5px
  z-index: 9999 
@media (min-width: 992px)
  .navbar-nav>li>a:hover
    background-color: $red-color !important
.icon-menu
  margin: 0
  padding: 0
  width: 55px
  height: 55px
  color: #fff
  border: none
  /* @include border-radius(0) */
  &:hover,&:active,&:focus
    background-color: transparent !important
i.menu-icon
  color: #999999
  &.menu-icon-active
    color: #e62e04 !important
.container-header
  position: relative
  min-height: 75px
.col1-logo
  width: 180px
  display: none
  position: absolute
  z-index: 999
.col2-search
  padding: 0 370px 0 230px
  width: 100%
  position: absolute
  top: 0
  left: 0
.col3-icon
  padding: 20px 0 0 0
  width: 350px
  float: right
  display: none
  ul
    li
      margin-right: 5px
.cursor-pointer
  cursor: pointer
.logo
  margin: 0
  height: 90px
  display: table-cell
  vertical-align: middle
  img
    max-width: 100%
    float: left
    width: 100%
.logo-mobile
  margin: 12px 0 0
  width: 110px
  float: left
  display: none
  img
    width: 100%
    height: auto
    float: left
.logo-webike-shopping
  background: url(https://img.webike.tw/shopping/image/tmp_webike_tw_logos.png)
  background-position: -200px 0px
  background-repeat: no-repeat
  height: 80px
  width: 100%
  display: block
.logo-webike-shopping-69
  background: url(https://img-webike-tw-370429.c.cdn77.org/shopping/image/logo/webike_shopping_logo.svg)
  height: 80px
  width: 100%
  display: block
  background-position: 0 0 !important
.box-search
  margin: 20px 0 0
  position: relative
.txt-search
  padding: 0 200px 0 5px
  width: 100%
  height: 38px
  line-height: 28px
  border: 1px solid $red-color
  /* @include border-radius(2px) */
  position: absolute
  top: 0
  left: 0
.btn-search
  padding: 0
  width: 80px
  height: 38px
  line-height: 28px
  border-radius: 2px
  position: absolute
  right: 0
  top: 0
  i
    display: none
  &:hover,&:active,&:focus
    color: #fff
.selection-search
  position: absolute
  top: 1px
  right: 79px
  height: 36px
  z-index: 3
.selection-option
  &:hover
    background-color: $red-color !important
.col3-icon
  ul
    float: right
    li
      float: left
.btn-login
  padding: 5px 15px !important
  margin: 0 10px 0 0
  border: 2px solid $red-color
  float: left
  &:hover,&:active,&:focus
    background-color: $red-color !important
    color: #fff
.btn-mybike-add
  border: 2px solid $dark-blue-color
  background-color: $blue-color !important
  color: #fff
  float: left
  &:hover,&:active,&:focus
    opacity: .9
    color: #fff
.btn-mybike-select
  border: 2px solid $dark-blue-color
  background-color: $blue-color
  color: #fff
  float: left
  &:hover,&:active,&:focus
    opacity: .9
    color: #fff

.login-success
  margin: 3px 0 0 0
  display: none
  float: left
  .uh-avatar
    width: 30px
    height: 30px
    float: left
.login-info
  margin: 0
  padding: 0 !important
  float: left
.user-name
  margin: 8px 5px 0
  font-weight: bold
  max-width: 55px
  float: left
.icon-down
  margin: 11px 0
  float: left
.login-success-active
  .login-success
    display: block !important
  .login
    display: none !important
  .my-bike
    display: block !important
.btn-cart
  padding: 0 !important
  .active
    background-color: transparent !important
    color: $red-color
  &:active, &:focus, &:hover
    background-color: transparent !important
    color: $red-color
.btn-helpdesk
  padding: 0 !important
  &:active, &:focus, &:hover
    background-color: transparent !important
    color: $red-color
.my-bike
  position: relative
  float: left
  list-style: none

//#m-menu-execute
  display: block
  width: 32px
  height: 32px
  text-align: center
  position: absolute
  right: 15px
  top: -5px
  border-radius: 50%/50%
  z-index: 10
  float: right
  margin-bottom: 10px
  i
    line-height: 32px
    font-size: 1.5rem
    width: 100%
    height: 100%

.show-my-bike
  position: absolute
  top: 100%
  border-radius: 2px
  @include box-shadow(0 2px 6px rgba(0,0,0,0.1))
  border: $border-box
  display: none
  background-color: #fff
  padding: 0
  z-index: 999
  width: 145px
  li
    margin: 0
    padding: 0 !important
    list-style-type: none
    width: 100%
    a
      line-height: 20px
      padding: 5px
      width: 100%
      color: #333
      display: block
      &:hover
        background-color: #ededed
      img
        margin: 3px 5px
        width: 40px
        display: inline-block
        vertical-align: middle
      span
        display: inline-block
        vertical-align: middle
        height: 100%
.top-nav
  .show-my-bike
    width: 100%
    font-size: 1rem
  .menu-icon
    .icon-area
      cursor: pointer
      position: relative
      padding: 0
      &:hover
        ul.list
          display: block
          visibility: visible
          opacity: 1
          filter: alpha(opacity=100)
      img
        width: 32px
        height: 32px
      ul.list
        // display: none
        position: absolute
        top: 115%
        right: 30%
        background: #fff
        width: 120px
        border: 1px #777 solid
        -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175)
        box-shadow: 0  6px 12px rgba(0,0,0,.175)
        z-index: 1
        opacity: 0
        visibility: hidden
        filter: alpha(opacity=0)
        -webkit-transition: 200ms ease
        -moz-transition: 200ms ease
        -o-transition: 200ms ease
        transition: 200ms ease
        &.active
          display: block
        li
          list-style: none
          float: none
          border-top: 1px #777 solid
          margin: 0
          &:first-child
            border-top: none
          &:focus
            background: #e61e25
          a
            padding: 5px 10px
            display: block
            color: #333
            &:hover,
            &:focus
              background: #e61e25 !important
              color: #fff
  @media (max-width: 767px)
    .cart
      margin-top: 14px
@media (max-width: 767px)
  .top-nav
    .cart-icon
      margin-top: 12px
      &:hover
        ul.list
          display: none

.content-my-bike
  width: 100%
  .show-my-bike
    width: 100%
    right: 0
  .btn-my-bike
    width: 100%

.btn-add-more-bike
  margin: 0 !important
  a
    margin-top: 1px
    text-align: center
    background-color: #ededed
    &:hover
      background-color: $red-color !important
      color: #fff
.my-bike:hover .show-my-bike
  display: block !important
.btn-my-bike-add
  margin: 0
  padding: 4px 7px !important
  height: 35px
  float: left
.btn-my-bike
  margin: 0
  padding: 0 !important
  border: 1px solid $background-black-color
  height: 38px
  border-radius: 2px
  float: left
  span
    padding: 0 5px
    line-height: 38px
    color: $background-black-color
  p
    float: right
    line-height: 38px
    background-color: $background-black-color
    margin: 0
    padding: 0 10px
    color: #fff
.btn-my-bike-tablet
  margin: 5px 0 0 0
  padding: 0 !important
  float: left
.icon-top-page
  margin: 0 10px 0 0
  padding: 0
  float: right
  li
    float: left
    a
      padding: 15px 7px 7px
      color: #fff
      &:active, &:focus, &:hover
        background-color: transparent !important
.goodlife
  padding: 5px 15px
  font-size: $font-size
  float: left
  color: #fff38e
  font-style: italic
nav
  div.channel
    float: left
    margin-left: 5px
    margin-top: 3px


/*** End Header top page***/

/*** Footer top page***/
.ct-footer-top
  background-color: $background-black-color
#footer-top
  .ct-footer-top
    span
      color: #e5e5e5
      margin: 10px 0
      width: 100%
      text-align: center
      float: right
    ul
      display: none
      li
        a
          h2
            color: #e5e5e5
          &:hover
            background-color: $background-black-color !important
            h2
              color: #fff
/*** End Footer top page***/

/*** Header all page***/
.btn-show-second-menu
  margin: -30px 0 0 0
  font-size: 0rem
  color: $font-color
  float: left
  opacity : 0
.active-second-menu
  .logo
    margin-left: 22%
    background-position: -200px 3px
    img
      max-width: 74%
      float: left
      margin: 0 0 0 15%
  .btn-show-second-menu
    margin: 25px 0 0 0
    font-size: 1.5rem
    opacity: 1
    cursor: pointer
.menu-shopping
  width: 100%
  border-top: 1px solid #d0d0d0
  border-bottom: 1px solid #d0d0d0
  float: left
  li
    list-style-type: none
    float: left
    margin: 0
    position: relative
    a
      padding: 5px 13px
      color: $background-black-color
      float: left
      @include transition(all 0s ease !important)
    .dropdown-second-menu
      padding: 0 10px
      min-width: 175px
      position: absolute
      top: 32px
      left: 0px
      background-color: #fff
      border: 1px solid $background-menu-hover-color
      display: none
      overflow-x: hidden
      max-height: 315px
      li
        width: 100%
        float: left
        border-top: 1px solid #d0d0d0
        background-color: #fff !important
        a
          padding: 6px 0 !important
          width: 100%
          color: $background-black-color
          background-color: #fff !important
          //font-weight: bold
      li:first-child
        border-top: none
  li:hover
    .dropdown-second-menu
      display: block !important
      z-index: 9999
    a
      color: #fff
      background-color: $background-menu-hover-color
  li.current
    a
      color: #fff
      background-color: $background-menu-hover-color
  hr
    margin: 0
    padding: 0
    background-color: #fff
    border: none
    height: 1px
  .overflow-menu-ui
    ul.overflow-menu-collect
      .dropdown
        a
          color: $font-color
      ul.dropdown-menu
        min-width: 140px
/*** End Header all page***/

/*** Footer Shopping ***/
.foot-shopping
  padding: 20px 0 0 0
  i
    vertical-align: middle

footer
  background: #202732 url(https://img-webike-tw-370429.c.cdn77.org/shopping/image/footer_top_bg.png) 50% 0 repeat-x
  color: #d7dbe2
  cursor: default
  line-height: 18px
  // padding: 30px 0 0
  .footer-links aside
    float: left
    padding-right: 10px
  .last-text
    padding: 5px 0 0 10px
#footer-logo img
  max-height: 44px
  display: inline-block
  vertical-align: top

footer .footer-links
  aside p
    margin: 10px 0 0
    font-size: 0.85rem
    a
      color: $light-blue-link-color
  .block
    padding: 0
  .column
    padding: 0 0 0 20px

.next-row
  border-top: 1px #737b87 solid
  margin-top: 20px
  padding-top: 10px
  .title
    border-bottom: none !important



#footer-signup
  height: 35px
  width: 45%
  color: #fff
  font-size: 14px
  cursor: pointer
  text-transform: uppercase
  text-align: center
  white-space: nowrap
  border-radius: 3px
  overflow: hidden
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2)
  float: left
  margin-top: 10px
  line-height: 35px

.btn-upload-moto
  height: 35px
  width: 45%
  color: #ffe900
  font-size: 14px
  cursor: pointer
  text-transform: uppercase
  text-align: center
  white-space: nowrap
  border-radius: 3px
  overflow: hidden
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2)
  float: left
  margin-top: 10px
  line-height: 35px
  margin-left: 10px
  border: 1px solid #ffe900
  &:hover
    background-color: #ffe900
    color: #000000 !important

footer
  .footer-links .title
    border-bottom: 1px solid #737b87
    padding-bottom: 8px
  h5
    line-height: 16px
    font-size: 14px
    color: inherit
    font-weight: 400
    margin-bottom: 10px
    margin-top: 0px
  .footer-links
    padding: 0 0 20px
    ul > li
      line-height: 20px
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
      max-height: 20px
      > i
        margin: 0 5px 0 0
      a
        color: #d6dbe1
        &:hover
          color: #ffffff
          text-decoration: underline
  .copyright
    background: #2a313c
    line-height: 24px
    padding: 10px 0
  h5
    line-height: 16px
    font-size: 13px
    color: inherit
    margin-bottom: 10px
    text-transform: uppercase
  .copyright
    p
      line-height: 24px
      margin: 0
      color: #d7dce2
      font-size: 0.85rem
    p i
      margin: 0
      width: 15px
      text-align: center
    ul.social
      display: inline-block
      margin: 0 0 10px
      padding: 0
      float: right
      > li
        float: left
        display: block
        margin-left: 10px
        list-style-type: none
        .facebook:hover
          background-color: #3c5a99
          i
            color: #ffffff
        .youtube:hover
          background-color: #e61e25
          i
            color: #ffffff

.btn-mobile-view
  margin: 4px 0 0 0
  padding: 0 10px
  height: 30px
  display: block
  text-transform: uppercase
  text-align: center
  border-radius: 5px
  white-space: normal
  line-height: 30px
  text-decoration: none
  background-color: #fff
  float: right
  clear: both
  color: #293038
  i
    font-size: 34px
    float: left
    line-height: 30px
    margin: 0 5px 0 0

footer .copyright ul.social > li > a
  display: block
  width: 32px
  height: 32px
  background-color: #ffffff
  border-radius: 32px
  > i
    color: #2a313c
    float: left
    font-size: 20px
    line-height: 32px
    width: 32px
    text-align: center

#quick-contact
  border-left: 1px solid #737b87

.title-connectwebike h5
  float: right !important

#quick-contact
  .guide
    display: block
    min-height: 65px
    background: url(https://img.webike.tw/shopping/image/quick-contact.jpg) 0 0 no-repeat
    padding-left: 40px
    padding-bottom: 10px
    p
      line-height: 130% !important
  form
    margin-top: 5px
    position: relative
    display: table
    width: 100%
    .form-group
      display: table-row

.form-group > label
  font-weight: 400
  width: auto
  line-height: 25px
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  float: left

#quick-contact form button.module-btn
  text-transform: none
  min-width: 75px
  text-align: center
  display: inline-block
  background-color: #e61e25
  color: #fff
  border: 1px solid #c10e14
  padding: 0 20px
  font-weight: bold
  height: 30px
  line-height: 30px
  &:hover
    background-color: #960006
    border: 1px solid #960006

.input-phone-number
  width: 134px
  height: 30px
  float: left
  padding: 0 5px
  color: #000

.copyright-webike .container p
  margin: 15px 0
  width: 100%
  text-align: center
  float: left

/*** End Footer Shopping ***/

/*** Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. ***/
@media only screen and (min-width: 922px)
  .menu-left-mobile
    display: none
  .col1-logo
    display: block !important
  .col3-icon
    display: block !important
  .col2-search
    margin: 0
    padding: 0 330px 0 230px
    width: 100%
    position: absolute
    top: 0
    left: 0
  .icon-top-page
    display: none !important
  .container
    width: auto !important
    max-width: $with-container-page !important
  #footer-top
    .container
      ul
        display: block !important
      p
        width: auto !important
    .ct-footer-top
      ul
        display: block !important
      span
        width: auto !important

@media only screen and (max-width: 767px)
  /*** for detect mobile screen ***/
  #bp_mobile
    display: block
.bp_checking
  display: none
/*** Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. ***/
@media all and (min-width: 768px) and (max-width: 921px)
  .menu-left-mobile
    display: none
  .col1-logo
    width: 125px
    display: block !important
  .col3-icon
    width: 225px
    display: block !important
  .col2-search
    margin: 0
    padding: 0 250px 0 230px
    width: 100%
    position: absolute
    top: 0
    left: 0
  .icon-top-page
    display: none !important
  .container
    width: auto !important

@media all and (max-width: 767px)
  h1
    font-size: 1.2rem
  h2
    font-size: 1rem
  h3
    font-size: 1rem
  span
    font-size: $font-size
  p
    font-size: $font-size
  .logo-mobile
    display: block
  .navbar-default
    background-color: transparent !important
    border-color: transparent !important
  .container-header
    height: 60px
    background-color: $background-black-color
  .txt-search
    border: none !important
  .box-search
    margin-top: 0
  .btn-search
    background-color: transparent !important
    color: $red-color !important
    span
      display: none
    i
      display: block !important
  .col1-ct
    display: none
  .container-header
    display: none
  .selection-search
    display: none
  .txt-search
    padding: 0 70px 0 5px !important
  .btn-search
    width: 45px !important
  #footer-top
    position: fixed
    bottom: 0
    left: 0
    width: 100%
    z-index: 999
  .container-header
    min-height: 50px !important
  .col2-search
    padding: 0 !important
/*** Template All page ***/
.breadcrumb-mobile
  margin-top: 150px
@media (max-width: 767px)
  .breadcrumb-mobile
    margin-top: 60px !important
    margin-right: 30px
.ct-new-magazine
  padding: 10px 15px 20px
.ct-owl-carousel
  display: table
  text-align: center
  width: 100%
  a
    margin: 0 auto
    max-width: 140px
  img
    margin: 0 auto
    max-width: 140px
  span
    width: 100%
    margin-top: 5px
    display: table
.owl-prev
  position: absolute
  top: 20%
  left: 0
  padding: 20px 10px
  opacity: 0.7
  background-color: #fff
  @include box-shadow(3px 1px 3px 0px rgba(0,0,0,0.2))
  border-top-right-radius: 4px
  border-bottom-right-radius: 4px
  &:hover
    @include box-shadow(3px 1px 3px 0px rgba(0,0,0,0.4))
    opacity: 1
    background-color: $red-color
    i
      color: #fff
.owl-next
  position: absolute
  top: 20%
  right: 0
  padding: 20px 10px
  opacity: 0.7
  background-color: #fff
  @include box-shadow(-3px 1px 3px 0px rgba(0,0,0,0.2))
  border-top-left-radius: 4px
  border-bottom-left-radius: 4px
  &:hover
    @include box-shadow(-3px 1px 3px 0px rgba(0,0,0,0.4))
    opacity: 1
    background-color: $red-color
    i
      color: #fff
/* box content */
.box-content
  margin-bottom: 20px
  padding: 0
  background-color: #fff
  border: $border-box
  display: block
/* title-box-content */
.title-box-content
  margin: 20px 0 5px
  h1
    float: left
  a
    line-height: 2rem
    padding: 0 10px
.title-product-item
  margin-top: 5px
  width: 100%
  font-size: 0.85rem
  text-align: left
  float: left

/* row-advertisement */
.row-advertisement
  margin-bottom: 20px
  text-align: center
@media (max-width: 992px)
  .row-advertisement,
  [id="div-gpt-ad-"]
    display: none
.ct-row-advertisement
  padding: 5px
  text-align: center
.text-red-color
  color: $red-color
.border-radius-2
  @include border-radius(2px !important)
.base-btn-gray
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #e3e3e3))
  background: -moz-linear-gradient(top, #ffffff 5%, #e3e3e3 100%)
  background: -webkit-linear-gradient(top, #ffffff 5%, #e3e3e3 100%)
  background: -o-linear-gradient(top, #ffffff 5%, #e3e3e3 100%)
  background: -ms-linear-gradient(top, #ffffff 5%, #e3e3e3 100%)
  background: linear-gradient(to bottom, #ffffff 5%, #e3e3e3 100%)
  color: #000 !important
  &:hover
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #e3e3e3))
    background: -moz-linear-gradient(top, #ffffff 5%, #e3e3e3 100%)
    background: -webkit-linear-gradient(top, #ffffff 5%, #e3e3e3 100%)
    background: -o-linear-gradient(top, #ffffff 5%, #e3e3e3 100%)
    background: -ms-linear-gradient(top, #ffffff 5%, #e3e3e3 100%)
    background: linear-gradient(to top, #ffffff 5%, #e3e3e3 100%)

.select2-container--default
  .select2-results__option--highlighted[aria-selected]
    background-color: $red-color
    color: #fff

/* Title main page */
.title-main-page
  margin-bottom: 15px
  background-color: $background-dark-blue-color
  color: #fff
  padding: 5px 15px
  border-bottom: 2px solid $red-color
  width: auto
  display: flex
  h2
    float: left
.title-main-box
  padding: 5px 15px
  width: 100%
  float: left
  background-color: $background-dark-blue-color
  margin-bottom: 10px
  font-size: 0
  img
    margin: 2px 10px 0 0
    width: 32px
    float: left
  h1,h2
    font-size: 1.2rem
    color: #fff !important
    &.with-tag
      display: inline-block
      vertical-align: middle
      width: 80%
    a
      color: #fff
      font-size: $font-size
      display: inline-block
      vertical-align: middle
    span
      display: inline-block
      vertical-align: middle
  .tag
    display: inline-block
    vertical-align: middle
    text-align: right
    width: 20%
    font-size: 0.85rem
    color: #fff
    a
      color: #fff
  hr
    width: 100%
    height: 1px

.title-main-box-clear
  color: #333
  padding: 10px 0 0
  margin-bottom: 10px
  padding-left: 10px
  h2
    color: #333 !important
    font-weight: bold
    &.with-tag
      display: inline-block
      vertical-align: middle
      width: 80%
    a
      color: $blue-color
      font-size: $font-size
      font-weight: normal
      display: inline-block
      vertical-align: middle
    span
      display: inline-block
      vertical-align: middle
  tag
    display: inline-block
    vertical-align: middle
    text-align: right
    width: 20%
    font-size: 0.85rem
    color: #333
    a
      color: #333
ul.no-list-style
  li
    list-style: none
@media all and (max-width: 992px) 
  .title-main-box
    h2
      &.with-tag
        width: 50%
    .tag
      width: 50%
  .title-main-box-clear
    h2
      a
        display: block
.title-customer-box
  padding: 5px 15px
  width: 100%
  background-color: $background-gray-color
  margin-bottom: 5px
  img
    margin: 2px 10px 0 0
    width: 32px
    float: left
  h2
    float: left
    color: $block-color !important
  hr
    width: 100%
    height: 1px
.box-items-group
  margin-bottom: 20px
  width: 100%
  border: 1px solid $background-title-color
  float: left
.title-box-items-group
  padding-bottom: 10px
  width: 100%
  float: left
  border-bottom: 2px solid #b8b8b8
  img
    margin-top: 5px
    margin-right: 10px
    width: 32px
    float: left
  h1
    float: left
  hr
    width: 100%
    height: 1px
.ct-box-items-group
  width: 100%
  float: left
.title-main-box-2
  padding: 5px 15px
  width: 100%
  float: left
  background-color: $background-header-color
  margin-bottom: 5px
  img
    margin: 2px 10px 0 0
    width: 32px
    float: left
  h2
    float: left
    color: $background-black-color !important
  hr
    width: 100%
    height: 1px

// All product items
.thumb-img
  display: table-cell
  vertical-align: middle
  text-align: center
  position: relative

.item-product-grid
  padding: 5px
  text-align: center
  float: left
  list-style-type: none
  a
    margin: 0 auto
    display: inline-block
    figure
      width: 140px
      height: 140px
      display: table-cell
      vertical-align: middle
      text-align: center
      position: relative
      img
        max-width: 100%
        max-height: 100%
      .sale-off-icon
        position: absolute
        top: 5px
        left: 5px
        color: #fff
        z-index: 2
        height: 26px
        span
          padding: 0 5px
          height: 26px
          background-color: $red-color
          float: left
          line-height: 26px
        &:before
          content: ""
          width: 11px
          height: 26px
          background: url("https://img.webike.tw/shopping/image/bg-sale-off-left.png")
          float: left
        &:after
          content: ""
          width: 11px
          height: 26px
          background: url("https://img.webike.tw/shopping/image/bg-sale-off-right.png")
          float: left
  .title-product-item-top
    font-weight: bold
    display: flex
  .title-product-item
    margin-top: 5px
    width: 100%
    float: left
  .price
    margin-top: 5px
    width: 100%
    font-size: 1rem
    font-weight: bold
    color: $red-color
    font-weight: bold
    float: left
  .price-old
    margin-top: 5px
    width: 100%
    font-size: 0.85rem
    text-align: left
    text-decoration: line-through
    float: left
  .normal-text
    margin-top: 5px
    width: 100%
    font-size: 0.85rem
    text-align: left
    float: left
    word-break: break-all
    word-wrap: break-word
  .bold-text
    margin-top: 5px
    width: 100%
    font-size: 0.85rem
    text-align: left
    font-weight: bold
    float: left
    word-break: break-all
    word-wrap: break-word

.item-product-grid.disabled
  background: #f0f0f0
  outline: 1px #ccc solid
  .btn-see-detail-peoduct
    background: #e3e3e3
    border: 1px #dcdcdc solid
    color: #6b6b6b
    &:hover
      background: #e3e3e3
      border: 1px #dcdcdc solid
      color: #6b6b6b

.btn-see-detail-peoduct
  margin: 10px 0 0 0
  width: 100%
  border: 1px solid $red-color
  color: red
  &:hover
    background-color: $red-color
    color: #fff
    border: 1px solid $red-color
.owl-carousel
  .owl-item
    img
      display: initial
      width: auto
.thumb-box-border
  border: $border-box

// End All product items
/*** End Template All page ***/
/*** Template All page list2***/
// box col left

.box-page-group
  margin-bottom: 15px
  width: 100%
  float: left
  border: 1px solid #e0e6f0
  list-style: none
  @include box-shadow(0 1px 2px #e0e6f0)
  .ct-box-page-group
    width: 100%
    float: left
    .ul-menu-ct-box-page-group
      padding: 0 8px
      width: 100%
      float: left
      li
        width: 100%
        float: left
        border-top: 1px solid #e0e6f0
        list-style-type: none
        a
          width: 100%
          color: $font-color
          float: left
          font-size: $font-size
          line-height: 30px
          h2
            color: $red-color !important
        &.disabled
          pointer-events: none
          color: $deep-gray-color !important
          a
            pointer-events: none
            color: $deep-gray-color !important
          span
            color: $deep-gray-color !important
        &.active
          a
            color: $red-color !important
        &:hover
          span
            color: $red-color !important
      li:first-child
        border-top: none
    .ul-button-ct-box-page-group
      width: 100%
      float: left
      li
        width: 100%
        float: left
        border-top: 1px solid #e0e6f0
        list-style-type: none
        position: relative
        a
          padding: 7px 10px
          float: left
          font-size: 1rem
          width: 100%
          i
            padding: 3px 0
            float: right
            color: $red-color
        .improt-menu-left
          padding: 0 10px
          position: absolute
          top: -1px
          left: 198px
          background-color: #fff
          min-width: 175px
          border: 1px solid $background-menu-hover-color
          @include box-shadow(2px 2px 2px rgba(0, 0, 0, 0.2))
          display: none
          li
            a
              padding: 5px 10px
              color: $background-black-color
        li:hover
          a
            color: $red-color
      li:first-child
        border-top: none !important
      li:hover
        background-color: $background-menu-hover-color
        display: block !important
        a
          color: #fff
          i
            color: #fff
        .improt-menu-left
          display: block !important
          z-index: 9999
          li
            a
              background-color: #fff

    .ul-banner-ct-box-page-group
      width: 100%
      float: left
      li
        padding: 0 5px 5px
        width: 100%
        float: left
        text-align: center
        list-style-type: none
        a
          float: left
      &:first-child
        padding-top: 5px
.ul-menu-ct-box-page-group-dropdown
  li
    font-size: $font-size
    a
      padding: 10px 0 !important
      font-size: $font-size
      line-height: 30px
    ul
      li.sub-menu
        padding: 10px 0 10px 20px
        &:first-child
          border-top: $border-box !important
.title-box-page-group
  padding: 0px 5px
  width: 100%
  float: left
  background-color: $background-header-color
  border-bottom: 1px solid $red-color
  h3, span
    float: left
    font-weight: $font-weight-wide
    line-height: 34px
/*** End Template All page list2 ***/
/*** move from checkout page & history page ***/
$linkBreadcrumbColorHover: #ddd
.checkout-page-state
  line-height: 30px
  color: #fff
  padding: 1px
  border-radius: 5px
  position: relative
  a
    display: table !important
    float: left
    background: #0069bf
    //padding-right: 10px
    height: 60px  //fix height panel
    margin-right: 35px
    position: relative
    text-decoration: none
    color: #fff
    font-size: 1.2em
    font-weight: bold
    text-align: center
    &:last-of-type
      margin-right: 0
      &:after       //fixing
        border: none
      border-top-right-radius: 5px
      border-bottom-right-radius: 5px
    &:before
      content: ""
      display: block
      width: 0
      height: 0
      position: absolute
      top: 0
      left: -30px
      border: 30px solid transparent    //fix height panel
      border-color: #0069bf
      border-left-color: transparent
    &.return-state:before
      left: -30px
      border: 30px solid transparent    //fix height panel
      border-color: #0069bf
    &:after
      content: ""
      display: block
      width: 0
      height: 0
      position: absolute
      top: 0
      right: -60px  //fix height panel
      border: 30px solid transparent
      border-left-color: #0069bf
    &.return-state:after
      right: -60px  //fix height panel
      border: 30px solid transparent
      border-left-color: #0069bf
    &:first-of-type
      //padding-left: 15px
      border-top-left-radius: 5px
      border-bottom-left-radius: 5px
      &:before
        display: none
    &.active-state
      background: #ddd
      color: #000
      text-decoration: none
      &:before
        border-color: $linkBreadcrumbColorHover
        border-left-color: transparent
      &:after
        border-left-color: $linkBreadcrumbColorHover
    h3
      display: table-cell
      vertical-align: middle
@media (max-width: 992px)
  .checkout-page-state
    a
      &.last-type
        margin-bottom: 20px
      &:after
        top: initial
        bottom: -15px
        right: 49%
        border-left-color: #fff !important
        border-style: solid !important
        border-width: 10px 10px 0 10px !important
        border-color: $blue-color transparent transparent transparent !important
      &:last-child:after
        border: none !important
/*** move from checkout page & history page ***/
/*** move from cartpage page ***/
/* Disp Box outside main content */
.history-box-outside-content
  top: 210px
  right: 10px
  width: 250px !important
  position: fixed
  z-index: 9999
  background-color: #fff
  ul.ul-menu-ct-box-page-group
    display: none
  .title-box-page-group
    background-color: $red-color !important
    color: #fff
    display: flex
    flex-wrap: nowrap
    justify-content: center
    position: relative
    a
      color: #fff
      position: absolute
      font-size: 1.5em
      display: flex
      &.history-btn-chevron-down
        left: 10px
        width: 35px
        height: 35px
        &:hover
          color: #000
      &.history-btn-close
        right: -5px
        top: -10px
        background: #000
        color: #fff
        border-radius: 50%
        font-weight: normal
        &:hover
          color: #000
          background: #fff

  .ul-menu-ct-box-page-group
    li a
      i
        color: $red-color
      span
        color: #005599
        font-weight: bold
@media all and (max-width: 767px)
  .history-box-outside-content 
    width: 96%
    margin: 2%
    top: 10%
    right: 0
  

/*** move from cartpage page ***/
/*** ad block page ***/
.ad_block
  img
    width: 100%
    height: auto
.ad_text
  display: none
/*** ad block page ***/
/*** slick block page ***/
.slick-slide
  position: relative
  .cover-screen
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: #333
    opacity: 0.6
  img
    opacity: 0.15
.slick-slide
  &.slick-center,
  &.slick-active
    .cover-screen
      display: none
    img
      opacity: 1

.slick-prev:before,
.slick-next:before
  color: #333 !important
/*** slick block page ***/
/*** over write vn template ***/
input[type=checkbox],
input[type=radio]
  width: 16px
  height: 16px
.radio label span,
.radio label input,
.checkbox label span,
.checkbox label input
  vertical-align: middle
.account-icon
  width: 32px
  height: 32px
  display: block
  text-align: center
  border-radius: 50%
  position: relative
  overflow: hidden
  font-size: 0
  padding: 0 !important
  span.helper
    display: inline-block
    vertical-align: middle
    height: 100%
    font-size: 0.5rem
  span.text
    display: inline-block
    vertical-align: middle
    font-size: 0.5rem
  &.btn
    padding: 2px 2px
#pagetop
  bottom: 55px
  font-size: 10px
  position: fixed
  right: 10px
  z-index: 9999
  a
    background: none repeat scroll 0 0 #666666
    -webkit-border-radius: 5px
    -moz-border-radius: 5px
    border-radius: 5px
    color: #FFFFFF
    display: block
    opacity: 0.8
    padding: 15px
    text-align: center
    text-decoration: none
  i
    background: none no-repeat scroll 9px 9px #666666
    background-image: url('//img-webike-tw-370429.c.cdn77.org/shopping/image/return_top.png')
    color: #FFFFFF
    -webkit-border-radius: 5px
    -moz-border-radius: 5px
    border-radius: 5px
    display: none
    opacity: 0.8
    padding: 15px
    text-align: center
    text-decoration: none
.btn-full
  width: 100%
.btn-asking
  background: $blue-color
  color: #fff
  &:focus, &:hover
    color: #fff
    outline: 5px auto #fff
.flex-box
  display: flex
.flex-box-child
  display: flex
  justify-content: center
.history-table-container
  border: 1px solid #dcdee3
ul.history-info-table
  list-style-type: none
  border-bottom: 1px dotted #9fa7b5
  &:last-child
    border-bottom: none
  li.history-table-title
    ul
      display: flex
      width: 100%
      background-color: #777777
      li
        padding: 0
        color: #fff
        border-right: $border-box
        display: flex
        min-height: 35px
        justify-content: center
        flex-direction: column
        text-align: center
        &:last-child
          border-right: none
  li.history-table-content
    ul
      display: flex
      background-color: #fff
      width: 100%
      li
        border-right: 1px dotted #9fa7b5
        display: flex
        min-height: 35px
        justify-content: center
        flex-direction: column
        text-align: center
        margin: 10px 0
        font-size: 1rem
        &:not(.level-card)
          color: #000
        &:last-child
          border-right: none
        div.history-table-multi-content-block
          label
            color: #005599
            font-weight: bold
            strong
              color: #000
          span
            display: inline-block
        span.flex-center
          text-align: center
          display: flex
          justify-content: center
      &:not(.extra-link):nth-child(2n)
        background-color: #eee
.popups-ui
  position: fixed
  z-index: 1050
  width: 100%
  height: 100%
  margin-top: -150px
  padding-bottom: 150px
  &.popups-ui-cover
    background: rgba(0,0,0,.6)
  .popups-ui-window
    position: relative
    z-index: 1060
    //padding-top: 150px
    .note.has-error
      color: $dark-red-color
      margin-top: 10px
    .popups-ui-window-close
      position: absolute
      right: 0
      top: 0
      cursor: pointer
      &:hover
        opacity: 0.8

@media (max-width: 922px)
  .popups-ui
    .popups-ui-window
      width: 100%
@media (max-width: 767px)
  .popups-ui
    position: absolute
    .popups-ui-window
      width: 100%
  footer
    .footer-links .title
      padding-top: 15px
      padding-bottom: 0px 
footer
  .container
    span.channelicon
      span
        margin-left: 10px
footer
  .next-row
    div:nth-child(1)
      margin-right: 30px
footer
  .next-row
    div
      margin-right: 10px

@media (max-width: 922px)
  ul.history-info-table 
    li.history-table-content
      ul
        border-bottom: 1px dotted #9fa7b5
        li
          border-right: none

@media all and (max-width: 767px) 
  .col-xs-2-4
    width: 20% !important
  .col-xs-block
    display: block !important
  .col-xs-full
    width: 100% !important
  .checkbox-inline,
  .radio-inline
    margin-left: 0 !important
  #pagetop
    a
      display: none
    i
      display: block
  .bookmark-ui
    position: fixed
    z-index: 8
    &.bookmark-left
      left: 0
      margin-left: -12px
    &.bookmark-top-20
      top: 30%
    .bookmark-icon
      position: relative
      display: block
      width: 40px
      height: 40px
      line-height: 40px
      border-radius: 20px
      background: #e61e25
      color: #fff
      opacity: 0.8
      i
        position: absolute
        top: 13px
        right: 6px
        font-size: 16px

@media (min-width: 768px)
  .next-row
    padding-left: 80px

@media (min-width: 768px) and (max-width: 992px)
  .col-sm-2-4
    width: 20%
  .col-sm-block
    display: block !important
  .col-sm-full
    width: 100% !important

@media (min-width: 992px) and (max-width: 1200px)
  .col-md-2-4
    width: 20%
  .col-md-block
    display: block !important
  .col-md-full
    width: 100% !important
  .form-group > label
    white-space: initial
@media (min-width: 1200px)
  .col-lg-2-4
    width: 20%
  .col-lg-block
    display: block !important
  .col-lg-full
    width: 100% !important

.product-list
  li
    list-style-type: none

.product-grid
  padding: 5px
  text-align: center
  //float: left
  font-size: 0
  .image-link
    display: block
  a
    margin: 0 auto
    figure
      width: 140px
      height: 140px
      vertical-align: middle
      text-align: center
      position: relative
      display: block
      font-size: 0
      margin: 0 auto
    .image-180-180
      width: 180px
      height: 180px
    .image-90-90
      width: 90px
      height: 90px !important
    .image-100-100
      width: 100px
      height: 100px !important
      img
        max-width: 100%
        max-height: 100%
        display: inline-block
        vertical-align: middle
      .sale-off-icon
        position: absolute
        top: 5px
        left: 5px
        color: #fff
        z-index: 2
        height: 26px
        span
          padding: 0 5px
          height: 26px
          background-color: $red-color
          float: left
          line-height: 26px
        &:before
          content: ""
          width: 11px
          height: 26px
          background: url("https://img.webike.tw/shopping/image/bg-sale-off-left.png")
          float: left
        &:after
          content: ""
          width: 11px
          height: 26px
          background: url("https://img.webike.tw/shopping/image/bg-sale-off-right.png")
          float: left
  .title-product-item-top
    font-weight: bold
    display: flex
  .name
    margin-top: 5px
    font-size: $font-size
    text-align: left
  .product-name
    color: #005fb3
  .final-price
    width: 100%
    font-size: 1rem
    font-weight: bold
    text-align: left
    color: $red-color
  .price-old
    margin-top: 5px
    width: 100%
    font-size: 0.85rem
    text-align: left
    text-decoration: line-through
  .normal-text
    margin-top: 5px
    width: 100%
    font-size: 0.85rem
    text-align: left
    word-break: break-all
    word-wrap: break-word
  .bold-text
    margin-top: 5px
    width: 100%
    font-size: 0.85rem
    text-align: left
    font-weight: bold
    word-break: break-all
    word-wrap: break-word
  .icon-star
    float: left
    margin: 0 auto
    padding: 0
    width: 72px
    height: 14px
    background-image: url(https://img-webike-tw-370429.c.cdn77.org/shopping/image/shopping/icon.png)
    background-position: 0 -145px
    display: table
  .star-01
    background-position: 0 -174px
  .star-02
    background-position: 0 -202px
  .star-03
    background-position: 0 -230px
  .star-04
    background-position: 0 -257px
  .star-05
    background-position: 0 -285px
  .icon-star-text
    margin: -2px 0 0 5px
    float: left


.product-grid-col-2
  width: 33.333%
  font-size: 0
.product-grid-left
  display: inline-block
  vertical-align: middle
  width: 45%
      /* padding-right: 2% */
.product-grid-right
  padding: 0 0 0 5px
  overflow: hidden
  display: inline-block
  vertical-align: middle
  width: 55%
.product-grid-ranking
  margin: 0 auto
  a
    margin: 0 auto
    margin-bottom: 5px
    height: 130px
    width: 130px
    display: table-cell
    vertical-align: middle
    border: #CCC 1px solid
    text-align: center
    position: relative
  img
    max-width: 100%
    max-height: 100%
  span
    margin: 0 0 0 43px
  a span
    padding: 1px 5px
    position: absolute
    top: 0
    left: 0
  .lank
    background-image: url(https://img-webike-tw-370429.c.cdn77.org/shopping/image/shopping/icon.png)
    background-position: -153px -66px
    padding: 5px 0 0 0
    margin: 35px 0 0 0
    width: 43px
    height: 33px
    float: left
    text-align: center
    font-weight: bold
    color: #fff
  .lank-01
    margin: 35px 0 0 0
    width: 43px
    height: 33px
    float: left
    text-align: center
    padding: 13px 0 0 0
    font-weight: bold
    color: #fff
    background-position: left 1px
  .lank-02
    margin: 35px 0 0 0
    width: 43px
    height: 33px
    background-image: url(https://img-webike-tw-370429.c.cdn77.org/shopping/image/shopping/icon.png)
    float: left
    text-align: center
    padding: 13px 0 0 0
    font-weight: bold
    color: #fff
    background-position: left -33px
  .lank-03
    margin: 35px 0 0 0
    width: 43px
    height: 33px
    background-image: url(https://img-webike-tw-370429.c.cdn77.org/shopping/image/shopping/icon.png)
    float: left
    text-align: center
    padding: 13px 0 0 0
    font-weight: bold
    color: #fff
    background-position: left -66px

.motor-product-box
  .image-box
    width: 140px
    margin: 0 auto
    display: block
    padding: 0
  .content
    width: 140px
    margin: 0 auto
    text-align: left
    .manufacturer
      margin-top: 5px
      font-size: .85rem
      color: #005fb3
    .name
      font-size: 1rem
      font-weight: bold
      color: #005fb3
    .seller
      font-size: .85rem
    .price
      font-size: 1rem
      color: #005fb3
    .price.number
      font-weight: bold
      color: #e83a3f
    .motor-product-box
      ul
        li
          list-style: none
          text-align: left
/*ranking*/
.ranking-left-container
  .btn-my-bike
    float: none
    margin: 0px 10px

  .btn-my-bike-container
    &:hover
      .show-my-bike
        display: block !important
        left: 24px
.ranking-tabs
  &.ct-menu-brand-top-page2
    display: block
    margin-bottom: 10px
    .ul-menu-brand-top-page
      padding: 0
      li
        padding: 0px 2px 0px 2px
        a
          font-size: 1rem
          line-height: 40px
          padding: 5px 10px
          &.navbar-active
            font-weight: $font-weight-wide
.ranking-filter
  .arrange-text
    li
      float: left
      border-right: 1px solid #ccc
      padding: 5px
      font-size: 1rem
    li:nth-child(1),li:nth-child(2),li:nth-child(5),li:nth-child(6)
      border: none
  .search-container
    background-color: #efefef
    ul
      li
        float: none !important
        display: inline-block !important

.ct-right-below.ranking-container
  white-space: nowrap
  .ranking-product-detail
    display: inline-block
    vertical-align: middle
    width: 95%
    .product-detail
      padding: 0 10px !important
  .ct-right-below-body
    .product-item
      .tags
        height: 120px
      .ranking-sell-info
        text-align: center
      .icon-star-container
        display: block
        .icon-star-element
          display: block
          text-align: center
    .product-item-style-2
      ul.product-description
        white-space: initial
      .product-img
        float: left
        width: auto
        margin: 0
        .thumbnail
          display: block
      .product-detail
        width: 100%
        .product-info-search-list
          padding: 10px 10px 10px 0
          height: 100%
          .product-name
            height: auto
          label.price
            margin: 20px 0
          .tags
            height: auto
        .dotted-text3
          white-space: initial
        .product-state-search-list
          height: 100%
          padding-left: 15px
          .vertical-middle
            display: inline-block
            vertical-align: middle
            width: 100%
  .ranking-sell-info
    span
      display: inline-block !important
      padding: 0 10px
    .btn-gap-top
      margin-top: 10px !important
  .product-grid-ranking
    display: inline-block
    vertical-align: middle
    width: 5%
    padding: 0 10px
    [class*="lank-"]
      margin: 0px !important
    .helper
      width: 0px
      margin: 0px
@media(max-width: 768px)
  .ct-right-below.ranking-container
    .ct-right-below-body
      .product-item
        .tags
          height: 60px
    .ranking-product-detail
      width: 100%
    .product-grid-ranking
      display: block
      margin-top: 10px
      width: auto
      p
        float: none !important
        display: block
        margin: 0 auto !important
  .ranking-filter
    .select2-container
      width: 100% !important
      margin-top: 10px
  footer
  .next-row
    div
      text-align: center