/*** Content Top Page **

.content-top-page
  margin: 130px 0 0 0

.container-top-page
  position: relative

.col1-ct
  width: 100%
  float: left

.col2-ct
  margin: 0
  padding: 0
  width: 100%
  float: left

.col3-ct
  width: 100%
  float: right

.menu-left
  margin: 0
  padding: 0
  list-style-type: none
  li
    margin: 5px 0
    padding: 0
    a
      color: #333333
      &:hover
        color: #004684
        text-decoration: none
      span
        float: left
      img
        margin: 0 0 5px 0
        float: left
      h3
        margin: 3px 0 0 0
        padding: 0
        font-family: $font-stack-title
        float: left
        position: relative
        img
          width: auto

.menu-left-mobile
  margin: 0px 0 15px 0
  padding: 0
  background-color: #e61e25
  z-index: 3
  float: left
  li
    padding: 0
    list-style-type: none
    text-align: center
    float: left
    img
      margin: 5px 20% 0
      max-width: 53px
      width: 60%
    h3
      margin: 5px 0
      color: #fff
      p
        display: inline-block
        vertical-align: middle


/** Populz zar Bike Model *

.populz-zar
  margin: 10px 0
  padding: 0
  width: 100%
  list-style-type: none
  float: left
  li
    padding: 5px
    width: 50%
    float: left
    span
      margin: 0 5px 0 0
      padding: 1px
      border: 1px solid #595959
      min-width: 20px
      text-align: center
      font-size: $font-size
    a
      display: block
      margin-top: 2px
      word-break: break-all
      word-wrap: break-word
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis

/** 2016 MotoGP Ranking *

.Ranking-motogp
  margin: 10px 0
  padding: 0
  width: 100%
  list-style-type: none
  li
    padding: 2px 0px
    width: 100%
    a
      width: 100%
      position: relative
      float: left
    label
      height: 35px
      min-width: 35px
      line-height: 35px
      z-index: 2
      font-weight: normal
      position: relative
      float: left
    img
      width: 35px
      height: 35px
      z-index: 2
      position: absolute
      top: 0
      left: 35px
    span
      padding: 0 0 0 40px
      height: 35px
      width: 100%
      background-color: #57585b
      color: #ffffff
      position: absolute
      line-height: 35px
      top: 0
      left: 0
      z-index: 1

/** Icon news*

.meta-ct
  float: left
  li
    height: 26px
    clear: both
    float: right
  .comments a i
    color: #fff
    float: right

.comments-show
  margin: 0 10px 0 0
  padding: 5px 20px
  background-color: #ffffff
  text-decoration: none
  border-radius: 2px
  float: right
  display: none

.meta-ct
  .comments:hover
    .comments-show
      transition: all .3s ease
      display: block
    a i, .comments-show
      transition: all .3s ease
      color: #669900 !important
  .share .icon-share
    color: #c0c3ca
    cursor: pointer
    float: right

.share-show
  margin: 0 10px 0 0
  width: 105px
  padding: 0
  background-color: #ffffff
  text-decoration: none
  border-radius: 2px
  overflow: hidden
  float: right
  display: none
  li
    width: 100%
    list-style-type: none
    float: left
    a
      padding: 5px 10px
      width: 100%
      float: left
      &:hover
        background-color: #f5f5f5
      span
        float: left
      i
        margin-top: 3px
        float: right

.meta-ct .share:hover
  .share-show
    display: block
    transition: all .3s ease
  .icon-share
    color: #1383cf
    transition: all .3s ease

/** Post News*

.post
  position: relative

.entry-meta
  position: absolute
  top: 10px
  right: 10px

.entry-thumbnail
  position: relative
.entry-thumbnail-top
  position: relative
  a
    img
      width: 100%
      height: 100px
      object-fit: contain
.bg-post-content
  position: absolute
  width: 100%
  height: 100%
  -moz-box-shadow: inset 0 0 220px #000000
  -webkit-box-shadow: inset 0 0 220px #000000
  box-shadow: inset 0 0 220px #000000
  top: 0
  left: 0

.post-content-top
  padding: 10px 20px
  position: absolute
  bottom: 0
  left: 0
  background: rgba(0, 0, 0, 0.6)

.entry-title-top a
  color: #fff !important
  text-decoration: none
  &:hover
    text-decoration: underline

.entry-content-top
  color: #fff !important

.small-post
  margin: 5px 0 0 0
  padding: 0 12px

.small-post-ct
  padding: 0 3px 5px

.entry-title-top-small
  color: #333333
  margin-top: 5px
  margin-bottom: 5px
  &:hover
    color: #324fe1
    text-decoration: none

.thumbnail-below-post
  padding: 0

.btn-category
  padding: 3px 5px

.title-content-below-post
  margin: 0 0 5px
  float: left

.content-below-post
  span
    float: left
  .post-tag
    margin-bottom: 5px

.ct-below-post
  width: 100%
  margin: 15px 0
  float: left

.static-banners-fix
  margin: 0
  float: left

.entry-meta-2
  position: absolute
  top: 0
  right: 0
  z-index: 2
  .meta-ct
    .comments a
      i
        color: #c0c3ca
      .comments-show
        -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.19)
        -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.19)
        box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.19)
    .share .share-show
      -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.19)
      -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.19)
      box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.19)

/** Also like *

.also-like
  width: 100%
  float: left
  display: none

.title-also-like
  width: 100%
  float: left
  position: relative
  h3
    padding: 10px 0
    font-weight: bold
    float: left

.ct-also-like
  padding: 0 !important

.btn-close-also-like
  top: 10px !important

.title-box
  margin: 0
  padding: 5px 0
  width: 100%
  background-color: #202732
  color: #fff
  font-weight: normal
  border-top-left-radius: 2px
  border-top-right-radius: 2px
  float: left
.content-box
  padding-right: 5px
  padding-left: 5px
  border: 1px solid #e7e7e7
  background-color: #f5f5f5
  float: left
.content-last-box
  margin-top: 10px
.content-last-block
  margin-top: 20px
.box
  margin-bottom: 10px
.block
  margin-bottom: 20px

/* rewrite google search style */
/* rewrite google search style */

/*** End Content Top Page **
@media all and (max-width: 767px)
  .content-top-page
    margin: 55px 0 0 0
  .content-below-post span.post-content, .post-content-top span.post-content, .col3-ct
    display: none
  .container-top-page
    padding-top: 10px
  .menu-left-mobile
    bottom: 0
    position: fixed
    margin-bottom: 0

/*** Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. **
@media all and (min-width: 768px) and (max-width: 921px)
  .col1-ct
    width: 35px !important
    position: absolute
    top: 0
    left: 15px
    z-index: 2
    height: 100%
  .menu-left
    width: 35px
    position: fixed
  .col2-ct
    margin: 0
    padding: 0 295px 0 65px !important
    width: 100% !important
    float: left
  .col3-ct
    width: 250px !important
    position: absolute
    top: 0
    right: 15px
  .menu-left li a h3, .content-below-post span.post-content
    display: none

/*** Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. **
@media only screen and (min-width: 922px)
  .col1-ct
    width: 200px !important
    position: absolute
    top: 0
    left: 15px
    z-index: 2
    height: 100%
  .menu-left
    width: 160px
    position: fixed
  .col2-ct
    margin: 0
    padding: 0 329px 0 191px !important
    width: 100% !important
    float: left
  .col3-ct
    width: 300px !important
    position: absolute
    top: 0
    right: 15px

