@import "mixins"
@import "variables"

.ct-brand-left-part
  width: 200px
.ct-brand-right-part
  padding-left: 20px

.brand-table-container
  width: 100%
  margin-bottom: 20px
  overflow: hidden
  border: $border-box
ul.brand-info-table
  list-style-type: none
  li.history-table-title
    ul
      display: flex
      width: 100%
      background-color: #777777
      li
        padding: 0
        color: #fff
        border-right: $border-box
        display: flex
        min-height: 35px
        justify-content: center
        flex-direction: column
        text-align: center
        &:last-child
          border-right: none
  li.brand-table-content
    ul
      display: flex
      background-color: #fff
      width: 100%
      border-bottom: $border-box
      &:last-child
        border-bottom: none
      li
        color: #000
        border-right: 1px solid #9fa7b5
        display: flex
        //min-height: 35px
        justify-content: center
        flex-direction: column
        text-align: center
        margin: 5px 0
        font-size: 16px
        &:last-child
          border-right: none
        div.history-table-multi-content-block
          label
            color: #005599
            font-weight: bold
            strong
              color: #000
          span
            display: inline-block
            padding-left: 20px
        span
          text-align: center
          display: flex
          justify-content: center
      li.table-content-title
        margin: 0 !important
        border-right: none
        background-color: #efefef !important
        position: relative
        > span
          justify-content: flex-start
          padding: 20px 0

/**
 *  Color
 */
.blue-0066c0
  color: #0066c0

.bold
  font-weight: bold
/**
 *  Element
 */
.ul-menu-ct-box-page-group-select
  li
    border: none !important
    width: 100%
  li.ct-box-page-group-title-text
    text-align: center

.select2-container
  margin-bottom: 10px

.ul-menu-ct-box-page-group-ranking
  li
    width: 100%
    padding: 10px 0 15px 0
    border-bottom: $border-box
    border-top: none !important
    &:last-child
      border-bottom: none
    a
      float: none !important
  .btn-brand-ranking
    height: 20px
    display: inline-flex
    flex-direction: column
    justify-content: center
  .ranking-label
    background-color: #136ec3
    color: #fff !important
    border-radius: 2px
    text-align: center
    margin: 0 0 5px 20px
  .ranking-image
    width: 100%
    height: 140px
    text-align: center
    display: table
    overflow: hidden
    figure
      width: 140px
      height: 140px
      display: table-cell
      vertical-align: middle
      text-align: center
      &:hover
        border: $border-box
      img
        max-width: 140px
        max-height: 140px
  .ranking-text-disc
    width: 100%
    text-align: center
    margin-bottom: 5px
  .ranking-rating
    margin: 0 20px
    span
      margin: 0
      float: left

/**
 *  Right Content
 */
.brand-table-content
  .table-content-list
    padding-left: 0
    ul
      display: inline-block !important
      li
        float: left
        margin-bottom: 15px
        padding: 0 10px
        a
          font-size: 0.85rem
  .table-content-tag
    margin: 15px 0 10px 0 !important
    ul
      display: inline-block !important
  .table-content-list-autowidth
    display: inline-block !important
    background-color: #7d8ca1
    width: auto
    height: 25px !important
    min-height: 25px !important
    margin: 0 5px 5px 0 !important
    border-radius: 2px !important
    float: left !important
    .table-content-tag-item
      display: inline-flex !important
      padding-left: 5px
      width: 100%
      height: 25px
      span
        float: left
        font-size: 0.85rem
        color: #fff
        flex-direction: column
      a
        width: 25px
        height: 25px
        text-align: center
        color: #fff
        float: right
        &:hover
          color: #000

.table-brands
  .table-brands-title
    width: 100%
    background-color: #2d3644
    color: #fff
    margin-bottom: 10px
    padding: 5px 0 5px 15px
    border-radius: 2px
  .table-brands-list
    list-style-type: none
    width: 100%
    display: inline-block
    .table-brands-item
      width: 12.75%
      float: left
      margin-right: 15px
      margin-bottom: 50px
      a.item-title
        word-break: break-all
        word-wrap: break-word
      .table-brands-logo
        width: 100%
        display: table
        overflow: hidden
        margin-bottom: 10px
        a
          display: table-cell
          vertical-align: middle
          text-align: center
          figure.is-hover-border
            //border: 1px solid #b6b6b6
            &:hover
              border: 1px solid #b0b0b0
              transition: all 0.1s ease

/*******************************BRAND DISPLACEMENT INDEX*********************************************/
.page-left-part
  width: 200px
.page-right-part
  width: 200px
  float: right !important
.page-main-part
  padding: 0 20px
  margin: 0 0 15px 0

.brand-moto-table
  border: $border-box
  width: 100%
  overflow: hidden
  .brand-moto-table-title
    background-color: #7e7e7e
    color: #fff
    width: 100%
    overflow: hidden
    padding: 10px 0 10px 15px
    text-align: center
  .brand-moto-table-content
    ul
      width: 100%
      list-style-type: none
      li
        width: 100%
        float: left
        padding: 0 15px
        line-height: 40px
        .brand-moto-table-content-left
          padding: 8px 5px 8px 0
          color: #000
        .brand-moto-table-content-right
          padding: 8px 5px
          color: #0066c0
          h3.float-left
            float: left
          h3.float-right
            float: right
        &:nth-child(2n) .brand-moto-table-content-right
          background-color: #efefef
.ul-menu-ct-box-page-group-displacement
  text-align: center
.blank-box-page-group
  border: none
  margin-bottom: 10px !important
  @include box-shadow(none)
  ul.ul-menu-ct-box-page-group
    padding: 0 !important
    li
      border: none !important
      a
        padding: 0 0 7px 0 !important

/**
 *  MOBILE LAYOUT
 */
@media all and (max-width: 767px)

  /**Brand Index*/
  .ct-brand-left-part
    width: 100%
  .ct-brand-right-part
    width: 100%
  .table-brands
    ul.table-brands-list
      .table-brands-item
        text-align: center
        width: 45%

  /**Moto Displacement Index*/
  .page-left-part
    width: 100%
    .brand-moto-disp-banner
      ul
        li
          display: flex
          justify-content: center
  .page-right-part
    width: 100%
  .page-main-part
    width: 100%


/**
 *  TABLET LAYOUT
 *
 *  481px to 768px.
 *  Inherits styles from: Mobile Layout.
 */
@media all and (min-width: 768px) and (max-width: 921px)

  /**Brand Index*/
  .ct-brand-left-part
    width: 100%
  .ct-brand-right-part
    width: 100%
  .table-brands
    ul.table-brands-list
      .table-brands-item
        text-align: center
        width: 25%

  /**Moto Displacement Index*/
  .page-left-part
    width: 100%
  .brand-moto-disp-banner
    ul
      li
        display: flex
        justify-content: center
  .page-right-part
    width: 100%
  .page-main-part
    width: 100%