@import "mixins"
@import "variables"

.cart-page-detail-left
  width: 200px
  float: right !important
.cart-page-detail-right
  padding: 0 20px 0 0
@media (max-width: 992px)
  .cart-page-detail-right
    padding: 0
.title-box-cart-page-detail
  text-align: center
  h3
    float: none !important
.ct-item-product-grid-car-page
  padding: 10px
  width: 100%
  float: left
// All product items
.item-product-grid
  padding: 10px 19px
  text-align: center
  float: left
  list-style-type: none
  a
    margin: 0 auto
    figure
      width: 140px
      height: 140px
      display: table-cell
      vertical-align: middle
      border: #CCC 1px solid
      text-align: center
      position: relative
      img
        max-width: 100%
        max-height: 100%
      .sale-off-icon
        position: absolute
        top: 5px
        left: 5px
        color: #fff
        z-index: 2
        height: 26px
        span
          padding: 0 5px
          height: 26px
          background-color: $red-color
          float: left
          line-height: 26px
        &:before
          content: ""
          width: 11px
          height: 26px
          background: url("https://img.webike.tw/shopping/image/bg-sale-off-left.png")
          float: left
        &:after
          content: ""
          width: 11px
          height: 26px
          background: url("https://img.webike.tw/shopping/image/bg-sale-off-right.png")
          float: left

  .title-product-item
    margin-top: 5px
    width: 100%
    float: left
  .price
    font-weight: bold
.btn-see-detail-peoduct
  margin: 10px 0 0 0
  width: 100%
  border: 1px solid $red-color
  color: red
  &:hover
    background-color: $red-color
    color: #fff
    border: 1px solid $red-color
// End All product items
.item-product-grid-car-page
  border-bottom: $border-box
  a
    text-align: center
  label
    text-align: center
.item-product-grid-car-page:last-child
  border-bottom: none

.history-table-container
  width: 100%
  overflow: hidden
  border: $border-box
ul.history-info-table
  list-style-type: none
  li.history-table-title
    ul
      display: flex
      width: 100%
      background-color: #777777
      li
        padding: 0
        color: #fff
        border-right: $border-box
        display: flex
        min-height: 35px
        line-height: 35px
        justify-content: center
        flex-direction: column
        text-align: center
        font-size: 1rem
        &:last-child
          border-right: none
  li.history-table-content
    ul
      display: flex
      background-color: #fff
      width: 100%

      &.gifts-cart-ui
        border: 3px $background-blue-color solid
        position: relative
        .cover-box
          display: block
          position: absolute
          left: 0%
          top: 0%
          width: 100%
          height: 100%
          background: $background-blue-color
          opacity: 0.3
          z-index: 100
        .center-btn
          position: absolute
          vertical-align: middle
          z-index: 101
          top: 50%
          left: 50%
          transform: translateX(-50%) translateY(-50%)
          opacity: 1
          .btn
            padding: 5px 60px !important
      li
        color: $font-color
        border-right: 1px dotted #9fa7b5
        display: flex
        min-height: 35px
        line-height: 35px
        justify-content: center
        flex-direction: column
        text-align: center
        margin: 0
        font-size: 1rem
        &:last-child
          border-right: none
        h3
          margin-bottom: 10px
          text-align: left
        div.history-table-multi-content-block
          label
            color: #005599
            font-weight: bold
            strong
              color: #000
          span
            display: inline-block
            padding-left: 20px
        span
          text-align: center
          justify-content: inherit
        &:first-child
          font-size: $font-size
          text-align: left
          span
            text-align: left
      &:nth-child(2n)
        background-color: #eee
      .cover-box
        display: none
  .row
    margin-right: -5px
    margin-left: -5px
  [class^=col-]
    padding: 5px
@media (max-width: 992px)
  ul.history-info-table
    li.history-table-content
      ul
        &.gifts-cart-ui
          .center-btn
            padding: 5px 10px !important
        li
          border-right: 0
          &:last-child
            border-bottom: 1px dotted #9fa7b5
            padding-bottom: 10px
        &:last-child
          li
            &:last-child
              border-bottom: 0


.history-transparent-box
  background-color: #fff
  width: 100%
  margin-bottom: 20px
  overflow: hidden
.history-gray-box
  background-color: #efefef
  width: 100%
  margin-bottom: 20px
  padding: 15px
  -webkit-border-radius: 2px
  -moz-border-radius: 2px
  border-radius: 2px
.history-btn-submit
  float: right
  display: flex
  justify-content: center
  flex-direction: column
.history-btn-title
  @extend .history-btn-submit
  background-color: #ff6600 !important
  color: #fff
  margin-left: 5px
  &:hover
    background-color: #ac2925 !important
    border-color: #ac2925

/**
 *  Right Content - History Estimate List page
 */
.history-box-border
  border: $border-box
  padding: 15px
  i
    color: #008c2e
  h3 span
    color: $red-color
.history-form-head-box
  width: 70%
  h3
    width: 50%
    float: left
    display: inline-block
.history-multi-content-estimate
  padding: 0
  div.history-content-estimate-block
    display: flex
    div.history-content-img
      padding: 0 15px
      display: table
      a
        display: table-cell
        vertical-align: middle
        text-align: center
        width: 87px
        height: 87px
        img
          max-width: 87px
          max-height: 87px
    .history-content-estimate
      text-align: left
      a
        h3
          font-weight: bold
      span
        display: inline-block
        text-align: left
        font-size: 0.85rem
        width: 100%

/**
 *  Right Content - History Estimate Cart
 */

.history-btn-default
  background-color: #f9f9f9
li.history-content-cart-option
  span input
    margin-bottom: 5px
    height: 38px
    width: 100%
    background-color: #fff
    text-align: center


/**
 *  Right Content - History Genuine Parts
 */
li.history-genuine-table-content
  ul li
    span.blue-text
      color: #005599
.history-genuine-submit-block
  text-align: center


/**
 *  Right Content - History Order Detail
 */
li.history-order-detail-table-content
  ul li
    &:nth-child(2)
      span
        color: #005599
        font-weight: bold
ul.history-table-content-resum-block
  li
    &:nth-child(1)
      display: inline-block !important
      text-align: left !important
      span
        display: inline-block !important
    &:nth-child(2)
      padding: 0
      ul
        padding: 10px
        width: 100%
        float: left
        display: inline-block
        li
          width: 100%
          display: inline-block !important
          margin: 0
          border-right: none
          span
            color: #000
            font-size: 1.2em
            font-weight: normal
          span.title
            float: left
          span.value
            float: right
        li.history-content-final-resum
          padding-top: 10px
          border-top: 1px dotted #ddd
          span.history-content-final-price
            float: right
            font-weight: bold
            color: $red-color
.history-btn-submit2
  @extend .history-btn-submit
  background-color: #0165b6
  border: none
  &:hover
    background-color: #aaa
.ct-cart-page-detail-sum
  width: 100%
  float: left
  background-color: $background-header-color
  border-top: $border-box
  .ul-ct-cart-page-detail-sum
    width: 100%
    float: left
    li
      list-style-type: none
.ct-cart-page-detail-sum-right
  border-left: $border-box
  ul
    width: 100%
    float: left
    li
      padding: 10px 0
      width: 100%
      list-style-type: none
      float: left
      label
        font-size: 1rem
        font-weight: bold
        float: left
        &.note
          font-size: $font-size
          font-weight: normal
          color: $red-color
      span
        font-size: 1rem
        float: right
      &:last-child
        border-top: 1px dotted #9fa7b5
.ul-cart-page-detail-sum
  width: 100%
  display: flex
  float: left
  li
    float: left
    list-style-type: none
    padding: 10px
.ct-btn-cart-page-detail-sum
  text-align: right
  margin: 15px 0

.table-page-detail-sum-left
  width: 100%
  float: left
  font-weight: bold
  tr
    margin: 5px 0
    width: 100%
    display: table
    td
      &:nth-of-type(1)
        width: 20%
      &:nth-of-type(2)
        width: 60%
      &:nth-of-type(3)
        width: 20%
    &:nth-of-type(3)
      margin-top: 15px
.div-btn-top-cart-page
  margin: 0 0 10px 0
  padding: 0
  width: 100%
  float: left
  .div-btn-top-cart-page-right
    float: right
    .btn-quotation
      margin: 0 0 0 15px
      width: 200px
      background-color: #0165b6
    .btn-increase-purchase
      border: 1px solid $red-color
      color: red
      &:hover
        background-color: $red-color
        color: #fff
        border: 1px solid $red-color
.ct-btn-secured
  padding: 10px 20px !important
  text-align: center
  a
    margin: 0 auto



/**
 *  MOBILE LAYOUT
 */
@media (max-width: 767px)
  .ct-history-left-part
    width: 100%
    padding: 0 10px
  .ct-history-right-part
    padding: 0 10px

  /* Right Content - History Estimate Cart */
  .history-content-estimate-block
    display: inline-block !important
  .history-btn-default
    padding: 0
  .toggle-content
    border: 1px #b7b7b7 dotted
    padding: 5px

/**
 *  TABLET LAYOUT
 *
 *  481px to 768px.
 *  Inherits styles from: Mobile Layout.
 */
@media all and (min-width: 768px) and (max-width: 921px)
  .ct-history-left-part
    width: 100%
    margin-left: 5px
  .ct-history-right-part
    margin-left: -5px

.cart-image img
  max-height: 148px
  object-fit: contain
  height: 100%
  width: 100%

@media(max-width: 600px)
  .ct-btn-cart-page-detail-sum .cart-checkout
    margin-top: 20px !important

  ul.history-info-table li.history-table-content ul
    background-color: #fff !important
  .cart-image img
    max-height: 103px
  .cart-image-block
    padding: 0px !important

@media(min-width: 600px)
  .fix-height
    height: 183px

  .cart-image-block
    font-size: 0px
    height: 188px

  .cart-image
    display:  inline-block
    vertical-align: middle

  .cart-image .cover
    object-fit: cover
    height: 100%
    width: 100%

  .product-information
    height: 70px
    margin-bottom:  10px

  .full-name
    height: 46px
    overflow: hidden

  ul.history-info-table li.history-table-content ul
    background-color: #fff !important
    border-top: 1px solid rgba(119, 119, 119, 0.3215686274509804)
    padding: 0px !important

  ul.history-info-table li.history-table-content ul li
    border-right: 1px solid rgba(119, 119, 119, 0.3215686274509804) !important

  ul.history-info-table li.history-table-content ul li:last-child
    border-right: none !important

  ul.history-info-table
    border-bottom:  0px

  .qty-modify,.qty-submit
    width: 60% !important

  .delete-product
    background: white
    border: none
    color: #2289d4
    width:  60%

  .sold_out .delete-product
    border: 0px

.option-block
  height: 14px
  overflow: hidden

.sold_out .subtotal,.sold_out .grandtotal
  text-decoration: line-through

.summary-block
  display: -webkit-box
  -webkit-line-clamp: 2
  -webkit-box-orient: vertical
  overflow: hidden
  height: 30px


.sold_out input,.sold_out button
  background-color: rgba(0, 0, 0, 0)
  border: 1px solid rgba(119, 119, 119, 0.3215686274509804)

.sold_out .delivery-block
  color: #e61e25

.model_number,.summary-block,.option-block,.remark
  color: #999
  font-size: 0.75rem !important

.summary-block span
  font-size: 0.75rem !important

.delivery-block
  color: #09C
  font-size: 0.85rem
  overflow: hidden
  height: 38px
  white-space: nowrap

.thumbnail
  border: 0px

.option-block,.option-show
  float:  left

.sold_out .delete-product
  color: #e61e25

ul.history-info-table li.history-table-content ul li h3
  margin-bottom: 0px !important

.estimate_time
  color: #999999
  font-weight: normal


