@import "mixins"
@import "variables"
@import "mobile/pages/basic/_reset"

$color-black1: #222b3f
$color-black2: #29303b
$color-gray1: #4a5360
$color-gray2: #dcdee5
$color-gray3: #f3f4f9
$color-red1: #d82435
$color-red2: #e34149
$color-yellow: #FFD11A

body li
  list-style: none

.all-page
  padding: 50px 0 132px 0

.all-page .f-content
  // height: 150px
  width: 100%
  background: $color-black2
  position: fixed
  bottom: 0
  padding: 5px 20px
  color: #fff
  z-index: 99
  border-top: 1px solid $color-gray1

.all-page .f-content p
  font-size: 0.85rem
  margin-bottom: 3px

.all-page .f-content span
  float: right

.all-page .f-content span .total
  color: $color-red1


.all-page .f-content .button
  padding: 5px 0
  border-top: 1px solid $color-gray2

.all-page .f-content button
  color: $color-black1
  font-size: 1rem
  float: left
  background: $color-gray3
  border: none
  border-radius: 5px
  padding: 7px 10px
.all-page .f-content .f-return
  color: $color-black1
  font-size: 1rem
  float: left
  background: $color-gray3
  border: none
  border-radius: 5px
  padding: 7px 10px

.all-page .f-content button i
  margin-right: 5px

.all-page .f-content .f-send
  background: $color-red2
  color: #fff
  float: right
  width: 50%

.all-page .title p
  text-align: center
  height: 30px
  background: $color-gray2
  font-size: 1.2rem
  padding: 3px
  font-weight: bold

.all-page .content
  padding: 0px 0px 150px 0px

.all-page .content .commodity-list
  margin: 20px 0 0 0
  border-top: $color-red2 solid 1px

.all-page .content .commodity-title
  position: relative
  top: 20px
  background: $color-red2
  width: 30%
  height: 25px
  border-radius: 5px 5px 0 0 

.all-page .content .commodity-title p
  text-align: center
  font-size: 1rem
  padding-top: 3px
  color: #fff

.all-page .content .commodity-list ul li
  background: $color-gray3
  padding-top: 10px
  padding-bottom: 10px
  border-bottom: 2px solid $color-gray2

.all-page .content .commodity-list .left
  padding: 0px 15px
  float: left
  width: 35%
  
.all-page .content .commodity-list img
  height: 100px
  margin: 0 auto
  display: block

.all-page .content .commodity-list .right
  padding: 0 15px 0 0
  height: 80px
  float: left
  width: 65%

.all-page .content .commodity-list .right h2
  font-size: 1rem
  font-weight: bold

.all-page .content .commodity-list .about
  padding: 0 15px 0 0

.all-page .content .commodity-list .about p
  display: inline-block

.all-page .content .commodity-list .about .price
  float: right

.all-page .content .commodity-list .total
  background: $color-gray3
  border-bottom: 2px solid $color-gray2
  padding: 0 15px

.all-page .content .commodity-list .total p
  line-height: 1.6


.all-page .content .commodity-list .total .point
  border-bottom: 2px solid $color-gray2
  padding: 5px 0

.all-page .content .commodity-list .total .total-price
  padding: 5px 0

.all-page .content .commodity-list .total .total-price span
  float: right

.pay-check
  margin: 30px 0 0 0

.pay-check .pay-check-total
  margin: 5px auto
  display: block
  width: 25%

.pay-check .pay-check-total h2
  text-align: center
  font-weight: bold

.pay-check ul 
  background: $color-gray1
  padding: 5px 10px

.pay-check ul li
  float: left
  width: 60px
  margin: 0 2.5%
  @media all and (max-width: 480px)
    margin: 0 4.8%
  @media all and (max-width: 375px)
    margin: 0 4%
  @media all and (max-width: 360px)
    margin: 0 3.6%
  @media all and (max-width: 320px)
    margin: 0 2.5%
  
  
.pay-check ul li div
  height: 61px
  background: $color-gray3
  border-radius: 50px

.pay-check ul li div.active

.pay-check ul li div img
  width: 80%
  margin: 10%

.pay-step
  margin: 20px 0

.pay-step ul li
  background: $color-red2
  border-bottom: 1px solid $color-gray3
  padding: 5px

.pay-step ul li p
  display: inline-block
  font-size: 1.2rem
  color: #fff
  margin: 0 10px

.pay-step ul .checkAgree-content
  background: $color-gray2
  padding: 10px

.pay-step ul .remark-content
  background: $color-gray2
  padding: 10px

  textarea
    width: 100%
    height: 100px
    padding: 5px
    border-radius: 3px

.pay-step ul .checkAgree-content p
  font-size: 1rem 
  color: black
  display: inline-block
  padding: 3px 5px

.pay-step ul .checkAgree-content .contact-detail
  float: right
  color: #005fb3
  line-height: 2

.pay-step ul .checkAgree-content .contact-detail i
  padding: 5px

.pay-step ul form
  padding: 5px 10px

.pay-step ul .remark textarea
  resize: none
  width: 100%
  height: 100px
  padding: 5px
  border-radius: 3px

.pay-step .pay-method
  width: 100%

.pay-step
  ul
    .pay-method
      a
        .fa-chevron-right
          transition: 0.5s
        .fa-chevron-right.open
          transform: rotate(90deg)
          transition: 0.5s
    .pay-receipt
      a
        .fa-chevron-right
          transition: 0.5s
        .fa-chevron-right.open
          transform: rotate(90deg)
          transition: 0.5s
    .pay-address
      a
        .fa-chevron-right
          transition: 0.5s
        .fa-chevron-right.open
          transform: rotate(90deg)
          transition: 0.5s
    .checkAgree-content
      input[type=checkbox]
        height: 15px
        width: 15px

    .pay-method-content
      padding: 0
      background: #fff
      .pay-method-bt-box
        a
          position: absolute
          bottom: -40px
          right: 8px

      .pay-method-bt-box
        padding: 0 10px
        margin: 10px 0
      button
        width: 47%
        height: 35px
        border: none
        background: $color-gray2
        border: 1px solid $color-gray1
        border-radius: 5px
        margin: 5px 1% 35px 1%
      button.open
        background: #21aa93
        color: #fff
        border: 1px solid #21aa93
      span
        color: #318acc

      i
        color: #318acc
        font-size: 0.85rem
        float: none
      .pay-method-bt
        position: relative
        display: inline

    .pay-method-credit-card
      padding: 10px
      background: $color-gray2
      display: none
      span
        display: block
        text-align: center
      button
        width: 94%
        margin: 5px 2%
        background: #fff
        color: $color-gray1
      a
        color: #318acc
        float: right
        margin: 5px 10px
      p
        color: $color-gray1
        font-size: 0.8rem
        text-align: justify
        padding: 5px 0 0 0
        margin: 0 5px
      .pay-method-credit-card-L
        width: 50%
        float: left
        span
          color: #000
      .pay-method-credit-card-R
        width: 50%
        float: left
        span
          color: #000
      .layaway-payment-pre-area
        span
          text-align: left
          display: initial

.pay-receipt-content
  // background: #fff !important
  padding: 0px !important
  .pay-receipt-bt-box
    padding: 5px 10px
    background: #fff
    button
      width: 100%
      background: $color-gray2
      border: 1px solid $color-gray1
      border-radius: 5px
      padding: 7px
      margin: 5px 0
    .open
      background: #21aa93
      color: #fff
      border: 1px solid #21aa93
  
  .pay-receipt-mail-green
    padding: 10px
    background: $color-gray2
    input
      border: none
      border: 1px solid #aaa
      border-radius: 3px
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1)
      padding: 5px 10px
      margin: 5px 0
      width: 100%
    p
      font-size: 0.85rem
      color: #000
      margin: 0
    span
      font-size: 0.85rem
      color: #21aa93
      margin: 0
    a
      color: #318acc

  .pay-receipt-donate
    display: none
    padding: 10px
    background: $color-gray2
    .pay-receipt-radio
      position: relative
      margin-bottom: 5px
      input[type=radio]
        width: 20px
        height: 20px
        margin: 0 10px
    .pay-receipt-radio
      span
        font-size: 1rem
        position: absolute
        top: 0
    h3
      font-size: 1rem
    .pay-receipt-mail
      border-top: solid 1px #fff
      padding-top: 10px 
      input
        border: none
        border: 1px solid #aaa
        border-radius: 3px
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1)
        padding: 5px 10px
        margin: 5px 0
        width: 100% 
      span
        font-size: 0.85rem
        color: #21aa93
        margin: 0
      p
        font-size: 0.85rem
        color: #000
        margin: 0
      a
        color: #318acc


  .pay-receipt-input
    display: none
    padding: 10px
    background: $color-gray2
    input
      border: none
      border: 1px solid #aaa
      border-radius: 3px
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1)
      padding: 5px 10px
      margin: 5px 0
      width: 100%
    .pay-receipt-mail
      margin-top: 5px
      padding-top: 10px 
      border-top: solid 1px #fff
      p
        font-size: 0.85rem
        color: #000
        margin: 0
      span
        font-size: 0.85rem
        color: #21aa93
      a
        color: #318acc

.pay-address-content
  padding: 10px
  p
    margin: 5px 0 0 0
    i
      color: $color-red2
  input
    border: none
    border: 1px solid #aaa
    border-radius: 3px
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1)
    padding: 5px 10px
    margin: 5px 0
    width: 100%
  button
    width: 30.333%
    background: $color-gray2
    border: 1px solid $color-gray1
    border-radius: 5px
    padding: 7px
    margin: 5px 1%
  .pay-address-time.open
    background: #21aa93
    color: #fff
    border: 1px solid #21aa93
  textarea
    resize: none
    width: 100%
    height: 100px
    padding: 5px
    margin: 5px 0
    border-radius: 3px
  .pay-address-place
    padding-top: 5px
    .row
      margin-right: -5px
      margin-left: -5px
    input
      margin: 0px
    .form-group
      margin-bottom: 0px
      padding-right: 5px
      padding-left: 5px
      select
        -webkit-appearance: button
        -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1)
        -webkit-padding-end: 20px
        -webkit-padding-start: 2px
        background-image: url('../../../image/15xvbd5.svg')
        background-position: 97% center
        background-repeat: no-repeat
        border: 1px solid #AAA
        color: #555
        font-size: inherit
        overflow: hidden
        padding: 5px 10px
        text-overflow: ellipsis
        white-space: nowrap
        border-radius: 3px
        background-color: #fff
        margin-right: 1.2%


.navFixed
  z-index: 10  
  position: fixed   
  top: 50px
  left: 0
  margin-top: 0
  min-width: 100%
  opacity: 0.9
  transition: opacity .5s ease-out

.pay-check-content
  .active
    display: none

.swal2-modal a
  color: #005fb3

.option-style1-title
  padding: 5px

#pagetop
  display: none