@import "mixins"
@import "variables"

/**
 *  Standard Layout
 */
/* Navigation */
#mainNav
  background-color: #fff
  @include box-shadow(5px 0 5px #e4e4e4)
  .nav-left-block
    padding: 0
    .nav-left-title
      border-bottom: $border-box
      padding: 10px 0
      width: 98%
    .nav-left-below
      padding: 15px 0
      a
        float: left
        text-align: center
      h1
        padding: 30px 0 0 20px
        float: none
        width: auto
        overflow: hidden
  .nav-right-secured
    padding: 10px 0
    ul>li
      a.logo-secured-img
        text-align: center
/* --navigation */

/* Main content */

.breadcrumb-container
  padding: 0
  position: relative

ul.table-cart-info
  list-style-type: none
  border: $border-box
  margin-top: 15px
  padding: 0
  li
    padding: 5px 5px
    [class*=col-]
      padding-left: 5px
      padding-right: 5px
    .row
      margin-left: -5px
      margin-right: -5px
  &>li
    float: left
    width: 100%
  li.table-cart-title
    background-color: #787878
    ul
      display: flex
      li
        list-style: none
        line-height: 2.5em
        text-align: center
        vertical-align: middle
        border-right: 1px dotted #fff
        color: #fff
        &:last-child
          border-right: none
  li.table-cart-content
    ul.table-cart-item
      float: left
      width: 100%
      display: flex
      // justify-content: center
      border-bottom: 1px dotted #dcdee3
      li
        display: flex
        justify-content: center
        flex-direction: column
        text-align: center
        list-style: none
        line-height: 3em
        border-right: 1px dotted #dcdee3
        &:last-child
          border-right: none
        &:nth-child(2)
          text-align: left
      h2.checkout-product-name
        color: #005599
      &:nth-child(2n)
        background-color: #efefef
  li.table-cart-resum
    background-color: #efefef
    ul
      li
        list-style: none
        float: left
        padding: 0
        &.table-cart-resum-left
          h3
            padding: 15px 0 0 15px
        &.table-cart-resum-right
          border-left: $border-box
          ul
            li
              width: 100%
              padding-top: 15px
              div.resum-title
                float: left
                padding-left: 15px
              div.resum-value
                float: right
                padding-right: 15px
              &.resum-final-value
                border-top: 1px dotted #dcdee3
              &:last-child
                margin: 0 0 15px
@media (max-width: 767px)
  ul.table-cart-info
    li.table-cart-resum
      ul
        li
          &.table-cart-resum-left
            padding-bottom: 10px
            border-bottom: $border-box
          &.table-cart-resum-right
            border-left: none

div.checkout-options
  padding: 0
  margin: 15px 0 15px 0
  border: $border-box
  background-color: #fef2e1
  div.checkout-options-title
    margin-bottom: 0
  div.checkout-options-content
    background-color: #fef2e1
    display: table
    div.options-content-title
      width: 270px
      padding-left: 20px
      float: none     //Have something here, the parent element "box-fix-with" is floating left
      display: table-cell
      vertical-align: middle
      h2
        display: table-cell
        vertical-align: middle
    div.options-content-main
      border-left: $border-box
      background-color: #fff
      padding-top: 5px
      padding-bottom: 15px
      ul
        list-style-type: none
        li
          float: left
          width: 50%
          padding: 10px 0 0 15px
      &.checkout-option-style1
        ul
          li
            &.option-style1-title
              width: 100%
            span
              color: $red-color
              display: inline-block
            label>h3
              display: inline-block
              color: #005599
      &.checkout-option-style2
        .checkout-option-short-width
          width: 23.5% !important
        .checkout-option-medium-width
          width: 50% !important
        .checkout-option-large-width
          width: 98% !important
        .option-txt-white-box
          background-color: #fff !important
        ul
          li
            width: 100%
            &.checkout-option-txt
              .inline
                label
                  text-align: left
                  display: inline-block
                  margin-bottom: 5px
                  vertical-align: middle
                  line-height: initial
                  float: none
                  span
                    color: $red-color
                    margin-right: 5px
                input[type="text"]
                  border: $border-box
                  width: 60%
                  height: 35px
                  padding: 0 10px
                  display: inline-block
                  vertical-align: middle
                &.inline-top
                  label,
                  input[type="text"],
                  textarea
                    vertical-align: top
            &.checkout-option-txt2
              ul
                li
                  width: 25%
                  float: left
                  padding: 0 10px 0 0
                  input[type="text"]
                    width: 100%
                  &.option-txt-white-box
                    width: 100%
                    padding-top: 10px
                    input
                      background-color: #fff
                  select.select2
                    width: 100%
                  .select2-selection.select2-selection--single
                    height: 35px
                  .select2-selection.select2-selection--single
                    border: $border-box
                    border-radius: 0px
              ul.checkout-option-radios
                li
                  width: 15%
                  float: left
                  input[type="radio"]
                    margin-right: 10px
              label
                text-align: left
          li.checkout-option-policy
            label
              font-weight: bold
              color: $red-color
  textarea
    border: $border-box
    padding: 10px

div.checkout-options.checkout-submit-form
  border: none
  border-top: $border-box
  background-color: #fff
  font-size: 1.5em
  font-weight: bold
  padding-top: 10px
  .checkout-option-return
    float: left
    a
      color: #005599
  button
    float: right
.checkout-ct-main
  margin-top: 0 !important
  h3.checkout-form-notice
    font-weight: bold
    color: $red-color !important
.select2-container--default
  .select2-selection--single
    background-color: #f5f7fa
    border: $border-box
    height: 35px
    line-height: 35px
    .select2-selection__rendered,
    .select2-selection__arrow
      line-height: 35px
      height: 35px
/* --main content */


/**
 *  MOBILE LAYOUT
 */
@media all and (max-width: 767px)
  div.checkout-options
    div.checkout-options-content
      div.options-content-title
        width: 80px
      div.options-content-main.checkout-option-style2
        ul
          li
            width: 98% !important
            margin-top: 10px
          li.checkout-option-txt
            input[type="text"]
              width: 98% !important
            label
              width: 100%
              text-align: left
            div
              float: left
              width: 100%

/**
 *  TABLET LAYOUT
 *
 *  481px to 768px.
 *  Inherits styles from: Mobile Layout.
 */
@media all and (min-width: 768px) and (max-width: 921px)
  div.checkout-options
    div.checkout-options-content
      div.options-content-title
        width: 120px
      div.options-content-main.checkout-option-style2
        ul
          li
            width: 98% !important
            margin-top: 10px
          li.checkout-option-txt
            input[type="text"]
              width: 98% !important
            label
              width: 100%
              text-align: left
            div
              float: left
              width: 100%

@media all and (max-width: 921px)
  .inline
    label,
    input[type="text"]
      display: block
      width: 100%

  div.checkout-options
    div.checkout-options-content
      div.options-content-title
        display: none

  ul.table-cart-info
    li.table-cart-content
      ul.table-cart-item
        display: block

.kjbf
  