@import "variables"
@import "mixins"
@import "reset"

.title-main-box
  margin-bottom: 0
.ct-box-collection
  margin-top: 0
  margin-bottom: 20px
  float: left
.container-box-collection
  padding-top: 10px
  display: inline-block
  width: 100%
.product-item-collection
  border-right: none !important
  margin: 0 0 -1px 0 !important
.ul-list-brand-collection
  width: 100%
  vertical-align: top !important
  float: left
  li
    list-style-type: none
    margin: 5px 0
    float: left
    .active
      padding: 2px 10px
      color: #fff
      background-color: #e61e25
      border-radius: 2px
    a
      border-right: $border-box
      padding: 0 12px
      float: left
    &:last-child
      a
        border-right: none !important
.ct-table-cell
  vertical-align: top
.ul-list-brand-collection-pull
  float: left
  li
    margin: 0 10px
    list-style-type: none
    float: left
    .active
      padding: 2px 10px
      color: #fff
      background-color: $red-color
      border-radius: 2px
.ul-list-brand-collection-pull-right
  float: right !important
.modeling-left
  width: 350px
  float: left
  a
    figure
      width: 350px
      height: 350px
.modeling-right
  padding: 0 0 0 20px
  .sale
    padding: 2px 10px
    color: #fff
    background-color: $red-color
    border-radius: 2px
    float: left
  .title-product-item-model
    font-size: 1rem
    font-weight: bold
  .price
    margin: 0 20px 0 0
    width: auto
    font-size: 1.2rem
  .price-old
    margin-top: 8px
    width: auto
  .infomation
    width: 100%
    float: left
  .point
    padding: 10px
    background-color: #e1e1e1
    width: 100%
    float: left
  .title-product-item
    font-weight: bold
  hr
    width: 100%
    float: left
  .infomation
    margin-bottom: 15px
    width: 100%
    float: left
.ul-related-categories
  padding: 10px 10px 0
  width: 100%
  float: left
  li
    margin-bottom: 15px
    .title-product-item
      margin: 0 auto
      max-width: 140px
      float: none
      display: inherit
.box-brand-introduction
  width: auto
.ct-box-brand-introduction-left
  width: 140px
  height: 140px
.ct-box-brand-introduction-right
  padding: 0 0 0 20px
  .title
    padding-bottom: 10px
    width: 100%
    float: left
    border-bottom: 2px dotted #b4b4b4
    a
      font-weight: bold
  span
    margin-top: 10px
    width: 100%
    float: left

.ul-box-brand-introduction
  li
    margin: 10px 0
    list-style-type: none
    float: left
.ul-box-brand-sagawa
  display: flex
  li
    margin: 0
    list-style-type: none
    float: left
  .ct-box-brand-sagawa
    margin-right: 15px
    padding: 20px
    border: 3px solid $background-header-color
.ul-box-brand-sagawa2
  padding: 10px 0 20px
.box-collection-product-search
  display: inline-block
.ul-box-product-tour
  padding: 7px 12px 0
  width: 100%
  float: left
  li
    list-style-type: none
    padding: 3px
    width: 20%
    float: left
    a
      width: 100%
      padding: 10px
      text-align: center
      background-color: #ffcf19
      border-radius: 3px
      color: #000000
      float: left
      &:hover
        background-color: #ffab19
.ul-box-brand-introduction
  float: left
  margin: -10px 0
.box-sagawa-kentaro
  display: block
.btn-collection-page
  margin: 0 0 30px 0
  .btn
    font-size: 1.2rem
    margin: 0 5px
    border-radius: 2px
.ct-menu-left-collection
  margin: 10px 0
  float: left
.ct-text-big-machine
  padding: 0 10px
  span
    line-height: 14px
    border: 1px solid
.ct-menu-left-collection
  padding: 0 10px !important
.ul-sub2-l
  padding: 0
  width: 100%
  float: left
  .li-sub2-l
    border-top: 1px solid $color-box
    padding: 0
    list-style-type: none
    width: 100%
    float: left
    .ul-sub3-l
      margin-top: -1px
      padding: 0
      width: 100%
      float: left
      .li-sub3-l
        border-top: 1px solid $color-box
        padding: 0
        list-style-type: none
        width: 100%
        float: left
        a
          padding: 0 0 0 20px
          float: left
        .ul-sub4-l
          padding: 0
          width: 100%
          float: left
          .li-sub4-l
            border-top: 1px solid $color-box
            padding: 0
            list-style-type: none
            width: 100%
            float: left
            a
              padding: 0 0 0 30px
              float: left
.ul-btn-collection-menu
  padding: 5px 5px 0 5px
  width: 100%
  float: left
  li
    padding: 5px 5px 0 5px
    list-style-type: none
    float: left
    a
      font-size: 1rem
      padding: 0 5px
      width: 100%
      background-color: #e2e2e2
      border: 1px solid #c7c7c7
      text-align: center
      float: left
      &:hover
        color: #fff
        background-color: $red-color
        border: 1px solid $red-color
.title-main-page-collection
  margin-bottom: 10px