@import "mixins"
@import "variables"

.icon-star-customer
  float: left
  color: red
  font-size: 1.2rem
  line-height: 25px
  margin: 0 5px 0 0
.ul-ct-box-items-group-benefit
  margin: 20px
  width: 100%
  float: left
  li
    margin: 0 0 20px 0
    width: 100%
    list-style-type: none
    text-align: center
    float: left
    a
      img
        max-width: 100%
    p
      max-width: 750px
      clear: both
      margin: 10px auto
      text-align: left
      font-size: 0.85rem

.ct-customer-center-page
  ul
    width: 100%
    float: left
    li
      padding: 0 15px 15px
      list-style-type: none
      text-align: center
      float: left
      span
        // margin-top: 5px
        width: 100%
        text-align: left
        float: left
.btn-customor-center
  padding: 0 !important
  border: none !important
.ct-customor-center
  padding: 0 !important
  border: none !important

.btn-tabs-customer-info
  padding: 0 10px
  width: 100%
  border-bottom: none
  li
    padding: 0 5px 15px !important
    width: 25% !important
    a
      border: 2px solid #2984ba
      border-radius: 4px
      font-size: 1.2rem
      color: $font-color
  .active
    a
      background-color: #046eae !important
      color: #fff!important
      border: none
.tab-ct-customer-center-page
  padding: 0 15px
  display: flex
  .tab-ct-customer-center-page-detail
    margin-bottom: 20px
    padding: 20px
    border: $border-box
    width: 100%
    float: left
    .tab-ct-customer-center-page-detail-left
      .title
        color: $red-color
        border-bottom: 1px solid #b8b8b8
      .tab-ct-bottom-customer-center-page
        margin-top: 10px
        width: 100%
        float: left
        li
          padding: 5px 0
          width: 100%
          float: left
          text-align: left
.tap-ct-create-question
  width: 100%
  float: left

// Customer page
.table-page-customer-question
  tr
    td
      padding: 5px 10px
      .txt-customer-account, textarea
        padding-right: 5px
        padding-left: 5px
        width: 100%
      .txt-customer-account-end
        margin-top: 5px
      &:first-child
        text-align: right
        vertical-align: top
.from-owned-vehicles
  li
    list-style-type: none
    &:last-child
      padding: 0
    .text-day
      line-height: 33px
.title-tap-ct-create-question
  margin-bottom: 10px
  border-bottom: $border-box
.tab-ct-customer-center-question
  border: none !important
  padding: 0 !important
.btn-send-the-query
  float: right
  margin-right: 10px
.text-message-histories
  width: 100%
  padding: 20px 10px
  background-color: #efefef
  float: left
  &.question
    background-color: $light-blue-color
    border: 1px solid $light-blue-border-color
  &.answer
    background-color: $light-yellow-color
    border: 1px solid $light-yellow-border-color
.btn-send-the-query2
  min-width: 150px
  float: right
  padding: 10px 0
  margin: 5px 0 0 0
  border: 1px solid #cbced7 !important
.btn-send-the-query3
  min-width: 150px
  padding: 10px 0
  margin: 5px 0 0 0
  border: 1px solid #cbced7 !important
.btn-send-the-query4
  margin: 5px 10px 0 0
.ct-box-question-categories
  padding: 0 5px
  li
    padding: 10px !important
    .ct-box-question-categories-text
      border: 1px solid #dfe6f0
      width: 100%
      float: left
      border-radius: 5px
      overflow: hidden
      .titlle-box-question-categories
        padding: 7px 10px
        background-color: #046eae
        color: #fff
        text-align: left
        a
          display: block
        h2,
        h3
          a
            color: #fff
      span
        padding: 10px
.tab-ct-customer-center-question-catrgories
  width: auto !important


.history-genuine-table-content-blue
  color: $a-color

.label-sort-question-his
  margin-bottom: 10px
  width: 500px
  float: left
  .label-sort-question-his-name
    float: left
    line-height: 25px
  .label-sort-question-his-box
    width: 300px
    float: left