@import "mixins"
@import "variables"

.box-container-intruction
  margin-bottom: 20px
  width: 100%
  float: left
  .title-main-page
    margin-bottom: 10px
  .title-main-box
    margin-bottom: 0
  .container-intruction-detail
    padding: 15px
    width: 100%
    float: left
    border: $border-box
    .ul-membership
      width: 100%
      float: left
      li
        margin-bottom: 20px
        list-style-type: none
        width: 100%
        float: left
        .title
          padding: 5px 0
          margin-bottom: 10px
          width: 100%
          border-bottom: 1px solid $color-box
          h2
            color: $a-color
            font-weight: bold