@import "mixins"
@import "variables"
.mitumori-left-part
  width: 200px
  float: left
  margin: 0
  padding: 0
.mitumori-right-part
  width: auto
  float: none
  overflow: hidden
  padding: 0 0 20px 20px
  min-height: 200px
  .box-items-group
    border: none
    form.mitumori-form
      div.form-block
        .mitumori-form-block-item
          padding: 25px 35px
          margin: 0
          border: $border-box
          border-bottom: none
          position: relative
          &:last-child
            border-bottom: $border-box
          .mitumori-number
            position: absolute
            left: 25px
            top: 20px
            h1
              margin-top: 5px
          .right-block
            label
              padding-left: 30px
          .below-block
            span
              margin-left: 5px
      div.submit-form
        text-align: center

.box-page-group
  margin-bottom: 15px
  width: 100%
  float: left
  border: 1px solid #e0e6f0
  @include box-shadow(0 1px 2px #e0e6f0)
/* Form mitumori */
.ul-mitumori-form-item-row
  width: 100%
  float: left
  li
    float: left
    padding: 0 0 0 35px
    margin: 5px 0
    list-style-type: none
    float: left
    .mitumori-form-item-row-left
      width: 125px
      float: left
      label
        margin-top: 5px
    .mitumori-form-item-row-right
      input
        padding: 0 10px
        width: 100%
        height: 30px
        float: left
      textarea
        padding: 2px 10px
        width: 100% !important
        float: left
      span
        margin-top: 5px
        padding: 0 10px
        float: left
  label
    line-height: 25px
  .box-fix-column-input-min
    .mitumori-form-item-row-right
      input
        width: 50%
  .box-fix-column-input-max
    width: 100%
.btn-submit-form-mitumori
  margin: 20px 5px 0
  min-width: 240px
  font-size: 1.2rem
  font-weight: bold
.box-info-ct-mitumori
  padding: 0
  .ct-info-text-detail
    padding: 20px

  
/*** Mobile Layout: ***/
@media all and (max-width: 767px)


/*** Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. ***/
@media all and (min-width: 768px) and (max-width: 921px)
