@import "mixins"
@import "variables"

.menu-motogpevent-top
  .ul-menu-motogpevent-top
    width: 100%
    padding: 5px 10px
    float: left
    li
      padding: 5px
      list-style-type: none
      float: left
      a
        border-radius: 2px
        padding: 5px 10px
        color: #fff
        background-color: $background-black-color
        width: 100%
        text-align: center
        float: left
      a:hover
        background-color: $red-color
.title-moto-gp-event
  padding: 0 0 10px 0
  width: 100%
  float: left
  .ct-title-moto-gp-event-left
    float: left
    span
      height: 33px
      background-color: $red-color
      color: #fff
      line-height: 33px
      min-width: 290px
      font-size: 1.2rem
      float: left
    &:before
      content: " "
      width: 59px
      height: 33px
      float: left
      background: url("https://img.webike.tw/shopping/image/moto-gp/bg-titile-motogp-left.png")
    &:after
      content: " "
      width: 21px
      height: 33px
      float: left
      background: url("https://img.webike.tw/shopping/image/moto-gp/bg-titile-motogp-right.png")
  .ct-title-moto-gp-event-right
    float: right
.title-moto-gp-event-border
  border-bottom: $border-box
.container-moto-gp-event
  margin: 0
  width: 100%
  float: left
.container-moto-gp-event2
  margin: 10px 0
  width: 100%
  float: left
.box-motogpevent-top
  margin-bottom: 20px
.ct-activitiesa-award
  width: 100%
  float: left
  li
    padding: 0 15px
    width: 31%
    list-style-type: none
    float: left
    background-color: $background-header-color
    &:nth-of-type(2)
      margin: 0 3.5%
    h2
      margin-bottom: 10px
      padding: 7px 0
      font-weight: bold
      font-size: 1.2rem
      border-bottom: $border-box
    span
      margin-bottom: 10px
      float: left
      max-height: 150px
      overflow: auto
.ct-guessing-method
  width: 100%
  background-color: #d9d9d9
  padding: 20px
.ul-ct-guessing-method
  width: 100%
  float: left
  li
    width: 30%
    list-style-type: none
    text-align: center
    vertical-align: middle
    display: inline-block
    i
      font-size: 3rem
      color: #ff7e00
    img
      max-width: 100%
  li:nth-child(2), li:nth-child(4)
    width: 4%
.ct-site-activity-forecast
  padding: 5px
  width: 100%
  border: 3px solid $red-color
  float: left
  .ul-ct-site-activity-forecast
    width: 100%
    display: flex
    float: left
    li
      list-style-type: none
    .ct-site-activity-forecast-left
      padding-left: 0
      img
        width: 1000% !important
      span
        margin: 10px 0 0 0
        width: 100%
        padding: 5px
        text-align: center
        float: left
        background-color: $background-header-color
    .ct-site-activity-forecast-right
      padding: 0
      text-align: center
      position: relative
      .title-site-activity-forecast-right
        font-size: 1.2rem
        padding: 5px
        width: 100%
        background-color: $a-color
        color: #fff
        text-align: center
      .drop-site-activity-forecast
        width: 100%
        float: left
        li
          padding: 40px 10px 20px
          width: 33.3333%
          float: left
          .drop-site-activity-forecast-right
            padding: 0 0 0 2px
          .drop-site-activity-forecast-left
            span
              width: 50px
              height: 28px
              line-height: 28px
              text-align: center
              float: left
            .champion
              background-color: #ffaa00
            .runner-up
              background-color: #e6e6e6
            .third
              background-color: #f26946

      .note
        width: 100%
        margin: 10px 0 0 0
        width: 100%
        padding: 5px
        float: left
        background-color: $background-header-color
        position: absolute
        bottom: 0
        span
          float: left
        a
          float: right

.ct-your-scoreboard
  padding: 20px
  width: 100%
  background-color: $background-header-color
  float: left
  li
    list-style-type: none
  .item-ct-your-scoreboard-left, .item-ct-your-scoreboard-right
    list-style-type: none
    h2
      margin-bottom: 10px
      width: 100%
      float: left
    .ct-item-ct-your-scoreboard-left
      padding: 20px
      width: 100%
      background-color: #fff
      min-height: 235px
      float: left
      .left
        padding: 20px
        background-color: $background-header-color
        a
          margin-top: 10px
          float: left
      .right
        margin: 30px 0 0 0
        text-align: center
        vertical-align: middle
        .btn-winner
          border: 2px solid $red-color
          color: $red-color
          width: 100%
          &:hover
            background-color: $red-color
            color: #fff

  .item-ct-your-scoreboard-right
    .table-info-moto-gp
      padding: 5px
      width: 100%
      float: left
      background-color: #fff
      min-height: 235px
      .ul-table-info-moto-gp
        width: 100%
        float: left
        li
          width: 100%
          padding: 5px
          float: left
          span
            text-align: center
            padding: 5px 10px
            width: 40%
            border: 2px solid $font-color
            font-weight: bold
            text-transform: uppercase
            min-height: 35px
            float: left
          .num-percent
            width: 20%
            line-height: 35px
            float: left
            text-align: center
          .percent
            margin: 12px 0
            width: 40%
            height: 10px
            background-color: $background-header-color
            float: left
            .ct-percent
              width: 0
              height: 10px
              background-color: #ff6600
              float: left
.ct-title-moto-gp-event-2
  float: left
.fb-comments
  width: 100%
.table-motogp-driver-information
  background-color: #fff
  thead
    color: #fff
    background-color: #787878
    tr
      th
        vertical-align: middle
  tbody
    tr
      td
        vertical-align: middle
.lineChart
  padding: 0
  h2.title-chart
    margin-bottom: 10px
    float: left
  .ct-lineChart
    float: left
    width: 100%
    background-color: #fff
.half-groph
  margin-top: 20px
  h2.title-chart
    margin-bottom: 10px
    float: left
  .ct-half-groph
    float: left
    width: 100%
    background-color: #fff
.half-groph-left
  padding-left: 0%
.half-groph-right
  padding-right: 0
.promo-calendar-page
  width: 100%
  float: left
  li
    padding: 7px
    list-style-type: none
    a
      width: 100%
      background-color: #fff
      float: left
      @include box-shadow(0px 3px 5px -2px rgba(0, 0, 0, 0.4))
      figure
        width: 100%
        margin-bottom: 10px
        @include box-shadow(0px 2px 4px -2px rgba(0, 0, 0, 0.3))
        img
          width: 100% !important
      label
        padding: 0 10px
        margin-bottom: 15px
        display: block
        color: $font-color
      span
        margin-bottom: 10px
        padding: 0 10px
        display: block
        color: $font-color
      &:hover
        @include box-shadow(0px 5px 10px -2px rgba(0, 0, 0, 1))
.btn-moto-gp-member
  min-width: 130px
  margin: 0 5px
  font-size: 1rem
  font-weight: bold
.title-main-box-moto-gp
  margin-bottom: 0 !important
.table-moto-boder-none
  tr
    background-color: #ddd
    th
      border: none !important
      font-weight: bold
.table-motogp-detail
  margin-bottom: 0
.box-about-the-track-left
  padding-left: 0
  img
    width: 100%
.box-about-the-track-right
  padding-right: 0
  table
    tbody
      tr
        td
          padding: 10px 8px
.ct-television-broadcast
  h1
    margin-bottom: 10px
    float: left
.ul-ct-television-broadcast
  width: 100%
  float: left
  .item-ct-television-broadcast-left
    padding-left: 0
  .item-ct-television-broadcast-right
    padding-right: 0
.item-ct-television-broadcast-info
  background-color: #fff
  padding: 20px

.btn-predicting-championship

  font-size: 1.2rem
  font-weight: bold
  margin-bottom: 20px