@import "standard"

.product-history-select
  padding: 10px 0 
  margin-top: 20px
  .w-select-down
    margin-right: 2%
    width: 23%
  .w-botton-search
    width: 15%
    float: right
    background-color: #29303b
  .w-search
    width: 31.5%
  .w-botton-clean
    width: 15%
    height: 31px
    float: right
    margin-top: 10px
    background-color: $color-gray1

.product-history-sort
  border: #aaa solid 1px
  border-radius: 3px
  padding: 5px
  height: 75px
  position: relative
  p
    display: inline-block
    position: absolute
    top: 50%
    left: 25%
    margin-top: -9px
  .w-sort-down
    float: right
    position: absolute
    top: 50%
    right: 3%
    margin-top: -16px
  .product-history-view
    display: inline-block
    height: 60px
    width: 220px
    border-right: 1px solid #aaa
    padding: 5px 10px
    h2
      font-size: 1rem
    input[type=radio]
      margin: 8px 0 0 0
    span
    .product-history-view-p
      float: left
      width: 50%
      position: relative
      span
        position: absolute
        font-size: 1rem
        top: 4px
        left: 20px
    .product-history-view-t
      float: left
      width: 50%
      position: relative
      span
        position: absolute
        font-size: 1rem
        top: 4px
        left: 20px

.product-history-content
  margin-top: 20px
  .product-history-list-p
    display: none
    li
      list-style-type: none
    .product-history-list-title
      ul
        li
          float: left
          width: 12.5%
          border-right: 1px #aaa solid
          text-align: center
          margin-bottom: 5px
        li:nth-of-type(1)
          width: 25%
        li:nth-of-type(2)
          width: 37.5%
        li:nth-of-type(3)
          width: 25%
        li:last-of-type
          border-right: none
    .product-history-list-project:last-of-type
      border-bottom: 1px #aaa solid
    .product-history-list-project
      border-top: 1px #aaa solid
      .product-history-list-project-t
        cursor: pointer
        li
          float: left
          width: 12.5%
          text-align: center
          margin-bottom: 5px
          padding: 10px
          // height: 160px
          line-height: 125px
        li:nth-of-type(1)
          width: 25%
          padding: 10px
          a
            img
              max-height: 150px
              max-width: 100%
          a:hover
            opacity: 0.8
        li:nth-of-type(2)
          width: 37.5%
          position: relative
          h3
            // padding: 5px 0
            text-align: left
          p
            text-align: left
            position: relative
          span
            position: absolute
            left: 25%
            bottom: 0
            width: 270px
          div
            position: relative
            margin-top: 10px
            width: 75px
            a
              margin: 0 0
            i
              margin-bottom: 10px
            a:hover
              color: #fff
            span
              position: absolute
              left: 115%
              width: 150px
        li:nth-of-type(3)
          width: 25%
          p
            text-align: left
            position: relative
          span
            position: absolute
            left: 50%
            top: 0
            width: 100px
        li:nth-of-type(4)
          a
            p
              color: #08A5F6
            p:hover
              opacity: 0.7
        li:last-of-type
          button
            width: 88px
            line-height: 1.4
      .product-history-list-project-t:hover
        background: #eee
      .product-history-list-project-c
        display: none
        border-top: 1px #aaa solid
        // padding: 10px
        li
          width: 100%
          margin-bottom: 5px
          h3
            padding: 3px
            float: left
            width: 20%
            text-align: center
          span
            padding: 3px
            float: left
            width: 20%
            text-align: center
            a
              i
                color: #08A5F6
              i:hover
                opacity: 0.7
              .fa-pen
                font-size: 1.2rem
                color: #08A5F6
              .fa-pen:hover
                opacity: 0.7
        li:hover
          background: #eee
        li:nth-of-type(1)
          border-bottom: 1px #aaa solid
        li:nth-of-type(1):hover
          background: none
        li:last-of-type
          border-bottom: none

  .product-history-list-t
    li
      list-style-type: none
    .product-history-list-title
      ul
        li
          float: left
          width: 12.5%
          border-right: 1px #aaa solid
          text-align: center
          margin-bottom: 5px
        li:nth-of-type(4)
          width: 37.5%
          // width: 50%
        li:last-of-type
          border-right: none
    .product-history-list-project:last-of-type
      border-bottom: 1px #aaa solid
    .product-history-list-project
      border-top: 1px #aaa solid
      .product-history-list-project-t
        cursor: pointer
        li
          float: left
          width: 12.5%
          text-align: center
          padding: 10px 5px 7px 5px
          .fa-pen
            font-size: 1.2rem
            color: #08A5F6
          .fa-pen:hover
            opacity: 0.7
          i
            color: #08A5F6
          i:hover
            opacity: 0.7
        li:nth-of-type(4)
          width: 37.5%
          // width: 50%
        li:last-of-type
          padding: 5px
          button
            width: 88px
      .product-history-list-project-t:hover
        background: #eee
      .product-history-list-project-c
        border-top: dashed #aaa 1px
        display: none
        li
          padding: 10px
          margin: 10px 0
          float: left
          width: 25%
          text-align: left
          height: 200px
          h3
            margin-bottom: 5px
          p
            position: relative
            span
              position: absolute
              left: 50%
              top: 0
              width: 110px
        li:nth-of-type(1)
          img
            max-height: 100%
            max-width: 100%
            margin: 0 auto
            display: -webkit-box
        li:nth-of-type(2)
          border-right: solid #aaa 1px
          position: relative
          div
            position: absolute
            bottom: 10px
            i
              width: 75px
              text-align: center
              display: block
              margin: 5px 0
            a:hover
              color: #fff

        li:nth-of-type(3)
          border-right: solid #aaa 1px

.product-history-remarks-background
  background: #FFFFFF
  display: none
  position: absolute
  position: fixed
  top: 0
  right: 0
  left: 0
  bottom: 0px
  background: rgba(0,0,0,.5)
  z-index: 10
  .product-history-remarks
    position: absolute
    top: 50%
    left: 50%
    background: #eee
    border: 1px solid #aaa
    border-radius: 3px
    width: 250px
    height: 200px
    .product-history-remarks-title
      height: 30px
      border-bottom: 1px solid #aaa
      position: relative
      i
        color: $color-gray1
        font-size: 1.4rem
        position: absolute
        top: 3.5px
        left: 5px
      i:hover
        color: red
      span
        position: absolute
        font-size: 1rem
        left: 50%
        top: 4px
        margin-left: -16px
      button
        background: #DDD
        color: #08A5F6
        position: absolute
        padding: 1px 10px
        top: 3.5px
        right: 5px
      button:hover
        color: red
    .product-history-remarks-content
    overflow: hidden
    textarea
      width: 100%
      height: 167px
      border: none
      padding: 10px
      resize: none
      font-size: 1rem
      border-radius: 3px

.product-history-number-background ,.product-history-search-background
  background: #FFFFFF
  display: none
  position: absolute
  position: fixed
  top: 0
  right: 0
  left: 0
  bottom: 0px
  background: rgba(0,0,0,.5)
  z-index: 10
  .product-history-number ,.product-history-search
    position: absolute
    top: 50%
    left: 50%
    margin-top: -70px
    margin-left: -124px
    background: #eee
    border: 1px solid #aaa
    border-radius: 3px
    width: 400px
    height: 75px
    .product-history-number-title ,.product-history-search-title
      height: 30px
      border-bottom: 1px solid #aaa
      position: relative
      i
        color: $color-gray1
        font-size: 1.4rem
        position: absolute
        top: 3.5px
        left: 5px
      i:hover
        color: red
      span
        position: absolute
        font-size: 1rem
        left: 50%
        top: 4px
        margin-left: -16px
      button
        background: #DDD
        color: #08A5F6
        position: absolute
        padding: 1px 10px
        top: 3.5px
        right: 5px
      button:hover
        color: red
    .product-history-number-content ,.product-history-search-content
      overflow: hidden
      position: relative
      border-radius: 3px
      background: #eee !important
      .number-check
        width: 80%
        display: block
        margin: 20px auto
        position: relative
        input
          text-align: center
          width: 100%
          height: 45px
          border: none
          padding: 10px
          resize: none
          font-size: 1rem
          border-radius: 3px
        button
          font-size: 2rem
          line-height: 0.8
          width: 45px
          height: 45px
        .plus
          position: absolute
          top: 0
          right: 0
        .reduce
          position: absolute
          top: 0
          left: 0
      .product-history-number-content-check
        width: 100%
        padding: 20px 10px
        button
          width: 90px
          font-size: 1.2rem
          margin: 0 auto
          background: #4a5360
          display: block
      .select-type
        padding: 20px 10px
        select
          display: block
          margin: 0 auto
          width: 85%
          padding: 10px
          background-position: 100% center

.select2-container
  width: 20% !important
  margin-right: 3%

.select2-container--default .select2-selection--single
  border: none !important
  border-bottom: 1px solid #aaa !important



