.module-title
  padding: 0
  border: none

.product-table-row2
  li
    list-style-type: none
    padding: 0 0 0 10px
    color: #aaa
    display: inline-block
    cite
      font-size: 0.85rem

.module-title
  border-bottom: 1px solid #ccc
  .product-info
    .name-brand
      padding: 0 10px
    .info-brand
      margin: 10px 0

.ct-product-deatil
  .ct-product-deatil-right
    .price-product-deatil
      margin: 5px 0
    .ct-price-old
      margin-top: 5px
      margin-bottom: 5px

.fixclear
  clear: both

.form-group-button
  border-bottom: solid 1px #ccc
  padding-bottom: 10px 
  margin-bottom: 10px

.select-address
  margin-bottom: 10px

#estimate_tr
  margin-bottom: 15px

.product-data-table
  margin-bottom: 10px

.module-title .product-info .name-brand
  font-size: 1.5rem

.product-title-number
  width: 15%

.product-info
  h1
    padding: 0 0 0 10px
  .name-brand
    a
      color: #000


.product-table-row2-number-title
  padding: 0 !important