$color-black1: #222b3f
$color-black2: #29303b
$color-gray1: #4a5360
$color-gray2: #dcdee5
$color-gray3: #f3f4f9
$color-red1: #d82435
$color-red2: #e34149
$color-yellow: #FFD11A

.w-select-down
  -webkit-appearance: button
  background-image: url('https://img.webike.tw/shopping/image/w-select-down.svg')
  background-position: 103% center
  background-repeat: no-repeat
  border: none
  border-bottom: 1px solid #AAA
  color: #555
  font-size: inherit
  overflow: hidden
  padding: 5px 0px
  text-overflow: ellipsis
  white-space: nowrap
  width: 200px
  background-color: #fff
  font-size: 1rem

.w-sort-down
  -webkit-appearance: button
  background-image: url('https://img.webike.tw/shopping/image/w-sort-down.svg')
  background-position: 103% center
  background-repeat: no-repeat
  border: none
  border-bottom: 1px solid #AAA
  color: #555
  font-size: inherit
  overflow: hidden
  padding: 5px 0px
  text-overflow: ellipsis
  white-space: nowrap
  width: 200px
  background-color: #fff
  font-size: 1rem

.w-search
  border: none
  border: 1px solid #AAA
  border-radius: 3px
  padding: 5px
  width: 200px

.w-botton-search
  border: none
  background: #d82435
  border-radius: 3px
  height: 31px
  background-image: url('https://img.webike.tw/shopping/image/list-icon/search-01.svg')
  background-size: 17%
  background-position: 53% center
  background-repeat: no-repeat

.w-botton-search:hover
  opacity: 0.7
.w-botton:hover
  opacity: 0.7
.w-botton-r:hover
  opacity: 0.7
.w-botton-b:hover
  opacity: 0.7
.w-botton-y:hover
  opacity: 0.7

.w-botton
  border: none
  border-radius: 3px
  color: #fff
  padding: 5px 10px

.w-botton-r
  border: none
  background: #d82435
  border-radius: 3px
  color: #fff
  padding: 5px 10px

.w-botton-b
  border: none
  background: #08A5F6
  border-radius: 3px
  color: #fff
  padding: 5px 10px

.w-botton-y
  border: none
  background: #F8B739
  border-radius: 3px
  color: #fff
  padding: 5px 10px