@import "variables"
@import "mixins"
@import "reset"


.item-product-grid
  a
    figure
      display: table-cell
      vertical-align: middle
      text-align: center
      position: relative

/*** Header ***/
.container
  width: 100%
.header
  margin-bottom: 0
  background-color: $background-black-color !important
  .container-header
    margin: 20px 0
    .search
      .txt-search
        padding: 0 15px
        width: 65%
        height: 35px
        line-height: 35px
        border: none
        border-radius: 2px
        float: left
      .btn-search
        margin-left: 10px
        padding: 0 15px
        height: 35px
        line-height: 35px
        min-width: 100px
        border: none
        border-radius: 2px
        float: left
    .logo
      text-align: right
      height: 35px
.main-menu
  margin-top: 10px
  padding: 0 0 0 25%
  width: 100%
  li
    float: none
    display: inline-block
    .sub-menu-top-1
      font-size: 1rem
      padding: 10px 10px
      color: #fff !important
      &:hover, &:focus, &:active
        color: $red-color !important
        background-color: $background-black-color !important
    .dropdown-menu
      li
        width: 100%
  .open
    .caret
      border-bottom: 4px dashed !important
      border-top: 0 dashed !important
.icon-menu
  display: none
/*** End Header ***/

/*** Content ***/
.content-promotion
  margin-top: 0
  .content-promotion-col
    width: 100%
    display: flex
    float: left
    .left-col
      width: 20%
      background-color: #e9e9e9
      list-style-type: none
      float: left
    .main-col
      padding: 0 5%
      width: 80%
      background-color: #fff
      list-style-type: none
      float: left
.dropdown-menu-left-col
  position: inherit
  border: none
  background: transparent
  box-shadow: none
  li
    a
      padding-top: 10px
      padding-bottom: 10px
      &:hover
        background-color: transparent
.left-col
  ul
    margin: 0 3%
    width: 94%
    float: left
    .sub-1
      border-bottom: 1px solid #a9a9a9
    .sub-1>a
      font-size: 1.2rem
      b
        margin-top: 8px
    li
      list-style-type: none
      width: 100%
      float: left
      a
        color: $font-color
        font-weight: bold
        &:hover, &:active
          color: $red-color
          background-color: transparent !important
        b
          float: right
    .open
      &>a
        color: $red-color
      .caret
        border-bottom: 4px dashed !important
        border-top: 0 dashed !important
.title-top
  display: block
  text-align: center
  margin: 20px 0 10px
  font-size: 2.5rem
  color: $red-color
.menu-top-page
  margin-bottom: 20px
  width: 100%
  display: inline-flex
  text-align: center
  .ul-menu-top-page
    width: 100%
    margin: 0 auto
    padding: 5px
    display: inline-block
    text-align: center
    li
      padding: 5px
      list-style-type: none
      display: inline-block
      a
        border-radius: 2px
        padding: 7px 10px
        color: #fff
        background-color: $background-menu-hover-color
        width: 100%
        text-align: center
        float: left
        font-size: 1rem
      a:hover
        background-color: $red-color


.thumbnail-img-promotion
  width: 100px
  height: 100px
.product-grid-promotion-right
  padding: 0 0 0 10px
.price
  margin-top: 5px
  width: 100%
  font-size: 1rem
  text-align: left
  color: $red-color
  font-weight: bold
  text-align: left
  float: left
.title-product-item
  text-align: left
.thumb-box-border
  border: $border-box
.title-box
  padding: 5px 10px
  width: 100%
  color: #fff
  background-color: $background-black-color
  float: left
  h2
    float: left
    color: #fff
  .box-btn-detail
    color: #ffe400
    float: right
    line-height: 1.5rem
.product-grid
  width: 100%
  float: left
  li
    padding: 10px
    width: 25%
    text-align: center
    list-style-type: none
    float: left
    height: 145px
    &:first-child
      min-height: 300px
      .product-grid-promotion-left
        margin-bottom: 10px
        width: 100%
        height: 140px
        a
          .thumbnail-img-promotion
            width: 140px
            height: 140px
.box-product
  margin-bottom: 20px
  float: left



/*** End Content ***/
/*** Footer ***/
footer
  width: 100%
  float: left

footer .background
  width: 100%
  // height: 255px
  padding: 20px 0
  background: #232f3e

footer .tail
  width: 100%
  padding: 1%
  background: #091728
  text-align: center
  // font-size: 14rem
  font-weight: bold
  color: #fff

footer .tail a
  color: #fff

footer .tail p img
  width: 200px

footer nav ul
  font-size: 0
  letter-spacing: -1px

footer nav ul li
  display: inline-block
  vertical-align: middle
  width: 32%
  padding: 3% 2%
  margin: 2% 2% 2% 0
  font-size: 1rem
  letter-spacing: 0.15rem
  border-right: 1px #ddd solid

footer nav ul li:last-child
  margin: 0

footer nav ul li a
  display: block
  text-align: center
  color: #fff

footer .sitemap_ui
  width: 90%
  margin: 0 auto

footer .sitemap_ui ul li.big > dl:first-child
  height: 160px

footer .sitemap_ui ul li.big > dl dd > ul li a img
  max-width: 120px

.sitemap_ui ul
  display: table
  width: 100%

.sitemap_ui ul li
  display: table-cell

.sitemap_ui ul li > dl dt
  font-size: 1rem
  font-weight: bold
  letter-spacing: 0.15rem
  color: #fff
  margin: 0 0 10px 0

.sitemap_ui ul li > dl dd.photos
  text-align: left

.sitemap_ui ul li > dl dd > ul


.sitemap_ui ul li > dl dd > ul li
  display: block
  width: 100%
  // font-size: 14rem
  letter-spacing: 0.15rem
  color: #fff
  margin: 0 0 5px 0

.sitemap_ui ul li > dl dd > ul li a
  color: #fff



/*** End Footer ***/

/**** Content detail page ****


@media all and (max-width: 767px)
  .header .container-header .search .btn-search
    min-width: auto !important
  .icon-menu
    margin: 0
    color: #fff
    height: 55px
    width: 55px
    border: none
    border-left: 1px solid $font-color !important
    border-radius: 0
    background-color: $background-black-color
    float: right
    display: block
    &:hover, &:focus, &:active
      background-color: $font-color !important
  .search
    padding: 10px
    position: relative
    background-color: $font-color
  .txt-search
    width: 100% !important
    border-radius: 0 !important
  .btn-search
    border-radius: 0 !important
    position: absolute
    right: 10px
    top: 10px
  .logo
    margin: 10px 5px
    padding: 0
    text-align: left !important
    height: 35px
  .header
    .container-header
      margin: 0
      padding: 0
  .main-menu
    margin: 0
    padding: 0 10px
    float: left
    display: none
    li
      width: 100%
      float: left
      list-style-type: none
      border-bottom: 1px solid #000000
      &:last-child
        border-bottom: none
      .sub-menu-top-1
        b
          margin-top: 5px
          float: right
      .dropdown-menu
        li
          border-bottom: none !important
  .content-promotion-col
    display: inherit !important
  .left-col
    width: 100% !important
  .main-col
    width: 100% !important

  .product-grid
    li
      width: 100% !important
      height: auto !important

  footer .background
    height: auto

  footer .tail
    padding: 2%
    font-size: 16rem

  footer .sitemap_ui ul li
    display: block
    width: 100%

  .product-grid
    li:first-child
      min-height: auto !important

  .title-box
    .box-btn-detail
      span
        display: none


@media all and (min-width: 768px) and (max-width: 1279px)
  .product-grid
    li
      width: 33.33333%
    li:nth-child(8), li:nth-child(9),li:nth-child(10)
      display: none !important

@media all and (min-width: 768px) and (max-width: 921px)
  .thumbnail-img-promotion
    width: 80px
    height: 80px
  .price
    font-size: 0.85rem !important

/* ---- grid ---- */
.menu-grid
  margin-bottom: 15px
  padding: 0 10px
.grid
  width: 100%
  float: left
/* clearfix */
.grid:after
  content: ''
  display: block
  clear: both
/* ---- grid-item ---- */
.grid-sizer,
.grid-item
  width: 20%
.grid-item
  padding: 5px
  float: left
  a
    width: 100%
    float: left
    &:hover
      img
        opacity: 0.8
    img
      width: 100% !important
  .grid-item-4
    margin-top: 10px

.grid-item--width2
  width:  33.33333%
.grid-item--width3
  width:  66.66666%
.grid-item--height2
  height: 200px
.grid-item--height3
  height: 260px
.grid-item--height4
  height: 360px