@import "variables"
@import "mixins"
@import "reset"

.img-full
  width: 100%
.borderless td, .borderless tr
  border: none !important
.borderless
  tr
    td:first-child
      width: 100px
.box-wanted-page
  padding: 20px
  background-color: #e0e0e0
  border-radius: 5px
  width: 100%
  float: left
.box-wanted-page
  ul
    li
      list-style-type: none
      h1
        margin-bottom: 10px
.switch
  margin-top: 20px
  width: 100%
  float: left

  a
    border: 2px solid #A51320
    border-radius: 5px
    color: #A51320
    margin: 0px 9px 0px 0px
    padding: 22px 43px
    display: block
    float: left
    background: #fff
    font-size: 14px
    font-weight: bold
  .select
    text-decoration: none
    background: #A51320
    color: #fff
.ul-article
  padding: 0
  display: flex
  .li-article
    padding-bottom: 10px
    border-bottom: 1px dotted #aaa
  .content-2
    padding-left: 0
    border-bottom: none
    span
      width: 100%
      float: left
    .img-btn-img-click
      margin-top: 30px
      float: left
  .text-center
    padding-right: 0

.example
  width: 100%
  float: left
  .question
    margin-top: 10px
    padding: 0
    position: relative
    float: left
    .border
      position: absolute
      left: 0
      top: 0
      z-index: 999
      width: 100% !important
    img
      width: 100% !important
.btn-calendar-wanted
  background-color: #f2f3f3
  padding: 20px
  border-radius: 5px
  a
    padding: 10px
    margin: 5px
    min-width: 290px
    font-weight: bold
  label
    clear: both
    width: 100%
.box-calendar
  .row
    .title
      padding: 0
      margin: 0
      list-style: none
      li
        float: left
        margin: 0
        width: 14.28571%
        padding: 0 5px
        span
          width: 100%
          height: 30px
          background: #000
          color: #fff
          font-size: 1.2rem
          font-weight: bold
          text-align: center
          border-radius: 8px 8px 0 0
          line-height: 1.5
          float: left
    .ct-calendar
      padding: 0
      margin: 5px 0 0 0
      list-style: none
      width: 100%
      float: left
      li
        float: left
        margin: 0
        width: 14.28571%
        padding: 5px
        .ct-box-calendar
          width: 100%
          background-color: #fff
          float: left
          position: relative
          .date
            padding: 2px 0 2px 5px
            border-bottom: 1px dotted #000
            float: left
            font-weight: bold
            height: 24px
          a
            .thum
              margin-bottom: 20px
            .cover
              z-index: 2
              width: 100%
              opacity: 0.9
              position: absolute
              left: 0
              top: 24px
.ct-article
  span
    margin: 5px 0 15px
    border: 2px solid #fff
    padding: 15px
    width: 100%
    float: left

// Quiz page
.quiz-page
  margin-bottom: 20px
  padding: 20px
  background-color: #fff000
.box-quiz-page
  margin-bottom: 50px
  padding: 15px
  width: 100%
  background-color: #fff
  border-radius: 5px
  float: left
  h1
    font-size: 2rem
  .box-quiz-page-info-top
    padding: 15px
    width: 100%
    float: left
    border: 1px dotted #999
.message
  padding: 0 30px
  list-style-type: none
  width: 100%
  float: left
  li
    width: 100%
    float: left
    span
      width: 100%
      color: #fff
      padding: 5px 10px
      background-color: $background-black-color
      float: left
// End Quiz page

// Guess Page
.guess-page
  margin-bottom: 20px
  padding: 20px
  background-color: #d90114
  .box-guess-page
    margin-bottom: 50px
    padding: 15px
    width: 100%
    background-color: #fff
    float: left
    .title
      font-size: 1rem
      padding: 0 10px
      border-left: 5px solid $red-color
      color: $red-color
      float: left
    .box-guess-page-info-top
      padding: 15px
      border: 1px dotted #999
      float: left
.box-quiz-left
  width: 454px
.ul-guess-img
  width: 100%
  list-style-type: none
  float: left
  .photo
    width: 100%
    float: left
  .player
    padding: 0
    width: 100%
    background-color: $red-color
    float: left
    .ul-player
      width: 100%
      list-style-type: none
      float: left
      display: flex
      li
        padding: 10px
        border-left: 1px solid #b50010
        &:first-child
          border-left: none

      .play
        .btn-play
          padding: 5px
          width: 100%
          color: #fff
          text-align: center
          float: left
          border-radius: 5px
          span
            text-align: center
            width: 100%
            float: left
          i
            margin: 0 auto
          &:hover
            background-color: #a7000f
      .timer
        padding: 10px
        div
          margin: 16px 0
          width: 100%
          background-color: #fff
          height: 15px
          float: left
          p
            background: #ffba00
            height: 15px
            width: 0
  .title
    span
      margin-bottom: 10px
      float: left
  .btn-guess
    .ct-btn-guess
      margin: 10px 0
      .row
        padding: 10px
        border: 1px solid #cdcdcd
        background-color: #ebebeb
        .text-ct-detail
          width: 100%
          margin: 10px 0
          float: left
        .btn
          font-size: 1.2rem
          font-weight: bold
          width: 100%

.box-quiz-right
  padding: 0 0 0 15px
// End Guess Page

// Sale Page
.sale-page
  width: 100%
  float: left
.ct-sale-page
  width: 100%
  float: left
  .title
    padding: 10px 20px
    background-color: $red-color
    h2
      color: #fff
.ct-menu-sale
  float: left
  ul
    padding: 0 3px
    list-style-type: none
    li
      float: left
      padding: 5px 12px
      a
        color: $font-color
        font-size: 1rem
        padding: 10px
        border: 1px solid $red-color
        width: 100%
        text-align: center
        float: left
        &:hover
          background-color: $red-color
          color: #fff
.content-box-sale
  width: 100%
  float: left
  .product-sale
    width: 100%
    float: left
    list-style-type: none
    .li-product-sale
      padding: 20px 15px
      border: 1px solid #b7b7b7
      float: left
      .photo-box
        width: 100%
        float: left
        li
          list-style-type: none
          padding: 0 10px
          figure
            img
              @include transition-scale(1.02)
              &:hover
                @include transition-scale(1.2)
        li:first-child
          border-right: 1px dotted #b7b7b7
          padding-left: 0
          width: 66.3%
          float: left
        li:last-child
          padding-right: 0
          width: 33.7%
          float: left
      &:hover
        border: 1px solid $red-color
    label
      margin: 10px 0
      padding: 2px 5px
      font-size: 1rem
      font-weight: bold
      width: 100%
      color: #fff
      float: left
      background-color: #696969
      text-align: center
      height: 28px
    span
      width: 100%
      font-size: 1.2rem
      height: 30px
      float: left

.content-new-sale
  .new-sale
    list-style-type: none
    li
      margin-top: 10px
      float: left
      h2
        padding: 10px
        width: 100%
        text-align: center
        float: left
      a
        margin-bottom: 10px
        width: 100%
        float: left
        figure
          width: 100%
          float: left
          img
            width: 100%
            float: left
      span
        background-color: #696969
        min-height: 80px
        border-radius: 5px
        color: #fff
        width: 100%
        padding: 15px
        float: left
  .new-special-sale
    padding: 15px 35px
    width: 100%
    background-color: $background-header-color
    float: left
    .li-special-sale
      padding: 10px 15px
      list-style-type: none
      float: left
      .ct-li-special-sale
        padding: 20px
        border: 5px solid #c4cee0
        float: left
        &:hover
          border: 5px solid $red-color
        span
          width: 100%
          margin-top: 10px
          height: 60px
          overflow: auto
          float: left
.btn-new-special
  margin-top: 20px
  margin-bottom: 20px
  padding: 10px 40px
  font-size: 1.2rem
  font-weight: bold

.new-other-promotions-sale
  width: 100%
  float: left
  li
    margin-bottom: 20px
    padding: 10px 0 0
    list-style-type: none
    float: left
    span
      float: left
.new-other-promotions-sale2
  width: 100%
  float: left
  border: $border-box
  li
    padding: 20px
    list-style-type: none
    float: left
    h2
      margin: 10px 0
      width: 100%
      float: left
    span
      width: 100%
      float: left




.onoffswitch
  margin: 7px 0
  position: relative
  width: 90px
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none

.onoffswitch-checkbox
  display: none

.onoffswitch-label
  display: block
  overflow: hidden
  cursor: pointer
  border: 2px solid #E0E0E0
  border-radius: 20px

.onoffswitch-inner
  display: block
  width: 200%
  margin-left: -100%
  transition: margin 0.3s ease-in 0s

.onoffswitch-inner:before, .onoffswitch-inner:after
  display: block
  float: left
  width: 50%
  height: 30px
  padding: 0
  line-height: 30px
  font-size: 14px
  color: white
  font-family: Trebuchet, Arial, sans-serif
  font-weight: bold
  box-sizing: border-box

.onoffswitch-inner:before
  content: "ON"
  padding-left: 10px
  background-color: #D90114
  color: #FFFFFF

.onoffswitch-inner:after
  content: "OFF"
  padding-right: 10px
  background-color: #EEEEEE
  color: #999999
  text-align: right

.onoffswitch-switch
  display: block
  width: 23px
  margin: 6px
  background: #FFFFFF
  position: absolute
  top: 0
  bottom: 0
  right: 56px
  border: 2px solid #E0E0E0
  border-radius: 20px
  transition: all 0.3s ease-in 0s

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner
  margin-left: 0

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch
  right: 0px

#answers
  width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, 0.6)
  position: fixed
  top: 0
  left: 0
  z-index: 9999
  overflow: auto
  display: none
  .answer
    width: 80%
    margin: 5% auto 0

.container-quiz-right
  padding: 10px 0
  border: 5px solid $background-header-color
  height: 350px
  overflow: auto

@media all and (max-width: 767px)
  .ul-article
    display: block !important
    .li-article
      margin-bottom: 10px
