.size-19rem
  font-size: 1.9rem
  &.size-force
    font-size: 1rem !important
.size-15rem
  font-size: 1.5rem
  &.size-force
    font-size: 1rem !important
.size-12rem
  font-size: 1.2rem
  &.size-force
    font-size: 1rem !important
.size-10rem
  font-size: 1rem
  &.size-force
    font-size: 1rem !important
.size-08rem
  font-size: 0.85rem
  &.size-force
    font-size: 1rem !important
.box
  margin-bottom: 10px
.base-btn-gray
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #e3e3e3))
  background: -moz-linear-gradient(top, #ffffff 5%, #e3e3e3 100%)
  background: -webkit-linear-gradient(top, #ffffff 5%, #e3e3e3 100%)
  background: -o-linear-gradient(top, #ffffff 5%, #e3e3e3 100%)
  background: -ms-linear-gradient(top, #ffffff 5%, #e3e3e3 100%)
  background: linear-gradient(to bottom, #ffffff 5%, #e3e3e3 100%)
  color: #000 !important

.dotted-text
  overflow: hidden
  display: inline-block
  text-overflow: ellipsis
  word-break: break-all
  word-wrap: break-word
  white-space: nowrap
.dotted-text1
  overflow: hidden
  text-overflow: ellipsis
  word-break: break-all
  word-wrap: break-word
  white-space: nowrap
  display: block
  -webkit-box-orient: vertical
  -webkit-line-clamp: 1
  max-height: 200%
  &.force-limit
    height: $base-line-height
.dotted-text2
  overflow: hidden
  text-overflow: ellipsis
  word-break: break-all
  word-wrap: break-word
  display: -webkit-box
  -webkit-box-orient: vertical
  -webkit-line-clamp: 2
  max-height: 200%
  &.force-limit
    height: $base-line-height * 2
.dotted-text3
  overflow: hidden
  text-overflow: ellipsis
  word-break: break-all
  word-wrap: break-word
  display: -webkit-box
  -webkit-box-orient: vertical
  -webkit-line-clamp: 3
  max-height: 300%
  &.force-limit
    height: $base-line-height * 3
.dotted-text4
  overflow: hidden
  text-overflow: ellipsis
  word-break: break-all
  word-wrap: break-word
  display: -webkit-box
  -webkit-box-orient: vertical
  -webkit-line-clamp: 4
  max-height: 400%
  &.force-limit
    height: $base-line-height * 4

.thumb-box-border
  border: $border-box

.thumbnail
  padding: 2px

.btn-primary
  color: #fff
  background-color: $a-color
  border-color: $a-color
  &:hover
    background-color: #005699
    border-color: #005699

.btn-full
  width: 100%
.btn-asking
  background: $blue-color!important
  color: #fff
  &:focus, &:hover
    color: #fff
    outline: 5px auto #fff

.btn-danger
  color: #fff !important
  background: #e61e25 !important
  border-color: #e61e25 !important

.width-full
  width: 100% !important
.width-half
  width: 50% !important
.btn-full
  width: 100%
.btn
  border-color: #ccc
  height: 38px !important
  font-size: 1rem
  padding: 5px 10px !important
  @include border-radius(0)
  &.btn-small
    height: 33px !important
    font-size: $font-size
    padding: 5px !important
  &.btn-large
    height: 48px !important
    font-size: 1.2rem
    padding: 5px !important
  &.disabled
    cursor: no-drop
a.btn
  line-height: 28px !important
  &.btn-small
    line-height: 23px !important
  &.btn-large
    line-height: 38px !important
  &.disabled
    cursor: no-drop
.btn-gap-top
  margin-top: 10px
.btn-gap-bottom
  margin-bottom: 10px
.btn-gap-right
  margin-right: 10px
.btn-gap-left
  margin-left: 10px

.btn-warning
  background-color: #ff6600
  border: none
  &:hover
    background-color: #dd4e00

.text-left
  text-align: left !important

.text-center
  text-align: center !important

.cursor-pointer
  cursor: pointer

figure
  width: 140px
  height: 140px
  vertical-align: middle
  text-align: center
  position: relative
  display: block
  font-size: 0
  margin: 0 auto
.image-180-180
  width: 180px
  height: 180px
.image-90-90
  width: 90px
  height: 90px !important
.image-100-100
  width: 100px
  height: 100px !important
  img
    max-width: 100%
    max-height: 100%
    display: inline-block
    vertical-align: middle
  .sale-off-icon
    position: absolute
    top: 5px
    left: 5px
    color: #fff
    z-index: 2
    height: 26px
    span
      padding: 0 5px
      height: 26px
      background-color: $red-color
      float: left
      line-height: 26px
    &:before
      content: ""
      width: 11px
      height: 26px
      background: url("https://img.webike.tw/shopping/image/bg-sale-off-left.png")
      float: left
    &:after
      content: ""
      width: 11px
      height: 26px
      background: url("https://img.webike.tw/shopping/image/bg-sale-off-right.png")
      float: left

.title-product-item-top
  font-weight: bold
  display: flex
.name
  margin-top: 5px
  font-size: $font-size
  text-align: left
.product-name
  color: #005fb3
.final-price
  width: 100%
  font-size: 1rem
  font-weight: bold
  text-align: left
  color: $red-color
.price-old
  margin-top: 5px
  width: 100%
  font-size: 0.85rem
  text-align: left
  text-decoration: line-through
.normal-text
  margin-top: 5px
  width: 100%
  font-size: 0.85rem
  text-align: left
  word-break: break-all
  word-wrap: break-word
.bold-text
  margin-top: 5px
  width: 100%
  font-size: 0.85rem
  text-align: left
  font-weight: bold
  word-break: break-all
  word-wrap: break-word
.icon-star
  float: left
  margin: 0 auto
  padding: 0
  width: 72px
  height: 14px
  background-image: url(https://img-webike-tw-370429.c.cdn77.org/shopping/image/shopping/icon.png)
  background-position: 0 -145px
  display: table
.star-01
  background-position: 0 -174px
.star-02
  background-position: 0 -202px
.star-03
  background-position: 0 -230px
.star-04
  background-position: 0 -257px
.star-05
  background-position: 0 -285px
.icon-star-text
  margin: -2px 0 0 5px
  float: left
.font-color-normal
  color: #333333

.icon-star-bigger
  margin: 0 auto
  padding: 0
  width: 100px
  height: 20px
  background-image: url(https://img-webike-tw-370429.c.cdn77.org/shopping/image/star_bigger.png)
  background-position: 0 0
  display: table
  &.star-01
    background-position: 0 -40px
  &.star-02
    background-position: 0 -80px
  &.star-03
    background-position: 0 -120px
  &.star-04
    background-position: 0 -160px
  &.star-05
    background-position: 0 -200px

.block
  margin-bottom: 20px

.underline
  text-decoration: underline

.helper
  height: 100%
  display: inline-block
  vertical-align: middle

