@mixin transform($transform...)
  -webkit-transform: $transform
  -moz-transform: $transform
  -ms-transform: $transform
  -o-transform: $transform
  transform: $transform
@mixin border-radius($radius...)
  border-radius: $radius
  -moz-border-radius: $radius
  -webkit-border-radius: $radius
  -o-border-radius: $radius
  -ms-border-radius: $radius

@mixin transition($transition...)
  -moz-transition:    $transition
  -o-transition:      $transition
  -ms-transition:     $transition
  -webkit-transition: $transition
  transition:         $transition

@mixin transition-property($property...)
  -moz-transition-property:    $property
  -o-transition-property:      $property
  -webkit-transition-property: $property
  transition-property:         $property

@mixin transition-duration($duration...)
  -moz-transition-property:    $duration
  -o-transition-property:      $duration
  -webkit-transition-property: $duration
  transition-property:         $duration

@mixin transition-timing-function($timing...)
  -moz-transition-timing-function:    $timing
  -o-transition-timing-function:      $timing
  -webkit-transition-timing-function: $timing
  transition-timing-function:         $timing

@mixin transition-delay($delay...)
  -moz-transition-delay:    $delay
  -o-transition-delay:      $delay
  -webkit-transition-delay: $delay
  transition-delay:         $delay


@mixin box-shadow($shadow...)
  box-shadow: $shadow
  -moz-box-shadow: $shadow
  -webkit-box-shadow: $shadow
  -o-box-shadow: $shadow
  -ms-box-shadow: $shadow

@mixin transition-scale($scale...)
  -webkit-transform: scale($scale)
  -moz-transform: scale($scale)
  -ms-transform: scale($scale)
  -o-transform: scale($scale)
  transform: scale($scale)

@mixin gradient-background($top-color, $bottom-color)
  background: $bottom-color
  background: -moz-linear-gradient(top, $top-color 0%, $bottom-color 100%)
  background: -webkit-linear-gradient(top, $top-color 0%,$bottom-color 100%)
  background: linear-gradient(to bottom, $top-color 0%,$bottom-color 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$top-color, endColorstr=$bottom-color,GradientType=0 )