div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  line-height: $line-height
  font-size: $font-size
* > span,
* > a,
* > b,
* > small,
* > strong,
* > s,
* > i
  font-size: inherit
img
  max-width: 100%
  max-height: 100%
html, body
  font-family: $font-stack
  font-size: 100%
  font-weight: $font-weight
  line-height: $line-height
  color: $font-color
  background: $background-body-color
.all-page
  font-size: $font-size
  line-height: $line-height
.section
  padding: 0px !important
label
  font-weight: 400
h1, h2
  font-family: $font-stack-title
h1
  font-size: 1.2rem
h2, cite
  font-size: 1rem
h3
  font-size: 0.85rem
p
  font-size: 0.85rem
a
  color: #333
#pagetop a
  font-size: 1rem
header
  .logo
    margin-top: 9px
    margin: 7px 0 0 0
    div
      font-size: 1rem
      bottom: auto
  .menu_btn
    position: inherit
    padding: 12px 17px
    float: left
    i
      font-size: 1.5rem
    i:after
      content: ''
  .account-content
    padding: 10px 10px 5px 10px
  .account
    padding: 10px
    width: 100%
    .count
      color: #005fb3
  .close_btn
    font-size: 1.2rem
  .menu_items
    .account
      padding: 0
      border: 1px solid #dcdee3
      .name-title
        background: #e61e25
        padding: 10px
        color: #fff
      .content
        padding: 10px

    dl
      font-size: 1rem !important
      dt
        font-size: 1rem !important
      dd
        a.toggle:after
          font-size: 1.2rem !important
        a:after
          font-size: 1.2rem !important
    dd
      font-size: 1rem !important
      span
        font-size: 1rem !important
      a.toggle:after
        font-size: 1.5rem !important
    ul li
      font-size: 1rem !important
  .helpdesk
    float: right
    margin: 15px 10px 0 0
  .menu-icon
    float: right
    margin-right: 10px

nav.fixed
  border-top: 4px solid #E61E25
  position: fixed
  top: 0px
  z-index: 9999

nav
  ul li a
    font-size: 1rem
    
.icon-top-page
  li a
    padding: 15px 7px 7px
    color: #fff

#main
  border-top: 4px solid #E61E25

  h1.common
    font-size: 1.2rem
    font-weight: bold
    margin: 0 0 10px
    padding: 10px
  h2.common
    font-size: 1.2rem
  h3.common
    font-size: 1rem
  .model_top .machine .photo .slider li div span
    font-size: 1.2rem
  .mybike_log
    .mybike_reg
      margin: 0 0 10px 0px
      div a
        font-size: 1rem
    .rating_all
      .title
        font-size: 1rem
      table td p
        font-size: 1rem

.menu-icon
  .icon-area
    cursor: pointer
    position: relative
    padding: 0
    &:hover
      ul.list
        display: block
        visibility: visible
        opacity: 1
        filter: alpha(opacity=100)
    img
      width: 32px
      height: 32px
    ul.list
      // display: none
      position: absolute
      top: 115%
      right: 30%
      background: #fff
      width: 120px
      border: 1px #777 solid
      -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175)
      box-shadow: 0  6px 12px rgba(0,0,0,.175)
      z-index: 1
      opacity: 0
      visibility: hidden
      filter: alpha(opacity=0)
      -webkit-transition: 200ms ease
      -moz-transition: 200ms ease
      -o-transition: 200ms ease
      transition: 200ms ease
      &.active
        display: block
      li
        list-style: none
        float: none
        border-top: 1px #777 solid
        margin: 0
        &:first-child
          border-top: none
        &:focus
          background: #e61e25
        a
          padding: 5px 10px
          display: block
          color: #333
          &:hover,
          &:focus
            background: #e61e25 !important
            color: #fff
  .glyphicon-user
    margin-top: 15px
.account-icon
  width: 32px
  height: 32px
  display: block
  text-align: center
  border-radius: 50%
  position: relative
  overflow: hidden
  font-size: 0
  padding: 0 !important
  span.helper
    display: inline-block
    vertical-align: middle
    height: 100%
    font-size: 0.5rem
  span.text
    display: inline-block
    vertical-align: middle
    font-size: 0.5rem
  &.btn
    padding: 2px 2px

#search
  display: none
  .left
    div select
      font-size: 1rem
    ul li input[type=search]
      font-size: 1rem
  .right
    a
      font-size: 1rem
      padding: 14px 0 0 0
#search.active
  display: block !important

footer
  color: #d7dbe2
  .copyright
    line-height: 24px
    padding: 10px 30px 0px 30px
    color: #d7dbe2
  .menu
    p
      a
        color: #88b0ff !important
  .menu
    padding: 15px 30px
  .menu ul li, footer.single .s_menu ul li
    font-size: 1rem
  small
    font-size: 1rem !important

.modal .inner .title
  font-size: 1rem
  .close
    font-size: 1rem

.button_ui a, .button_ui input[type=submit], .button_ui input[type=button]
  font-size: 1rem


.select2-container--default
  margin-bottom: 5px
  .select2-results__option--highlighted[aria-selected]
    background-color: $red-color
    color: #fff
  .select2-selection--single
    border-radius: 0px

.model_search
  .select2-container--default
    .select2-selection__arrow
      height: 44px !important
.select2-container .select2-selection--single
  height: 30px
  .select2-selection__rendered
    line-height: 30px

.model_search
  .select2-container .select2-selection--single
    height: 44px
    .select2-selection__rendered
      line-height: 44px
  .select2-container--default
    margin-bottom: 10px
  .arrow
    .select2-container--default
      margin-bottom: 0px

.motor-search-load-container
  display: none
  position: absolute
  top: 8%
  right: 0%
  .md-floatingCirclesG
    -webkit-transform: scale(0.3)

.breadcrumbs
  background: #efefef
  padding: 5px 0px
.breadcrumbs ul
  li
    background: white
    font-size: 0.85rem
    margin: 0 12px 0 0 !important
  li:after
    border-top: 15px solid transparent !important
    border-left: 6px solid white
  li:before
    border-width: 16px 0 12px 6px !important
    border-color: white transparent

.link_ui
  a
    font-size: 1rem
  a:after
    font-size: 1.2rem
  ul
    padding-bottom: 20px

.item-product-grid
  .title-product-item-top
    font-weight: bold
    display: flex
    span
      color: #005fb3
  .normal-text
    argin-top: 5px
    width: 100%
    font-size: 0.85rem
    text-align: left
    float: left
    word-break: break-all
    word-wrap: break-word

.no-margin-horizontal
  margin-left: 0 !important
  margin-right: 0 !important

.ct-new-custom-part-on-sale-top
  padding: 0px 0px 20px

.common-motor-search .form_ui
  border: 0px !important
  padding: 0px 0px 10px 0px !important

.section .common
  overflow: hidden

  a
    border: 0px
    background: white
    position: initial
    display: initial
    text-decoration: underline
    font-size: 0.85rem
    padding-left: 10px
    margin-left: 0px

.tab_ui .btn
  border: 0px
  padding: 0 10px !important

.head-motor-search
  position: initial !important
#main .category-content
  border-bottom: 30px solid #eee
.btn-sub
  color: $font-color
  background-color: $yellow-color
  border-color: #ccc
  &:hover
    background-color: $yellow-hover-color
.btn-facebook
  color: #fff
  background-color: $facebook-blue-color
  border-color: $facebook-blue-color
  &:hover
    color: #fff
    background-color: $facebook-blue-hover-color