.popups-ui
  position: fixed
  z-index: 1050
  width: 100%
  height: 100%
  margin-top: -150px
  padding-bottom: 150px
  &.popups-ui-cover
    background: rgba(0,0,0,.6)
.popups-ui
  a
    color: #005fb3
.popups-ui-window
  position: relative
  z-index: 1060
  .note.has-error
    color: $dark-red-color
    margin-top: 10px
  .popups-ui-window-close
    position: absolute
    right: 0
    top: 0
    cursor: pointer
    &:hover
      opacity: 0.8
.popups-ui
  .btn-facebook
    color: #fff      
.popups-ui
  .owl-carousel
    .owl-item
      img
        display: initial
        width: auto

@media (max-width: 922px)
  .popups-ui
    .popups-ui-window
      width: 100%
@media (max-width: 767px)
  .popups-ui
    position: absolute
    .popups-ui-window
      width: 100%