#main .mybike_log .main_image {
  max-width: 500px;
  margin: 0 auto;
}
#main .mybike_log .main_image img {
  max-width: 100%;
}
#main .mybike_log .mybike_reg {
  margin: 0 0 10px 0px;
}
#main .mybike_log .mybike_reg div a {
  background: #f5f5f5;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fff), color-stop(100%, #f5f5f5));
  background: -moz-linear-gradient(#fff, #f5f5f5);
  background: -webkit-linear-gradient(#fff, #f5f5f5);
  background: -o-linear-gradient(#fff, #f5f5f5);
  background: linear-gradient(#fff, #f5f5f5);
  font-size: 16rem;
  font-weight: bold;
  text-align: center;
  display: block;
  padding: 14px 5px;
  margin: 0 auto;
  border-radius: 5px;
  border: 1px solid #ddd;
}
#main .mybike_log .mybike_reg div a i {
  margin: 0 4px 0 0;
}
#main .mybike_log .mybike_reg p {
  line-height: 1.4;
  margin: 5px 0 0;
}
#main .mybike_log .rating_all .title {
  font-weight: bold;
  background: #efefef;
  padding: 10px;
  text-align: center;
  font-size: 1rem;
}
#main .mybike_log .rating_all table {
  width: 100%;
  background: #fff;
  border-collapse: collapse;
  margin: 0 0 10px;
  font-size: 12rem;
}
#main .mybike_log .rating_all table th {
  padding: 6px;
  width: 35%;
  text-align: left;
  background: #fafafa;
  border: 1px solid #efefef;
}
#main .mybike_log .rating_all table td {
  padding: 6px;
  color: #ff8400;
  font-weight: bold;
  border: 1px solid #efefef;
  text-align: center;
}
#main .mybike_log .rating_all table td p {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1;
  text-align: center;
}
#main .mybike_log .rating_all table td p span:nth-child(1) {
  color: #333;
}
#main .mybike_log .rating_all table td p span:nth-child(2) {
  vertical-align: -3px;
  margin: 0 0 0 5px;
}
#main .mybike_log .rating_all table td p img {
  width: 22px;
}

.icon-star{
  float: left;
  margin: 0 auto;
  padding: 0;
  width: 72px;
  height: 14px;
  background-image: url(https://img-webike-tw-370429.c.cdn77.org/shopping/image/shopping/icon.png);
  background-position: 0 -145px;
  display: table;
}
.star-01{
  background-position: 0 -40px;
}
.star-02{
  background-position: 0 -80px;
}
.star-03{
  background-position: 0 -120px;
}
.star-04{
  background-position: 0 -160px;
}
.star-05{
  background-position: 0 -200px;
}
.icon-star-text{
  margin: -2px 0 0 5px;
  float: left;
}
.icon-star-bigger{
  margin: 0 auto;
  padding: 0;
  width: 100px;
  height: 20px;
  background-image: url(https://img-webike-tw-370429.c.cdn77.org/shopping/image/star_bigger.png);
  display: table;
}

.analysis-block h2, .analysis-block span {
    display: inline-block;
}

.analysis-block .icon-star-bigger {
    vertical-align: middle;
    margin: 0 10px;
}