.tab_ui .btn{
    border: 0px;
    padding: 0px 10px;
}
.tab_ui > .btn {
    display: table;
    table-layout: fixed;
    width: 100%;
    text-align: center;
}

.tab_ui > .link_btn {
    margin: 0 0 1px;
}

.tab_ui > .btn > li {
    display: table-cell;
    background: #efefef;
    border-right: 1px solid #fff;
    vertical-align: middle;
    padding: 0px;
    font-weight: bold;
    color: #fff;
}

.tab_ui > .link_btn > li a {
    display: block;
    padding: 10px 0;
}
.tab_ui > .btn > li:last-child {
    border-right: 0;
}

.tab_ui > .btn > li.selected, .tab_ui > .btn > li.selected a {
    background: #4c5462;
    color: #fff;
}