.w-ad-bar {
  background: #f20d43;
  width: 100%;
  padding: 2px 0; }
  .w-ad-bar p {
    text-align: center;
    color: yellow; }

.desktop .nav-up {
  top: -56px !important; }

.w-ad-bar:hover {
  opacity: 0.9; }

/*# sourceMappingURL=ad-bar.css.map */
