/* common script */
.pages-action{
    display: none !important;
}
.pages-action.active{
    display: block !important;
}
.simple-testing .st-attention{
    border:2px #ff0000 solid;
}
.toggle-partner-switch a{
    color:#005fb3;
}