#main .relation_info > ul > li div span {
  font-size: inherit; }

.famous-brand .famous-brand-li {
  padding: 5px; }

#main {
  border-bottom: 30px solid #eee; }

.block {
  padding-bottom: 30px; }

.block:last-child {
  padding-bottom: 0px; }

ul.owl-carousel {
  padding: 0px 10px; }

.icon-star-bigger {
  margin: 0px; }

#motor_search_text {
  -webkit-user-select: text; }

.new-review .item-product-grid-pars-on-sale-right a {
  margin: 5px 0px; }

.new-review .new-review-content {
  margin-top: 5px; }

.newmotors .block-margin {
  margin-top: 5px; }

.newmotors .product-grid a figure {
  display: table-cell; }

.newmotors .owl-carousel .owl-item img {
  width: auto;
  display: initial; }

.more-bolck {
  margin-top: 15px; }

.btn-warning {
  color: #fff; }

.news {
  position: relative; }

.news .news-img {
  float: left; }

.news .news-time {
  text-align: right;
  padding-right: 10px;
  color: #7b7b7b;
  position: absolute;
  right: 0;
  bottom: 0; }

/*# sourceMappingURL=motor-top.css.map */
