.new-review .item-product-grid-pars-on-sale-right a {
  margin: 5px 0px; }

.new-review .new-review-content {
  margin-top: 5px; }

.new-review .owl-carousel {
  padding: 0px 10px 0px 10px; }

.new-review .item-product-grid {
  padding: 5px 5px 0px 5px;
  width: 100%;
  text-align: center;
  float: left;
  list-style-type: none; }

.item-product-grid a {
  margin: 0 auto;
  display: inline-block; }
