.title-content-branking {
  padding: 15px 0;
  font-size: 1rem;
  text-align: center;
  font-weight: bold; }

.content-branking {
  margin-bottom: 20px;
  padding: 0 5px; }

.ct-inspired-by-your {
  padding: 10px 10px 20px; }

.box-ct-recommond-fix {
  width: 100%;
  float: left;
  border: none; }

.ct-item-content-branking {
  width: 100%;
  float: left;
  border: 1px solid #dcdee3;
  padding: 0 10px;
  background-color: #fff;
  max-height: 376px; }
  .ct-item-content-branking .item-product-content-branking {
    padding: 10px 0;
    width: 100%;
    float: left;
    list-style-type: none;
    border-bottom: 1px solid #dcdee3; }
    .ct-item-content-branking .item-product-content-branking .item-product-grid-pars-content-branking-left {
      position: relative; }
      .ct-item-content-branking .item-product-content-branking .item-product-grid-pars-content-branking-left a figure {
        width: 90px;
        height: 90px; }
    .ct-item-content-branking .item-product-content-branking .item-product-grid-pars-content-branking-right {
      padding: 0 0 0 10px; }
      .ct-item-content-branking .item-product-content-branking .item-product-grid-pars-content-branking-right .title-product-item {
        margin-top: 0; }
      .ct-item-content-branking .item-product-content-branking .item-product-grid-pars-content-branking-right span {
        margin: 5px 0;
        float: left; }
      .ct-item-content-branking .item-product-content-branking .item-product-grid-pars-content-branking-right a {
        color: #005fb3;
        text-decoration: none;
        transition: all 0.3s ease; }
  .ct-item-content-branking .item-product-content-branking:last-child {
    border: none; }

.ct-item-content-branking {
  width: 100%;
  float: left;
  border: 1px solid #dcdee3;
  padding: 0 10px;
  background-color: #fff; }

.thumbnail-img-147 {
  width: 148px;
  height: 111px; }

.thumbnail-pin {
  position: relative; }
  .thumbnail-pin .thumbnail-icon {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; }

.ct-right-below-body .product-item {
  width: 25%;
  float: left;
  margin: 0;
  padding: 10px;
  border-right: 1px solid #dcdee3;
  border-bottom: 1px solid #dcdee3;
  min-height: 200px; }
  .ct-right-below-body .product-item:nth-child(4n) {
    border-right: none; }
  .ct-right-below-body .product-item .product-img {
    margin-bottom: 5px;
    display: flex;
    justify-content: center; }
    .ct-right-below-body .product-item .product-img a {
      font-size: 0; }
    .ct-right-below-body .product-item .product-img .search-list-img {
      width: 190px;
      height: 190px;
      border: none;
      padding: 0;
      text-align: center; }
    @media (max-width: 767px) {
      .ct-right-below-body .product-item .product-img .search-list-img {
        width: auto;
        height: auto;
        border: none; } }
    .ct-right-below-body .product-item .product-img img {
      max-width: 100%;
      max-height: 100%;
      display: inline-block;
      vertical-align: middle; }
  .ct-right-below-body .product-item .product-name {
    font-size: 1rem;
    float: left;
    font-weight: bold;
    color: #005fb3;
    /* wayne over write width 100% */
    width: 100%;
    height: 2.8rem;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; }
    .ct-right-below-body .product-item .product-name a {
      text-decoration: none; }
  .ct-right-below-body .product-item .vendor-name {
    font-size: 0.85rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px; }
  .ct-right-below-body .product-item .point-label {
    margin-bottom: 10px; }
  .ct-right-below-body .product-item ul.product-description {
    list-style-type: none;
    overflow-y: auto;
    height: 86px;
    word-break: break-all;
    word-wrap: break-word;
    margin-bottom: 10px; }
    .ct-right-below-body .product-item ul.product-description .motor {
      margin-bottom: 5px; }
    .ct-right-below-body .product-item ul.product-description .model-name {
      margin-bottom: 5px; }
    .ct-right-below-body .product-item ul.product-description li {
      line-height: 20px;
      color: #5e5e5e; }
  .ct-right-below-body .product-item label.price {
    font-size: 16px;
    font-weight: bold;
    color: #e83a3f;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block; }
  .ct-right-below-body .product-item label.price-old {
    color: #7b7b7b;
    margin: 0 0 10px 0; }
  .ct-right-below-body .product-item label {
    width: 100%;
    line-height: 20px; }
  .ct-right-below-body .product-item .div-btn-check-detail {
    padding: 0;
    width: 100%;
    min-height: 28px;
    border: 1px solid #dcdee3;
    border-radius: 2px;
    text-align: center;
    margin: 10px 0 10px 0;
    cursor: pointer;
    color: #1c457d; }
    .ct-right-below-body .product-item .div-btn-check-detail span {
      margin-top: 3px;
      float: left;
      width: 100%; }
  .ct-right-below-body .product-item .rating span {
    margin: 0 auto; }
  .ct-right-below-body .product-item .tags {
    display: block;
    margin-top: -5px;
    height: 55px;
    padding: 1px;
    overflow: hidden; }
    .ct-right-below-body .product-item .tags .tag {
      margin: 5px 5px 0 0;
      float: left; }
    .ct-right-below-body .product-item .tags .label {
      padding: 0.2em 0.6em 0.2em; }
      .ct-right-below-body .product-item .tags .label.label-outlet {
        background: #fff;
        color: #333;
        outline: 1px #e61e25 solid; }
  .ct-right-below-body .product-item .icon-star-container {
    justify-content: center;
    display: flex; }
    .ct-right-below-body .product-item .icon-star-container .icon-star-element {
      display: flex;
      margin: 0; }
.ct-right-below-body .product-item-style-2 {
  width: 100%;
  border-right: none;
  border-bottom: 1px solid #dcdee3;
  display: flex; }
  .ct-right-below-body .product-item-style-2 .product-img {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; }
    .ct-right-below-body .product-item-style-2 .product-img a {
      display: flex;
      margin-bottom: 0; }
  .ct-right-below-body .product-item-style-2 .product-detail {
    width: 80%; }
    .ct-right-below-body .product-item-style-2 .product-detail .product-info-search-list {
      width: 70%;
      float: left;
      padding-right: 10px;
      border-right: 1px solid #dcdee3; }
      .ct-right-below-body .product-item-style-2 .product-detail .product-info-search-list .product-name {
        float: none; }
    .ct-right-below-body .product-item-style-2 .product-detail .product-state-search-list {
      width: 30%;
      float: right;
      padding-left: 10px; }
      .ct-right-below-body .product-item-style-2 .product-detail .product-state-search-list .price {
        margin: 0; }
      .ct-right-below-body .product-item-style-2 .product-detail .product-state-search-list .rating {
        padding: 0; }
        .ct-right-below-body .product-item-style-2 .product-detail .product-state-search-list .rating div {
          padding: 0; }
  .ct-right-below-body .product-item-style-2 ul.product-description {
    list-style-position: inside;
    list-style-type: disc; }
    .ct-right-below-body .product-item-style-2 ul.product-description li {
      display: list-item; }
      .ct-right-below-body .product-item-style-2 ul.product-description li span {
        position: relative;
        left: 0; }

.ct-item-content-branking {
  width: 100%;
  float: left;
  border: 1px solid #dcdee3;
  padding: 0 10px;
  background-color: #fff;
  padding: 5px;
  text-align: center;
  float: left;
  list-style-type: none; }
  .ct-item-content-branking a {
    margin: 0 auto;
    display: inline-block; }
    .ct-item-content-branking a figure {
      width: 140px;
      height: 140px;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      position: relative; }
      .ct-item-content-branking a figure img {
        max-width: 100%;
        max-height: 100%; }

.item-product-grid {
  padding: 5px;
  text-align: center;
  float: left;
  list-style-type: none; }
  .item-product-grid a {
    margin: 0 auto;
    display: inline-block; }
    .item-product-grid a figure {
      width: 140px;
      height: 140px;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      position: relative; }
      .item-product-grid a figure img {
        max-width: 100%;
        max-height: 100%; }
      .item-product-grid a figure .sale-off-icon {
        position: absolute;
        top: 5px;
        left: 5px;
        color: #fff;
        z-index: 2;
        height: 26px; }
        .item-product-grid a figure .sale-off-icon span {
          padding: 0 5px;
          height: 26px;
          background-color: #e61e25;
          float: left;
          line-height: 26px; }
        .item-product-grid a figure .sale-off-icon:before {
          content: "";
          width: 11px;
          height: 26px;
          background: url("https://img.webike.tw/shopping/image/bg-sale-off-left.png");
          float: left; }
        .item-product-grid a figure .sale-off-icon:after {
          content: "";
          width: 11px;
          height: 26px;
          background: url("https://img.webike.tw/shopping/image/bg-sale-off-right.png");
          float: left; }

.lank-small {
  padding: 8px 0 0 0;
  text-align: center;
  position: absolute;
  background-image: url(https://img.webike.tw/shopping/image/shopping/icon.png);
  width: 31px;
  height: 24px;
  bottom: 5px;
  left: 5px;
  background-position: -50px 229px;
  font-size: 0.85rem;
  color: #fff; }

.lank-small-01 {
  background-position: -50px 300px; }

.lank-small-02 {
  background-position: -50px 276px; }

.lank-small-03 {
  background-position: -50px 252px; }

.title-product-item {
  margin-top: 5px;
  width: 100%;
  font-size: 0.85rem;
  text-align: left;
  float: left; }

.ct-item-content-branking {
  width: 100%;
  float: left;
  border: 1px solid #dcdee3;
  padding: 0 10px;
  background-color: #fff; }

.bnt-see-all-branking {
  width: 100%;
  font-weight: bold;
  font-size: 1rem; }

.box-fix-column {
  margin: 0;
  padding: 0;
  width: 100%;
  float: left; }
  .box-fix-column .box-fix-with, .box-fix-column .fix {
    margin: 0;
    padding: 0;
    float: left; }
  .box-fix-column .box-fix-auto, .box-fix-column .auto {
    float: none;
    width: auto;
    overflow: hidden; }

.title-product-item-top {
  font-weight: bold;
  display: flex; }