@charset "UTF-8";
.all-page {
  margin-bottom: 208px !important;
  margin-top: 50px; }

.all-page .title p {
  text-align: center;
  height: 30px;
  background: #dcdee5;
  font-size: 1.2rem;
  padding: 3px;
  font-weight: bold; }

.all-page .content .commodity-list {
  margin: 20px 0 10px 0;
  border-top: #e34149 solid 1px; }

.all-page .content .commodity-title {
  position: relative;
  top: 20px;
  background: #e34149;
  width: 30%;
  height: 25px;
  border-radius: 5px 5px 0 0; }

.all-page .content .commodity-title p {
  text-align: center;
  font-size: 1rem;
  padding-top: 3px;
  color: #fff; }

.all-page .content .commodity-list ul li {
  background: #f3f4f9;
  padding-top: 10px;
  border-bottom: 2px solid #dcdee5; }

.all-page .content .commodity-list .left {
  padding: 0px 15px;
  float: left;
  width: 35%;
  margin: 0 auto;
  display: table; }
  .all-page .content .commodity-list .left .image-box {
    overflow: hidden;
    display: table-cell;
    padding: 2px;
    height: 100px; }
    .all-page .content .commodity-list .left .image-box img {
      margin: 0 auto;
      display: inline-block;
      object-fit: contain;
      vertical-align: middle; }

.all-page .content .commodity-list .left p {
  font-size: 1rem; }

.all-page .content .commodity-list .right {
  float: left;
  width: 65%;
  padding-right: 10px; }

.all-page .content .commodity-list .right p.item-name {
  font-size: 1rem;
  font-weight: bold;
  color: #29303b; }

.all-page .content .commodity-list .right .about {
  margin-top: 5px;
  font-size: 0.85rem;
  font-weight: normal;
  color: #9F9FA0; }

.all-page .content .commodity-list .bottom {
  width: 100%;
  padding: 10px 5px; }

.all-page .content .commodity-list .bottom .delete-btn {
  display: inline-block;
  padding: 5px;
  cursor: pointer; }

.all-page .content .commodity-list .bottom .number {
  border: solid 1px #4a5360;
  background: #e34149;
  border-radius: 5px; }

.all-page .content .commodity-list .bottom .tip {
  border-radius: 5px;
  width: 100%;
  padding: 5px;
  text-align: center; }
  .all-page .content .commodity-list .bottom .tip.tip-danger {
    border: solid 1px #4a5360;
    background: #e34149;
    color: #fff; }
  .all-page .content .commodity-list .bottom .tip.tip-warning {
    border: solid 1px #4a5360;
    background: #f0ad4e;
    color: #fff; }

.all-page .content .commodity-list .bottom .number .number-style {
  width: 99px;
  padding: 6px 0;
  text-align: center; }

.all-page .content .commodity-list .bottom .number .plus {
  border-radius: 0%;
  color: #fff;
  width: 20%;
  display: inline-block;
  text-align: center;
  cursor: pointer; }

.all-page .content .commodity-list .bottom .number .minus {
  border-radius: 0%;
  color: #fff;
  width: 20%;
  display: inline-block;
  text-align: center;
  padding-left: 3px;
  cursor: pointer; }

.all-page .content .commodity-list .bottom p {
  text-align: center;
  font-size: 1rem; }

.all-page .content .commodity-list .bottom input {
  border: none;
  width: 50%;
  padding: 5px 3px;
  margin: 0;
  text-align: center; }

.all-page .content .commodity-list .bottom button {
  display: inline-block;
  border: none;
  border: 1px solid #4a5360;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  cursor: pointer; }

.owl-carousel {
  border-top: 1px solid #e34149;
  border-bottom: 1px solid #e34149;
  background: #f3f4f9;
  padding: 20px; }

.owl-carousel .owl-item img {
  display: block !important;
  margin: 0 auto !important; }

.owl-prev {
  left: -10px !important; }

.owl-next {
  right: -10px !important; }

.owl-carousel .item p {
  width: 90% !important;
  margin: 0 auto !important;
  text-align: center;
  font-weight: bold;
  padding: 10px 0 0 0;
  height: 70px; }

.owl-carousel .item label {
  width: 100%;
  color: #d82435;
  text-align: center;
  font-size: 1rem;
  padding: 10px; }

.owl-carousel .item .additional-to-cart {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #29303b;
  background: #dcdee5;
  display: block; }

.all-page .content .addPurchase .owl-theme .additional-item.disabled {
  opacity: 0.5; }

.all-page .content .addPurchase-title {
  position: relative;
  top: 0px;
  background: #e34149;
  height: 25px;
  border-radius: 5px 5px 0 0;
  margin: 40px 0 0 0; }

.all-page .content .addPurchase-title p {
  text-align: center;
  font-size: 1rem;
  padding-top: 3px;
  color: #fff; }

#main {
  border-style: none !important; }

.all-page .content .promotions {
  position: fixed;
  bottom: 0;
  background: #dcdee5;
  width: 100%;
  z-index: 3;
  padding: 5px 0;
  border-top: 1px solid #aaa; }

.all-page .content .promotions ul li {
  padding: 0px 3% 5px 3%; }

.all-page .content .promotions ul li div {
  display: inline-block; }

.all-page .content .promotions ul li img {
  height: 30px;
  float: left;
  margin-top: 4px; }

.all-page .content .promotions ul li input {
  float: right;
  height: 31px;
  border: 1px solid #AAA;
  width: 75%;
  border-radius: 5px;
  padding: 5px 10px; }

.all-page .content .promotions ul li input::-webkit-input-placeholder {
  text-align: right; }

.all-page .content .promotions .sale {
  width: 75%;
  float: right; }

.all-page .content .promotions .sale select {
  width: 100%; }

#soflow {
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  background-image: url("../../../image/15xvbd5.svg");
  background-position: 97% center;
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  color: #555;
  font-size: inherit;
  overflow: hidden;
  padding: 5px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 5px;
  background-color: #fff; }

.all-page .content .promotions span {
  margin: 5px 0;
  float: left;
  margin: ５px 0 0 ０;
  font-size: 1rem; }

.all-page .content .promotions .promotions-line {
  border-top: 1px solid #AAA;
  padding: 5px 3% 0 3%;
  position: relative; }

.all-page .content .promotions .left p {
  display: inline; }

.all-page .content .promotions .soflow-hidden {
  color: #AAA !important; }

.all-page .content .promotions .total-f {
  display: inline-block;
  width: 49%; }
  .all-page .content .promotions .total-f .label-list {
    margin-bottom: 5px; }
    .all-page .content .promotions .total-f .label-list span.label {
      font-size: 0.85rem;
      font-weight: 400; }

.all-page .content .promotions .total-f p i {
  color: #e34149; }

.all-page .content .promotions .total-l {
  display: inline-block;
  width: 49%;
  position: absolute;
  bottom: 3px;
  right: 3%; }

.all-page .content .promotions .total-l .calculator-btn {
  border: none;
  padding: 10px 5px;
  font-size: 0.85rem;
  float: right;
  border-radius: 5px;
  text-align: center;
  width: 45%; }

.all-page .content .promotions .total-l .calculator-btn.btn-checkout {
  background: #e34149;
  color: #fff; }

.all-page .content .promotions .total-l .calculator-btn.btn-returnShop {
  background: #4a5360 !important;
  color: #fff;
  margin-right: 5%; }

/* add by wayne_huang */
.delivery-block {
  color: #09C;
  width: 100%;
  float: none;
  padding-left: 0px; }
  .delivery-block .delivery-text {
    font-size: 0.85rem;
    font-weight: normal; }

.additional-item a.image-box {
  display: table;
  margin: 0 auto; }
  .additional-item a.image-box figure .sale-off-icon {
    position: absolute;
    top: 5px;
    left: 5px;
    color: #fff;
    z-index: 2;
    height: 26px; }
    .additional-item a.image-box figure .sale-off-icon span {
      padding: 0 5px;
      height: 26px;
      background-color: #e61e25;
      float: left;
      line-height: 26px; }

.addition-loading {
  background: #dcdee5 !important;
  border: 1px solid #29303b !important;
  border-radius: 4px;
  width: 100%;
  height: 38px;
  position: absolute;
  bottom: 0;
  display: none; }

/* add by wayne_huang */
.commodity-list .empty-text {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 50px auto;
  text-align: center; }

.commodity-list .gift {
  position: relative; }

.commodity-list .gift .fa-close {
  padding: 0px 10px; }

.commodity-list .gift .bottom span {
  font-size: 0.85rem; }

.commodity-list .gift .bottom .number {
  text-align: center;
  padding: 5px !important; }

.commodity-list .gift .delete {
  width: 30%; }

.commodity-list .gift .delete button {
  margin-left: 25px;
  width: 85px !important; }

.commodity-list .gift .bottom .question {
  width: 100%; }

.commodity-list .gift.problem {
  opacity: 0.5; }

.commodity-list .gift .cover {
  background: rgba(158, 158, 158, 0.2);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

.commodity-list ul li.tail {
  padding-top: 0px !important; }
  .commodity-list ul li.tail .gift-banner {
    height: 40px;
    background: #e34149;
    cursor: pointer; }
    .commodity-list ul li.tail .gift-banner .gift-tip {
      padding: 10px; }
      .commodity-list ul li.tail .gift-banner .gift-tip p {
        text-align: center;
        font-size: 1rem !important;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }

#add-shop-tag {
  padding: 3px 3%; }

.all-page .content .promotions ul li .max-points-position {
  display: block;
  position: relative; }
.all-page .content .promotions ul li .max-points-view {
  background: #fff;
  position: absolute;
  width: auto;
  top: 0px;
  right: 3%;
  color: #aaa; }

/*# sourceMappingURL=cartpagedetail-new.css.map */
