@charset "UTF-8";
#main {
  padding: 0px;
  border-bottom: 30px solid #eee; }

#main .section {
  padding: 0 0 20px !important; }

#main .top {
  margin: 0px !important; }

.top .banner-block {
  padding: 0px 10px; }

.top .no-rcj-a a {
  margin: 0px;
  padding: 0px;
  background: none;
  border: none;
  position: unset;
  display: unset;
  font-weight: unset;
  font-size: 0.85rem;
  color: #005fb3; }

.top .no-rcj-a a:after {
  display: none; }

.top .box-page-group {
  padding-bottom: 0px;
  border: 1px solid #ccc;
  margin: 0px 10px; }

.top .box-page-group .box-page {
  padding: 0px 10px;
  margin: 5px 0px; }

.top .link_ui a img {
  width: auto;
  float: none;
  margin: 10px 10px 10px 10px; }

.top .box-text {
  padding: 5px 10px !important; }

.top .banner-block div {
  margin: 10px 0px; }

.top .manual a:after {
  font-weight: bold;
  color: #444; }

.genuineparts-container .ul-ct-box-items-group li {
  padding: 10px;
  width: 25%;
  float: left;
  list-style-type: none;
  text-align: center; }

.genuineparts-container .title-main-box .common img {
  vertical-align: middle;
  display: inline-block; }

.genuineparts-container .title-main-box .common span {
  vertical-align: middle;
  display: inline-block; }

#main h3.common {
  margin-bottom: 10px; }

.link_ui a span {
  margin: 0px; }

.genuineparts-title .genuineparts-menu-icon {
  padding-top: 5px;
  text-align: right;
  padding-right: 10px;
  font-size: 1.5rem; }

.genuineparts-title .genuineparts-close_btn {
  display: none;
  color: #fff;
  font-size: 1.2rem;
  z-index: 9998;
  position: fixed;
  right: 83%;
  top: 8px; }

.genuineparts-title .genuineparts-menu_items {
  display: none;
  position: fixed;
  top: 0px;
  z-index: 9999;
  right: 0;
  width: 80%;
  overflow-y: auto;
  background: white; }

.genuineparts-title .genuineparts-overlay {
  background: #333;
  opacity: 0.65;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  display: none;
  z-index: 9997; }

.genuineparts-title .genuineparts-menu_items dl dt {
  color: #555;
  background: #efefef;
  font-weight: bold;
  padding: 10px;
  border-left: 3px solid #e61e25;
  margin: -1px 0 0;
  font-size: 1rem !important; }

.genuineparts-title .genuineparts-menu_items dl dd {
  border-bottom: 1px solid #eee;
  font-size: 1rem !important; }

.genuineparts-title .genuineparts-menu_items dl dd a.toggle:after {
  font-size: 1.2rem !important;
  content: "＋";
  color: #555;
  font-family: FontAwesome;
  font-weight: bold;
  right: 17px;
  position: absolute; }

.genuineparts-title .genuineparts-menu_items dl dd > a {
  padding: 15px;
  display: block;
  position: relative; }

.genuineparts-title .genuineparts-menu_items dl dd a.toggle.open:after {
  content: "－"; }

.genuineparts-title .genuineparts-menu_items dl dd ul li a {
  position: relative;
  padding: 12px 27px 12px 12px;
  display: block; }

.genuineparts-title .genuineparts-menu_items dl dd ul li {
  border-bottom: 1px solid #ddd;
  line-height: 1.2;
  font-size: 1rem !important; }

.genuineparts-title .genuineparts-menu_items dl dd ul li a:after {
  right: 15px;
  top: 50%;
  margin-top: -10px;
  font-size: 1.2r;
  content: "";
  font-family: FontAwesome;
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -10px;
  color: #ddd; }

.genuineparts-title .genuineparts-menu_items dl dd ul {
  border: 1px solid #ddd;
  border-bottom: none;
  margin: 0 15px 15px; }

.genuineparts-title .genuineparts-menu_items.show {
  animation: menu_items_in 0.2s ease-in-out; }

.menu-icon-fixed.genuineparts-menu-icon {
  position: fixed;
  z-index: 8;
  right: 0;
  top: 30%;
  margin-right: -12px; }

.menu-icon-fixed.genuineparts-menu-icon a {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  background: #e61e25;
  color: #fff;
  opacity: 0.8; }

.menu-icon-fixed.genuineparts-menu-icon a i {
  position: absolute;
  top: 13px;
  right: 16px;
  font-size: 16px; }

nav.fixed {
  z-index: 9996; }

/*# sourceMappingURL=genuineparts-index.css.map */
