@charset "UTF-8";
#main .top {
  margin: 0px !important; }

.top .banner-block {
  padding: 0px 10px; }

.top .no-rcj-a a {
  margin: 0px;
  padding: 0px;
  background: none;
  border: none;
  position: unset;
  display: unset;
  font-weight: unset;
  font-size: 0.85rem;
  color: #005fb3; }

.top .no-rcj-a a:after {
  display: none; }

.top .box-page-group {
  padding-bottom: 0px;
  border: 1px solid #ccc;
  margin: 0px 10px; }

.top .box-page-group .box-page {
  padding: 0px 10px;
  margin: 5px 0px; }

.top .link_ui a img {
  width: auto;
  float: none;
  margin: 10px 10px 10px 10px; }

.top .box-text {
  padding: 5px 10px !important; }

.top .banner-block div {
  margin: 10px 0px; }

.top .manual a:after {
  font-weight: bold;
  color: #444; }

.link_ui a span {
  margin: 0px; }

.title-box-tap .active {
  box-sizing: border-box;
  border: 1px solid #cccccc;
  border-bottom: none;
  background-color: #fff; }

.title-box-tap li {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  margin-left: 10px;
  padding: 10px 20px;
  list-style-type: none;
  background-color: #cccccc;
  float: left;
  overflow: hidden;
  height: 45px; }

.active-ct-tap-country .active a .img-brand-black {
  display: none !important; }

.active-ct-tap-country .active a .img-brand-active {
  display: block !important; }

.active-ct-tap-country .logo-brand a .img-brand-black {
  display: block; }

.active-ct-tap-country .logo-brand a .img-brand-active {
  display: none; }

.ul-ct-box-items-group li a img {
  float: left; }

.active-ct-tap-country {
  display: block !important; }

.ct-tap-country {
  display: none; }

.ul-ct-box-items-group {
  margin: 5px 0;
  width: 100%;
  float: left; }

.ul-ct-box-items-group li {
  padding: 10px;
  width: 25%;
  float: left;
  list-style-type: none;
  text-align: center; }

.ct-show-info-brand {
  margin: 0;
  padding: 0 10px;
  float: left;
  width: 100%; }

.box-items-group-show {
  margin: 10px 0px;
  padding: 15px;
  width: 100%;
  background-color: #f5f5f5; }

.container-show-info-brand {
  display: none; }

.manufacturer a {
  color: #005fb3; }

#main .section {
  padding: 0 0 20px !important; }

.content-box-part-number {
  padding: 0px 10px; }

.content-box-part-number .genuineparts-block {
  margin: 10px 0px; }

.content-box-part-number #genuineparts-table ul li:nth-child(1) {
  width: 10%; }

.content-box-part-number #genuineparts-table ul li:nth-child(2) {
  width: 35%; }

.content-box-part-number #genuineparts-table ul li:nth-child(3) {
  width: 20%; }

.content-box-part-number #genuineparts-table ul li:nth-child(4) {
  width: 35%; }

.content-box-part-number #genuineparts-table ul li {
  line-height: 20px;
  float: left;
  list-style-type: none;
  text-align: center;
  padding: 5px 5px; }

.content-box-part-number #genuineparts-table ul.title li {
  padding: 0px; }

.content-box-part-number #genuineparts-table div.daterow ul li:first-child {
  padding-left: 0px; }

.content-box-part-number #genuineparts-table div.daterow ul li:last-child {
  padding-right: 0px; }

.content-box-part-number #genuineparts-table ul li input {
  width: 100%;
  height: 25px;
  border: 1px solid #ccc; }

#main {
  border-bottom: 30px solid #eee;
  padding: 0px; }

.section a:hover, .section a:focus {
  color: #e61e25;
  text-decoration: none; }

.genuineparts-title .genuineparts-menu-icon {
  padding-top: 5px;
  text-align: right;
  padding-right: 10px;
  font-size: 1.5rem; }

.genuineparts-title .genuineparts-close_btn {
  display: none;
  color: #fff;
  font-size: 1.2rem;
  z-index: 9998;
  position: fixed;
  right: 83%;
  top: 8px; }

.genuineparts-title .genuineparts-menu_items {
  display: none;
  position: fixed;
  top: 0px;
  z-index: 9999;
  right: 0;
  width: 80%;
  overflow-y: auto;
  background: white; }

.genuineparts-title .genuineparts-overlay {
  background: #333;
  opacity: 0.65;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  display: none;
  z-index: 9997; }

.genuineparts-title .genuineparts-menu_items dl dt {
  color: #555;
  background: #efefef;
  font-weight: bold;
  padding: 10px;
  border-left: 3px solid #e61e25;
  margin: -1px 0 0;
  font-size: 1rem !important; }

.genuineparts-title .genuineparts-menu_items dl dd {
  border-bottom: 1px solid #eee;
  font-size: 1rem !important; }

.genuineparts-title .genuineparts-menu_items dl dd a.toggle:after {
  font-size: 1.2rem !important;
  content: "＋";
  color: #555;
  font-family: FontAwesome;
  font-weight: bold;
  right: 17px;
  position: absolute; }

.genuineparts-title .genuineparts-menu_items dl dd > a {
  padding: 15px;
  display: block;
  position: relative; }

.genuineparts-title .genuineparts-menu_items dl dd a.toggle.open:after {
  content: "－"; }

.genuineparts-title .genuineparts-menu_items dl dd ul li a {
  position: relative;
  padding: 12px 27px 12px 12px;
  display: block; }

.genuineparts-title .genuineparts-menu_items dl dd ul li {
  border-bottom: 1px solid #ddd;
  line-height: 1.2;
  font-size: 1rem !important; }

.genuineparts-title .genuineparts-menu_items dl dd ul li a:after {
  right: 15px;
  top: 50%;
  margin-top: -10px;
  font-size: 1.2r;
  content: "";
  font-family: FontAwesome;
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -10px;
  color: #ddd; }

.genuineparts-title .genuineparts-menu_items dl dd ul {
  border: 1px solid #ddd;
  border-bottom: none;
  margin: 0 15px 15px; }

.genuineparts-title .genuineparts-menu_items.show {
  animation: menu_items_in 0.2s ease-in-out; }

.page-block {
  padding: 0px 10px; }

#page-2 ul.table-main-info li.table-main-title ul li {
  border-right: 1px solid #fff;
  color: #fff;
  padding: 0;
  text-align: center; }

#page-2 .table-main-title {
  background-color: #787878; }

#page-2 .table-main-info {
  border: 1px solid #dcdee3; }

#page-2 ul.table-main-info li.table-main-title ul li:last-child {
  border-right: none; }

#page-2 .btn-box {
  margin: 30px 0px; }

#page-2 ul.table-main-item li {
  text-align: center;
  margin: 10px 0;
  border-right: 1px dotted #dcdee3;
  justify-content: center;
  display: flex;
  flex-direction: column; }

#page-2 ul.table-main-item li h3 {
  font-size: 1rem; }

#page-2 ul.table-main-item {
  justify-content: center;
  display: flex; }

#page-2 ul.table-main-item li:last-child {
  border-right: none; }

.menu-icon-fixed.genuineparts-menu-icon {
  position: fixed;
  z-index: 8;
  right: 0;
  top: 30%;
  margin-right: -12px; }

.menu-icon-fixed.genuineparts-menu-icon a {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  background: #e61e25;
  color: #fff;
  opacity: 0.8; }

.menu-icon-fixed.genuineparts-menu-icon a i {
  position: absolute;
  top: 13px;
  right: 16px;
  font-size: 16px; }

nav.fixed {
  z-index: 9996; }

/*# sourceMappingURL=genuineparts-realtime_divide.css.map */
