.mitumori-description a {
  color: #005fb3; }

#main {
  padding: 0px; }

.mitumori-container .mitumori-container-block {
  padding: 0px 10px; }

.mitumori-container-block .link_ui .mitumori-description {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px; }

.mitumori-container-block .link_ui:last-child .mitumori-description {
  margin-bottom: 0px; }

.mitumori-description p {
  margin-top: 10px; }

.mitumori-description p:first-child {
  margin-top: 0px; }

.mitumori-description a {
  margin: 0px;
  padding: 0px;
  background: none;
  border: none;
  position: unset;
  display: unset;
  font-weight: unset;
  font-size: 0.85rem; }

.link_ui .link_ui_a {
  margin: 0px; }

.mitumori-container .mitumori-container-box {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 30px solid #eee; }

.mitumori-container .mitumori-container-block .description-text {
  margin-bottom: 20px;
  display: block; }

form .mitumori-number span {
  float: left;
  font-size: 1rem;
  display: block; }

form .mitumori-number h1 {
  font-size: 1rem; }

.mitumori-container .submit-form button {
  width: 100%;
  margin-top: 10px; }

.mitumori-container .center-box a {
  width: 100%;
  margin-top: 10px; }

#page-1 .ul-mitumori-form-item-row li {
  margin-top: 10px; }

#page-1 .mitumori-form-block-item {
  margin-top: 10px; }

#page-2 .table-main-item li {
  margin: 5px 0px;
  width: 100%;
  float: left; }

#page-2 .table-main-item {
  border: 1px solid #dcdee3;
  padding: 5px;
  text-align: center; }

#page-2 .table-main-item:nth-child(2n) {
  background-color: #efefef;
  border-top: none;
  border-bottom: none; }

#page-1 form input[type=text] {
  -webkit-appearance: textfield;
  padding: 5px 0px; }

/*# sourceMappingURL=mitumori-index.css.map */
