.box-part-number .title-main-box {
  width: 100%;
  margin: 20px 0px 20px 10px;
  font-weight: bold;
  border-left: 8px solid #e61e25;
  padding-left: 5px; }

.motors-container .title-box {
  width: 100%;
  margin: 20px 0px 20px 10px;
  font-weight: bold; }

.motors-container .brand-menu-list ul li a:after {
  display: none; }

.motors-container .brand-menu-list ul li a {
  background: none;
  color: #337ab7;
  padding: 10px; }

.motors-container .ct-brand-selection {
  margin-bottom: 20px; }

.link_ui a img {
  margin: 0px 5px 0px -12px; }

.link_ui_a h2 {
  float: left; }

.link_ui_a {
  overflow: auto;
  padding: 15px 30px 15px 15px !important; }

.no-after a:after {
  display: none; }

.box-part-number {
  border-top: 30px solid #eee; }

h2 {
  font-size: 1rem; }

/*# sourceMappingURL=motor-index.css.map */
