
.blue-0066c0 {
  color: #0066c0; }

.bold {
  font-weight: bold; }

/*******************************BRAND DISPLACEMENT INDEX******************************************** */

.page-main-part {
  padding: 0 20px;
  margin: 0 0 15px 0;
  width: 100%;  }

.brand-moto-table {
  border: 1px solid #dcdee3;
  width: 100%;
  overflow: hidden; }
  .brand-moto-table .brand-moto-table-title {
    background-color: #7e7e7e;
    color: #fff;
    width: 100%;
    overflow: hidden;
    padding: 10px 0 10px 15px;
    text-align: center; }
  .brand-moto-table .brand-moto-table-content ul {
    width: 100%;
    list-style-type: none; }
    .brand-moto-table .brand-moto-table-content ul li {
      width: 100%;
      float: left;
      padding-left: 15px;
      line-height: 40px; }
      .brand-moto-table .brand-moto-table-content ul li .brand-moto-table-content-left {
        padding: 8px 5px 8px 0;
        color: #000; }
      .brand-moto-table .brand-moto-table-content ul li .brand-moto-table-content-right {
        padding: 8px 5px;
        color: #0066c0; }
        .brand-moto-table .brand-moto-table-content ul li .brand-moto-table-content-right h3.float-left {
          float: left; }
        .brand-moto-table .brand-moto-table-content ul li .brand-moto-table-content-right h3.float-right {
          float: right; }
      .brand-moto-table .brand-moto-table-content ul li:nth-child(2n) .brand-moto-table-content-right {
        background-color: #efefef; }

.ul-menu-ct-box-page-group-displacement {
  text-align: center; }

.blank-box-page-group {
  border: none;
  margin-bottom: 10px !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none; }
  .blank-box-page-group ul.ul-menu-ct-box-page-group {
    padding: 0 !important; }
    .blank-box-page-group ul.ul-menu-ct-box-page-group li {
      border: none !important; }
      .blank-box-page-group ul.ul-menu-ct-box-page-group li a {
        padding: 0 0 7px 0 !important; }



  .table-brands ul.table-brands-list .table-brands-item {
    text-align: center;
    width: 45%; }

@media all and (min-width: 768px) and (max-width: 921px) {
  /**Brand Index */


  .table-brands ul.table-brands-list .table-brands-item {
    text-align: center;
    width: 25%; }

  /**Moto Displacement Index */
  .page-left-part {
    width: 100%; }

  .brand-moto-disp-banner ul li {
    display: flex;
    justify-content: center; }

  .page-right-part {
    width: 100%; }

  .page-main-part {
    width: 100%; } }

  .page-main-part{
            padding: 0px;
        }
  .page-part{
      padding: 0px 10px;
  }
  .title-main-box{
      width: 100%;
      margin: 20px 0px 20px 0px;          
      font-weight: bold;
  }
  .search-motor-bar .search-motor-text{
      color: #595959;
      width: 100%;
      height: 30px;
      padding: 0 0 0 5px;
      border: 1px solid #aaa;
  }
  .search-motor-bar .search-text{
      width: 100%;
  }
  .search-motor-bar .search-btn{
      width: 49%;
  }
  .search-motor-bar .search-btn .btn{
      width: 100%;
  }
  .ct-box-page-group ul li{
      float: left;
      width: 50%;
      line-height: 40px;
  }
  .displacement-search{
      margin-bottom: 20px;
  }
  .displacement-title{
      font-weight: bold;
      border-left: 8px solid #e61e25;
      padding-left: 5px;
      margin-bottom: 20px;
  }
  .displacement-list{
      margin-top: 20px;
  }
  .no-value div{
      padding: 10px;
      font-weight: bold;
  }
  .brand-moto-table{
      border: none;
  }
  .brand-moto-table-content{
      border :1px solid #dcdee3;
  }
  .page-border{
      border-top: 30px solid #eee;
  }
  .search-text{
    margin-bottom: 10px;
  }
   .search-btn .btn:hover{
      color: #fff;
  }
  .brand-moto-table-content a{
    color: #0066c0;
  }
  .brand-moto-table-title .table-title-left{
    padding: 0px;
  }
  .displacement-search-bar{
    margin-bottom: 20px;
  }
  .displacement-search-bar select{
    width: 100%;
    height: 38px;
    padding: 10px 10px;
    background-color: #fff!important; 
  }
  .select2-search{
      display: none;
  }
  .moto-list .value{
    background-color: #fff!important;
  }
  .disps-container ul li{
    width: 100%;
  }