.w-select-down {
  -webkit-appearance: button;
  background-image: url("../../../image/w-select-down.svg");
  background-position: 103% center;
  background-repeat: no-repeat;
  border: none;
  border-bottom: 1px solid #AAA;
  color: #555;
  overflow: hidden;
  padding: 5px 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 200px;
  background-color: #fff;
  font-size: 1rem; }

.w-sort-down {
  -webkit-appearance: button;
  background-image: url("../../../image/w-sort-down.svg");
  background-position: 103% center;
  background-repeat: no-repeat;
  border: none;
  border-bottom: 1px solid #AAA;
  color: #555;
  overflow: hidden;
  padding: 5px 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 200px;
  background-color: #fff;
  font-size: 1rem; }

.w-search {
  border: none;
  border: 1px solid #AAA;
  border-radius: 3px;
  padding: 5px;
  width: 200px; }

.w-botton-search {
  border: none;
  background: #d82435;
  border-radius: 3px;
  height: 31px;
  background-image: url(../../../image/list-icon/search-01.svg);
  background-size: 17%;
  background-position: 53% center;
  background-repeat: no-repeat; }

.w-botton-search:hover {
  opacity: 0.7; }

.w-botton:hover {
  opacity: 0.7; }

.w-botton-r:hover {
  opacity: 0.7; }

.w-botton-b:hover {
  opacity: 0.7; }

.w-botton-y:hover {
  opacity: 0.7; }

.w-botton {
  border: none;
  border-radius: 3px;
  color: #fff;
  padding: 5px 10px; }

.w-botton-r {
  border: none;
  background: #d82435;
  border-radius: 3px;
  color: #fff;
  padding: 5px 10px; }

.w-botton-b {
  border: none;
  background: #08A5F6;
  border-radius: 3px;
  color: #fff;
  padding: 5px 10px; }

.w-botton-y {
  border: none;
  background: #F8B739;
  border-radius: 3px;
  color: #fff;
  padding: 5px 10px; }

.wm-sort-down {
  -webkit-appearance: button;
  background-image: url("../../../image/w-sort-down.svg");
  background-position: 103% center;
  background-repeat: no-repeat;
  border: none;
  border: 1px solid #AAA;
  border-radius: 3px;
  color: #555;
  overflow: hidden;
  padding: 5px;
  box-shadow: 0px 1px 3px #AAA;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 200px;
  background-color: #fff;
  font-size: 1rem; }

.wm-select-down {
  -webkit-appearance: button;
  background-image: url("../../../image/15xvbd5.svg");
  background-position: 100% center;
  background-repeat: no-repeat;
  border: none;
  border: 1px solid #AAA;
  border-radius: 3px;
  color: #555;
  overflow: hidden;
  padding: 5px;
  box-shadow: 0px 1px 3px #AAA;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 200px;
  background-color: #fff;
  font-size: 1rem; }

.wm-select-button {
  -webkit-appearance: button;
  background-image: url("../../../image/wm-select-button.svg");
  background-position: 103% center;
  background-repeat: no-repeat;
  border: none;
  border: 1px solid #AAA;
  border-radius: 3px;
  color: #555;
  overflow: hidden;
  padding: 5px;
  box-shadow: 0px 1px 3px #AAA;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 200px;
  background-color: #fff;
  font-size: 1rem; }

.wm-search {
  border: none !important;
  border: 1px solid #AAA !important;
  border-radius: 3px !important;
  padding: 5px;
  box-shadow: 0px 1px 3px #AAA;
  width: 200px;
  font-size: 1rem !important; }

.wm-botton-search {
  border: none;
  background: #d82435;
  border-radius: 3px;
  height: 45px;
  width: 60px;
  background-image: url(../../../image/list-icon/search-01.svg);
  background-size: 50%;
  background-position: 53% center;
  background-repeat: no-repeat; }

.product-history-title h2 {
  text-align: center;
  height: 30px;
  background: #dcdee5;
  font-size: 1.2rem;
  padding: 3px;
  font-weight: bold; }

.product-history-search {
  width: 100%;
  position: fixed;
  right: 0;
  left: 0;
  top: 0px;
  height: 667px;
  background: #dcdee5;
  transform: translateX(100%);
  transition: 1s;
  opacity: 0.95;
  z-index: 1000;
  overflow: auto; }
  .product-history-search .product-history-search-t {
    background: #4a5360;
    padding: 10px 5% 10px 5%; }
    .product-history-search .product-history-search-t i {
      font-size: 1.6rem;
      color: #fff;
      float: left; }
    .product-history-search .product-history-search-t p {
      color: #fff;
      text-align: center;
      font-size: 1.2rem; }
  .product-history-search .product-history-search-c {
    padding: 20px 5% 50px 5%; }
    .product-history-search .product-history-search-c select {
      margin-top: 20px;
      width: 47%; }
    .product-history-search .product-history-search-c select:last-of-type {
      float: right; }
    .product-history-search .product-history-search-c .search-bar {
      position: relative; }
      .product-history-search .product-history-search-c .search-bar input {
        width: 100%;
        height: 45px; }
      .product-history-search .product-history-search-c .search-bar button {
        background-color: #29303b;
        position: absolute;
        right: 0;
        top: 0; }

.product-history-search.open {
  transform: translateX(0%); }

.product-history-bar .product-history-status {
  padding: 10px; }
  .product-history-bar .product-history-status p:first-of-type {
    float: left; }
  .product-history-bar .product-history-status p:last-of-type {
    float: right; }
  .product-history-bar .product-history-status ul li.close {
    display: none; }
  .product-history-bar .product-history-status ul li {
    width: 31.333%;
    margin: 10px 1% 0 1%;
    float: left;
    text-align: center;
    border: 1px solid #c1c1c1;
    border-radius: 3px;
    color: #aaa;
    overflow: hidden; }
    .product-history-bar .product-history-status ul li .product-history-tag {
      background: #c1c1c1;
      position: relative; }
      .product-history-bar .product-history-status ul li .product-history-tag span {
        color: #fff; }
      .product-history-bar .product-history-status ul li .product-history-tag i {
        color: #fff;
        position: absolute;
        top: 3px;
        right: 5px; }
  .product-history-bar .product-history-status ul p {
    float: none !important;
    color: #e34149;
    line-height: 2; }
.product-history-bar .product-history-select {
  background: #dcdee5;
  padding: 10px; }
  .product-history-bar .product-history-select select {
    width: 45%; }
  .product-history-bar .product-history-select button {
    float: right;
    width: 45%; }

.product-history-content .product-history-list {
  margin: 20px 10px; }
  .product-history-content .product-history-list .product-history-list-project {
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #AAA; }
    .product-history-content .product-history-list .product-history-list-project .product-history-list-project-t {
      background: #fff;
      border-radius: 5px; }
      .product-history-content .product-history-list .product-history-list-project .product-history-list-project-t li {
        padding: 2.5px 5px; }
        .product-history-content .product-history-list .product-history-list-project .product-history-list-project-t li span:last-of-type {
          float: right; }
      .product-history-content .product-history-list .product-history-list-project .product-history-list-project-t li:first-of-type {
        border-bottom: solid 1px #dcdee5; }
      .product-history-content .product-history-list .product-history-list-project .product-history-list-project-t li:last-of-type p:first-of-type {
        font-weight: bold;
        color: #000; }
      .product-history-content .product-history-list .product-history-list-project .product-history-list-project-t li:last-of-type p {
        color: #005fb3;
        font-weight: initial; }
    .product-history-content .product-history-list .product-history-list-project .open {
      background: #EEE;
      border-radius: 5px 5px 0 0; }
    .product-history-content .product-history-list .product-history-list-project .product-history-list-project-c {
      background: #fff;
      display: none;
      border-top: solid 1px #dcdee5; }
      .product-history-content .product-history-list .product-history-list-project .product-history-list-project-c li {
        padding: 5px;
        position: relative; }
        .product-history-content .product-history-list .product-history-list-project .product-history-list-project-c li .project-img {
          width: 30%;
          height: 120px;
          display: table;
          float: left; }
          .product-history-content .product-history-list .product-history-list-project .product-history-list-project-c li .project-img a {
            display: table-cell;
            vertical-align: middle; }
            .product-history-content .product-history-list .product-history-list-project .product-history-list-project-c li .project-img a img {
              margin: 0 auto;
              max-height: 100px;
              margin: 0 auto;
              display: -webkit-box; }
        .product-history-content .product-history-list .product-history-list-project .product-history-list-project-c li .project-data {
          padding: 0 0 0 5px;
          float: right;
          width: 70%; }
          .product-history-content .product-history-list .product-history-list-project .product-history-list-project-c li .project-data p span {
            display: inline; }
          .product-history-content .product-history-list .product-history-list-project .product-history-list-project-c li .project-data i {
            display: block;
            width: 70px;
            text-align: center;
            background: #337ab7;
            padding: 1px 5px;
            margin-bottom: 10px; }
          .product-history-content .product-history-list .product-history-list-project .product-history-list-project-c li .project-data button {
            width: 70px;
            padding: 1px 5px;
            margin-top: 5px; }
          .product-history-content .product-history-list .product-history-list-project .product-history-list-project-c li .project-data .project-bt {
            position: absolute;
            bottom: 5px; }
            .product-history-content .product-history-list .product-history-list-project .product-history-list-project-c li .project-data .project-bt a {
              padding: 3px 8px; }
      .product-history-content .product-history-list .product-history-list-project .product-history-list-project-c li:nth-of-type(1) {
        border-bottom: 1px solid #dcdee5; }
      .product-history-content .product-history-list .product-history-list-project .product-history-list-project-c li:nth-of-type(2) {
        border-bottom: 1px solid #dcdee5; }
        .product-history-content .product-history-list .product-history-list-project .product-history-list-project-c li:nth-of-type(2) .project-data-l {
          width: 50%;
          float: left; }
          .product-history-content .product-history-list .product-history-list-project .product-history-list-project-c li:nth-of-type(2) .project-data-l p {
            font-size: 0.8rem; }
        .product-history-content .product-history-list .product-history-list-project .product-history-list-project-c li:nth-of-type(2) .project-data-r {
          width: 50%;
          float: left; }
          .product-history-content .product-history-list .product-history-list-project .product-history-list-project-c li:nth-of-type(2) .project-data-r p {
            font-size: 0.8rem; }
      .product-history-content .product-history-list .product-history-list-project .product-history-list-project-c li:last-of-type button {
        float: right;
        width: 88px; }
      .product-history-content .product-history-list .product-history-list-project .product-history-list-project-c li:last-of-type a {
        font-size: 1.2rem;
        color: #08A5F6; }
        .product-history-content .product-history-list .product-history-list-project .product-history-list-project-c li:last-of-type a i {
          width: 70%;
          display: inline-block;
          padding: 5px 0 0 5px; }
    .product-history-content .product-history-list .product-history-list-project .open2 {
      border-radius: 0 0 5px 5px; }

.product-history-number-background {
  background: #FFFFFF;
  position: absolute;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: none; }
  .product-history-number-background .product-history-number {
    position: absolute;
    bottom: 0;
    background: #eee;
    border: 1px solid #aaa;
    border-radius: 3px;
    width: 100%; }
    .product-history-number-background .product-history-number .product-history-number-title {
      height: 30px;
      border-bottom: 1px solid #aaa;
      position: relative; }
      .product-history-number-background .product-history-number .product-history-number-title i {
        color: #4a5360;
        font-size: 1.4rem;
        position: absolute;
        top: 3.5px;
        left: 5px; }
      .product-history-number-background .product-history-number .product-history-number-title i:hover {
        color: red; }
      .product-history-number-background .product-history-number .product-history-number-title span {
        position: absolute;
        font-size: 1rem;
        left: 50%;
        top: 4px;
        margin-left: -16px; }
      .product-history-number-background .product-history-number .product-history-number-title button {
        background: #DDD;
        color: #08A5F6;
        position: absolute;
        padding: 1px 10px;
        top: 3.5px;
        right: 5px; }
      .product-history-number-background .product-history-number .product-history-number-title button:hover {
        color: red; }
    .product-history-number-background .product-history-number .product-history-number-content {
      overflow: hidden; }
      .product-history-number-background .product-history-number .product-history-number-content .select-type select {
        width: 80%;
        display: block;
        margin: 20px auto 0 auto; }
      .product-history-number-background .product-history-number .product-history-number-content .number-check {
        width: 80%;
        display: block;
        margin: 20px auto;
        position: relative; }
        .product-history-number-background .product-history-number .product-history-number-content .number-check input {
          text-align: center;
          width: 100%;
          height: 45px;
          border: none;
          padding: 10px;
          resize: none;
          font-size: 1rem;
          border-radius: 3px; }
        .product-history-number-background .product-history-number .product-history-number-content .number-check button {
          height: 45px;
          width: 45px;
          font-size: 2rem;
          line-height: 1; }
        .product-history-number-background .product-history-number .product-history-number-content .number-check .plus {
          position: absolute;
          top: 0;
          right: 0; }
        .product-history-number-background .product-history-number .product-history-number-content .number-check .reduce {
          position: absolute;
          top: 0;
          left: 0; }
      .product-history-number-background .product-history-number .product-history-number-content .product-history-number-content-check {
        margin: 10px 0; }
        .product-history-number-background .product-history-number .product-history-number-content .product-history-number-content-check button {
          background: #4a5360;
          width: 90px;
          font-size: 1.2rem;
          margin: 0 auto;
          display: block; }

.product-history-remarks-background {
  background: #FFFFFF;
  display: none;
  position: absolute;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10; }
  .product-history-remarks-background .product-history-remarks {
    position: absolute;
    bottom: 0;
    background: #eee;
    border: 1px solid #aaa;
    border-radius: 3px;
    width: 100%;
    height: 150px; }
    .product-history-remarks-background .product-history-remarks .product-history-remarks-title {
      height: 30px;
      border-bottom: 1px solid #aaa;
      position: relative; }
      .product-history-remarks-background .product-history-remarks .product-history-remarks-title i {
        color: #4a5360;
        font-size: 1.4rem;
        position: absolute;
        top: 3.5px;
        left: 5px; }
      .product-history-remarks-background .product-history-remarks .product-history-remarks-title i:hover {
        color: red; }
      .product-history-remarks-background .product-history-remarks .product-history-remarks-title span {
        position: absolute;
        font-size: 1rem;
        left: 50%;
        top: 4px;
        margin-left: -16px; }
      .product-history-remarks-background .product-history-remarks .product-history-remarks-title button {
        background: #DDD;
        color: #08A5F6;
        position: absolute;
        padding: 1px 10px;
        top: 3.5px;
        right: 5px; }
      .product-history-remarks-background .product-history-remarks .product-history-remarks-title button:hover {
        color: red; }
    .product-history-remarks-background .product-history-remarks textarea {
      width: 100%;
      height: 167px;
      border: none;
      padding: 10px;
      resize: none;
      font-size: 1.4rem;
      border-radius: 3px; }

/*# sourceMappingURL=product-history.css.map */
