@charset "UTF-8";
.ct-right-below .ct-right-below-body .product-item.product-preview-box {
  position: absolute;
  display: block;
  background: #fff;
  z-index: 998;
  padding: 10px;
  float: none;
  border: 1px solid #dcdee3; }

.ct-right-below .ct-right-below-body .product-item.product-preview-box ul.product-description {
  height: auto; }

.ct-right-below .ct-right-below-body .product-item.product-preview-box [class*="col-"] {
  padding-left: 5px;
  padding-right: 5px; }

.ct-right-below .ct-right-below-body .product-item.product-preview-box .row {
  margin-left: -5px;
  margin-right: -5px; }

.ct-right-below .ct-right-below-body .product-item.product-preview-box .preview-right {
  float: left;
  padding-left: 5px;
  padding-right: 5px; }

.ct-right-below .ct-right-below-body .product-item.product-preview-box .preview-left {
  float: left;
  padding-left: 5px;
  padding-right: 5px;
  overflow: hidden; }

.ct-right-below .ct-right-below-body .product-item.product-preview-box .preview-left .img-box {
  float: left;
  padding: 2% 2% 0 0; }

.ct-right-below .ct-right-below-body .product-item.product-preview-box .preview-left .img-box.thumbnail-col-2 {
  width: 50%;
  height: 67px; }

.ct-right-below .ct-right-below-body .product-item.product-preview-box .preview-left .img-box.thumbnail-col-3 {
  width: 33.3333%;
  height: 42px; }

.ct-right-below .ct-right-below-body .product-item.product-preview-box .preview-left .img-box.thumbnail-col-2:nth-child(2n) {
  padding: 2% 0 0 0; }

.ct-right-below .ct-right-below-body .product-item.product-preview-box .preview-left .img-box.thumbnail-col-3:nth-child(3n) {
  padding: 2% 0 0 0; }

.ct-right-below .ct-right-below-body .product-item.product-preview-box .preview-left .img-box .thumbnail {
  float: left;
  display: block;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  text-align: center; }

.ct-right-below .ct-right-below-body .product-item.product-preview-box .preview-left .img-box .thumbnail img {
  vertical-align: middle;
  display: inline-block; }

.price-search {
  padding: 10px; }

.price-search .price_begin, .price_end {
  width: 60px; }

.price-search .slide-down-btn {
  padding: 10px; }

.price-search .btn-danger {
  width: 100%;
  height: 30px !important; }

#main {
  border-bottom: 30px solid #eeeeee;
  border-top: none; }

.breadcrumbs {
  border-top: 4px solid #E61E25; }

.filterblur {
  filter: blur(2px);
  -webkit-filter: blur(2px); }

.ul-sub2 .active {
  border-color: #E61E25 !important;
  color: #E61E25 !important; }

.ul-sub2 .active .active {
  border-color: #E61E25 !important;
  color: #E61E25 !important; }

.row {
  margin: 0; }

.title-box {
  margin: 20px 10px 0px 10px;
  border-bottom: 1px solid #cccccc; }

.title-main-box {
  float: left;
  font-weight: bold;
  padding-bottom: 10px; }

.container {
  padding: 0px 10px; }

.filter-box {
  float: right; }

.filter-box a {
  font-size: 1rem;
  line-height: 26px !important;
  padding: 0 !important;
  height: auto !important;
  border: none !important;
  color: #848484; }

.filter-box a:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #848484; }

.ct-right-below .container {
  padding: 0; }

.product-item {
  width: 50%;
  float: left;
  border-bottom: 1px solid #cccccc; }

.product-item:nth-child(even) {
  padding: 15px 10px 15px 15px; }

.product-item:nth-child(odd) {
  border-right: 1px solid #cccccc;
  padding: 15px 15px 15px 10px; }

.product-img a {
  display: block;
  width: 120px;
  height: 120px;
  margin: auto;
  padding: 0;
  border: none;
  border-radius: 0px; }

.product-img a img {
  width: 100%;
  height: 100%;
  object-fit: contain; }

.product-detail {
  padding: 0; }

.product-info-search-list {
  margin: 2px 0px 0px 0px; }

.product-name {
  font-size: 1rem;
  float: left;
  width: 100%;
  height: 2.8rem;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis; }

.product-name a:hover {
  color: #333333;
  text-decoration: none; }

.vendor-name {
  font-weight: bold; }

.product-info-search-list .price {
  font-weight: bold;
  font-size: 1rem; }

.tags {
  width: 100%;
  height: 42px;
  overflow: hidden; }

.tags .tag {
  float: left;
  margin-top: 2px;
  margin-right: 2px;
  padding: 1px 3px;
  font-size: 0.75rem;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  border-radius: 4px;
  display: block;
  white-space: normal;
  line-height: inherit;
  vertical-align: inherit; }

.tags .tag:last-child {
  margin-right: 0px; }

.rating {
  justify-content: center;
  display: flex;
  height: 17px !important;
  margin-top: 5px; }

.point-label {
  display: none; }

.ct-pagenav {
  width: 100%;
  text-align: center; }

.pagination .active > span {
  background-color: #e61e25 !important;
  border-color: #e61e25 !important;
  color: #FFFFFF !important; }

.pagination .active:hover > span:hover {
  background-color: #e61e25 !important;
  border-color: #e61e25 !important;
  color: #FFFFFF !important; }

.pagination li a {
  color: #e61e25;
  border-color: #cccccc !important; }

.ct-search-list-main-menu {
  position: fixed;
  bottom: 0;
  left: 100%;
  width: 100%;
  z-index: 10000;
  height: 100%;
  background: #fff; }

.fixedtop {
  top: 0;
  position: fixed; }

.fixedbottom {
  position: fixed;
  bottom: 58px; }

.ct-search-list {
  z-index: 10000; }

.ct-search-list a:hover {
  color: #333333;
  text-decoration: none; }

.ct-search-title-block {
  background-color: #f5f5f5;
  width: 100%;
  padding: 15px;
  text-align: center;
  border-bottom: 1px solid #cccccc;
  color: #848484;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 27px;
  position: relative;
  bottom: 0;
  left: 0; }

.ct-search-background {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999;
  background: #ffffff;
  opacity: 0.2;
  bottom: 0; }

.ct-search-title-block .delete-btn {
  position: absolute;
  right: 15px;
  font-size: 1.5rem;
  line-height: 25px;
  color: #848484; }

.ct-search-title-block .delete-btn:hover {
  outline: none;
  color: #848484; }

.ct-search-title-block .back-btn {
  position: absolute;
  left: 15px;
  font-size: 1.2rem;
  line-height: 28px;
  color: #848484; }

.ct-search-title-block .back-btn:hover {
  outline: none;
  color: #848484; }

.li-left-title {
  border-bottom: 1px solid #eee;
  background-color: #FFFFFF;
  opacity: 0.9;
  padding: 15px; }

.clear-search-btn {
  border-bottom: 1px solid #eee;
  background-color: #FFFFFF;
  opacity: 0.9;
  padding: 4px 15px 15px;
  height: 200px; }

.clear-search-btn a {
  border-radius: 4px; }

.title-style {
  font-size: 1rem !important;
  width: 100%; }

.title-style a:hover {
  color: #333333;
  text-decoration: none; }

.category-list-title {
  font-size: 1rem !important;
  width: 100%; }

.category-list-title a {
  display: block;
  position: relative; }

.category-list-title a:after {
  font-size: 1.2rem !important;
  content: "";
  font-family: FontAwesome;
  position: absolute;
  right: 0px;
  top: 10px;
  margin-top: -10px;
  color: #555555; }

.ct-table-row {
  overflow: auto; }

.ct-table-cell-title {
  float: left; }

.ct-table-cell {
  width: 100%;
  float: left;
  margin-top: 5px; }

.ct-table-cell .container {
  padding: 0; }

.li-cell-dropdown-item:first-child {
  width: 40%; }

.li-cell-dropdown-item:last-child {
  margin-right: 0px;
  width: 34.55%; }

.li-cell-dropdown-item {
  float: left;
  margin-right: 5px;
  width: 22%; }

.li-cell-dropdown-item .container {
  padding: 0; }

.ul-left-title .select2-selection__rendered {
  font-size: 0.7rem;
  width: 100%;
  line-height: 28px !important;
  color: #333333; }

.select-list-box .select2-container--default {
  margin-bottom: 0px;
  width: 100% !important; }

.select2-selection--single {
  border: 1px solid #cccccc !important; }

.select2-dropdown {
  z-index: 10001;
  font-size: 0.7rem;
  border: 1px solid #cccccc; }

.select2-selection__arrow {
  height: 28px !important; }

.filter-list-title {
  float: left;
  width: 100%; }

.ul-sub1 {
  width: 100%;
  float: left;
  margin-top: 5px; }

.filter-list-block .li-sub2 {
  text-align: center;
  float: left;
  padding: 6px 0px;
  width: 31.6%;
  margin-right: 5px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  font-size: 0.7rem; }

.filter-list-block .li-sub2:last-child {
  margin-right: 0px; }

.filter-list-block .li-sub2:nth-child(2) {
  width: 33.367%; }

.country-list-title {
  float: left;
  width: 100%; }

.country-list-block .li-sub2 {
  text-align: center;
  float: left;
  padding: 6px 0px;
  width: 49.14%;
  border: 1px solid #cccccc;
  border-radius: 4px;
  font-size: 0.7rem; }

.country-list-block .li-sub2:last-child {
  margin-left: 5px; }

.price-range-title {
  float: left;
  width: 100%; }

.price-range-block .li-sub2 {
  text-align: center;
  float: left;
  padding: 6px 0px;
  width: 20%;
  border: 1px solid #cccccc;
  border-radius: 4px;
  font-size: 0.7rem; }

.search-button-block {
  position: fixed;
  bottom: 0;
  background-color: #f5f5f5;
  width: 100%;
  padding: 10px 15px;
  text-align: center;
  border-top: 1px solid #cccccc;
  z-index: 10000; }

.search-button-block .search-button:hover {
  outline: none; }

.search-button-block .disabled {
  pointer-events: none;
  opacity: 1; }

.search-button-block .disabled:hover {
  pointer-events: none;
  opacity: 1; }

.price-search {
  float: left;
  padding: 0;
  margin-left: 5px;
  width: 56.55%; }

.price-search input {
  padding: 6px 0px;
  width: 46.32% !important;
  border: 1px solid #cccccc;
  border-radius: 4px;
  font-size: 0.7rem;
  text-align: center;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.price-search input:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.search-button {
  width: 100%;
  padding: 10px 0px;
  text-align: center !important;
  border-radius: 4px !important; }

.ul-category-list {
  position: absolute;
  left: 100%;
  width: 100%;
  overflow: auto;
  height: 100%;
  background: #fff;
  opacity: 0.9; }

.nodes_child_list {
  position: absolute;
  left: 100%;
  width: 100%;
  overflow: auto;
  height: 89%; }

.ul-left-title {
  overflow: auto;
  position: relative;
  right: 0; }

.category-second-title {
  font-size: 1rem !important;
  width: 100%; }

.nodes_child_list_title a {
  width: 100%;
  display: inline-block;
  position: relative; }

.category-second-title a {
  width: 88%;
  display: inline-block;
  position: relative; }

.category-second-title.list_child a:after {
  font-size: 1.2rem !important;
  content: "";
  font-family: FontAwesome;
  position: absolute;
  right: 0;
  top: calc(50% - 4px);
  margin-top: -10px;
  color: #555555; }

.ct-search-list-main-menu .fa-circle-thin.uncheck-btn {
  color: #cccccc !important;
  font-size: 1.2rem;
  line-height: 22px; }

.ct-search-list-main-menu .check-btn {
  color: #E61E25 !important;
  font-size: 1.2rem;
  line-height: 22px; }

.uncheck-search-button {
  background-color: #848484 !important;
  border-color: #CCCCCC !important; }

.category-tag-block {
  float: left;
  margin-right: 2%;
  border-radius: 4px;
  padding: 0px 4px;
  line-height: 19px;
  opacity: 0.7; }

.li-category-list .category-list-title a .ca-text {
  display: block;
  float: left;
  margin-right: 2%; }

.category-list-title .active {
  border: 1px solid #E61E25 !important;
  color: #E61E25 !important; }

.category-tag-block .category-tag-name {
  font-size: 0.7rem; }

.label-purple {
  background: #961975;
  color: #fff; }

.swal2-modal {
  width: 281px !important;
  padding: 10px !important;
  min-height: 281px !important; }

.swal2-spacer {
  display: none !important; }

.swal2-modal button {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
  outline: none !important; }

.swal2-container {
  z-index: 10002; }

.swal2-container .swal2-title {
  font-size: 1.5rem;
  line-height: 2.5rem; }

.swal2-modal .swal2-content {
  font-size: 0.85rem; }

.swal2-modal .swal2-image {
  margin: 15px auto; }

.swal2-modal .swal2-icon {
  margin: 15px auto !important; }

.select2-container .selection .active {
  border: 1px solid #e61e25 !important; }

.select-motor .active, .select-manufacturer-list .active {
  border: 1px solid #E61E25 !important;
  color: #E61E25 !important;
  padding: 0px 5px;
  border-radius: 4px; }

.select-motor .active a, .select-manufacturer-list .active a {
  color: #E61E25 !important; }

.li-keyword-list .search {
  width: 100%;
  padding: 6px 0px;
  border: 1px solid #cccccc;
  text-align: center; }

.select-manufacturer {
  width: 100%; }

.ui-menu-item {
  padding: 5px; }

@media (max-width: 330px) {
  .ul-category-list {
    height: 76%; }

  .nodes_child_list {
    height: 76%; } }
@media (min-height: 650px) {
  .clear-search-btn {
    padding: 18% 15px 15px; } }
@media (min-height: 650px) {
  .clear-search-btn {
    padding: 8% 15px 15px; } }
@media (min-height: 700px) {
  .clear-search-btn {
    padding: 23% 15px 15px; }

  .nodes_child_list {
    height: 91%; } }
@media (min-height: 800px) {
  .clear-search-btn {
    padding: 46% 15px 15px; }

  .nodes_child_list {
    height: 97%; } }
.condition-search h3 {
  padding: 10px 5px;
  color: #717071;
  border-bottom: 1px solid #717071; }

.condition-search ul {
  padding: 0px 10px; }

.condition-search ul li {
  width: 31.333%;
  margin: 0 1%;
  float: left;
  text-align: center;
  border: 1px solid #c1c1c1;
  border-radius: 3px;
  color: #aaa;
  overflow: hidden; }

.condition-search h4 {
  padding: 10px 0px;
  color: #717071; }

.sort-search {
  padding: 10px;
  background: #dcdee5;
  margin-top: 10px; }

.sort-search .filter-box {
  width: 45%;
  display: inline-block;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid #AAA;
  padding: 1.5px 10px;
  border-radius: 5px;
  background: #fff; }

.sort-search .sort-button {
  width: 50%;
  display: inline-block; }

.filter-box-div {
  width: 87%;
  display: inline-block; }

#soflow {
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  background-image: url(../../../image/15xvbd5.svg);
  background-position: 97% center;
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  color: #555;
  font-size: inherit;
  overflow: hidden;
  padding: 5px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 5px;
  width: 90%;
  background-color: #fff; }

.filter-box a {
  font-size: 0.85rem;
  color: #29303b; }

.filter-box i {
  font-size: 0.85rem;
  color: #4a5360; }

.ct-right-search-list {
  margin-top: 50px; }

.double-search-title span {
  font-weight: bold;
  color: #09C; }

.double-search-first {
  background: #dcdee5;
  padding: 5px; }
  .double-search-first h2 {
    display: inline; }
  .double-search-first a {
    color: #09C; }

.double-search-second {
  background: #dcdee5;
  padding: 5px; }
  .double-search-second h2 {
    display: inline; }
  .double-search-second a {
    color: #09C; }
.search-tag {
  width: 100%;
  background: #c1c1c1;
  position: relative; }
  .search-tag span {
    color: #fff; }
  .search-tag a {
    position: absolute;
    top: 0;
    right: 10px; }
    .search-tag a i {
      color: #fff;
      width: 10%; }

.condition-search ul li p {
  line-height: 2;
  color: #e34149; }

.search-button-block .btn-warning {
  border-radius: 4px;
  margin-bottom: 10px; }


/*# sourceMappingURL=search-new.css.map */
