@charset "UTF-8";
.row {
  margin-left: 0px !important;
  margin-right: 0px !important; }

.box-content {
  margin-top: 20px;
  padding: 0;
  background-color: #fff;
  border: 1px solid #dcdee3;
  display: block; }

.title-main-box-clear h2 {
  color: #333 !important;
  font-weight: bold; }

.title-main-box-clear h2 span:first-child {
  display: block; }

.title-main-box-clear h2 a {
  color: #005fb3;
  font-size: 0.85rem;
  font-weight: normal;
  vertical-align: middle; }

.title-main-box-clear {
  padding: 10px 0 0;
  margin-bottom: 10px;
  padding-left: 10px; }

.shopping-title .shopping-menu-icon {
  padding-top: 5px;
  text-align: right;
  padding-right: 10px;
  font-size: 1.5rem; }

.shopping-title .shopping-close_btn {
  display: none;
  color: #fff;
  font-size: 1.2rem;
  z-index: 9998;
  position: fixed;
  right: 83%;
  top: 8px; }

.shopping-title .shopping-menu_items {
  display: none;
  position: fixed;
  top: 0px;
  z-index: 9999;
  right: 0;
  width: 80%;
  overflow-y: auto;
  background: white; }

.shopping-title .shopping-overlay {
  background: #333;
  opacity: 0.65;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  display: none;
  z-index: 9997; }

.shopping-title .shopping-menu_items dl dt {
  color: #555;
  background: #efefef;
  font-weight: bold;
  padding: 10px;
  border-left: 3px solid #e61e25;
  margin: -1px 0 0;
  font-size: 1rem !important; }

.shopping-title .shopping-menu_items dl dd {
  border-bottom: 1px solid #eee;
  font-size: 1rem !important; }

.shopping-title .shopping-menu_items dl dd a.toggle:after {
  font-size: 1.2rem !important;
  content: "＋";
  color: #555;
  font-family: FontAwesome;
  font-weight: bold;
  right: 17px;
  position: absolute; }

.shopping-title .shopping-menu_items dl dd > a {
  padding: 15px;
  display: block;
  position: relative; }

.shopping-title .shopping-menu_items dl dd a.toggle.open:after {
  content: "－"; }

.shopping-title .shopping-menu_items dl dd ul li a {
  position: relative;
  padding: 12px 27px 12px 12px;
  display: block; }

.shopping-title .shopping-menu_items dl dd ul li {
  border-bottom: 1px solid #ddd;
  line-height: 1.2;
  font-size: 1rem !important; }

.shopping-title .shopping-menu_items dl dd ul li a:after {
  right: 15px;
  top: 50%;
  margin-top: -10px;
  font-size: 1.2r;
  content: "";
  font-family: FontAwesome;
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -10px;
  color: #ddd; }

.shopping-title .shopping-menu_items dl dd ul {
  border: 1px solid #ddd;
  border-bottom: none;
  margin: 0 15px 15px; }

.shopping-title .shopping-menu_items.show {
  animation: menu_items_in 0.2s ease-in-out; }

.menu-icon-fixed.shopping-menu-icon {
  position: fixed;
  z-index: 8;
  right: 0;
  top: 30%;
  margin-right: -12px; }

.menu-icon-fixed.shopping-menu-icon a {
  position: relative;
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  background: #e61e25;
  color: #fff;
  opacity: 0.8; }

.menu-icon-fixed.shopping-menu-icon a i {
  position: absolute;
  top: 13px;
  right: 16px;
  font-size: 16px; }

nav.fixed {
  z-index: 9996 !important; }

.no-rcj-a a {
  margin: 0px;
  padding: 0px !important;
  background: none;
  border: none;
  position: unset;
  display: unset !important;
  font-weight: unset;
  font-size: 0.85rem;
  color: #005fb3; }

.no-rcj-a a:after {
  display: none; }

.menu-list .title {
  background: #e61e25;
  padding: 10px;
  color: #fff; }

.menu_items .wholesale-content {
  padding: 5px 10px; }

.level-card.golden {
  color: #333;
  background: linear-gradient(to right, #e8b248 0%, #ecd15c 16%, #f1d067 35%, #fdf37d 50%, #f1d067 65%, #ecd15c 84%, #e8b248 100%); }

.level-card {
  padding: 10px;
  margin: 0px 10px; }

.level-card label {
  font-weight: bold;
  margin-bottom: 5px; }

.level-card p {
  font-size: 0.85rem;
  margin-bottom: 5px; }

.level-card label:last-child {
  margin-bottom: 0px; }

.level-card p:last-child {
  margin-bottom: 0px; }

.level-card.sliver {
  background: linear-gradient(45deg, #999999 0%, #cccccc 13%, #999999 50%, #cccccc 87%, #999999 100%);
  color: #fff; }

.level-card.general {
  background: linear-gradient(to right, #005121 0%, #418230 16%, #2a762e 35%, #66b353 50%, #2a762e 65%, #418230 84%, #005121 100%);
  color: #fff; }

header .menu_items dl {
  margin-top: 5px !important; }

.menu_items .wholesale-content ul.no-rcj-a li {
  padding-top: 5px; }

.shopping-title .shopping-menu_items.show {
  animation: menu_items_in 0.2s ease-in-out; }

.container .row.box-content:last-child {
  margin-bottom: 20px; }

/*# sourceMappingURL=shopping.css.map */
