@charset "utf-8";
/* CSS Document */
@font-face {
  font-family: 'simhei';
  src: url('../fonts/SimHei.eot'); /* IE9 Compat Modes */
  src: url('../fonts/SimHei.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/SimHei.woff') format('woff'), /* Modern Browsers */
       url('../fonts/SimHei.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/SimHei.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'meiryo';
  src: url('../fonts/Meiryo.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Meiryo.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Meiryo.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Meiryo.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Meiryo.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: '微軟正黑體';
  src: url('../fonts/msjh.eot'); /* IE9 Compat Modes */
  src: url('../fonts/msjh.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/MicrosoftJhengHeiRegular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/msjh.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/MicrosoftJhengHeiRegular.svg#svgFontName') format('svg'); /* Legacy iOS */
}