.title-content-branking
  padding: 15px 0
  font-size: 1rem
  text-align: center
  font-weight: bold
.content-branking
  margin-bottom: 20px
  padding: 0 5px
.ct-inspired-by-your
  padding: 10px 10px 20px
.box-ct-recommond-fix
  width: 100%
  float: left
  border: none
.ct-item-content-branking
  width: 100%
  float: left
  border: $border-box
  padding: 0 10px
  background-color: #fff
  max-height: 376px

  .item-product-content-branking
    padding: 10px 0 !important
    width: 100%
    float: left
    list-style-type: none
    border-bottom: $border-box
    .item-product-grid-pars-content-branking-left
      position: relative
      a
        figure
          width: 90px !important
          height: 90px !important
    .item-product-grid-pars-content-branking-right
      padding: 0 0 0 10px
      .title-product-item
        margin-top: 0 !important
      span
        margin: 5px 0
        float: left
      a
        color: #005fb3
        text-decoration: none
        transition: all 0.3s ease
  .item-product-content-branking:last-child
    border: none
.box-search-motor
  margin-top: -5px
  background-color: $background-header-color
  padding: 20px
  .left
    width: 200px
    float: right
    a
      min-width: 170px

  .right
    padding: 0 20px 0 0
    input
      text-align: left
      &:hover
        background-color: transparent
    .box-fix-with
      float: right
    .box-fix-auto
      padding: 0 20px 0 0
    a.btn
      min-width: 170px
.ct-item-content-branking
  width: 100%
  float: left
  border: $border-box
  padding: 0 10px
  background-color: #fff

  .item-product-content-branking
    padding: 10px 0 !important
    width: 100%
    float: left
    list-style-type: none
    border-bottom: $border-box
    .item-product-grid-pars-content-branking-left
      a
        color: #005fb3
        text-decoration: none
        transition: all 0.3s ease
        figure
          width: 90px !important
          height: 90px !important

    .item-product-grid-pars-content-branking-right
      padding: 0 0 0 10px
      .title-product-item
        margin-top: 0 !important
      span
        margin: 5px 0
        float: left
  .item-product-content-branking:last-child
    border: none
.thumbnail-img-147
  width: 148px !important
  height: 111px !important
.thumbnail-pin
  position: relative
  .thumbnail-icon
    width: 100%
    height: 100%
    position: absolute
    left: 0
    top: 0
.ct-right-below-body
  .product-item
    width: 25%
    float: left
    margin: 0
    padding: 10px
    border-right: $border-box
    border-bottom: $border-box
    min-height: 200px
    &:nth-child(4n)
      border-right: none
    .product-img
      margin-bottom: 5px
      display: flex
      justify-content: center
      a
        font-size: 0
      .search-list-img
        width: 190px
        height: 190px
        border: none
        padding: 0
        text-align: center
      @media (max-width: 767px)
        .search-list-img
          width: auto
          height: auto
          border: none
      img
        max-width: 100%
        max-height: 100%
        display: inline-block
        vertical-align: middle
    .product-name
      font-size: 1rem
      float: left
      font-weight: bold
      color: #005fb3
      /* wayne over write width 100% */
      width: 100%
      height: 2.8rem
      -webkit-line-clamp: 2
      -webkit-box-orient: vertical
      overflow: hidden
      text-overflow: ellipsis
      a
        text-decoration: none
    .vendor-name
      font-size: 0.85rem
      font-weight: bold
      color: #333
      margin-bottom: 10px
    .point-label
      margin-bottom: 10px
    ul.product-description
      list-style-type: none
      overflow-y: auto
      height: 86px
      word-break: break-all
      word-wrap: break-word
      margin-bottom: 10px
      .motor
        margin-bottom: 5px
      .model-name
        margin-bottom: 5px
      li
        line-height: 20px
        color: #5e5e5e
    label.price
      font-size: 16px
      font-weight: bold
      color: #e83a3f
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap
      display: block
    label.price-old
      color: #7b7b7b
      margin: 0 0 10px 0
    label
      width: 100%
      line-height: 20px
    .div-btn-check-detail
      padding: 0
      width: 100%
      min-height: 28px
      border: $border-box
      border-radius: 2px
      text-align: center
      margin: 10px 0 10px 0
      cursor: pointer
      color: #1c457d
      &:hover
        background-color: $red-color
        color: #fff
      a:hover
        color: #fff
      span
        margin-top: 3px
        float: left
        width: 100%
    .rating
      span
        margin: 0 auto
    .tags
      display: block
      margin-top: -5px
      height: 55px
      padding: 1px
      overflow: hidden
      .tag
        margin: 5px 5px 0 0
        float: left
      .label
        padding: .2em .6em .2em
        &.label-outlet
          background: #fff
          color: #333
          outline: 1px $red-color solid
    .icon-star-container
      justify-content: center
      display: flex
      .icon-star-element
        display: flex
        margin: 0
  .product-item-style-2
    width: 100%
    border-right: none
    border-bottom: $border-box
    display: flex
    .product-img
      width: 20%
      display: flex
      flex-direction: column
      justify-content: center
      text-align: center
      a
        display: flex
        margin-bottom: 0
    .product-detail
      width: 80%
      .product-info-search-list
        width: 70%
        float: left
        padding-right: 10px
        border-right: $border-box
        .product-name
          float: none
      .product-state-search-list
        width: 30%
        float: right
        padding-left: 10px
        .price
          margin: 0
        .rating
          padding: 0
          div
            padding: 0
    ul.product-description
      list-style-position: inside
      list-style-type: disc !important
      li
        display: list-item
        span
          position: relative
          left: 0
.box-search-motor
  margin-top: -5px
  background-color: $background-header-color
  padding: 20px
  .left
    width: 200px
    float: right
    a
      min-width: 170px

  .right
    padding: 0 20px 0 0
    input
      text-align: left
      &:hover
        background-color: transparent
    .box-fix-with
      float: right
    .box-fix-auto
      padding: 0 20px 0 0
    a.btn
      min-width: 170px
  .item-product-content-branking
    padding: 10px 0 !important
    width: 100%
    float: left
    list-style-type: none
    border-bottom: $border-box
    .item-product-grid-pars-content-branking-left
      a
        figure
          width: 90px !important
          height: 90px !important
    .item-product-grid-pars-content-branking-right
      padding: 0 0 0 10px
      .title-product-item
        margin-top: 0 !important
      span
        margin: 5px 0
        float: left
  .item-product-content-branking:last-child
    border: none
.ct-item-content-branking
  width: 100%
  float: left
  border: $border-box
  padding: 0 10px
  background-color: #fff

  .item-product-content-branking
    padding: 10px 0 !important
    width: 100%
    float: left
    list-style-type: none
    border-bottom: $border-box
    .item-product-grid-pars-content-branking-left
      a
        figure
          width: 90px !important
          height: 90px !important
    .item-product-grid-pars-content-branking-right
      padding: 0 0 0 10px
      .title-product-item
        margin-top: 0 !important
      span
        margin: 5px 0
        float: left
  .item-product-grid
  padding: 5px
  text-align: center
  float: left
  list-style-type: none
  a
    margin: 0 auto
    display: inline-block
    figure
      width: 140px
      height: 140px
      display: table-cell
      vertical-align: middle
      text-align: center
      position: relative
      img
        max-width: 100%
        max-height: 100%
      .sale-off-icon
        position: absolute
        top: 5px
        left: 5px
        color: #fff
        z-index: 2
        height: 26px
        span
          padding: 0 5px
          height: 26px
          background-color: $red-color
          float: left
          line-height: 26px
        &:before
          content: ""
          width: 11px
          height: 26px
          background: url("https://img.webike.tw/shopping/image/bg-sale-off-left.png")
          float: left
        &:after
          content: ""
          width: 11px
          height: 26px
          background: url("https://img.webike.tw/shopping/image/bg-sale-off-right.png")
          float: left

.item-product-grid
  padding: 5px
  text-align: center
  float: left
  list-style-type: none
  a
    margin: 0 auto
    display: inline-block
    figure
      width: 140px
      height: 140px
      display: table-cell
      vertical-align: middle
      text-align: center
      position: relative
      img
        max-width: 100%
        max-height: 100%
      .sale-off-icon
        position: absolute
        top: 5px
        left: 5px
        color: #fff
        z-index: 2
        height: 26px
        span
          padding: 0 5px
          height: 26px
          background-color: $red-color
          float: left
          line-height: 26px
        &:before
          content: ""
          width: 11px
          height: 26px
          background: url("https://img.webike.tw/shopping/image/bg-sale-off-left.png")
          float: left
        &:after
          content: ""
          width: 11px
          height: 26px
          background: url("https://img.webike.tw/shopping/image/bg-sale-off-right.png")
          float: left
.lank-small
  padding: 8px 0 0 0
  text-align: center
  position: absolute
  background-image: url(https://img-webike-tw-370429.c.cdn77.org/shopping/image/shopping/icon.png)
  width: 31px
  height: 24px
  bottom: 5px
  left: 5px
  background-position: -50px 229px
  font-size: 0.85rem
  color: #fff
.lank-small-01
  background-position: -50px 300px
.lank-small-02
  background-position: -50px 276px
.lank-small-03
  background-position: -50px 252px

.title-product-item
  margin-top: 5px
  width: 100%
  font-size: 0.85rem
  text-align: left
  float: left

.ct-item-content-branking
  width: 100%
  float: left
  border: 1px solid #dcdee3
  padding: 0 10px
  background-color: #fff

.bnt-see-all-branking
  width: 100%
  font-weight: bold
  font-size: 1rem

.box-fix-column
  margin: 0
  padding: 0
  width: 100%
  float: left
  .box-fix-with, .fix
    margin: 0
    padding: 0
    float: left
  .box-fix-auto, .auto
    float: none
    width: auto
    overflow: hidden

.title-product-item-top
  font-weight: bold
  display: flex