.w-ad-bar {
  background: #f20d43;
  width: 100%;
  padding: 2px 0; 
  position: fixed;
  z-index: 105}
  .w-ad-bar p {
    text-align: center;
    font-size: 1rem;
    color: yellow; }
header{
  margin-top: 26px;
}

#main{
  margin-top: 76px !important;
}

.down-member.open, .down-menu.open, .down-cart.open, .down-search.open{
  top: 76px !important;
}
