@charset "UTF-8";
.size-19rem {
  font-size: 1.9rem; }
  .size-19rem.size-force {
    font-size: 1rem !important; }

.size-15rem {
  font-size: 1.5rem; }
  .size-15rem.size-force {
    font-size: 1rem !important; }

.size-12rem {
  font-size: 1.2rem; }
  .size-12rem.size-force {
    font-size: 1rem !important; }

.size-10rem {
  font-size: 1rem; }
  .size-10rem.size-force {
    font-size: 1rem !important; }

.size-08rem {
  font-size: 0.85rem; }
  .size-08rem.size-force {
    font-size: 1rem !important; }

.box {
  margin-bottom: 10px; }

.base-btn-gray {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #e3e3e3));
  background: -moz-linear-gradient(top, #ffffff 5%, #e3e3e3 100%);
  background: -webkit-linear-gradient(top, #ffffff 5%, #e3e3e3 100%);
  background: -o-linear-gradient(top, #ffffff 5%, #e3e3e3 100%);
  background: -ms-linear-gradient(top, #ffffff 5%, #e3e3e3 100%);
  background: linear-gradient(to bottom, #ffffff 5%, #e3e3e3 100%);
  color: #000 !important; }

.dotted-text {
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  word-break: break-all;
  word-wrap: break-word;
  white-space: nowrap; }

.dotted-text1 {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  word-wrap: break-word;
  white-space: nowrap;
  display: block;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  max-height: 200%; }
  .dotted-text1.force-limit {
    height: 19.5px; }

.dotted-text2 {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  max-height: 200%; }
  .dotted-text2.force-limit {
    height: 39px; }

.dotted-text3 {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  max-height: 300%; }
  .dotted-text3.force-limit {
    height: 58.5px; }

.dotted-text4 {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  max-height: 400%; }
  .dotted-text4.force-limit {
    height: 78px; }

.thumb-box-border {
  border: 1px solid #dcdee3; }

.thumbnail {
  padding: 2px; }

.btn-primary {
  color: #fff;
  background-color: #005fb3;
  border-color: #005fb3; }
  .btn-primary:hover {
    background-color: #005699;
    border-color: #005699; }

.btn-full {
  width: 100%; }

.btn-asking {
  background: #005fb3 !important;
  color: #fff; }
  .btn-asking:focus, .btn-asking:hover {
    color: #fff;
    outline: 5px auto #fff; }

.btn-danger {
  color: #fff !important;
  background: #e61e25 !important;
  border-color: #e61e25 !important; }

.width-full {
  width: 100% !important; }

.width-half {
  width: 50% !important; }

.btn-full {
  width: 100%; }

.btn {
  border-color: #ccc;
  height: 38px !important;
  font-size: 1rem;
  padding: 5px 10px !important;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0; }
  .btn.btn-small {
    height: 33px !important;
    font-size: 0.85rem;
    padding: 5px !important; }
  .btn.btn-large {
    height: 48px !important;
    font-size: 1.2rem;
    padding: 5px !important; }
  .btn.disabled {
    cursor: no-drop; }

a.btn {
  line-height: 28px !important; }
  a.btn.btn-small {
    line-height: 23px !important; }
  a.btn.btn-large {
    line-height: 38px !important; }
  a.btn.disabled {
    cursor: no-drop; }

.btn-gap-top {
  margin-top: 10px; }

.btn-gap-bottom {
  margin-bottom: 10px; }

.btn-gap-right {
  margin-right: 10px; }

.btn-gap-left {
  margin-left: 10px; }

.btn-warning {
  background-color: #ff6600;
  border: none; }
  .btn-warning:hover {
    background-color: #dd4e00; }

.text-left {
  text-align: left !important; }

.text-center {
  text-align: center !important; }

.cursor-pointer {
  cursor: pointer; }

figure {
  width: 140px;
  height: 140px;
  vertical-align: middle;
  text-align: center;
  position: relative;
  display: block;
  font-size: 0;
  margin: 0 auto; }

.image-180-180 {
  width: 180px;
  height: 180px; }

.image-90-90 {
  width: 90px;
  height: 90px !important; }

.image-100-100 {
  width: 100px;
  height: 100px !important; }
  .image-100-100 img {
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    vertical-align: middle; }
  .image-100-100 .sale-off-icon {
    position: absolute;
    top: 5px;
    left: 5px;
    color: #fff;
    z-index: 2;
    height: 26px; }
    .image-100-100 .sale-off-icon span {
      padding: 0 5px;
      height: 26px;
      background-color: #e61e25;
      float: left;
      line-height: 26px; }
    .image-100-100 .sale-off-icon:before {
      content: "";
      width: 11px;
      height: 26px;
      background: url("https://img.webike.tw/shopping/image/bg-sale-off-left.png");
      float: left; }
    .image-100-100 .sale-off-icon:after {
      content: "";
      width: 11px;
      height: 26px;
      background: url("https://img.webike.tw/shopping/image/bg-sale-off-right.png");
      float: left; }

.title-product-item-top {
  font-weight: bold;
  display: flex; }

.name {
  margin-top: 5px;
  font-size: 0.85rem;
  text-align: left; }

.product-name {
  color: #005fb3; }

.final-price {
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  color: #e61e25; }

.price-old {
  margin-top: 5px;
  width: 100%;
  font-size: 0.85rem;
  text-align: left;
  text-decoration: line-through; }

.normal-text {
  margin-top: 5px;
  width: 100%;
  font-size: 0.85rem;
  text-align: left;
  word-break: break-all;
  word-wrap: break-word; }

.bold-text {
  margin-top: 5px;
  width: 100%;
  font-size: 0.85rem;
  text-align: left;
  font-weight: bold;
  word-break: break-all;
  word-wrap: break-word; }

.icon-star {
  float: left;
  margin: 0 auto;
  padding: 0;
  width: 72px;
  height: 14px;
  background-image: url(https://img-webike-tw-370429.c.cdn77.org/shopping/image/shopping/icon.png);
  background-position: 0 -145px;
  display: table; }

.star-01 {
  background-position: 0 -174px; }

.star-02 {
  background-position: 0 -202px; }

.star-03 {
  background-position: 0 -230px; }

.star-04 {
  background-position: 0 -257px; }

.star-05 {
  background-position: 0 -285px; }

.icon-star-text {
  margin: -2px 0 0 5px;
  float: left; }

.font-color-normal {
  color: #333333; }

.icon-star-bigger {
  margin: 0 auto;
  padding: 0;
  width: 100px;
  height: 20px;
  background-image: url(https://img-webike-tw-370429.c.cdn77.org/shopping/image/star_bigger.png);
  background-position: 0 0;
  display: table; }
  .icon-star-bigger.star-01 {
    background-position: 0 -40px; }
  .icon-star-bigger.star-02 {
    background-position: 0 -80px; }
  .icon-star-bigger.star-03 {
    background-position: 0 -120px; }
  .icon-star-bigger.star-04 {
    background-position: 0 -160px; }
  .icon-star-bigger.star-05 {
    background-position: 0 -200px; }

.block {
  margin-bottom: 20px; }

.underline {
  text-decoration: underline; }

.helper {
  height: 100%;
  display: inline-block;
  vertical-align: middle; }

div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.4;
  font-size: 0.85rem; }

* > span,
* > a,
* > b,
* > small,
* > strong,
* > s,
* > i {
  font-size: inherit; }

img {
  max-width: 100%;
  max-height: 100%; }

html, body {
  font-family: Helvetica, Arial, Verdana, "Microsoft JhengHei", "微軟正黑體", "PMingLiU", sans-serif;
  font-size: 100%;
  font-weight: 400;
  line-height: 1.4;
  color: #333333;
  background: #ffffff; }

.all-page {
  font-size: 0.85rem;
  line-height: 1.4; }

.section {
  padding: 0px !important; }

label {
  font-weight: 400; }

h1, h2 {
  font-family: Helvetica, Arial, Verdana, Simhei, "Microsoft JhengHei", "微軟正黑體", "PMingLiU", sans-serif; }

h1 {
  font-size: 1.2rem; }

h2, cite {
  font-size: 1rem; }

h3 {
  font-size: 0.85rem; }

p {
  font-size: 0.85rem; }

a {
  color: #333; }

#pagetop a {
  font-size: 1rem; }

header .logo {
  margin-top: 9px;
  margin: 7px 0 0 0; }
  header .logo div {
    font-size: 1rem;
    bottom: auto; }
header .menu_btn {
  position: inherit;
  padding: 12px 17px;
  float: left; }
  header .menu_btn i {
    font-size: 1.5rem; }
  header .menu_btn i:after {
    content: ""; }
header .account-content {
  padding: 10px 10px 5px 10px; }
header .account {
  padding: 10px;
  width: 100%; }
  header .account .count {
    color: #005fb3; }
header .close_btn {
  font-size: 1.2rem; }
header .menu_items .account {
  padding: 0;
  border: 1px solid #dcdee3; }
  header .menu_items .account .name-title {
    background: #e61e25;
    padding: 10px;
    color: #fff; }
  header .menu_items .account .content {
    padding: 10px; }
header .menu_items dl {
  font-size: 1rem !important; }
  header .menu_items dl dt {
    font-size: 1rem !important; }
  header .menu_items dl dd a.toggle:after {
    font-size: 1.2rem !important; }
  header .menu_items dl dd a:after {
    font-size: 1.2rem !important; }
header .menu_items dd {
  font-size: 1rem !important; }
  header .menu_items dd span {
    font-size: 1rem !important; }
  header .menu_items dd a.toggle:after {
    font-size: 1.5rem !important; }
header .menu_items ul li {
  font-size: 1rem !important; }
header .helpdesk {
  float: right;
  margin: 15px 10px 0 0; }
header .menu-icon {
  float: right;
  margin-right: 10px; }

nav.fixed {
  border-top: 4px solid #E61E25;
  position: fixed;
  top: 0px;
  z-index: 9999; }

nav ul li a {
  font-size: 1rem; }

.icon-top-page li a {
  padding: 15px 7px 7px;
  color: #fff; }

#main {
  border-top: 4px solid #E61E25; }
  #main h1.common {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0 0 10px;
    padding: 10px; }
  #main h2.common {
    font-size: 1.2rem; }
  #main h3.common {
    font-size: 1rem; }
  #main .model_top .machine .photo .slider li div span {
    font-size: 1.2rem; }
  #main .mybike_log .mybike_reg {
    margin: 0 0 10px 0px; }
    #main .mybike_log .mybike_reg div a {
      font-size: 1rem; }
  #main .mybike_log .rating_all .title {
    font-size: 1rem; }
  #main .mybike_log .rating_all table td p {
    font-size: 1rem; }

.menu-icon .icon-area {
  cursor: pointer;
  position: relative;
  padding: 0; }
  .menu-icon .icon-area:hover ul.list {
    display: block;
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100); }
  .menu-icon .icon-area img {
    width: 32px;
    height: 32px; }
  .menu-icon .icon-area ul.list {
    position: absolute;
    top: 115%;
    right: 30%;
    background: #fff;
    width: 120px;
    border: 1px #777 solid;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    filter: alpha(opacity=0);
    -webkit-transition: 200ms ease;
    -moz-transition: 200ms ease;
    -o-transition: 200ms ease;
    transition: 200ms ease; }
    .menu-icon .icon-area ul.list.active {
      display: block; }
    .menu-icon .icon-area ul.list li {
      list-style: none;
      float: none;
      border-top: 1px #777 solid;
      margin: 0; }
      .menu-icon .icon-area ul.list li:first-child {
        border-top: none; }
      .menu-icon .icon-area ul.list li:focus {
        background: #e61e25; }
      .menu-icon .icon-area ul.list li a {
        padding: 5px 10px;
        display: block;
        color: #333; }
        .menu-icon .icon-area ul.list li a:hover, .menu-icon .icon-area ul.list li a:focus {
          background: #e61e25 !important;
          color: #fff; }
.menu-icon .glyphicon-user {
  margin-top: 15px; }

.account-icon {
  width: 32px;
  height: 32px;
  display: block;
  text-align: center;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  font-size: 0;
  padding: 0 !important; }
  .account-icon span.helper {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    font-size: 0.5rem; }
  .account-icon span.text {
    display: inline-block;
    vertical-align: middle;
    font-size: 0.5rem; }
  .account-icon.btn {
    padding: 2px 2px; }

#search {
  display: none; }
  #search .left div select {
    font-size: 1rem; }
  #search .left ul li input[type=search] {
    font-size: 1rem; }
  #search .right a {
    font-size: 1rem;
    padding: 14px 0 0 0; }

#search.active {
  display: block !important; }

footer {
  color: #d7dbe2; }
  footer .copyright {
    line-height: 24px;
    padding: 10px 30px 0px 30px;
    color: #d7dbe2; }
  footer .menu p a {
    color: #88b0ff !important; }
  footer .menu {
    padding: 15px 30px; }
  footer .menu ul li, footer footer.single .s_menu ul li {
    font-size: 1rem; }
  footer small {
    font-size: 1rem !important; }

.modal .inner .title {
  font-size: 1rem; }
  .modal .inner .title .close {
    font-size: 1rem; }

.button_ui a, .button_ui input[type=submit], .button_ui input[type=button] {
  font-size: 1rem; }

.select2-container--default {
  margin-bottom: 5px; }
  .select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #e61e25;
    color: #fff; }
  .select2-container--default .select2-selection--single {
    border-radius: 0px; }

.model_search .select2-container--default .select2-selection__arrow {
  height: 44px !important; }

.select2-container .select2-selection--single {
  height: 30px; }
  .select2-container .select2-selection--single .select2-selection__rendered {
    line-height: 30px; }

.model_search .select2-container .select2-selection--single {
  height: 44px; }
  .model_search .select2-container .select2-selection--single .select2-selection__rendered {
    line-height: 44px; }
.model_search .select2-container--default {
  margin-bottom: 10px; }
.model_search .arrow .select2-container--default {
  margin-bottom: 0px; }

.motor-search-load-container {
  display: none;
  position: absolute;
  top: 8%;
  right: 0%; }
  .motor-search-load-container .md-floatingCirclesG {
    -webkit-transform: scale(0.3); }

.breadcrumbs {
  background: #efefef;
  padding: 5px 0px; }

.breadcrumbs ul li {
  background: white;
  font-size: 0.85rem;
  margin: 0 12px 0 0 !important; }
.breadcrumbs ul li:after {
  border-top: 15px solid transparent !important;
  border-left: 6px solid white; }
.breadcrumbs ul li:before {
  border-width: 16px 0 12px 6px !important;
  border-color: white transparent; }

.link_ui a {
  font-size: 1rem; }
.link_ui a:after {
  font-size: 1.2rem; }
.link_ui ul {
  padding-bottom: 20px; }

.item-product-grid .title-product-item-top {
  font-weight: bold;
  display: flex; }
  .item-product-grid .title-product-item-top span {
    color: #005fb3; }
.item-product-grid .normal-text {
  argin-top: 5px;
  width: 100%;
  font-size: 0.85rem;
  text-align: left;
  float: left;
  word-break: break-all;
  word-wrap: break-word; }

.no-margin-horizontal {
  margin-left: 0 !important;
  margin-right: 0 !important; }

.ct-new-custom-part-on-sale-top {
  padding: 0px 0px 20px; }

.common-motor-search .form_ui {
  border: 0px !important;
  padding: 0px 0px 10px 0px !important; }

.section .common {
  overflow: hidden; }
  .section .common a {
    border: 0px;
    background: white;
    position: initial;
    display: initial;
    text-decoration: underline;
    font-size: 0.85rem;
    padding-left: 10px;
    margin-left: 0px; }

.tab_ui .btn {
  border: 0px;
  padding: 0 10px !important; }

.head-motor-search {
  position: initial !important; }

#main .category-content {
  border-bottom: 30px solid #eee; }

.btn-sub {
  color: #333333;
  background-color: #ffed00;
  border-color: #ccc; }
  .btn-sub:hover {
    background-color: #eedc4d; }

.btn-facebook {
  color: #fff;
  background-color: #3b5998;
  border-color: #3b5998; }
  .btn-facebook:hover {
    color: #fff;
    background-color: #324b81; }

.popups-ui {
  position: fixed;
  z-index: 1050;
  width: 100%;
  height: 100%;
  margin-top: -150px;
  padding-bottom: 150px; }
  .popups-ui.popups-ui-cover {
    background: rgba(0, 0, 0, 0.6); }

.popups-ui a {
  color: #005fb3; }

.popups-ui-window {
  position: relative;
  z-index: 1060; }
  .popups-ui-window .note.has-error {
    color: #ac2925;
    margin-top: 10px; }
  .popups-ui-window .popups-ui-window-close {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer; }
    .popups-ui-window .popups-ui-window-close:hover {
      opacity: 0.8; }

.popups-ui .btn-facebook {
  color: #fff; }

.popups-ui .owl-carousel .owl-item img {
  display: initial;
  width: auto; }

@media (max-width: 922px) {
  .popups-ui .popups-ui-window {
    width: 100%; } }
@media (max-width: 767px) {
  .popups-ui {
    position: absolute; }
    .popups-ui .popups-ui-window {
      width: 100%; } }
.owl-next {
  position: absolute;
  top: 20%;
  right: 0;
  padding: 20px 10px;
  opacity: 0.7;
  background-color: #fff;
  margin-right: 10px;
  box-shadow: -3px 1px 3px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -3px 1px 3px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: -3px 1px 3px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: -3px 1px 3px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: -3px 1px 3px 0px rgba(0, 0, 0, 0.2);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px; }
  .owl-next:hover {
    box-shadow: -3px 1px 3px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: -3px 1px 3px 0px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: -3px 1px 3px 0px rgba(0, 0, 0, 0.4);
    -o-box-shadow: -3px 1px 3px 0px rgba(0, 0, 0, 0.4);
    -ms-box-shadow: -3px 1px 3px 0px rgba(0, 0, 0, 0.4);
    opacity: 1;
    background-color: #e61e25; }
    .owl-next:hover i {
      color: #fff; }

.ct-owl-carousel {
  display: table;
  text-align: center;
  width: 100%; }
  .ct-owl-carousel a {
    margin: 0 auto;
    max-width: 140px; }
  .ct-owl-carousel img {
    margin: 0 auto;
    max-width: 140px; }
  .ct-owl-carousel span {
    width: 100%;
    margin-top: 5px;
    display: table; }

.owl-prev {
  position: absolute;
  top: 20%;
  left: 0;
  padding: 20px 10px;
  opacity: 0.7;
  background-color: #fff;
  margin-left: 10px;
  box-shadow: 3px 1px 3px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 3px 1px 3px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 3px 1px 3px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 3px 1px 3px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 3px 1px 3px 0px rgba(0, 0, 0, 0.2);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px; }
  .owl-prev:hover {
    box-shadow: 3px 1px 3px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 3px 1px 3px 0px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 3px 1px 3px 0px rgba(0, 0, 0, 0.4);
    -o-box-shadow: 3px 1px 3px 0px rgba(0, 0, 0, 0.4);
    -ms-box-shadow: 3px 1px 3px 0px rgba(0, 0, 0, 0.4);
    opacity: 1;
    background-color: #e61e25; }
    .owl-prev:hover i {
      color: #fff; }

ul.owl-carousel {
  padding: 0 10px 10px 10px; }

.ui-menu{
  z-index: 9999999999;
  background: #fff;
  left: 0;}
.product-grid {
  padding: 5px;
  text-align: center;
  font-size: 0; }
  .product-grid .final-price {
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    text-align: left;
    color: #e61e25; }
  .product-grid .product-name {
    color: #005fb3; }
  .product-grid .name {
    margin-top: 5px;
    font-size: 0.85rem;
    text-align: left; }
  .product-grid a {
    margin: 0 auto;
    color: #005fb3;
    text-decoration: none;
    transition: all 0.3s ease;
    border: none; }
    .product-grid a figure {
      width: 140px;
      height: 140px;
      vertical-align: middle;
      text-align: center;
      position: relative;
      display: block;
      font-size: 0;
      margin: 0 auto; }

.zoom-image {
  overflow: hidden;
  display: table-cell;
  padding: 2px; }
  .zoom-image img {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }

.zoom-image:hover img {
  opacity: 0.8; }

.ct-new-custom-part-on-sale-top {
  padding: 10px 10px 20px; }

.ul-ct-famous-brand {
  width: 100%;
  float: left; }
  .ul-ct-famous-brand li {
    padding: 5px;
    list-style-type: none;
    float: left; }

.analysis-block h2, .analysis-block span {
  display: inline-block; }
.analysis-block .icon-star-bigger {
  vertical-align: middle;
  margin: 0 10px; }
.analysis-block .refer {
  margin-left: 10px; }

.section .exp {
  padding: 0 10px; }
  .section .exp .brand-image {
    float: left;
    margin-right: 10px; }
  .section .exp .brand-office p {
    height: 91px;
    overflow-x: auto; }

.brand-introduce {
  margin-top: 20px !important;
  padding-bottom: 10px !important; }

.label-normal {
  background: #fff;
  color: #e61e25 !important;
  font-weight: bold;
  border: 1px #e61e25 solid; }

.font-color-red {
  color: #e61e25; }

.font-color-blue {
  color: #005fb3; }

.bg-color-red {
  background-color: #e61e25;
  color: #fff; }

.bg-color-blue {
  background-color: #005fb3;
  color: #fff; }

.bg-color-blue {
  background-color: #005fb3;
  color: #fff; }

#pagetop i {
  background: none no-repeat scroll 9px 9px #666666;
  background-image: url("//img-webike-tw-370429.c.cdn77.org/shopping/image/return_top.png");
  color: #FFFFFF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  opacity: 0.8;
  padding: 15px;
  text-align: center;
  text-decoration: none; }

#coupon {
  bottom: -1px;
  position: fixed;
  right: 44px;
  z-index: 2;
  padding-bottom: 7px; }

#coupon img {
  width: 100px; }

.label-cold {
  background: #fff;
  color: #5281c1!important;
  font-weight: bold;
  border: 1px #304d85 solid; }

.label-warm {
  background: #fff;
  color: #fb722d;
  font-weight: bold;
  border: 1px #ee5e44 solid; }

.label-purple {
  background: #961975;
  color: #fff;
  font-weight: bold;
  border: 1px #961975 solid; }

.label-helmet {
  background: #f762c1;
  color: #fff;
  font-weight: bold;
  border: 1px #f762c1 solid; }

.label-motobatt {
  background: #f1e500;
  color: #6c6565;
  font-weight: bold;
  border: 1px #f1e500 solid; }

.label-winter {
  background: #ff9000;
  color: #fff;
  font-weight: bold;
  border: 1px #ff9000 solid; }

.label-cold-man {
  background: #0db815;
  color: #fff;
  font-weight: bold;
  border: 1px #0db815 solid; }
.ui-autocomplete.ui-menu.down-search-ul.active{
  display: block!important;}
.ui-autocomplete.ui-menu{
  max-height: 50%;
  overflow: scroll;
  width: 91%!important;
  position: fixed!important;
  z-index: 99999;}
.ui-autocomplete   .ui-menu-item{
  padding: 10px 0px;}
footer .menu .icon {
  width: 49%;
  text-align: center; }

footer .menu span.channelicon span {
  margin-left: 15px; }

@media (max-width: 370px) {
  footer .menu .icon {
    width: 80%;
    margin-top: 10px;
    text-align: left; }

  footer .menu span.channelicon span:nth-child(1) {
    margin-left: 0px; }

  footer .menu span.channelicon img {
    width: 18%; } }
@media (min-width: 410px) {
  footer .menu .icon {
    width: 54%; } }

/*# sourceMappingURL=main.css.map */
