.ct-table-cell {
  border-bottom: 1px solid #dcdee3;
  border-right: 1px solid #dcdee3;
  display: table-cell;
  padding: 10px;
  text-align: left; }

.cell-title {
  background-color: #f5f7fa;
  width: 20%;
  font-size: 1rem; }

.btn-label {
  height: 38px;
  font-size: 1rem;
  padding: 5px 10px;
  line-height: 28px;
  border: 1px solid #ccc; }

.ct-table-row {
  display: table-row; }

.ct-right-top {
  margin-top: 20px;
  border-top: 1px solid #ccc; }

.div-tag-item {
  margin-bottom: 5px;
  background-color: #7d8ca1;
  font-size: 0.85rem; }

.div-tag-item span {
  line-height: 25px;
  color: #FFF; }

.div-tag-item a i {
  color: #fff;
  cursor: pointer;
  line-height: 25px; }

#search {
  display: block; }

.container-search-nore {
  padding: 20px; }

h2 {
  font-size: 1rem; }

header .helpdesk {
  float: right;
  margin: 15px 10px 0px 0px; }

.font-color-red {
  color: red; }

/*# sourceMappingURL=no-result.css.map */
