@charset "utf-8";
/* CSS Document */

/* PC
=========================*/
@media screen and (min-width: 641px){
	#popup {
		width: 1000px;
		position: absolute;
		top: 100px;
		left: 0;
		right: 0;
		margin: auto;
		padding: 0 0 50px;
		background: #fff;
		z-index: 111;
		box-shadow: 0 10px 10px rgba(0,0,0,0.25);
		color: #000;
		border-radius:10px;
	}
	#popup .present_imgs img {
		display: none;
	}
	#popup .close {
		position: absolute;
		right: -15px;
		top: -15px;
		background: #fff;
		display: block;
		border-radius: 25px;
		width: 45px;
		height: 45px;
		text-align: center;
		font-size: 30px;
		font-weight: bold;
		line-height: 45px;
		cursor: pointer;
		box-sizing: content-box;
	}
	#popup.pu_signup .close {
		border: 2px solid #de262e;
		color: #de262e;
	}
	#popup.pu_mybike .close {
		border: 2px solid #328ac9;
		color: #328ac9;
	}
	#popup.pu_community .close {
		border: 2px solid #16a085;
		color: #16a085;
	}
	#popup.pu_community_unregistered .close {
		border: 2px solid #16a085;
		color: #16a085;
	}	
	#popup .title {
		text-align: center;
		font-size:18px;
		color: #fff;
		line-height: 1.4;
		border-radius: 10px 10px 0 0;
	}
	#popup.pu_signup .title {
		background: #de262e;
		padding: 25px 0 15px;
	}
	#popup.pu_mybike .title {
		background: #328ac9;
		padding: 20px 0;
	}
	#popup.pu_community .title{
		background: #16a085;
		padding: 20px 0;
	}
	#popup.pu_community_unregistered .title{
		background: #16a085;
		padding: 20px 0;
	}	
	#popup .title br {
		display: none;
	}
	#popup .title span {
		font-size:46px;
		display: block;
		font-weight: bold;
	}
	#popup .point {
		padding: 0 10px;
		text-align: center;
	}	
	#popup .point ul li {
		float: left;
		width: 245px;
		margin: 40px 0 0;
	}
	#popup.pu_community_unregistered .point ul {
		/*-moz-column-count: 3;
		-webkit-column-count: 3;
		-o-column-count: 3;
		-ms-column-count: 3;*/
	}
	#popup.pu_community_unregistered .point ul li {
		margin:20px 1% 0;
		width: 31.33%;
		height: 108px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		overflow:hidden;
		background-color: #efefef;
		border: solid 1px #cfcfcf;
		background-image: -webkit-linear-gradient(bottom, #ededed, #fff);
		background-image: -moz-linear-gradient(bottom, #ededed, #fff);
		background-image: -o-linear-gradient(bottom, #ededed, #fff);
		background-image: -ms-linear-gradient(bottom, #ededed, #fff);
		background-image: linear-gradient(to top, #ededed, #fff);	
		box-sizing:border-box;
		position:relative;
	}
	#popup.pu_community_unregistered .point ul li a {
		display: block;
		width: 100%;
		height: 100%;
	}
	#popup.pu_community_unregistered .point ul li p {
	    width: calc(100% - 112px);
    	overflow: hidden;
    	position: relative;
    	text-align: left;
		display: inline-block;
		margin: 22px 0 0;
		padding: 0 0 0 80px;
		color: #000;
	}
	#popup.pu_community_unregistered .point ul li p span {
		display: block;
		color: #000;
		font-weight:bold;
		margin: 0 0 5px;
	}	
	#popup .point ul li div {
		font-size: 18px;
		font-weight: bold;
		height: 33px;
		padding: 20px 0 0;
		display: inline-block;
		box-sizing: content-box;
		line-height: 1.5;
		width:100%;
	}
	#popup .point ul li:nth-child(1) div {
		background: url(/sys_images/popup/images/20170401_popup_point1.gif) center 0 no-repeat;
	}
	#popup .point ul li:nth-child(2) div {
		background: url(/sys_images/popup/images/20170401_popup_point2.gif) center 0 no-repeat;
	}
	#popup .point ul li:nth-child(3) div {
		background: url(/sys_images/popup/images/20170401_popup_point3.gif) center 0 no-repeat;
	}
	#popup .point ul li:nth-child(4) div {
		background: url(/sys_images/popup/images/20170401_popup_point4.gif) center 0 no-repeat;
	}
	
	#popup.pu_community .point ul li:nth-child(1) div {
		background: url(/sys_images/popup/images/20171002_popup_commu_point1.gif) center 0 no-repeat;
	}
	#popup.pu_community .point ul li:nth-child(2) div {
		background: url(/sys_images/popup/images/20171002_popup_commu_point2.gif) center 0 no-repeat;
	}
	#popup.pu_community .point ul li:nth-child(3) div {
		background: url(/sys_images/popup/images/20171002_popup_commu_point3.gif) center 0 no-repeat;
	}
	#popup.pu_community .point ul li:nth-child(4) div {
		background: url(/sys_images/popup/images/20171002_popup_commu_point4.gif) center 0 no-repeat;
	}
	#popup.pu_community_unregistered .point ul li a img {
		display: block;
		position: absolute;
		margin: 10px 0 0 10px;
	}
	#popup.pu_community_unregistered .point ul li:nth-child(1) a img {
		left: 10px;
		top: 10px;
	}
	#popup.pu_community_unregistered .point ul li:nth-child(2) a img {
		left: 10px;
		top: -90px;	
	}
	#popup.pu_community_unregistered .point ul li:nth-child(3) a img {
	    left: 10px;
		top: -190px;	
	}
	#popup.pu_community_unregistered .point ul li:nth-child(4) a img {
	    left: 10px;
		top: -290px;	
	}
	#popup.pu_community_unregistered .point ul li:nth-child(5) a img {
	    left: 10px;
		top: -390px;	
	}
	#popup.pu_community_unregistered .point ul li:nth-child(6) a img {
	    left: 10px;
		top: -490px;	
	}		
	#popup .point ul li p {
		font-size: 13px;
		line-height: 1.5;
		margin: 10px 0 0;
	}
	#popup .point ul li p span {
		color: #e00;
	}
	#popup .links {
		margin: 40px 80px 0;
	}
	#popup .links ul {
		display: table;
		width: 100%;
	}
	#popup .links ul li {
		display: table-cell;
		text-align: center;
		vertical-align: middle;
	}
	#popup.pu_signup .links ul li:last-child {
		padding: 0 25px 0 15px;
		border-left: 2px solid #eee;
	}
	#popup .links ul li .y_btn div span {
		font-size: 22px;
		display: block;
		margin: 0 0 5px;
	}
	#popup .links ul li .y_btn div a img {
		width: 400px;
	}
	#popup .links ul li .y_btn p,
	#popup .links ul li .mybike_btn p {
		margin: 15px 0 0;
		line-height: 1;
	}
	#popup .links ul li .y_btn p a,
	#popup .links ul li .mybike_btn p a {
		font-size: 18px;
		text-decoration: none;
		color: #416090;
	}
	#popup .links ul li .y_btn p a:hover,
	#popup .links ul li .mybike_btn p a:hover {
		text-decoration: underline;
	}
	#popup .links ul li .w_btn,
	#popup .links ul li .login_btn,
	#popup .links ul li .mybike_btn {
		width: 300px;
		margin: 0 auto;
	}
	#popup .links ul li .w_btn a,
	#popup .links ul li .login_btn a,
	#popup .links ul li .mybike_btn div a {
		font-weight: bold;
		display: inline-block;
		border-radius: 5px;
		text-align: center;
		text-decoration: none;
		line-height: 1.5;
		color: #000;
		width: 100%;
	}
	#popup .links ul li .w_btn a:hover,
	#popup .links ul li .login_btn a:hover,
	#popup .links ul li .mybike_btn div a:hover {
		opacity: 0.7;
	}
	#popup .links ul li .w_btn a {
		background: #ffd800;
		padding: 15px 0;
		font-size: 20px;
	}
	#popup .links ul li .mybike_btn div a {
		background: #ffd800;
		padding: 20px 0;
		font-size: 26px;
	}
	#popup .links ul li .login_btn a {
		background: #eee;
		padding: 9px 0;
		margin: 15px 0 0;
		font-size: 18px;
	}
	#popup_overlay {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0,0,0,0.75);
		display: block;
		z-index: 110;
	}
	/* ポイントプレゼント */
	#popup.present .present_imgs img:nth-child(1) {
		display: block;
		position: absolute;
		top: -35px;
		left: 25px;
	}
	#popup.present .title {
		padding-left: 150px;
	}

}
/* スマホ
=========================*/
@media screen and (max-width: 640px){
	#popup {
	   background: #fff;
	   padding: 0 0  20px;
	   margin: 10px;
	   text-align: center;
	   position: relative;
	}
	#popup.pu_signup {
	   border: 5px solid #e61e25;
	}
	#popup.pu_mybike {
	   border: 5px solid #328ac9;
	}
	#popup.pu_community {
		border: 5px solid #16a085;
	}
	#popup.pu_community_unregistered {
		border:5px solid #16a085;
	}
	#popup .present_imgs img {
		display: none;
	}
	#popup .close {
	   position: absolute;
	   right: -10px;
	   top: -10px;
	   background: #fff;
	   display: block;
	   border-radius: 25px;
	   width: 35px;
	   height: 35px;
	   text-align: center;
	   font-size: 22px;
	   font-weight: bold;
	   line-height: 34px;
	}
	#popup.pu_signup .close {	
	   border: 2px solid #de262e;
	   color: #de262e;
	}
	#popup.pu_mybike .close {	
	   border: 2px solid #328ac9;
	   color: #328ac9;
	}
	#popup.pu_community .close {
	   border: 2px solid #16a085;
	   color: #16a085;
	}
	#popup.pu_community_unregistered .close {
	   border: 2px solid #16a085;
	   color: #16a085;		
	}
	#popup .title {
		color: #fff;
		line-height: 1.3;
	}
	#popup.pu_signup .title {
		background: #e61e25;
		padding: 25px 5px 10px;
	}
	#popup.pu_mybike .title {
		background: #328ac9;
		padding: 5px 5px 15px;
	}
	#popup.pu_community .title {
		background: #16a085;
		padding: 5px 5px 15px;
	}
	#popup.pu_community_unregistered .title {
		background: #16a085;
		padding: 5px 5px 15px;	
	}
	#popup .title img {
		display: none;
	}
	#popup .title span {
	   font-size: 20px;
	   margin: 5px 0;
	   font-weight: bold;
	   display: block;
	}
	#popup .point ul li {
		margin: 40px 0 0;
	}
	#popup .point ul li div {
		font-size: 18px;
	   font-weight: bold;
	   padding: 22px 0 0;
	   display: inline-block;
	   margin: 0 0 5px;
	   line-height: 1.2;
	}
	#popup.pu_community_unregistered .point ul {
		padding: 0 22px;
	}
	#popup.pu_community_unregistered .point ul li {
		margin:22px 0 0;
		width: 100%;
		height: 108px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		overflow:hidden;
		background-color: #efefef;
		border: solid 1px #cfcfcf;
		background-image: -webkit-linear-gradient(bottom, #ededed, #fff);
		background-image: -moz-linear-gradient(bottom, #ededed, #fff);
		background-image: -o-linear-gradient(bottom, #ededed, #fff);
		background-image: -ms-linear-gradient(bottom, #ededed, #fff);
		background-image: linear-gradient(to top, #ededed, #fff);	
		position:relative;
	}
	#popup.pu_community_unregistered .point ul li a {
		display: block;
		width: 100%;
		height: 100%;
	}
	#popup.pu_community_unregistered .point ul li p {
	    width: calc(100% - 112px);
    	overflow: hidden;
    	position: relative;
    	text-align: left;
		display: inline-block;
		margin: 22px 0 0;
		padding: 0 0 0 80px;
		color: #000;
	}
	#popup.pu_community_unregistered .point ul li p span {
		display: block;
		color: #000;
		font-weight:bold;
		margin: 0 0 5px;
	}		
	#popup.pu_community .point ul li div {
		width: 100%;
	}
	#popup .point ul li:nth-child(1) div {
	   background: url(/sys_images/popup/images/20170401_popup_point1.gif) center 0 / 120px no-repeat;
	}
	#popup .point ul li:nth-child(2) div {
	   background: url(/sys_images/popup/images/20170401_popup_point2.gif) center 0 / 120px no-repeat;
	}
	#popup .point ul li:nth-child(3) div {
	   background: url(/sys_images/popup/images/20170401_popup_point3.gif) center 0 / 120px no-repeat;
	}
	#popup .point ul li:nth-child(4) div {
	   background: url(/sys_images/popup/images/20170401_popup_point4.gif) center 0 / 120px no-repeat;
	}
	#popup.pu_community .point ul li:nth-child(1) div {
		background: url(/sys_images/popup/images/20171002_popup_commu_point1.gif) center 0 no-repeat;
		
	}
	#popup.pu_community .point ul li:nth-child(2) div {
		background: url(/sys_images/popup/images/20171002_popup_commu_point2.gif) center 0 no-repeat;

	}
	#popup.pu_community .point ul li:nth-child(3) div {
		background: url(/sys_images/popup/images/20171002_popup_commu_point3.gif) center 0 no-repeat;

	}
	#popup.pu_community .point ul li:nth-child(4) div {
		background: url(/sys_images/popup/images/20171002_popup_commu_point4.gif) center 0 no-repeat;
	}
	#popup.pu_community_unregistered .point ul li a img {
		display: block;
		position: absolute;
		margin: 10px 0 0 10px;
	}
	#popup.pu_community_unregistered .point ul li:nth-child(1) a img {
		left: 10px;
		top: 10px;
	}
	#popup.pu_community_unregistered .point ul li:nth-child(2) a img {
		left: 10px;
		top: -90px;	
	}
	#popup.pu_community_unregistered .point ul li:nth-child(3) a img {
	    left: 10px;
		top: -190px;	
	}
	#popup.pu_community_unregistered .point ul li:nth-child(4) a img {
	    left: 10px;
		top: -290px;	
	}
	#popup.pu_community_unregistered .point ul li:nth-child(5) a img {
	    left: 10px;
		top: -390px;	
	}
	#popup.pu_community_unregistered .point ul li:nth-child(6) a img {
	    left: 10px;
		top: -490px;	
	}
	/*		
	#popup .point ul li img {
		width: 180px;
		display: block;
		margin: 0 auto;
	}
	*/
	#popup .point ul li p {
		line-height: 1.4;
		margin: 5px 0 0;
	}
	#popup .point ul li p br {
		display: none;
	}
	#popup.pu_community .point ul li p {
		line-height: 1.4;
		margin:10px 0 0;
		padding: 0 10px;
	}
	#popup.pu_community .point ul li p br {
		display: none;
	}
	#popup .point ul li p span {
		color: #e00;
	}
	#popup .links {
		padding: 0 10px;
		margin: 25px 0 0;
	}
	#popup .links ul li {
		margin: 25px 0 0;
	}
	#popup .links ul li .y_btn {
	   text-align: center;
	}
	#popup .links ul li .y_btn div span {
		display: block;
		margin: 0 0 8px;
		font-weight: bold;
		font-size: 15px;
	}
	#popup .links ul li .y_btn div a img {
		width: 100%;
		max-width: 300px;
	}
	#popup .links ul li .y_btn p {
		margin: 5px 0 0;
	}
	#popup .links ul li .mybike_btn p {
		margin: 10px 0 0;
	}
	#popup .links ul li .y_btn p a,
	#popup .links ul li .mybike_btn p a {
		color: #318acc;
		text-decoration: none;
		font-size: 13px;
	}
	#popup .links ul li .w_btn a,
	#popup .links ul li .login_btn a,
	#popup .links ul li .mybike_btn a {
		font-weight: bold;
		display: inline-block;
		border-radius: 5px;
		text-align: center;
		text-decoration: none;
		line-height: 1.5;
		color: #000;
		width: 100%;
		max-width: 300px;
	}
	#popup .links ul li .w_btn a,
	#popup .links ul li .mybike_btn div a {
		background: #ffd800;
		padding: 10px 0;
		font-size: 16px;
	}
	#popup .links ul li .login_btn a {
		background: #eee;
		padding: 5px 0;
		margin: 10px 0 0;
		font-size: 16px;
	}
	/* ポイントプレゼント */
	#popup.present {
		margin-top: 95px;
	}
	#popup.present .present_imgs img:nth-child(2) {
		display: block;
		position: absolute;
		width: 200px;
		top: -90px;
		left: 0;
		right: 0;
		margin: auto;
	}
}